@import 'client/styles/shared';

.AaveProposalCardDetail {
    display: grid;
    grid-template-rows: 3fr 4fr 3fr;
    row-gap: 22px;
    max-height: 254px;
    > div {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        p {
            display: flex;
            justify-content: left;
        }
    }
    p {
        font-size: 18px;
    }
    .aave-metadata {
        display: flex;
        max-width: 100%;
        .aave-author {
            max-width: calc(70% - 15px);
            padding-right: 15px;
            .detail-highlight {
                overflow-x: hidden;
            }
            .collapsed-line-height {
                line-height: .8;
            }
            .card-subheader {
                margin-top: 2px;
            }
        }
        .aave-status {
            max-width: calc(30%);
        }
    }
    .aave-voting, .aave-requirements {
        flex-direction: column;
        .aave-support, .aave-turnout, .aave-differential,
        .aave-turnout-requirement,
        .aave-differential-requirement {
            display: grid;
            grid-template-columns: 52px auto;
            .detail-highlight {
                justify-self: end;
            }
        }
    }
    .proposal-injected-status {
        margin-bottom: 4px;
        color: $text-color-black;
        line-height: .8;
    }
    .b-box {
        border: 1px solid $border-color-lightest;
        border-radius: 8px;
        border-bottom: none;
        margin-bottom: 18px;
        .b-row {
            padding: 0 10px;
            padding-top: 5px;
            border-bottom: 1px solid $border-color-lightest;
            display: flex;
            &.waiting {
                color: $text-color-light;
            }
            &:last-child {
                border-radius: 0 0 8px 8px;
            }
        }
        .b-col {
            min-width: 24px;
        }
    }
    .cui-button + .cui-button {
        margin-top: 6px;
    }
    .detail-highlight {
        color: #4723AD;
        padding-right: 8px;
        &.emphasize {
            font-weight: 600;
        }
    }
}

.AaveViewProposalDetail, .AaveViewProposalSummary {
    margin-top: 28px;
    h3 {
        font-size: 23px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    div {
        display: flex;
        justify-content: left;
        border-bottom: 1px solid #EEEEEE;
        line-height: 2;
        align-items: baseline;
    }
    div:last-child {
        border-bottom: none;
    }
    p {
        font-size: 18px;
        flex: 8;
    }
    p.detail-highlight.emphasize {
        flex: 1;
        background: linear-gradient(to right, #335FB7, #D48CDD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        font-weight: 600;
        min-width: 80px;
    }
}

