@import 'client/styles/shared';

.AaveProposalDetail {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 23px;
    max-height: 250px;
    > div {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        p {
            display: flex;
            justify-content: left;
        }
    }
    p {
        font-size: 18px;
    }
    .aave-metadata {
        display: flex;
        max-width: 100%;
        .aave-author {
            max-width: calc(70% - 15px);
            padding-right: 15px;
            .detail-highlight {
                overflow-x: hidden;
            }
        }
        .aave-status {
            max-width: calc(30%);
        }
    }
    .aave-voting, .aave-requirements {
        flex-direction: column;
        .aave-support, .aave-turnout,
        .aave-turnout-requirement,
        .aave-differential-requirement {
            display: grid;
            grid-template-columns: 52px auto;
            .detail-highlight {
                justify-self: end;
            }
        }
    }
    .proposal-injected-status {
        margin-bottom: 4px;
        color: $text-color-black;
    }
    .b-box {
        border: 1px solid $border-color-lightest;
        border-radius: 8px;
        border-bottom: none;
        margin-bottom: 18px;
        .b-row {
            padding: 0 10px;
            padding-top: 5px;
            border-bottom: 1px solid $border-color-lightest;
            display: flex;
            &.waiting {
                color: $text-color-light;
            }
            &:last-child {
                border-radius: 0 0 8px 8px;
            }
        }
        .b-col {
            min-width: 24px;
        }
    }
    .cui-button + .cui-button {
        margin-top: 6px;
    }
    .detail-highlight {
        color: #4723AD;
        padding-right: 8px;
        &.emphasize {
            font-weight: 600;
        }
    }
}
