@import 'client/styles/shared';

table.ConvictionsTable {
    td, th {
        text-align: center;
        padding: 4px 0;
    }
    a.expand-convictions,
    a.collapse-convictions {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
