@import 'client/styles/shared';

.VotingActions {
    background-color: $background-color-light;
    margin: 25px 0;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 24px 24px 16px;

    .button-row {
        margin: 0 -5px 10px;
    }
    .yes-button,
    .no-button,
    .approve-button,
    .abstain-button,
    .veto-button {
        display: inline-block;
        padding: 0 5px;
        button {
            display: block;
            width: 100%;
            padding-right: 2px;
            padding-left: 2px;
        }
    }
    .yes-button,
    .no-button,
    .abstain-button,
    .veto-button {
        width: 50%;
    }
    .approve-button {
        width: 100%;
    }
}

.CannotVote {
    background-color: $background-color-light;
    margin-top: 25px;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 16px 24px;

    .proposal-voting-box-text {
    }
    .proposal-voting-box-action button {
        display: block;
        width: 100%;
    }
}

.ProposalExtensions {
    margin-top: 18px;
    .cui-overlay {
        width: 100%;
        position: relative;
        top: -14px;
    }
    .cui-custom-select .cui-popover-content {
        min-width: 200px;
    }
}

.BalanceInfo {
    margin-top: 18px;
}
