@import 'shared';

.VotingResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;

  .VoteRow {
    display: flex;

    &:hover {
      background: $neutral-50;
    }
    .row-left {
      flex: 1;
      text-align: left;
    }

    .row-right {
      flex: 1;
      text-align: right;
    }
  }

  .results-column {
    background-color: $neutral-100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 8px;
    max-width: 48%;
    min-width: 48%;
    padding: 18px 0 12px;

    .results-cell,
    .results-header,
    .results-subheader > span {
      padding: 0 26px;
    }

    .results-header {
      font-weight: 500;
      margin-bottom: 14px;
    }

    .results-subheader {
      border-bottom: 1px solid $neutral-100;
      color: $neutral-600;
      display: flex;
      font-size: 18px;
      font-weight: 500;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &.yes-votes {
      border: 2px solid $green-100;

      .results-header {
        color: $green-500;
        font-size: 24px;
      }
    }

    &.no-votes {
      border: 2px solid $pink-100;

      .results-header {
        color: $rorange-500;
        font-size: 24px;
      }
    }
  }

  @include lg-max {
    display: block;
    width: 100%;

    .results-column,
    .results-header,
    .results-cell {
      min-width: 100%;
      max-width: 100%;
    }
  }

  .expand-listing-button {
    color: $neutral-500;
  }
}
