@import 'client/styles/shared';

.ProposalVotingResults {
    display: flex;
    background-color: $background-color-light;
    margin-top: 25px;
    flex-wrap: wrap;
    border-radius: 3px;

    .results-column {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 18px 26px 20px;
        min-width: 50%;
        .results-header {
            font-weight: 500;
            margin-bottom: 8px;
        }
        .results-header, .results-cell {
            min-width: calc(50% - 15px);
        }
    }
    .results-column:nth-child(even) {
        border-left: 1px solid $background-color-light-hover;
    }
    .vote {
        display: flex;
        margin-bottom: 4px;
        .vote-voter {
            flex: 1;
        }
        .vote-choice {
            display: inline-block;
            padding: 2px 6px;
            background: $background-color-light;
            border-radius: 9999px;
            margin-left: 4px;
        }
        .vote-weight {
            margin-left: 4px;
        }
        .vote-deposit {
            text-align: right;
            margin-left: 4px;
        }
    }
    .no-votes {
        color: #aaa;
    }
    .expand-listing-button {
        color: #aaa;
    }
}
