@import '../../../shared';

.community-menu-skeleton {
  padding: 16px;

  .community-menu-skeleton-section-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }
}
