.EmailWell {
  h4 {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
  }
  input, button {
    margin-right: 12px;
  }
  p {
    display: inline-block;
    margin-left: 12px;
  }
}
