@import 'client/styles/shared';

.EmailWell {
    h4 {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    input, button {
        margin-right: 12px;
    }
    label {
        margin-left: 4px;
        color: rgb(85, 110, 122);
    }
}
