@import '../../../../../../../../styles/shared';

.RequirementCard {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $neutral-25;
  border: 1px solid $neutral-200;
  border-radius: 6px;
  gap: 16px;
  width: 100%;

  .row-1,
  .row-2 {
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }

  .row-1 {
    display: flex;

    .w-350 {
      min-width: 350px;
    }
  }

  .row-2 {
    display: grid;
  }

  .cols-4 {
    grid-template-columns: 1fr 2fr 1fr 1fr;

    @include mediumSmallInclusive {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }

  .cols-3 {
    grid-template-columns: 3fr 1fr 1fr;

    @include mediumSmallInclusive {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
