@import 'shared';

.EmailWell {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .error {
    margin: 10px 0;
    color: $rorange-500;
    font-weight: 500;
  }
}

.GithubWell {
  margin-top: 12px;

  input {
    margin-right: 12px;
  }
}

.DiscordWell {
  margin-top: 12px;

  input {
    margin-right: 12px;
  }
}

.LinkButtonWrapper {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}
