@import '../../shared';

.EmailSection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .verification-row {
      align-items: center;
      display: flex;
      gap: 8px;

      .verification-icon.Icon {
        color: $rorange-600;

        &.emailVerified {
          color: $green-500;
        }
      }

      .verification-text.Text {
        color: $rorange-600;

        &.emailVerified {
          color: $green-500;
        }
      }
    }
  }

  .link-sites-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
