@import '../../shared';

.LinkedAddressesSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.AccountRow {
  border-radius: $border-radius-corners;
  display: flex;
  padding: 16px;

  &.isSelected {
    background: $neutral-100;
  }

  .info-col {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    width: 100%;

    .address-text.Text {
      color: $neutral-500;
    }
  }
}
