@import '../../shared';

.Breadcrumbs {
  align-items: center;
  margin: 0;
  padding-top: 16px;
  list-style: none;
  font-size: 0.875rem;
  color: $neutral-400;

  @include small {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  @include extraSmall {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .hidden {
    display: none;
  }

  .active {
    color: $neutral-500;
    font-weight: 500;
  }

  li {
    display: flex;
    align-items: center;

    @include small {
      margin-bottom: 16px;
    }

    @include extraSmall {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-right: 6px;
      &::after {
        content: '/';
        margin-left: 6px;
      }
    }
    a {
      color: $neutral-400;
      text-decoration: none;
      &:hover {
        color: $neutral-400;
        text-decoration: underline;
        cursor: pointer;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
    a.standalone:first-child {
      cursor: default;
    }
  }
  .commonPadding {
    display: flex;
    flex-direction: row;

    @include large {
      padding-left: calc(20px + 2.2rem);
    }

    @include mediumInclusive {
      padding-left: 40px;
    }

    @include small {
      padding-left: 24px;
    }

    @include extraSmall {
      padding-left: 24px;
    }
  }

  .notifications {
    display: flex;
    padding-left: 24px;
    flex-direction: row;
  }

  .discussions {
    display: flex;
    flex-direction: row;

    @include large {
      padding-left: 40px;
    }

    @include mediumInclusive {
      padding-left: 32px;
    }

    @include small {
      padding-left: 24px;
    }

    @include extraSmall {
      padding-left: 24px;
    }
  }

  .governance {
    display: flex;
    padding-left: 24px;
    flex-direction: row;
  }

  .createCommunity {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .viewProfile {
    display: flex;
    padding-left: calc(16px + 1.5rem);
    flex-direction: row;
    @include large {
      padding-left: 80px;
    }

    @include mediumInclusive {
      padding-left: 48px;
    }

    @include small {
      padding-left: 32px;
    }

    @include extraSmall {
      padding-left: 32px;
    }
  }
}
