@import '../../../../styles/shared';

.NotificationSettings {
  max-width: 650px;

  .setting-container {
    display: flex;
    margin-block: 8px;
  }

  .setting-container-right {
    justify-content: flex-start;
    display: flex;
    margin-left: auto;
  }

  .page-header-text.Text {
    margin-bottom: 8px;
  }

  .section-header.Text {
    margin-top: 16px;
  }

  .text-muted {
    color: $neutral-500;
  }

  .page-subheader-text {
    color: $neutral-500;
    margin-bottom: 8px;
  }

  .SubscriptionEntry {
    border-bottom: 1px solid $neutral-300;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .SubscriptionHeader {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    color: $neutral-500;
    gap: 8px;
  }

  .User a.user-display-name,
  .SubscriptionHeader * {
    color: $neutral-500;
  }

  .SubscriptionFooter {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    row-gap: 8px;
    font-size: 14px;
  }

  .CommunityEntry {
    .section {
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;
      flex-grow: 1;
    }

    .toggle {
      margin-left: auto;
    }
  }

  .left-content-container {
    max-width: 650px;
  }

  .error-content {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
