@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/elevation';
@use '../../../../../styles/mixins/media_queries';

.TaskList {
  width: 300px;
  background-color: colors.$white;
  border: 1px solid colors.$neutral-200;
  border-radius: 8px;
  box-shadow: elevation.$elevation-4 !important;
  margin-top: 4px;
  z-index: 999;

  .weekly-progress-bar {
    width: 100% !important;
    min-width: unset;
    max-width: unset;
    padding: 16px 12px 8px 12px;
  }

  @include media_queries.extraSmall {
    width: 100%;
  }
}
