@import '../../../../styles/shared';

.GatingGrowl {
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    gap: 1rem;
    cursor: default;
  }

  .closeButton {
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    color: $white;
    top: 1rem;
    right: 0rem;

    &:hover {
      color: $neutral-400;
    }
  }

  .img {
    width: 320px;
    height: 192px;
    cursor: default;
  }

  .body {
    color: $neutral-800;
  }

  .icon {
    align-self: center;
    padding-left: 6px;
  }

  .learnMore {
    cursor: pointer;
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .checkboxText {
    color: $neutral-400;
  }
}
