@import '../../../../styles/shared';

.GatingGrowl {
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    gap: 1rem;
    cursor: default;
  }

  .closeButton {
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    color: $white;
    top: 1rem;
    right: 0rem;
    z-index: 2;

    &:hover {
      color: $neutral-400;
    }
  }

  .img {
    width: 320px;
    height: 192px;
    cursor: default;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    overflow: hidden;
    z-index: 1;
  }

  .checkbox {
    cursor: pointer;
  }

  .icon {
    align-self: center;
    padding-left: 6px;
  }

  .learnMore {
    cursor: pointer;
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .checkbox {
    color: $neutral-400;
  }
}
