@import 'shared';

.AttributeDisplay {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  max-width: 496px;
  margin: 16px;

  @include smallInclusive {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .attribute-label {
    color: $neutral-500;
  }
  .display-input {
    min-width: fit-content;
  }
}
