@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/elevation';

@mixin bareAvatar {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  background: colors.$white;
  border-radius: border_radius.$border-radius-round;
  overflow: hidden;

  .avatar-image {
    background: colors.$neutral-200;
    background-size: cover;
  }
}

@mixin circledAvatar {
  border-radius: border_radius.$border-radius-round;
  overflow: hidden;
  margin: 0;
  background: colors.$white;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.1);

  svg {
    margin: 2px;
  }

  .avatar-image {
    width: 100% !important;
    height: 100% !important;
    background: colors.$neutral-200;
    background-size: cover;
  }
}

@mixin roleIcon {
  background: colors.$primary-600;
  border-radius: border_radius.$border-radius-round;
  color: colors.$white;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  padding: 0px 2px 2px;
  line-height: 1;
  width: 14px;
  height: 14px;

  &.green {
    background: colors.$green-500;
  }

  &.red {
    background: colors.$rorange-500;
  }

  &.gray {
    background: colors.$primary-400;
  }

  &.long {
    border-radius: border_radius.$border-radius-corners;
    font-size: 15px;
    font-weight: 400;
    height: 24px;
    margin-top: 4px;
  }
}

.User {
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-left: 5px !important;

  > a {
    // reset link styles

    &,
    &:link,
    &:visited {
      color: inherit;
    }
  }

  .user-avatar {
    @include bareAvatar();
  }

  .user-avatar-only {
    @include circledAvatar();
  }

  a.user-display-name {
    color: colors.$neutral-800;
    cursor: inherit;
    text-decoration: initial;
    display: flex;
    align-items: center;
  }

  .profile-name {
    margin: auto;
    height: fit-content;
  }

  .id-short {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    color: colors.$neutral-800;
    background: colors.$neutral-200;
    border-radius: border_radius.$border-radius-corners-wider;
    text-decoration: none !important;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
  }

  &.linkified a.user-display-name {
    cursor: pointer;
  }

  &.linkified a.user-display-name:hover {
    text-decoration: underline;
  }

  .role-icon {
    @include roleIcon();
  }

  .role-tag {
    margin-left: 6px;
  }
}

.user-popover-wrapper {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.UserPopover {
  background-color: colors.$white;
  border-radius: border_radius.$border-radius-corners;
  box-shadow: elevation.$elevation-3;
  padding: 8px;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-avatar,
  .user-name {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
    font-weight: 500 !important;
  }

  .user-avatar {
    @include circledAvatar();

    width: 36px !important;
    height: 36px !important;
    margin: 0 auto 12px !important;
  }

  .user-name {
    clear: both;

    a {
      text-decoration: none !important;
      color: colors.$neutral-800 !important;
    }

    a:hover {
      text-decoration: underline !important;
    }
  }

  .user-address,
  .user-chain {
    color: colors.$neutral-500 !important;
  }
  .address-container {
    display: 'flex';
    justify-content: center;
    align-items: 'center';
    gap: 10;
    padding: 6px;

    .user-address,
    .copy-icon {
      margin-left: 2px;
      padding-top: 2px;
      cursor: pointer;
    }
  }
  .role-tag {
    margin-top: 10px !important;
  }

  .role-icon {
    @include roleIcon();

    top: 3px !important;
  }
}

.ban-wrapper {
  display: flex;
  margin-top: 5px;
}
