@import '../../../../styles/shared.scss';
@import './user';

.UserGallery {
  .overflow-users-wrap {
    @include circledAvatar();

    position: relative;
    display: inline-block;
    margin-right: -16px;
    margin-top: -3px;
    white-space: nowrap;
    background-color: $primary-100;

    .overflow-users {
      position: absolute;
      width: 100%;
      left: 0;
      top: -50%;
      text-align: center;
      color: $white;
    }
  }
}
