@import 'client/styles/shared';

.Header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $sidebar-padding;
    border-bottom: 1px solid $background-color-light;
    z-index: 50;

    .header-content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: $header-height;
        max-width: $layout-max-width;

        .placeholder,
        .header-breadcrumb {
            flex: 1;
        }
        > .cui-button,
        > .cui-button-group,
        > .CommunitySelector {
            margin-left: $header-spacing;
        }
    }
}
