@import 'client/styles/shared';

.Header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $sidebar-padding;
    background: #1f1f1f;
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    z-index: 50;

    .header-content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: $header-height;
        max-width: $layout-max-width;

        .placeholder,
        .header-breadcrumb {
            flex: 1;
        }
        > .cui-button,
        > .cui-button-group,
        > .CommunitySelector {
            margin-left: $header-spacing;
        }
        > .placeholder > .CommunityLabel {
            color: #fff;
        }
        > .cui-button,
        > .LoginSelector > .cui-button {
            border: none !important;
        }
        .cui-button-label {
            font-size: 104%;
        }
    }
}
