@import 'client/styles/shared';

.CommunityLabel {
    text-align: left;
    flex: 1;
    display: flex;
    font-weight: 400;
    align-items: center;

    &.CommunityLabelPlaceholder {
        font-weight: 500;
    }
    .site-brand {
        font-size: 16px;
        font-weight: 500;
    }
    .community-label-left {
        padding-right: 12px;
    }
    .community-label-right {
        flex: 1;
        overflow: hidden;
    }

    .community-name-row,
    .community-id {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .community-name-row {
        font-weight: 500;
        line-height: 1.25;
    }
    .icon-globe, .icon-lock {
        margin-left: 2px;
        font-size: 12px;
        color: #aaa;
    }

    .ChainStatusIndicator {
        display: inline-block;
        margin-left: 8px;
        margin-right: -2px;
        position: relative;
        top: -1px;
    }
}

.LoginSelector {
    button.cui-button .cui-icon:last-child {
        position: relative;
        top: -2px;
    }
    button.cui-button {
        padding: 0 10px;
    }
    button.cui-button.login-selector-right {
        flex: initial !important;
        border-radius: 0 4px 4px 0 !important;
        margin-right: 0 !important;
    }
    button.cui-button.login-selector-right:first-child {
        border-radius: 4px !important;
    }
}

.login-selector-popover {
    .cui-popover-content {
        padding: 0;
        .cui-menu.LoginSelectorMenu {
            min-width: 260px;
            border: none;
            .cui-menu-item.cui-button.switch-user {
                height: 40px;
                max-height: 40px;
            }
        }
    }
}

.login-selector-hint-popover {
    .cui-popover-content {
        padding: 11px 16px;
        font-size: 14px;
        max-width: 165px;
        text-align: center;
    }
}
