@import 'client/styles/shared';

@mixin unseen-pip {
    .pip {
        display: inline-block;
        background: $badge-red;
        font-weight: 500;
        color: #fff;
        border-radius: 9999px;
        padding: 2px 6px;
        margin: 3px 0 2px 4px;
        font-size: 13px;
    }
}

.CommunityLabel {
    text-align: left;
    flex: 1;
    display: flex;
    font-weight: 400;
    align-items: center;

    .site-brand {
        font-size: 16px;
        font-weight: 500;
    }
    .community-label-left {
        padding-right: 12px;
    }
    .community-label-right {
        flex: 1;
        overflow: hidden;
    }

    .community-name-row,
    .community-id {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .community-name-row {
        font-weight: 500;
        line-height: 1.25;
    }
    .community-id {
        font-size: 13px;
        color: #888;
    }
    .icon-globe, .icon-lock {
        margin-left: 2px;
        font-size: 12px;
        color: #aaa;
    }

    .ChainStatusIndicator {
        display: inline-block;
        margin-left: 8px;
        margin-right: -2px;
        position: relative;
        top: -1px;
    }
}

.LoginSelector {
    margin-left: $header-spacing;
    .unseen-count {
        display: inline-block;
        margin-left: 3px;
        @include unseen-pip;
    }
}

.login-selector-hint-popover {
    .cui-popover-content {
        padding: 11px 16px;
        font-size: 14px;
        max-width: 165px;
        text-align: center;
    }
}

.login-selector-popover {
    .cui-popover-content {
        padding: 0;
    }
    .cui-menu {
        border: none;
        max-width: 280px;
    }
    button.cui-button.cui-menu-item {
        text-align: left;
        padding: 0 14px;
        height: initial;
        max-height: initial;
        .cui-button-label {
            display: flex;
        }
        // for address selection
        .UserBlock {
            padding: 6px 0 8px;
            width: 100%;
        }
        // for community selection
        .CommunityLabel {
            padding: 2px 0;
        }
        .unseen-count {
            @include unseen-pip;
        }
    }
    .community-star-toggle .cui-icon svg {
        stroke: lighten(#546e7b, 40%);
    }
    $star-color: #ecbc00;
    .community-star-toggle .cui-icon:hover svg {
        stroke: $star-color;
    }
    &.starred .community-star-toggle .cui-icon svg {
        stroke: $star-color;
        fill: $star-color;
    }
}
