@import 'client/styles/shared';

.CommunityLabel {
    text-align: left;
    flex: 1;
    display: flex;
    font-weight: 400;
    align-items: center;

    .site-brand {
        font-size: 16px;
        font-weight: 500;
    }
    .community-label-left {
        padding-right: 12px;
    }
    .community-label-right {
        flex: 1;
        overflow: hidden;
    }

    .community-name-row,
    .community-id {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .community-name-row {
        font-weight: 500;
        line-height: 1.25;
    }
    .community-id {
        font-size: 13px;
        color: #888;
    }
    .icon-globe, .icon-lock {
        margin-left: 2px;
        font-size: 12px;
        color: #aaa;
    }

    .ChainStatusIndicator {
        display: inline-block;
        margin-left: 8px;
        margin-right: -2px;
        position: relative;
        top: -1px;
    }
}

.LoginMenu {
    margin-left: $header-spacing;
}

.login-menu-popover {
    .cui-popover-content {
        padding: 0;
    }
    .cui-menu {
        border: none;
        max-width: 280px;
    }
    button.cui-button.cui-menu-item {
        text-align: left;
        padding: 0 14px;
        height: initial;
        max-height: initial;
        .UserBlock {
            padding: 6px 0 8px;
        }
        .CommunityLabel {
            padding: 2px 0;
        }
    }
    .community-star-toggle .cui-icon svg {
        stroke: lighten(#546e7b, 40%);
    }
    $star-color: #ecbc00;
    .community-star-toggle .cui-icon:hover svg {
        stroke: $star-color;
    }
    &.starred .community-star-toggle .cui-icon svg {
        stroke: $star-color;
        fill: $star-color;
    }
}
