@import 'client/styles/shared';

.LoginSelector {
    margin-left: $header-spacing;
}

.login-selector-popover {
    .cui-popover-content {
        padding: 0;
    }
    .cui-menu {
        border: none;
        max-width: 280px;
    }
    button.cui-button.cui-menu-item {
        text-align: left;
        padding: 0 14px;
        height: initial;
        max-height: initial;
        .UserBlock {
            padding: 6px 0;
        }
    }
}
