.NotificationsMenu {
    .notification-list {
        height: 480px;
        background: #fff;
        width: 340px;
    }
    .cui-menu {
        max-width: 342px;
        margin: 0;
        padding: 0;
        background: none;
        overflow: hidden;
    }
    .cui-popover-arrow {
        background: white;
    }
    .cui-list-item {
        padding: 11px;
    }
    .no-notifications {
        list-style: none;
        text-align: center;
        padding-top: 230px;
        color: #546e7d;
        font-weight: 600;
    }
    .NotificationButtons {
        .cui-button {
            margin: 0;
            border-radius: 0;
            border-top: 1px #d8dee0 solid;
            height: 44px;
            .cui-button-label {
                text-align: center;
                color: #333;
            }
        }
        .cui-button:nth-child(1) {
            border-right: 1px #d8dee0 solid;
        }
    }
}
