@import 'client/styles/shared';

.NotificationsMenuButton {
    padding: 0 10px !important;

    .notification-count {
        background: $negative-bg-color;
        border-radius: 9999px;
        padding: 1px 7px;
        text-align: center;
        color: #fff;
    }

    @include sm-max {
        .cui-button-label {
            overflow: visible;
        }
        .notification-count {
            position: relative;
            top: -3px;
        }
    }
    .cui-icon {
        margin-right: 0 !important;
        position: relative;
        top: -1px;
        @include sm-max {
            top: 1px;
        }
    }
    &.has-notifications {
        padding: 0 7px !important;
        .cui-icon {
            display: none;
        }
    }
    &.no-notifications {
        .notification-count {
            display: none;
        }
    }
}

.NotificationsMenu {
    .cui-popover-content {
        @include xs-max {
            position: relative;
            margin: 0 9px;
        }
    }
    .notification-list {
        height: 480px;
        background: #fff;
        width: 340px;
        @include xs-max {
            width: calc(100vw - 20px);
        }
    }
    .cui-menu {
        max-width: 340px;
        margin: 0;
        padding: 0;
        background: none;
        overflow: hidden;
        @include xs-max {
            max-width: calc(100vw - 24px);
        }
    }
    .cui-popover-arrow {
        background: white;
    }
    .cui-list-item {
        padding: 11px;
    }
    .no-notifications {
        list-style: none;
        text-align: center;
        padding-top: 230px;
        color: #111;
        font-weight: 500;
    }
    .NotificationButtons {
        .cui-button {
            margin: 0;
            border-radius: 0 !important;
            border-top: 1px #d8dee0 solid !important;
            height: 44px;
            .cui-button-label {
                text-align: center;
                color: #333;
            }
            &:after {
                // suppress button group styling
                display: none !important;
            }
        }
        > .cui-button:nth-child(1) {
            border-right: 1px #d8dee0 solid;
        }
    }
}
