@import '../../../../../../../../styles/shared';

.RequirementSubForm {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $neutral-25;
  border: 1px solid $neutral-200;
  border-radius: 6px;
  gap: 16px;
  width: 100%;

  .row-1,
  .row-2 {
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }

  .row-1 {
    display: flex;

    .CWSelectList {
      width: 100%;
    }

    .w-350 {
      max-width: 350px;

      @include mediumSmallInclusive {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }

  .row-2 {
    display: grid;
  }

  .cols-4 {
    grid-template-columns: 1fr 2fr 1fr 1fr;

    @include mediumSmallInclusive {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }

  .cols-3 {
    grid-template-columns: 3fr 1fr 1fr;

    @include mediumSmallInclusive {
      grid-template-columns: initial;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .cols-5 {
    display: grid;
    grid-template-columns: 0.75fr 2.25fr 1fr 0.5fr 0.5fr; // Equally divides the space into 5

    @include mediumSmallInclusive {
      grid-template-columns: initial;
      grid-template-rows: repeat(
        5,
        1fr
      ); // Stacks them vertically on smaller screens
    }
  }
}
