@import '../../../styles/shared.scss';
.DetailCard {
  display: flex;
  width: 248px;
  height: 344px;
  overflow: hidden;
  flex-direction: column;
  border: 2px solid $neutral-100;
  @include smallInclusive {
    width: 100%;
  }
  .header {
    display: flex;
    align-items: flex-start;
    height: 40px;
    border: 2px solid #eeedef;
    width: 100%;
    background-color: #f7f6f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    justify-content: center;
  }
  .rb-container {
    display: flex;
    padding: 10px;
    gap: 4px;
    flex-direction: column;
    .label {
      font-size: 14px;
      line-height: 20px;
      color: $neutral-400;
      font-weight: 400;
      line-height: 20px;
      font-family: 'NeueHaasUnica';
    }

    .status {
      font-weight: 400;
      line-height: 20px;
      font-size: 12px;
      line-height: 16px;
      color: #352e38;
      font-family: 'NeueHaasUnica';
      height: 24px;
      border-radius: 4px;
      padding: 4px 8px 4px 8px;
      background-color: #fff9e5;
      color: #806000;
      width: fit-content;
    }
    .detail {
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      line-height: 20px;
      color: #352e38;
      font-family: 'NeueHaasUnica';
    }
  }
}
