@import '../../../../styles/shared.scss';

.VoteListing {
  display: flex;
  flex-direction: column;

  .no-votes.Text {
    color: $neutral-500;
  }

  .vote {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;

    .vote-right-container {
      display: flex;
      flex-direction: row;
      gap: 4px;
      width: 96px;
    }
  }
}
