@import '../../../styles/shared.scss';
.poll-container {
  background: #f7f7f7;
  gap: 16px;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  .governance-vote {
    width: 100%;
    border: none;
  }
  .poll-box {
    border: 1px solid #e0dfe1 !important;
    padding: 16px;
    gap: 10px;
    background: #f7f7f7 !important;
    display: flex;
    flex-direction: column;
  }

  .poll-header {
    display: flex;
    justify-content: space-between;
    color: gray;
    height: 20px;
    .Text {
      color: $neutral-400;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
    .timeline {
      display: flex;
      gap: 10px;
      align-items: center;
      .Text {
        color: $neutral-500;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
      .ViewActivity {
        color: $primary-500;
      }
    }
  }
  .poll-title {
    .Text {
      color: $neutral-500;
    }
  }
  .voting-options {
    display: flex;
    gap: 8px;
    flex-direction: column;
    .option {
      width: 100%;
      border: 1px solid $neutral-300;
      background: white;
      cursor: pointer;
      height: 52px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      &:focus {
        border: 1px solid $black !important;
      }
      &.selected {
        border: 1px solid black;
      }
    }
  }

  .vote-button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .votes-count {
    font-size: 14px;
    color: gray;
    text-align: right;
  }

  .progress-bar {
    height: 10px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    margin-top: 10px;

    .yes-bar {
      background: green;
    }

    .no-bar {
      background: red;
    }
  }

  .result-values {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    .yes {
      color: green;
    }

    .no {
      color: red;
    }
  }
}
