@import '../../../../styles/shared.scss';

@mixin resultsColumnStyles {
  background-color: $neutral-100;
  border-radius: $border-radius-corners;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: calc(50% - 8px);

  @include smallInclusive {
    width: 100%;
  }

  .results-subheader {
    border-bottom: 1px solid $neutral-100;
    color: $neutral-600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.VotingResult {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .results-column-yes {
    @include resultsColumnStyles;

    border: 2px solid $green-300;

    .results-header {
      color: $green-500;
      margin-bottom: 16px;
    }
  }

  .results-column-no {
    @include resultsColumnStyles;

    border: 2px solid $rorange-300;

    .results-header {
      color: $rorange-500;
      margin-bottom: 16px;
    }
  }

  .results-column {
    @include resultsColumnStyles;

    .results-header {
      margin-bottom: 16px;
    }
  }
}
