.poll-container {
  background: #f7f7f7;
  gap: 16px;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  .poll-box {
    background-color: #e0dfe1;
    padding: 15px;
    border-radius: 8px;
  }

  .poll-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
  }

  .option {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;

    &.selected {
      background: lightgray;
    }
  }

  .vote-button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .votes-count {
    font-size: 14px;
    color: gray;
    text-align: right;
  }

  .progress-bar {
    height: 10px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    margin-top: 10px;

    .yes-bar {
      background: green;
    }

    .no-bar {
      background: red;
    }
  }

  .result-values {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    .yes {
      color: green;
    }

    .no {
      color: red;
    }
  }
}
