@import '../../../../styles/shared';

.btn-border:has(.Select) {
  border: none;

  &:hover {
    border: none;
  }

  &:focus-within {
    border: 1px solid transparent;
  }
}

.Select {
  display: flex;
  justify-content: space-between;
  min-width: 144px;
  max-width: max(24ch, 264px);
  text-overflow: ellipsis;
  cursor: pointer;
  height: auto !important;
  background-color: $white;
  font-size: 14px !important;
  border: 1px solid transparent !important;
  border-radius: $border-radius-md !important;
  box-shadow: 0 0 0 1px $neutral-200 inset;
  margin: 0;
  line-height: 20px;
  color: $neutral-800 !important;

  &.size-default {
    padding: 10px 16px !important;
  }

  &.size-compact {
    padding: 6px 16px !important;
  }

  &:hover {
    border: 1px solid $primary-600 !important;
  }

  &:active {
    border: 1px solid $primary-500 !important;
    box-shadow: 0px 0px 0px 3px $primary-100 !important;
  }

  .button-text {
    margin-right: auto;
    color: $neutral-800 !important;
    font-size: 14px !important;
    line-height: 20px;
    letter-spacing: 1%;
    font-weight: 400;
    margin-top: 3px;
  }

  &.active {
    border: 1px solid $primary-500 !important;
    box-shadow: 0px 0px 0px 3px $primary-100 !important;
  }
}

.Select-Options-Wrapper {
  @include scrollbarStyles;
  min-width: 224px;
  max-width: 320px;
  text-overflow: ellipsis;
  padding: 8px 1px !important;
  background-color: $white;
  border-radius: $border-radius-md !important;
  overflow-y: auto;
  max-height: 336px;
  margin-top: 4px;
  font-size: 14px !important;
  border: 1px solid $neutral-200 !important;
  box-shadow: $elevation-4;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;

  p {
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
  }

  .IconButton.archiveTrayIcon {
    fill: none;
  }
}
