@import '../../../../styles/shared';

.Select {
    display: flex;
    justify-content: space-between;
    min-width: 144px;
    max-width: max(24ch, 264px);
    text-overflow: ellipsis;
    padding: 10px 16px !important;
    border-radius: $border-radius-md  !important;
    cursor: pointer;
    height: auto !important;
    background-color: $white;
    font-size: 14px !important;

    &:hover,
    &:active {
        border-radius: 1px solid $primary-500;
    }

    .button-text {
        margin-right: auto;
    }
}

.Select-Options-Wrapper {
    min-width: 224px;
    max-width: 320px;
    text-overflow: ellipsis;
    padding: 8px !important;
    background-color: $white;
    border-radius: $border-radius-md  !important;
    overflow-y: auto;
    max-height: 336px;
    margin-top: 4px;
    font-size: 14px !important;
    border: 1px solid $neutral-200;
    box-shadow: $elevation-6;
}