@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';

.RewardsCard {
  &.Card {
    width: unset;
  }
  padding: 24px;

  .rewards-card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    .see-all-text {
      cursor: pointer;
      margin-left: auto;
      color: colors.$primary-500;
      white-space: nowrap;

      &.disabled {
        cursor: default;
        color: colors.$neutral-400;
        opacity: 0.7;
      }
    }
  }

  .rewards-card-description {
    color: colors.$neutral-600;
  }

  .rewards-card-body {
    width: 100%;
  }
}
