.TokenClaimAddress {
  .claim-address-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .claim-address-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .cw-text-input-wrapper {
        width: 100%;
      }
    }
  }
}
