@use '../../../styles/shared';
@use '../../../styles/mixins/colors.module';

.DownloadMobileAppButton {
  margin-top: auto;
  margin-bottom: auto;
  .btn-border {
    border: none !important;
  }

  button {
    background-color: colors.$primary-500 !important;
  }
  button * {
    color: colors.$white !important;
  }
}
