@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.DownloadMobileAppContent {
  .Background {
    text-align: center;

    img {
      width: 200px;
      height: 200px;
    }

    p {
      margin: 12px;
    }
  }

  .Copy {
    cursor: pointer;

    * .text-input-icon svg,
    input,
    input * {
      cursor: pointer;
      background: colors.$neutral-100 !important;
    }
  }
}
