@import '../../../styles/shared';

.DownloadMobileAppButton {
  .btn-border {
    border: none !important;
  }

  button {
    background-color: $primary-500 !important;
  }
  button * {
    color: $white !important;
  }
}
