@import '../../../../styles/shared';

.NewThreadForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .no-pad {
    padding: 0 !important;
  }

  & > .header {
    padding-bottom: 24px;
  }

  @include mediumSmallInclusive {
    width: 100%;
  }

  .new-thread-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .new-thread-body {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;

    @include smallInclusive {
      flex-direction: column;
    }

    .new-thread-form-inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      .set-display-name-callout {
        background-color: $purple-50;
        border-radius: $border-radius-corners;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
        padding: 16px;
        width: fit-content;
      }

      .draft-text.Text {
        background-color: $rorange-50;
        border-radius: $border-radius-rounded-corners;
        color: $rorange-500;
        margin-bottom: 16px;
        padding: 4px 16px;
        width: fit-content;
      }

      .topics-and-title-row {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include mediumInclusive {
          .Button {
            flex: 1;
          }
        }

        .TextInput {
          flex: 2;
        }
      }

      .buttons-row {
        display: flex;
        gap: 8px;
        justify-content: end;
      }
    }
  }

  .drafts-list-container {
    display: flex;
    flex-direction: column;

    .drafts-list-title-text.Text {
      border-bottom: 2px solid $primary-500;
      margin: 0 0 8px 16px;
      width: fit-content;
    }

    .drafts-list {
      display: flex;
      flex-direction: column;
      height: 360px;
      overflow-y: auto;
      width: 200px;

      @include visibleScrollbar(light);

      .draft-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px 16px;

        &:hover {
          background-color: $neutral-50;
        }

        .draft-title {
          align-items: center;
          display: flex;
          gap: 4px;
        }

        .draft-delete-text {
          color: $rorange-500;
        }
      }
    }
  }

  .JoinCommunityBanner {
    margin-top: 8px;
  }
}
