@import 'client/styles/shared';

.PageNotFound {
    .page-not-found-container {
        position: relative;
    }
    .cui-empty-state {
        padding-top: 20px;
        height: 100%;
        width: 100%;
    }
}
