@import 'client/styles/shared';

.PageNotFound {
    .home-header {
        background-image: linear-gradient(180deg, #525252 0%, #424242 100%);
        padding: 30px 20px 28px;
        h2 {
            font-size: 36px;
            color: #fafafa;
            margin: 0;
            margin-bottom: 4px;
        }
        .info {
            margin-top: 4px;
        }
        p {
            color: #f4f4f4;
            margin: 0;
        }
        @include xs-max {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}
