@import 'client/styles/shared';

@mixin ui3page() {
    min-height: calc(100vh - 40px);
    .page-container {
        // background: #f7f7f7;
    }

    // content specific styles, need to sort out where they go
    .forum-container {
        width: 100%;
        background: #fff;
        margin: 20px 0;
        padding: 28px 34px;
        border-radius: 2px;
        border: 1px solid #eee;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.04);
        @include xs-max {
            margin: 6px 0 0 0;
            padding: 16px 20px;
        }
    }
    .forum-container.stats-tile {
        padding-bottom: 26px;
        .stats-tile-label {
            margin: 0 0 4px;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
        }
        .stats-tile-figure-major {
            font-size: 28px;
            line-height: 1.25;
        }
        .stats-tile-figure-minor {
            color: #888;
            margin-top: 2px;
            overflow-wrap: break-word;
        }
        @include xs-max {
            padding: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .no-proposals {
        color: #999;
        padding: 8px 0;
    }
    .NewProposalButton {
        display: block;
        width: 100%;
        margin: 0;
    }
}

.ListingPage {
    @include ui3page();
}
