@import 'client/styles/shared';

.ChatPage {
  display: flex;
  flex-direction: column;
  flex: 1;

  .chat-messages,
  .chat-composer-unavailable {
    padding: 0 16px;
  }

  .chat-messages {
    max-height: 600px;
    overflow-y: auto;

    .chat-message-placeholder {
      margin: 16px 0;
      color: $neutral-500;
    }

    .chat-message-group {
      margin: 16px 0;
    }

    .chat-message-group + .chat-message-group {
      margin-top: 16px;
    }

    .chat-message-group-timestamp {
      float: right;
      color: $neutral-500;
    }

    .chat-message-text {
      margin: 2px 0;
    }

    .User {
      margin-bottom: 2px;

      a {
        color: $neutral-500;
        text-decoration: none;
      }
    }

    .chat-messages-typing {
      color: $neutral-500;
      margin: 8px 0;
    }
  }

  .chat-composer {
    align-items: center;
    border-top: 1px solid $neutral-100;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-right: 8px;
    width: 100%;

    textarea.ResizableTextarea {
      width: 100%;
      border: none;
      border-radius: 0;
      resize: none;
      padding: 8px 16px;
    }
  }

  .chat-composer-unavailable {
    color: $neutral-500;
  }
}
