@import 'client/styles/shared';

.ChatPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .chat-messages,
  .chat-composer-unavailable {
    padding: 0 56px;
  }

  .chat-messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .no-messages-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;

      .no-messages-placeholder {
        color: $neutral-500;
        margin: 16px 0;
      }
    }

    .chat-message-group {
      margin: 16px 0;

      .user-and-timestamp-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 24px;

        .User {
          display: flex;

          a {
            color: $neutral-600;
          }
        }

        .chat-message-group-timestamp {
          color: $neutral-400;
          margin-left: 8px;
        }

        .cui-icon-link {
          color: $neutral-400;
          cursor: pointer;
          margin-left: 4px;

          &:hover {
            color: $neutral-600;
          }
        }
      }

      &#highlighted{
        animation: pulse 2s 0.3s;
      }
    }

    .chat-message-group + .chat-message-group {
      margin-top: 16px;
    }

    .chat-message-group-timestamp {
      color: $neutral-500;
    }

    .chat-message-text {
      align-items: center;
      display: flex;
      flex-direction: row;
      padding-left: 32px;
    }

    .User {
      a {
        color: $neutral-500;
        text-decoration: none;
      }
    }

    .chat-messages-typing {
      color: $neutral-500;
      margin: 8px 0;
    }
  }

  .chat-composer, .chat-composer-unavailable {
    align-items: center;
    background-color: $neutral-50;
    border-top: 1px solid $neutral-200;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 64px;
    padding: 0 56px;
    width: 100%;

    .QuillEditor {
      width: 100%;

      .ql-toolbar, .type-selector, .preview-button-wrap {
        display: none;
      }

      .ql-toolbar.ql-snow + .ql-container.ql-snow {
        border: 1px solid #ccc !important;
        border-radius: 5px;
      }

      .ql-container > .ql-editor {
        padding: 12px 15px;
        overflow-y: scroll;
        max-height: 2.5em;
      }
    }

    svg {
      cursor: pointer;
      left: 32px;
      position: relative;
    }
  }

  .chat-composer-unavailable {
    color: $neutral-500;
  }
}

@keyframes pulse {
	0%, 100% {
    background-color: #fff;
  }
  50% {
    background-color: $purple-50;
  }
}