@import 'client/styles/shared';

.CouncilPage {
    padding-bottom: 60px;
    @include gov-explainer;

    .Councillor {
        @include card;
        height: initial;
        .User {
            font-weight: 600;
        }
        .councillor-status {
            color: $text-color-light;
        }
    }
}
