@import 'client/styles/shared';

.CouncilPage {
  padding: 24px;

  @include gov-explainer;

  h3 {
    margin-bottom: 16px;
  }

  .Councillor {
    @include card;
    height: initial;
    .User {
      font-weight: 600;
    }
    .councillor-status {
      color: $text-color-light;
    }
  }
}
