@import 'client/styles/shared';

.CouncillorRow {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;

  .council-row-header {
    .username {
      font-size: 19px;
      font-weight: 500;
    }
  }

  .council-row-subheader {
    font-size: 17px;
    font-weight: 400;
    color: $text-color-light;
  }

  .proposal-user {
    margin-top: 4px;
    
  }
}