@import 'shared';

.CreateCommunityIndex {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  width: 100%;

  h3 {
    margin-bottom: 16px;
    text-align: center;
  }

  .CreateCommunityForm {
    display: flex;
    flex-direction: column;
    margin: 32px auto auto;
    width: 480px;

    .InputRow {
      display: flex;
      flex-direction: column;

      textarea {
        resize: none;
      }
    }

    .AvatarUploadRow,
    .IDRow,
    .SelectRow,
    .ToggleRow {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .toggle-and-label {
        display: flex;
        flex-direction: row;
      }
    }

    .AvatarUpload {
      color: $rorange-500;
      height: 96px;
      margin: auto 0;
      width: 96px;
    }

    .id {
      align-items: center;
      background-color: $yellow-50;
      border-radius: 4px;
      display: flex;
      height: 40px;
      padding: 8px 16px;

      &.placeholder {
        color: $neutral-200;
        font-style: italic;
      }
    }

    .button-margin-bottom {
      margin-bottom: 20px;
    }
  }
}
