@import 'client/styles/shared';

.CreateCommunityPage {
  width: 100%;

  @include sm-max {
    width: initial;
  }

  .community-creation-form {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  .create-community-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 11px;
    }

    .CommunityMetadataManagementTable {
      td {
        padding: 11px 20px;
      }

      .cui-button {
        display: block;
        margin: 26px auto;
        min-width: 150px;
        width: 40%;
      }

      .cui-tabs {
        margin-top: 0 !important;
      }
    }

    .cui-table.metadata-management-table {
      td {
        border-bottom: none !important;
        line-height: 1.1;
        padding: 5px 0 5px 28px !important;
      }

      tr:first-child td {
        padding-top: 18px !important;
      }
    }

    .cui-tabs {
      border-bottom-color: $background-color-light;
      margin-top: 2px !important;

      > :first-child {
        margin-left: 15px !important;
      }
    }

    .AvatarUpload {
      color: red;
      height: 92px;
      margin: auto 0;
      width: 92px;
    }

    .error-column {
      @include error-text;
    }

    .InputPropertyRow {
      width: 100%;

      .title-column {
        width: 150px;
      }

      textarea {
        height: auto !important;
        min-height: 25px !important;
        resize: vertical !important;
        width: 100% !important;
      }
    }

    .TogglePropertyRow {
      td:first-child {
        padding-top: 7px !important;
      }

      td {
        padding-bottom: 4px !important;
        padding-top: 14px !important;
      }

      .cui-switch {
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: -2px;
      }

      .switch-caption {
        color: $text-color-light;
        display: inline-block;
        font-size: 94%;
        position: relative;
        top: 1px;
      }
    }

    .SelectPropertyRow {
      td:first-child {
        padding-top: 7px !important;
      }

      td {
        padding-bottom: 4px !important;
        padding-top: 14px !important;
      }
    }
  }
}

.CompactModalExitButton {
  color: $text-color-medium;
}
