@import 'client/styles/shared';
@import 'client/styles/facelift';

.CreateCommunityIndex {
  width: 100%;

  h3 {
    margin: 16px auto;
    text-align: center;
  }

  .CreateCommunityForm {
    margin: 32px auto auto;
    width: 480px;

    .InputRow {
      display: flex;
      flex-direction: column;

      label {
        @include form-label;
        margin-bottom: 4px;
      }

      textarea {
        resize: none;
      }
    }

    .AvatarUploadRow,
    .IDRow,
    .SelectRow,
    .ToggleRow {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        @include form-label;
        margin-bottom: 4px;
      }

      .toggle-and-label {
        display: flex;
        flex-direction: row;
      }
    }

    .AvatarUpload {
      color: red;
      height: 92px;
      margin: auto 0;
      width: 92px;
    }

    .id {
      background-color: #fffff3;
      border-radius: 4px;
      height: 42px;
      padding: 8px 15px;

      &.placeholder {
        color: #cccccc;
        font-style: italic;
      }
    }

    .button-margin-bottom {
      margin-bottom: 20px;
    }

    .validation-container {
      @include form-label;
      height: 20px;

      .error {
        color: $hype-red;
        margin-top: 8px;
      }

      .status {
        margin-top: 8px;
      }
    }
  }
}
