@import 'client/styles/shared';
@import 'client/styles/facelift';

.CreateCommunityForm {
  margin: 32px auto auto;
  width: 480px;

  .InputRow {
    display: flex;
    flex-direction: column;

    label {
      @include form-label;
      margin-bottom: 4px;
    }

    textarea {
      resize: none;
    }
  }

  .IDRow,
  .ToggleRow,
  .SelectRow,
  .AvatarUploadRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      @include form-label;
      margin-bottom: 4px;
    }
  }

  .id {
    background-color: #fffff3;
    border-radius: 4px;
    height: 42px;
    padding: 8px 15px;

    &.placeholder {
      color: #cccccc;
      font-style: italic;
    }
  }
}
