@import 'client/styles/shared';

$discussion-row-color: #999;
$discussion-row-hpadding: 18px;
$discussion-row-vpadding: 16px;

.DiscussionsPage {
  padding-bottom: 30px;
  h4 {
  font-size: 14px;
  color: #888;
  margin: 14px 0;
  }
  .discussions-listing {
  padding-top: 16px;
  }
  .discussions-description {
  padding-top: 16px;
  @include md-min {
    padding-left: 20px;
  }
  .community-name {
    margin-top: 6px;
    margin-bottom: 4px;
    line-height: 1.2;
  }
  .community-privacy {
    color: #888;
    font-size: 14px;
    .icon-mail {
    color: #aaa;
    }
    .icon-lock {
    font-size: 15px;
    position: relative;
    top: 1px;
    color: #aaa;
    }
  }
  .community-description {
    margin-top: 26px;
  }
  }

  .cui-callout {
      .MembershipButton .cui-icon {
          position: relative;
      }
  }

  .OffchainCommunityRoles {
  margin: 16px 0;
  h4.sidebar-header {
    margin-bottom: 12px;
  }
  .members {
    .member-item {
    margin: 2px 0;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  // invite button
  button {
    margin-top: 16px;
  }
  }

  // content
  a.back-home {
  color: #888;
  font-weight: 400;
  margin-left: 14px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  }
  .ProposalsLoadingRow {
    margin-bottom: 0;
  }
  // content: discussion group
  .WeeklyDiscussionListing, .tag-forum {
  margin-bottom: 15px;
  a.weekly-more {
    display: inline-block;
    margin: 10px 18px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
  .discussion-group-wrap {
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.04);
    @include xs-max {
      margin: 6px 0 0 0;
      padding: 16px 20px;
    }
  }
  .LastSeenDivider {
    display: flex;
    padding: 12px 0 10px;
    span {
      color: #ea7a60;
      font-size: 14px;
      font-weight: 600;
      width: max-content;
      text-align: center;
      padding: 0 10px;
      white-space: nowrap;
    }
    hr {
      height: 1px;
      border: none;
      border-bottom: 1px solid lighten(#ea7a60, 11%);
      width: -webkit-fill-available;
    }
  }
  }
  .WeeklyDiscussionListing .discussion-group-wrap,
  .tag-listing {
  padding: 0;
  margin: 0;
  }
  .no-threads {
  color: #888;
  margin: 20px 0;
  &:last-child {
    margin-bottom: 8px;
  }
  @include xs-max {
    &:last-child {
      margin-bottom: 12px;
    }
  }
  }
  a.extra-items {
  display: block;
  padding: 8px;
  color: #444;
  font-weight: 700;
  }

  .DiscussionsSubscriptionButton {
    .icon-bell-on {
      margin-left: -1px;
    }
    .icon-bell-off {
      margin-left: -2px;
    }
  }

  h4.sidebar-header {
  margin-top: 24px;
  margin-bottom: 0;
  }
  .pinned-container.discussion-group-wrap {
  margin-top: 10px;
  padding: 5px 0;
  a.DiscussionRow {
    padding: 6px 0;
  }
  .discussion-pre,
  .discussion-after {
    display: none;
  }
  .discussion-content {
    margin: 0 16px !important;
  }
  .discussion-meta .User {
    display: none;
  }
  }
  .no-sidebar-items {
  color: #aaa;
  font-size: 14px;
  margin: 10px 0;
  }

  @include xs-max {
    .discussions-listing {
      margin: 0 6px;
    }
    .discussions-description {
      display: none;
    }
    .TagSelector {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      margin-right: -15px;
    }
    h4 {
      margin: 14px 0 12px;
      text-align: center;
    }
    .WeeklyDiscussionListing {
      margin-bottom: 0;
    }
  }
  h4 {
  margin: 14px 0 12px;
  text-align: left;
  }
  .WeeklyDiscussionListing {
  margin-bottom: 0;
  }
  .no-tags-found {
  display: flex;
  flex-direction: column;
  a {
    margin: 0;
  }
  }
}

.TagSelector {
  margin-top: 0;
  padding: 10px 0;
  .sidebar-header {
    padding-bottom: 4px;
  }
  .tag-selector-item {
    font-size: 13.5px;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    a {
      color: $lighttextgrey;
      text-decoration: none;
      line-height: 1;
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
    &.selected a.tag-name {
      font-weight: 600;
    }
    a.tag-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  @include dragula;
  @include xs-max {
    padding: 15px 5px 8px;
  }
}

a.DiscussionRow + a.DiscussionRow {
    border-top: 1px solid #f4f4f4;
}

a.DiscussionRow {
    display: block;
    padding: $discussion-row-vpadding $discussion-row-hpadding;
    text-decoration: none;
    &:hover {
        background: #f9f9f9;
    }

    .discussion-row {
        display: flex;
    }

    .discussion-pre {
        margin-top: 4px;
        @include xs-max {
            display: none;
        }
        .User.avatar-only {
            // ensure tooltip appears above avatar circle
            display: block;
        }
    }
    .discussion-pre-mobile {
        display: none;
        .User {
            position: relative;
            top: 2px;
        }
        @include xs-max {
            display: block;
        }
    }
    .discussion-content {
        flex: 1;
        margin-left: 17px;
    }
    .discussion-content-mobile {
        display: none;
    }

    // content left
    .discussion-meta {
        color: $discussion-row-color;
        font-size: 14px;
        .User {
            .user-avatar {
                display: none;
            }
        }
        a.discussion-tag, a.discussion-created, a.discussion-replies {
            text-decoration: none;
            color: $discussion-row-color;
        }
        .User a {
            display: inline-block;
            text-decoration: none;
            color: $discussion-row-color;
            &:hover {
                color: darken($discussion-row-color, 8%);
                text-decoration: underline;
            }
        }
    }
    .discussion-content-top {
        line-height: 1.3;
        margin-bottom: 2px;
    }
    a.discussion-link {
        color: $primary-green;
        text-decoration: none;
        margin-left: 5px;
        font-size: 13px;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
    a.discussion-title {
        color: #111;
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
    }
    .discussion-body-preview {
        font-size: 14px;
        color: $discussion-row-color;
    }
    .discussion-date {
        font-size: 14px;
        text-align: right;
        a.discussion-updated {
            color: $discussion-row-color;
        }
    }
    .discussion-after {
        margin-top: -$discussion-row-vpadding;
        margin-bottom: -$discussion-row-vpadding;
        margin-right: -$discussion-row-hpadding;
        padding-top: 14px;
        padding-right: 6px;
        width: 310px;
        padding-left: 10px;
        text-align: right;
        font-weight: 400;
        a.discussion-tag {
            font-size: 14px;
            margin-right: 15px;
            display: inline-block;
            text-decoration: none;
            color: $discussion-row-color;
            &:hover {
                color: darken($discussion-row-color, 8%);
                text-decoration: underline;
            }
        }
    }

    @include xs-max {
        position: relative;
        padding: 10px 18px;
        .discussion-content {
            margin-left: 7px;
            .discussion-content-top {
                display: none;
            }
            .discussion-meta {
                font-size: 13px;
                line-height: 1.3;
                margin-bottom: 4px;
                margin-right: 4px;
                .User {
                    margin-top: 1px;
                }
                .discussion-category {
                    display: block;
                    white-space: nowrap;
                }
            }
            .discussion-date {
                padding-left: 10px;
            }
        }
        .discussion-date {
            font-size: 13px;
            line-height: 1.3;
            margin-top: 2px;
            margin-bottom: 4px;
        }
        .discussion-after {
            display: none;
            white-space: nowrap;
        }
        .discussion-content-mobile {
            display: block;
            margin: 2px 0;
            line-height: 1.35;
        }
    }
}
