@import 'client/styles/shared';
@import 'construct-ui/src/_shared/_colors';

.EditProfilePage {

  padding: 50px;

  .edit-pane {
    position: relative;
    width: 100%;
    display: flex;
    margin: 50px 0;

    .save-button {
      position: absolute;
      top: -20px;
      right: 0;

      &.confirm {
        background-color: green;
        color: white;
      }

      &.fail {
        background-color: red;
        color: white;
      }
    }

    .cui-spinner.cui-spinner-active {
      position: absolute;
      top: -10px;
      right: 100px;
    }

    .save-button-message {
      position: absolute;
      top: -10px;
      right: 80px;
      opacity: 0;
      transition: opacity .25s ease;

      &.show {
        opacity: 1;
      }
    }

    .general-info {
      flex: 1;
      margin-right: 50px;

      .title {
        margin-bottom: 24px;
      }

      .bio-field {
        height: 200px;
      }

      input[name="bio-form-field"] {
        height: 150px;
      }

      .profile-image-section {

        .title {
          margin-bottom: 24px;
        }

        .flex {
          position: relative;
          display: flex;
          width: 100%;
          align-items: center;

          .profile-image {
            width: 90px;
            height: 90px;
            min-width: 90px;
            min-height: 90px;
            img {
              border-radius: 50%;
            }
            &.hide {
              img {
                display: none;
              }
            }
          }

          .AvatarUpload {
            position: absolute;
            left: 45px;
            top: 45px;
            transform: translate(-50%, -50%); 
            opacity: .45;
            transition: opacity .3s ease;
            &:hover {
              opacity: 1;
            }

            .dz-image {
              width: 90px;
              height: 90px;
            }
          }

          .TextInput {
            width: 75%;
          }

          p {
            margin: 0 20px;
            color: #999999;
          }

          input[name="profile-image-form-field"] {
            
          }
        }

      }
    }

    .social-links {
      flex: 1;

      .title {
        margin-bottom: 24px;
      }
    }

  }

}