@import 'client/styles/shared';

.ManageCommunityPage {
  width: 100%;

  @include sm-max {
    width: initial;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  .cui-table.metadata-management-table {
    td {
      padding: 5px 0 0 28px !important;
      border-bottom: none !important;
    }
    tr:first-child td {
      padding-top: 18px !important;
    }
  }
  .cui-button.save-changes-button {
    margin: 24px 28px;
  }
  .cui-tabs {
    margin-top: 2px !important;
    border-bottom-color: $background-color-light;
    > :first-child {
      margin-left: 15px !important;
    }
  }
  .ManageRoleRow {
    margin: 10px 0 0;
  }

  .panel-top {
    width: 100%;

    .AvatarUpload {
      width: 92px;
      height: 92px;
      color: red;
      margin: 20px 0 0 20px;
    }
    td textarea {
      width: 100%;
      min-width: 100%;
      resize: none;
    }
    td > .cui-input {
      position: relative;
      top: -3px;
    }
    .ManageRoleRow {
      min-height: none;
      max-height: 300px;
      overflow-y: scroll;
    }
    .RoleChild {
      display: inline-block;
      padding-right: 12px;
      .role-x-icon {
        margin-left: 4px;
      }
    }
    .metadata-management-table {
      table-layout: fixed;
    }
    .InputPropertyRow {
      .title-column {
        width: 110px;
      }
    }
    .TogglePropertyRow {
      td:first-child {
        padding-top: 7px !important;
      }
      td {
        padding-top: 14px !important;
        padding-bottom: 4px !important;
      }
      .cui-switch {
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: -2px;
      }
      .switch-caption {
        display: inline-block;
        color: $text-color-light;
        font-size: 94%;
        position: relative;
        top: 1px;
      }
    }
    .TogglePropertyRow + .TogglePropertyRow {
      td {
        padding-bottom: 0 !important;
      }
    }
  }

  .CommunityMetadataManagementTable {
    td {
      padding: 11px 20px;
    }
    .cui-button {
      margin: 26px 28px;
    }
    .cui-tabs {
      margin-top: 0 !important;
    }
  }

  .ChainMetadataManagementTable,
  .CommunityMetadataManagementTable {
    .button-wrap {
      display: flex;
      justify-content: flex-end;
      button {
        margin-right: 0;
      }
    }
  }

  .panel-bottom {
    width: 100%;

    .AdminPanelTabs {
      .UpgradeRolesForm,
      .WebhooksForm {
        padding: 0;
        > * {
          margin: 20px 0;
          padding: 0 20px;
        }
      }
      .upgrade-buttons-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0;
      }
      .members-list {
        min-height: none;
        max-height: 300px;
        overflow-y: scroll;
      }
      .active-webhooks {
        min-height: none;
        max-height: 300px;
        overflow-y: scroll;
      }
      .bottom {
        padding: 8px 0;
      }
      .settings-button {
        height: 26px;
        min-height: 26px;
        padding: 0 8px;
        margin-right: 10px;
      }
      .cui-list-item {
        overflow-wrap: anywhere;
        padding: 0 !important;
        margin-bottom: 6px;
        border-bottom: none;
      }
    }
  }

  .panel-top,
  .panel-bottom {
    max-width: 600px;
  }
}
