@import 'client/styles/shared';

.MembersPage {
  .members-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  .title {
    font-size: 32px;
    padding-left: 12px;
  }

  th {
    color: #666666;
    font-weight: 400;
    border: 0;
  }

  td {
    border: 0;
  }

  .align-right {
    text-align: right;
  }

  .members-item-info {
    a {
      color: $text-color-black;
      text-decoration: none;
    }

    .User {
      font-weight: 400;
      font-size: 18px;
    }
  }

  .infinite-scroll-reached-end {
    color: $text-color-light;
    font-size: 0.94rem;
    margin: 20px 0;
    text-align: center;
  }

  .topic-loading-spinner-wrap,
  .infinite-scroll-spinner-wrap {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topic-loading-spinner-wrap {
    height: 120px;
  }
}
