@import 'client/styles/shared';

.NewProposalPage {
    height: 100%;
    .error {
        @include error-text();
        margin-bottom: 15px;
    }
    @include xs-max {
        width: initial;
    }
    .error-text {
        color: red;
        margin-top: 5px;
    }
}

.NewProposalForm {
    max-width: 85%;
    textarea {
        min-height: 200px;
    }
    .council-motion-description {
        margin-top: -12px;
        margin-bottom: 22px;
        color: $text-color-light;
    }
    .cui-overlay-inline {
        display: block;
    }
}
