@import 'client/styles/shared';
@import 'construct-ui/src/_shared/_colors';

.ProfilePage {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  .ProfileHeader {

    margin: 30px 0;

    .profile-content {
      padding: 20px 40px;

      .section {
        margin: 5px 0;
      }

      .profile-name {
        display: flex;

        .profile-icon {
          margin: 5px 0 0 10px;
        }
      }
    }

  } 

  .ProfileActivity {
    margin: 30px 0;

    .activity-nav {
      display: flex;

      .activity-nav-option {
        position: relative;
        display: flex;
        min-width: 50px;
        padding: 6px 0;
        margin-right: 20px;
        &:hover {
          cursor: pointer;
          h4 {
            color: black;
          }
        }
        
        h4 {
          color: $lite-gray;
          margin-top: 2px;
          transition: color .2s ease-in;
        }

        .activity-count {
          position: relative;
          width: 45px;
          height: 25px;
          background-color: $background-gray;
          border-radius: 12px;
          margin-left: 12px;

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            font-size: small;
            font-weight: 600;
          }
        }
      }
      .selected {
        border-bottom: 2px solid #4723AD;
        h4 {
          color: black;
        }
      }
      .divider {
        width: 1px;
        height: 24px;
        border-right: 1px solid $lite-gray;
        margin: 7px 20px 0 0;
      }
    }

    .activity-section {
      margin: 30px 0;
      .activity {
        height: 60px;
        padding: 10px 10px;
        border-bottom: 1px solid $lite-gray;
      }
    }

  }

}



