@import 'client/styles/shared';

.NewProposalPage {
    height: 100%;
    .error {
        @include error-text();
        margin-bottom: 15px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    @include xs-max {
        width: initial;
    }
}

.NewProposalForm {
    @media (min-width: 1024px){
        max-width: 85%;
    }
    textarea {
        min-height: 200px;
    }
    .council-motion-description {
        margin-top: -12px;
        margin-bottom: 22px;
        color: $text-color-light;
    }
    .cui-overlay-inline {
        display: block;
    }
    .cui-grid {
        max-width: 100%;

        &>* {
            max-width: 100%;
        }
    }
}
