@import 'client/styles/shared';

.NewProposalPage {
    height: 100%;
    .new-proposal-title h2 {
        font-size: 22.5px;
    }
    .error {
        @include error-text();
        margin-bottom: 15px;
    }
    @include xs-max {
        width: initial;
    }
}

.NewProposalForm {
    max-width: 85%;
    textarea {
        min-height: 200px;
    }
    button[type="submit"] {
        font-size: 15px;
    }
    .council-motion-description {
        margin-top: -12px;
        margin-bottom: 22px;
        color: #888;
    }
}
