@import 'client/styles/shared';

.NotificationSettingsPage {
    .NotificationsTable {
        margin-top: 30px;
        margin-bottom: 40px;
        th {
            font-weight: 500;
            padding: 6px 0 12px;
            border-bottom-color: $form-border-color-light;
        }
        td {
            border: none;
            padding: 6px 0;
            height: 43px;
            &.subscription-label a {
                margin-left: 20px;
            }
        }
        tr:nth-child(2) td {
            padding-top: 12px;
        }
        tr.on-chain-events-header + tr {
            td {
                padding-top: 12px;
            }
        }
        tr.on-chain-events-header th {
            padding-top: 36px;
        }
        th.subscription-setting,
        td.subscription-setting {
            text-align: right;
            button {
                width: 120px;
            }
        }
    }
}

// popovers
.CommunityNotificationSelectList,
.BatchedNotificationSelectList,
.ChainNotificationSelectList,
.EventSubscriptionTypeSelectList {
    .cui-popover-content {
        padding: 0;
        min-width: 125px;
        overflow: scroll;
    }
}
