@import 'client/styles/shared';

.NotificationsPage {
    .EmailIntervalConfiguration {
        background: $background-color-light;
        padding: 18px 24px 20px;
        margin-bottom: 40px;
        display: flex;
        h4 {
            margin: 0;
        }
        p {
            margin: 3px 0 15px;
            line-height: 1.2;
        }
        .cui-radio {
            margin-bottom: 15px;
        }
        .email-interval-configuration-left,
        .email-interval-configuration-right {
            padding-right: 10px;
        }
        @include sm-max {
            .email-interval-configuration-left {
                margin-bottom: 20px;
            }
        }
    }
    .NotificationsTable {
        margin-top: 30px;
        margin-bottom: 40px;
        th {
            font-weight: 500;
            padding: 6px 0 12px;
            border-bottom-color: $form-border-color-light;
        }
        td {
            border: none;
            padding: 6px 0;
            height: 43px;
            &.subscription-label {
                padding-right: 30px;
                line-height: 1.2;
                .cui-tag {
                    margin-left: 8px;
                }
            }
            .item-metadata {
                font-size: 90%;
                color: $text-color-medium;
                margin-left: 6px;
            }
        }
        tr:nth-child(2) td {
            padding-top: 12px;
        }
        tr.on-chain-events-header + tr {
            td {
                padding-top: 12px;
            }
        }
        tr.on-chain-events-header th {
            padding-top: 36px;
        }
        th.subscription-setting,
        td.subscription-setting {
            text-align: right;
            button {
                width: 170px;
                text-align: left;
            }
            button.sometimes {
                color: $text-color-light;
            }
        }
    }
}

// popovers
.CommunityNotificationSelectList,
.BatchedNotificationSelectList,
.ChainNotificationSelectList,
.EventSubscriptionTypeSelectList {
    .cui-popover-content {
        padding: 0;
        min-width: 125px;
        overflow: scroll;
    }
    .cui-list-item.cui-active {
        background: none;
    }
    .cui-list-item.cui-selected {
        background: $background-color-light;
    }
    .cui-list-item:hover {
        background: $background-color-light !important;
    }
}
