@import 'client/styles/shared';

@mixin profile-listing {
  h3 {
    margin: 32px 0 30px;
  }
  .no-items {
    color: $text-color-light;
    margin-bottom: 20px;
  }
  .QuillFormattedText,
  .MarkdownFormattedText {
    margin-top: 6px;
    &.collapsed {
      margin-bottom: -6px;
      &.suppress-fadeout {
        margin-bottom: 0;
      }
    }
    ul,
    ol {
      margin: 6px 0;
    }
    p {
      margin: 6px 0;
    }
    > p:first-child {
      margin-top: 0;
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin comment-level {
  margin-top: 24px;
  padding-bottom: 18px;
  border-bottom: 1px solid #dddddd;
  .proposal-title {
    color: black !important;
    font-weight: 600;
  }
  .summary {
    color: $text-color-light;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }
  .summary > .User > .username {
    color: $primary-bg-color !important;
  }
  .link-bold {
    font-weight: 500;
    color: #000000;
  }
  .link-normal {
    color: inherit;
  }
  .proposal {
    .proposal-body {
      margin: 10px 0;
    }
    .proposal-timestamp,
    .proposal-author {
      color: $text-color-light;
    }
    .proposal-meta {
      padding-top: 2px;
      font-size: inherit;
      .username {
        color: black !important;
      }
    }
  }
  .proposal-comment {
    padding-bottom: 6px;
    .comment-meta,
    .comment-timestamp {
      color: $text-color-light;
    }
  }
}

.ProfilePage {
  .profile-container {
    padding: 24px;
  }
  padding-bottom: 50px;
  .error-message {
    @include error-text();
    margin-top: 20px;
  }
  .forum-row {
    margin-top: 14px;
    min-height: 100%;
  }
  .Tabs {
    .tab-bar {
      flex-direction: row !important;
      margin-bottom: 12px;
      border-bottom: none;
      background-color: white;
    }
    a.tab-entry {
      padding: 12px 0 0 0;
      margin-right: 18px;
      margin-bottom: 10px;
      color: $text-color-medium;

      .count {
        display: inline;
        background-color: #eeeeee;
        padding: 2px 4px;
        border-radius: 9999px;
        font-size: 14px;
        font-weight: 600;
      }
    }
    a.tab-entry.active {
      color: $text-color-darker;
    }
  }
  @include sm-max {
    .info-row {
      flex-direction: column;
    }
  }
  @include xxs-max {
    .ProfileHeader,
    .Tabs {
      padding: 0 17px 12px 17px !important;
      .tab-bar {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }
      .bio-actions {
        padding: 0px;
      }
    }
  }
}

.xs-display-none {
  @include md-max {
    display: none;
  }
}

.ProfileBio {
  padding-left: 36px;
  position: sticky;
  top: 83px;

  .header {
    font-size: 24px;
    font-weight: 600;
    color: $text-color-darker;
    margin-top: 32px;
    margin-bottom: 6px;
  }
  .no-items {
    color: $text-color-light;
    margin: 8px 0 20px;
  }

  .address-block-right {
    display: flex;
    align-items: flex-end;

    .address {
      color: #666666;
      margin-right: 8px;
    }
  }

  .show-profile {
    align-items: center;
    opacity: 1;
    max-height: 200px;
    transition: all 0.3s;
    transition-delay: 0.3s;
  }

  .hide-profile {
    margin: 0 !important;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .hide-address {
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  .show-address {
    height: 30px;
    opacity: 1;
    transition: all 0.3s;
    transition-delay: 0.3s;
  }

  button.cui-button.cui-fluid {
    width: fit-content;
    border-radius: 6px;
    background-image: linear-gradient(to bottom left, #6086d1, #b37dba);

    span {
      padding-right: 0px;
    }
  }

  .bio-left {
    margin-right: 20px;
  }

  .bio-right {
    margin-left: 0 !important;
    max-width: 100%;

    .User {
      max-width: 100%;
    }
  }

  .bio-actions-right {
    margin: 16px 0;

    .cui-button {
      margin: 6px 16px 6px 0;
      border-radius: 8px;
      padding: 5px 15px 5px 15px;
      background: #ffffff;
      border: 1px solid #4723ad;
      color: #4723ad;
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .ProfileHeader {
    margin: 24px 0;
  }
}

.ProfileBio {
  .QuillFormattedText,
  .MarkdownFormattedText {
    padding-bottom: 8px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.ProfileBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid $border-color-light;
  box-shadow: 0px 0px 1px 1px $border-color-light;
  margin-top: 24px;
  .banner-text {
    margin-right: 12px;
  }
  button {
    margin-left: 6px;
  }
}

.ProfileHeader {
  margin: 24px 0;

  .bio-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .bio-left {
    width: 94px;
    .avatar {
      width: 94px;
      height: 94px;
      position: relative;
      border-radius: 9999px;
      .avatar-image {
        background-size: cover;
      }
    }
  }
  .bio-right {
    flex: 1;
    margin-left: 20px;

    .User {
      font-size: 24px;
      font-weight: 600;
      .username {
        color: $text-color-darker;
      }
    }
    .role-tag {
      position: relative;
      top: 0px;
    }
  }
  .bio-actions-breakpoint {
    display: none;
    @include lg-max {
      display: block;
      flex-basis: 100%;
      height: 0;
    }
  }
  .bio-actions {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 12px;

    @include md-max {
      a.btn,
      .cui-button {
        margin-right: 16px;
        border-radius: 8px;
        padding: 5px 15px 5px 15px;
        background: #ffffff;
        border: 1px solid #4723ad;
        color: #4723ad;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    @include lg-min {
      display: none;
    }
  }
  .address-block-left {
    @include md-max {
      display: flex;
      align-items: flex-end;

      .address {
        color: #666666;
        margin-right: 8px;
      }
    }
    @include lg-min {
      display: none;
    }
  }
  .avatar {
    display: block;
  }
  .name-row {
    .name,
    .no-verification,
    .verification {
      margin-right: 18px;
    }
    .no-verification,
    .verification {
      position: relative;
      top: -2px;
    }
    .no-verification {
      display: inline-block;
      color: $text-color-medium;
    }
    .verification-icon {
      position: relative;
      top: 2px;
      display: inline-block;
      background: $primary-bg-color;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      margin-right: 6px;
      svg {
        position: relative;
        top: -1px;
        left: 2px;
      }
    }
    .verification-icon.none,
    .verification-icon.unverified {
      position: relative;
      top: 0;
      color: $text-color-white;
      background: $text-color-medium;
      position: relative;
      padding-left: 4px;
      font-size: 95%;
    }
    .verification-icon.none {
      background: $text-color-medium;
    }
    .verification-icon.unverified {
      background: $intermediate-icon-color;
    }
  }
  .info-row {
    @include md-max {
      margin-bottom: 16px;
      display: flex;
      span,
      a {
        padding-right: 15px;
        font-size: inherit;
      }
      a {
        text-decoration: none;
        color: $text-color-light;
      }
      .space {
        flex: 1;
      }
      button.cui-button.cui-fluid {
        width: fit-content;
        border-radius: 6px;
        background-image: linear-gradient(to bottom left, #6086d1, #b37dba);
        span {
          padding-right: 0px;
        }
      }
    }

    @include lg-min {
      display: none;
    }
  }
  .profile-headline {
    .no-headline {
      color: $text-color-light;
    }
  }
  .username,
  span.copy-done {
    color: $text-color-light;
  }
}

.ProfileContent {
  @include profile-listing;
  .btn-wrap {
    margin: 32px 0;
  }
  a.btn {
    background-color: white !important;
    border: 1px solid $primary-bg-color !important;
    background-image: none !important;
    color: $primary-bg-color;
    border-radius: 4px;
  }
  .infinite-scroll {
    overflow-y: hidden;
  }
  .infinite-scroll-spinner-wrap {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infinite-scroll-reached-end,
  .no-content {
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 1px solid $border-color-lightest;
    color: $text-color-light;
  }
}

.ProfileProposal {
  @include comment-level;
}
.ProfileCommentGroup {
  @include comment-level;
}

.OffchainProfile {
  h4 {
    margin-top: 30px;
  }
  input,
  textarea,
  button {
    margin: 10px 0;
    margin-right: 8px;
  }
  button {
    margin-top: 16px;
  }
  .placeholder {
    color: $text-color-light;
  }
}
