@import "client/styles/shared";

@mixin profile-module {
  width: 100%;
  background: $text-color-white;
  border-radius: 2px;
  border: 1px solid $background-color-light;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
}

@mixin profile-listing {
  h3 {
    margin: 32px 0 30px;
  }
  .no-items {
    color: $text-color-light;
    margin-bottom: 20px;
  }
  .QuillFormattedText,
  .MarkdownFormattedText {
    margin-top: 6px;
    &.collapsed {
      margin-bottom: -6px;
      &.suppress-fadeout {
        margin-bottom: 0;
      }
    }
    ul,
    ol {
      margin: 6px 0;
    }
    p {
      margin: 6px 0;
    }
    > p:first-child {
      margin-top: 0;
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin comment-level {
  margin: 26px 0 32px;
  .proposal-title {
    color: black !important;
    font-weight: 600;
    line-height: 1.2;
  }
  .summary {
    color: $text-color-light;
    margin-bottom: 6px;
  }
  .summary > .User > .username {
    color: $primary-bg-color !important;
  }
  .proposal {
    .proposal-body {
      margin: 10px 0;
    }
    .proposal-timestamp,
    .proposal-author {
      color: $text-color-light;
    }
    .proposal-meta {
      padding-top: 2px;
      font-size: inherit;
      .username {
        color: black !important;
      }
    }
  }
  .proposal-comment {
    padding-bottom: 6px;
    .comment-meta,
    .comment-timestamp {
      color: $text-color-light;
    }
  }
}

.ProfilePage {
  padding-bottom: 50px;
  .error-message {
    @include error-text();
    margin-top: 20px;
  }
  .forum-row {
    margin-top: 14px;
  }
  .Tabs {
    @include profile-module;
    padding: 12px 26px 6px !important;
    .tab-bar {
      margin-bottom: 12px;
      border-bottom: none;
    }
    a.tab-entry {
      padding: 8px 0 0 0;
      margin-right: 18px;
      margin-bottom: 10px;
      color: $text-color-medium;
    }
    a.tab-entry.active {
      color: $text-color-darker;
    }
  }
  @include sm-max {
    .info-row {
      flex-direction: column;
    }
  }
  @include xxs-max {
    .ProfileHeader,
    .Tabs {
      padding: 0 17px 12px 17px !important;
      .tab-bar {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }
      .bio-actions {
        padding: 0px;
      }
    }
  }
}

.ProfileBio {
  @include profile-module;
  padding: 22px 30px 4px;
  margin-bottom: 14px;
  .header {
    font-size: inherit;
    font-weight: 600;
    color: $text-color-darker;
    margin-bottom: 18px;
    display: block;
  }
  .no-items {
    color: $text-color-light;
    margin: 8px 0 20px;
  }
}

.ProfileBio {
  margin-right: 15px;
  .QuillFormattedText,
  .MarkdownFormattedText {
    margin-top: -8px;
    padding-bottom: 8px;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.ProfileBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid $border-color-light;
  box-shadow: 0px 0px 1px 1px $border-color-light;
  margin-top: 24px;
  .banner-text {
    margin-right: 12px;
  }
  button {
    margin-left: 6px;
  }
}

.ProfileHeader {
  @include profile-module;
  padding: 0 0 8px;
  padding: 0 24px !important;
  margin-top: 12px;

  .cover {
    width: calc(100% + 24px * 2);
    height: 96px;
    background: linear-gradient(180deg, #404040 0%, #111 100%);
    margin: 0 -24px;
    @include xs-max {
      width: calc(100% + 17px * 2);
      margin: 0 -17px;
    }
  }

  .bio-main {
    display: flex;
    flex-wrap: wrap;
  }
  .bio-left {
    width: 94px;
    .avatar {
      width: 94px;
      height: 94px;
      position: relative;
      margin-top: -28px;
      margin-bottom: 18px;
      background-color: $background-color-white-hover;
      border: 2px solid $text-color-white;
      border-radius: 9999px;
      overflow: hidden;
      box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.15);
      .avatar-image {
        background-size: cover;
      }
    }
  }
  .bio-right,
  .bio-actions {
    padding: 10px 0 0 20px;
  }
  .bio-right {
    flex: 1;
    margin: 6px 0 0;
    .User {
      font-size: 21px;
      font-weight: 600;
      .username {
        color: $text-color-darker;
      }
    }
    .role-tag {
      position: relative;
      top: 0px;
    }
  }
  .bio-actions-breakpoint {
    display: none;
    @include lg-max {
      display: block;
      flex-basis: 100%;
      height: 0;
    }
  }
  .bio-actions {
    text-align: right;
    margin: 8px 0 0;
    a.btn,
    button {
      margin-left: 8px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    @include lg-max {
      text-align: left;
      padding: 0;
      margin: 8px 0 22px 0;
      width: 100%;
      a.btn,
      button {
        margin: 0 10px 0 0;
        width: calc(50% - 5px);
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @include xs-max {
      button {
        margin: 4px 0;
        width: 100%;
      }
    }
  }
  .avatar {
    display: block;
  }
  .name-row {
    margin-bottom: 3px;
    .name {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.15;
      margin-bottom: 6px;
      word-break: break-word;
    }
    .name,
    .no-verification,
    .verification {
      margin-right: 18px;
    }
    .no-verification,
    .verification {
      position: relative;
      top: -2px;
    }
    .no-verification {
      display: inline-block;
      color: $text-color-medium;
    }
    .verification-icon {
      position: relative;
      top: 2px;
      display: inline-block;
      background: $primary-bg-color;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      margin-right: 6px;
      svg {
        position: relative;
        top: -1px;
        left: 2px;
      }
    }
    .verification-icon.none,
    .verification-icon.unverified {
      position: relative;
      top: 0;
      color: $text-color-white;
      background: $text-color-medium;
      position: relative;
      line-height: 1.1;
      padding-left: 4px;
      font-size: 95%;
    }
    .verification-icon.none {
      background: $text-color-medium;
    }
    .verification-icon.unverified {
      background: $intermediate-icon-color;
    }
  }
  .info-row {
    margin-bottom: 16px;
    display: flex;
    span,
    a {
      padding-right: 15px;
      font-size: inherit;
    }
    a {
      text-decoration: none;
      color: $text-color-light;
    }
    .space {
      flex: 1;
    }
    button.cui-button.cui-fluid {
      width: fit-content;
      border-radius: 6px;
      background-image: linear-gradient(to bottom left, #6086d1, #b37dba);
      span {
        padding-right: 0px;
      }
    }
  }
  .profile-headline {
    .no-headline {
      color: $text-color-light;
    }
  }
  .username,
  span.copy-done {
    color: $text-color-light;
  }
}

.ProfileContent {
  @include profile-listing;
  .btn-wrap {
    margin: 32px 0;
  }
  a.btn {
    background-color: white !important;
    border: 1px solid $primary-bg-color !important;
    background-image: none !important;
    color: $primary-bg-color;
    border-radius: 4px;
  }
  .infinite-scroll {
    overflow-y: hidden;
  }
  .infinite-scroll-spinner-wrap {
    margin: -26px 0 0 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infinite-scroll-reached-end,
  .no-content {
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 1px solid $border-color-lightest;
    color: $text-color-light;
  }
}

.ProfileProposal {
  @include comment-level;
}
.ProfileCommentGroup {
  @include comment-level;
}

.OffchainProfile {
  h4 {
    margin-top: 30px;
  }
  input,
  textarea,
  button {
    margin: 10px 0;
    margin-right: 8px;
  }
  button {
    margin-top: 16px;
  }
  .placeholder {
    color: $text-color-light;
  }
}
