@import 'client/styles/shared';

.ProposalsPage {
    // TODO: duplicated
    .sublayout-body {
        flex-direction: column;
        .cui-list {
            overflow-y: visible;
            max-height: max-content;
        }
    }
    .stats-container {
        display: flex;
        align-items: flex-start;
        margin-top: 25px;
        padding: 10px 20px;
        background-color: $background-color-light;
        border-radius: 5px;
        .cui-col-4 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .stats-tile {
                display: inline-block;
                margin: 0;
                padding: 0;
            }
        }
    }
    .Listing {
        margin-top: 20px;
    }
}
