@import 'client/styles/shared';

.ProposalsPage {
    // TODO: duplicated
    .sublayout-body {
        flex-direction: column;
        .cui-list {
            overflow-y: visible;
            max-height: max-content;
        }
    }
    .stats-container {
        display: flex;
        align-items: flex-start;
        margin-top: 25px;
        padding: 10px 20px;
        background-color: $background-color-light;
        border-radius: 5px;
        .cui-col-4 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .stats-tile {
                display: inline-block;
                margin: 0;
                padding: 0;
            }
        }
    }
    .proposal-section-header {
        font-size: 15px;
        font-weight: 400;
        color: $text-color-light;
        padding: 10px 0;
        margin: 22px 0 0;
        border-bottom: 1px solid #ededed;
    }
    a.proposals-action {
        float: right;
        margin-left: 10px;
        color: #999;
        cursor: pointer;
        &:hover {
            color: #555;
        }
        @include xs-max {
            float: none;
        }
    }
    .proposals {
        padding-top: 10px;
    }
}
