@import 'client/styles/shared';

.SearchPage {
  padding-bottom: 40px;

  .sublayout-main-col {
    padding: 0 5%;
  }

  .sublayout-sidebar-col {
    max-width: 0px;
    padding-right: 0;
  }

  .search-page-input {
    margin-top: 30px;
  }

  .search-error {
    margin: 21px 0 8px;
  }

  .cui-tabs {
    @include gradientTabs();
  }

  .search-results-wrapper {
    .search-results-caption {
      margin: 20px 0;
      text-align: center;
      color: $text-color-light;

      .search-results-clear {
        margin-left: 10px;
      }
    }

    .search-all-communities {
      &:hover {
        text-decoration: none;
      }
    }

    .search-results-filters {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;

      h4 {
        margin-right: 10px;
      }

      .cui-select > select {
        padding-left: 5px;
        padding-right: 30px;
      }
    }
    .search-results-list {
      padding: 10px 20px;

      .cui-list {
        max-height: none !important;
      }

      .cui-list-item {
        border-top: none;
        border-bottom: none;
        min-height: 100px;
        padding: 5px 5px 5px 10px;

        &:hover {
          background-color: $background-color-white-hover;
        }

        .cui-list-item-content-left {
          height: 100px;
          width: 50px;
          min-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 4px;
        }

        .search-results-item {
          display: block;
          padding: 20px;
          color: $text-color-black;
          text-decoration: none;
          width: 100%;
          overflow: hidden;

          /* Member results */
          .user-block-name {
            opacity: 1;
            font-weight: 500;
            margin-bottom: 2px;
          }

          .user-block-address {
            font-size: 18px;
            margin-top: 2px;
            opacity: 1;
            color: $text-color-light;

            mark {
              background: $background-color-light;
              border-radius: 5px;
              color: black !important;
            }
          }

          .search-results-thread-header {
            color: $text-color-light;
            text-transform: uppercase;
            font-size: 13px;
            margin-bottom: 2px;
          }

          /* Thread results */
          .search-results-thread-title {
            font-weight: 500;
          }

          .search-results-thread-subtitle {
            margin: 2px 0 3px;

            .created-at {
              font-weight: 400;
              color: $text-color-light;
            }

            .User {
              margin-left: 14px;
              font-weight: 400;
              color: $text-color-light;
            }
          }

          .search-results-thread-body {
            color: $text-color-light;
          }

          .search-results-comment {
            color: $text-color-light;
          }

          .search-results-thread-body,
          .search-results-comment {
            mark {
              background: $background-color-light;
              padding: 5px 2px 0;
              margin: 0 3px;
              border-radius: 5px;
            }
          }
        }

        .search-results-item:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .search-results-list {
    left: -55px !important;
    width: 97vw !important;
  }

  .search-filter-button-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-right: 0 !important;
  }

  .search-history-tag-seperator {
    display: none;
  }

  .cui-list-item-content-left {
    overflow: scroll;

    .cui-tag {
      margin-left: 3px;
      font-size: 16px;
    }
  }
}
