.SettingsPage {
    h2 {
        margin-bottom: 38px;
    }
    .account-selector {
        margin-top: 30px;
        margin-right: 10px;
    }
    .send-tokens {
        margin-top: 30px;
        margin-right: 10px;
    }
    .send-tokens-from {
        color: #aaa;
        margin-left: 15px;
    }
}
