@import 'client/styles/shared';

.SputnikDAOsPage {
  .sputnik-daos-container {
    padding: 24px;
  }
  .title {
    font-size: 32px;
    padding-left: 12px;
  }

  .nearBadge {
    display: inline-block;
    height: 20px;
    font-size: 14px;
  }

  th {
    border: 0px;
  }
}
