@import 'client/styles/shared';

.SubscriptionsPage {
  .bold {
    font-weight: 800;
  }

  tr {
    th {
      text-align: center;
    }
    td {
      a, a:visited {
        color: black;
      }
    }
    td:nth-child(2), td:nth-child(3)  {
      text-align: center;
      label {
        margin: 0;
        padding: 9px;
      }
    }
  }
}