@import 'client/styles/shared';

.SubscriptionsPage {
  .Sidebar {
    position: fixed;
    top: 0;
    left: 0;
  }
  .SubscriptionRow {
    border-left: 1px darken(#fafafa, 20) solid;
    border-bottom: 1px darken(#fafafa, 20) solid;
    border-bottom-left-radius: 8px;
    margin: 40px 0;
    padding: 10px 20px 20px;

    h4 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    button {
      margin: 0 8px 0 0;
    }
  }

  .NotificationButtons {
    button {
      margin: 8px 8px 0 0;
    }
  }

  .PauseButtons {
    .PauseToggle {
      margin: 8px 8px 0 0;
    }
  }

  .ChainSubscriptionRow, .CommunitySubscriptionRow {
    display: flex;
    flex-direction: row;

    .ChainOrCommunitySubscriptionButton {
      height: 34px;
      margin: auto 20px;
    }
  }

  .EventSubscriptionRow {
    .activeSubscriptionButton {
      height: 34px;
      margin: auto 20px;
      width: 200px;
    }
  }
  .DropdownFormField {
    width: 50%;
  }
}