@import 'client/styles/shared';

.TipsPage {
    padding-bottom: 60px;
    @include gov-explainer;

    .proposal-title {
        min-height: 70px;
    }

    .TipDetail {
        .b-row {
            padding-top: 5px;
            display: flex;

            &.waiting {
                color: $text-color-light;
            }
        }

        .b-col {
            min-width: 24px;
            margin-right: 5px;
        }
    }
}