@import 'client/styles/shared';

.TipsPage {
  flex: 1;
  padding: 24px;

  @include gov-explainer;

  .TipDetail {
    display: flex;
    flex-direction: column;
    width: 100%;

    .group {
      margin-bottom: 8px;

      .t-row {
        display: flex;
        padding-top: 8px;

        .reason {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
