@import 'client/styles/shared';

.UserDashboard {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 24px;

  .dashboard-header {
    width: 900px;
  }

  .preview-chain-card {
    .card-top {
      display: flex;

      h3 {
        margin-left: 15px;
        margin-top: 4px;
      }
    }

    .card-bottom {
      margin-top: 10px;
    }

    margin-bottom: 10px;
  }

  .title {
    align-items: center;
    color: black;
    display: flex;
    font-size: 30px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 14px;

    .communities-link {
      display: none;
      font-size: 18px;

      @include md-max {
        display: block;
      }
    }
  }

  .cui-tabs {
    @include gradientTabs();

    .cui-tabs-item {
      color: #ddd;
      font-size: 24px;
      font-weight: 500;
      margin: 0 34px 0 0 !important;
      padding: 13px 0 0 0;

      &.cui-active {
        color: black;
      }
    }
  }

  .dashboard-row-wrap {
    margin-top: 20px;
  }

  .expore-communities-col {
    @include md-max {
      display: none;
    }

    align-items: center;
    display: flex;
    flex-direction: column;
    .title {
      cursor: pointer;
    }
  }

  .home-card {
    padding: 20px 16px;
    margin-bottom: 20px;

    .card-top {
      align-items: center;
      display: flex;

      .ChainIcon {
        margin-right: 15px;
      }
    }
    .card-bottom {
      margin-top: 15px;
    }
  }

  .link {
    border-radius: 10px;
    color: #4723ad;
    cursor: pointer;
    float: right;
    font-weight: 500;
    padding: 8px 16px;
    position: relative;

    .cui-icon {
      margin-left: 16px;
      margin-top: -3px;

      svg {
        stroke: #4723ad;
      }
    }

    &:hover {
      background-color: #f7f4ff;
      text-decoration: none;
    }
  }
}

.Spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
