@import 'client/styles/shared';
// font added
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@mixin small-gray {
    font-family: 'Inter', sans-serif !important;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.2px;
}
.bar-outer {
  width: inherit;
  height: 2px;
  border: #DFE8EE 1px solid;
  margin-top: 8px !important;
}

.bar-inner {
  width: 0%;
  height: 2px;
  background-color: #35D413;
}

.NewStashForm {
  margin: 16px 0 10px;
  .form-group {
    margin-bottom: 16px;
  }
  button {
    margin: 6px 0;
  }
}

.LoadingPage .left-sidebar{
  display: none !important;
}

// avatar div
.user-avatar{
  width: 25px !important;
  height: 25px !important;
  padding-right: 14px !important;
}

.Jdenticon{
  width: 25px !important;
  height: 25px !important;
}

// removed right sidebar
.right-sidebar{
    display: none !important;
}


.ViewNominatorsModal {
  max-width: 600px;
}

.ManageStakingModal {
  min-width: 780px;
  .compact-modal-title h3 .User .user-avatar {
    margin-left: 4px;
  }
  .compact-modal-title h3 .User a.user-display-name {
    color: #fff;
    font-weight: 700;
    margin-right: 10px;
  }
  h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 40px 0 8px;
  }
  h4:first-child {
    margin-top: 12px;
  }
  p {
    margin: 4px 0 20px;
  }
  h5 {
    font-size: 13px;
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 0.3px;
    margin: 0 0 5px;
  }
  .well {
    margin: 12px 0;
    padding: 18px 24px;
    background: #f8f8f8;
    &.not-available {
      color: #999;
    }
  }
  .stash-stat {
    float: left;
    margin-right: 42px;
    .stash-stat-text {
      font-size: 17px;
    }
    .stash-balance {
      font-family: iA Writer Quattro;
    }
  }
  // .stash-actions {
  //    float: right;
  //     padding-top: 16px;
  //     a.btn {
  //         display: inline-block;
  //         padding: 4px 14px;
  //         margin-left: 12px;
  //         min-width: 115px;
  //     }
  // }
  .chill-button {
    display: inline-block;
    margin-top: 6px;
  }
}

.Tabs a.tab-entry{
    padding-right: 30px !important;
    padding-left: 15px !important;
    font-size: 16px !important;
}


.Validators {

    font-family: 'Inter', sans-serif !important;
    min-width: 70vw;
    overflow-x: scroll;
    padding-top: 40px !important;
    th {
        text-align: left;
        border-bottom: none;
        overflow-wrap: break-word;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #999;
    }
    td {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 14px;
        line-height: 120%;
        letter-spacing: 0.2px;
        overflow: hidden;
        overflow-wrap: break-word;
    }

    td .User a.user-display-name {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -1.2px;
        overflow-wrap: break-word !important;
        
    }

    .val-name {
        font-weight: 700;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }
    .val-action {
        text-align: right;
    }
    @include sm-max {
        .val-nominated {
            display: none;
        }
    }
    a.view-nominators {
        color: #999;
        float: right;
    }
    button.nominate-validator {
        padding: 3px 10px;
    }
}

.ValidatorPage {
    margin: 0 auto;
  .validators-preheader {
    display: flex;
    margin-bottom: 32px;
    .validators-preheader-item {
      flex: 1;
      max-width: 200px;
      margin-right: 30px;
    }
    .validators-preheader-item h3 {
        text-align: left;
        border-bottom: none;
        overflow-wrap: break-word;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #999;
    }
    .validators-preheader-item .validators-preheader-item-text {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 120%;
      letter-spacing: -0.2px;
    }
    .preheader-item-text{
      font-family: Inter !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 21px !important;
      line-height: 120% !important;
      letter-spacing: -0.2px !important;
    }
  }
}

// Changes @author Asad Anwer
.layout-container{
    padding-top: 75px !important;
}


// .cui-list{
//     background-color: #F4F4F9 !important;
//     margin-bottom: 0px !important;
//     padding-top: 20px !important;
//     padding-bottom: 20px !important;
// }

// .cui-list h4{
//     font-family: Inter !important;
//     font-style: normal !important;
//     font-weight: bold !important;
//     font-size: 12px !important;
//     letter-spacing: -0.2px !important;
// }

// .cui-list-item{
//     font-family: Inter !important;
//     font-style: normal !important;
//     font-weight: 500 !important;
//     font-size: 16px !important;
//     color: #536E7C !important;
// }

// .cui-active{
//     color: white !important;
//     background-color: #674EFA !important;
// }

// .cui-list-item svg{
//     color: #536E7C !important;
// }


.gray-text{
    color: #536E7C !important;
    padding-left: 5px !important;
}

// Main Table

.validators-table{
  width: auto;
  min-width: 1360px;
  border-collapse: collapse !important;
}

.validators-table td{
  // padding-right: 50px;
}


// ----------------Waiting class styles
// Column that shows nothing on waiting validators

.waiting .val-im-online{
    display: none !important;
}



.waiting td{
    background-color: #5b7af64d !important;
    padding-left: 10px !important;
}


// padding seperation around wifi
.cui-icon-wifi{
    padding-right: 5px !important;
}


.val-im-online{
    padding-right: 0px !important;
}

.val-last-hash{
  padding-right: 20px !important;
}

.val-controller, .val-stash{
  // padding-right: 10px !important;

}