@import 'client/styles/shared';

.ValidatorsPage {
    padding-bottom: 60px;
    @include gov-explainer;

    .Validator {
        @include card;
        height: initial;
        .User {
            font-weight: 600;
            margin-bottom: 1px;
        }
    }
}
