@import 'client/styles/shared';

@mixin supports-jump-highlight() {
    &.highlighted {
        background-color: #ffd;
    }
    &.highlighted.highlightAnimationComplete {
        background-color: #fff;
        transition: background-color 1s ease-in-out;
    }
}

.ViewProposalPage {
}

.ProposalHeader,
.ProposalBody,
.ProposalComment {
    @include supports-jump-highlight();
}

.ProposalComments {
    .threading-level {
        margin-left: 36px;
    }
    .new-comment-child {
        margin-left: 36px;
    }
    .new-comment-error {
        @include error-text();
        margin: 20px 0 10px;
    }
    .comments-error {
        @include error-text();
        margin: 30px 0;
    }
    .proposal-comment-meta {
        margin-bottom: 10px;
        .comment-timestamp {
            color: #aaa;
            margin-left: 10px;
        }
        .comment-timestamp {
            float: right;
        }
        .username {
            font-weight: 700;
            font-size: 16px;
        }
    }
    a.proposal-comment-delete {
        float: right;
        margin-right: 8px;
        text-decoration: none;
        color: #aaa;
        &:hover {
            text-decoration: underline;
        }
    }
    .proposal-comment-text {
        word-break: break-word;
    }
    .proposal-comment-attachments {
        margin: 10px 0 20px;
        @include attachments;
    }
}

// new comment
.CreateComment {
    .QuillEditor {
        margin: 14px 0 18px;
        .ql-toolbar, .ql-editor {
            background: #fff;
        }
        .ql-editor {
            min-height: 100px;
            border-radius: 2px;
        }
    }
    .new-comment-error {
        color: $error-red;
        font-weight: 700;
    }
}
