@import 'shared';

.SnapshotViewProposalPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;

  .proposal-body-with-tabs {
    .TabBar {
      margin-bottom: 8px;
    }

    @include medium {
      display: none;
    }

    @include large {
      display: none;
    }
  }

  .proposal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include mediumSmallInclusive {
      display: none;
    }
  }
}
