@import '../../shared';

.SnapshotSpaceCard.Card {
  width: 260px;
  height: 260px;

  .space-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    .space-card-metadata {
      display: flex;
      flex-direction: column;
      width: 100%;

      .space-card-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      .space-card-subheader {
        color: $neutral-600;
        font-size: 14px;
      }
    }

    .space-card-status {
      color: $neutral-500;
      font-weight: 400;

      &.pass {
        color: $green-500;
      }

      &.fail {
        color: $rorange-500;
      }
    }
  }
}
