@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/border_radius';
@use '../../../../../styles/mixins/colors.module';

.Options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .thread-option-btn {
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: border_radius.$border-radius-corners-wider;
    color: colors.$neutral-600;

    &:hover {
      background-color: colors.$neutral-200;
    }

    .Text {
      color: colors.$neutral-600;
    }
  }

  .popover-container {
    button.action-btn {
      outline: none;
    }
  }
}
