@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.ModalBase {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  padding-top: 48px;

  @include media_queries.extraSmall {
    padding-top: 32px;
    height: 90vh;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 16px;
    margin-right: 16px;
    cursor: pointer;
  }

  .logo {
    height: auto;
    margin: auto;
    width: 227px;

    @include media_queries.extraSmall {
      width: 175px;
    }
  }

  .header {
    text-align: center;
    padding: 0px 12px;
  }

  .description {
    text-align: center;
    color: colors.$neutral-600;
    margin-top: -12px;
    padding: 0px 12px;
  }

  .content {
    padding: 0 48px;
    @include media_queries.extraSmall {
      padding: 0 32px;
      height: 70vh;
      max-height: 70vh;
    }
  }

  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .Tab {
      .Text {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .auth-options {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 12px;
    width: 100%;
    max-height: 430px;
    @include media_queries.extraSmall {
      padding: 0 0px;
      max-height: 100vh;
    }
  }
}

.footer {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media_queries.extraSmall {
    padding-bottom: 32px;
  }

  .Text {
    display: initial;
  }

  a,
  a:visited,
  a:active,
  a:hover,
  button {
    color: colors.$primary-600;
  }

  button {
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
  }
}
