@import '../../shared';

.OverviewPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .header-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .header-row-left {
      display: flex;

      .latest-button {
        margin: auto auto auto 16px;
      }
    }
  }

  .column-headers-row {
    align-items: center;
    display: grid;
    gap: 32px;
    grid-template-columns: 352px 1fr;

    @include mediumSmallInclusive {
      display: none;
    }

    .threads-header-row-text.Text {
      color: $neutral-500;
    }

    .threads-header-container {
      display: flex;
      justify-content: space-between;

      .threads-header-row-text.Text {
        color: $neutral-500;
      }
    }
  }
}
