@import '../../../styles/shared.scss';

.TradeTokenModal {
  overflow-y: scroll;
  padding-left: 8px;

  .token-info {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 4px;
  }
}
