@import '../../../../styles/shared.scss';

.NavigationButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 0;
  min-width: 80px;

  svg {
    fill: $neutral-600;
  }

  .language-flag {
    font-size: 24px;
    line-height: 24px;
  }

  .Text {
    font-size: 12px;
    color: $neutral-500;
    line-height: 16px;
  }
}
