@import '../../shared';

.ProfileHeader {
  border: 1px solid $neutral-200;
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  flex: 1;
  background-color: $white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include smallInclusive {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .edit {
    position: absolute;
    top: 24px;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .gear-icon {
    margin-top: 8px; // Additional spacing for the gear icon, adjust as needed
    margin-right: 20px;
  }

  .profile-image {
    margin-bottom: 16px;

    img {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-name-and-bio {
    text-align: center;

    .name {
      margin-bottom: 16px;
      font-weight: bold;
    }

    .bio {
      margin-top: 16px;
    }
  }
}
