@import '../../shared';

.ProfileActivityRow {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 24px 0;
  min-width: 100%;
  max-width: 0;

  .actions {
    display: flex;
    justify-content: flex-end;

    .trigger-wrapper {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .chain-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .date {
      .Text {
        color: $neutral-500;
      }
    }

    .dot {
      width: 24px;
      color: $neutral-500;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      padding-bottom: 8px;
    }
  }

  .gray-text {
    color: $neutral-600;
    width: 100%;
  }

  .link a {
    color: $neutral-800;
    cursor: pointer;
  }

  .title {
    display: flex;
    margin-bottom: 8px;

    span {
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    .Text {
      width: 90%;
      margin-right: 16px;
    }
  }
}
