@import '../../shared';

.ProfileActivity {
  border: 1px solid $neutral-200;
  border-radius: 16px;
  height: fit-content;
  flex: 2;
  background-color: $white;

  .activity-nav {
    display: flex;
    padding: 24px;

    @include smallInclusive {
      padding: 24px 24px 0 24px;
    }

    .CWTabsRow {
      align-items: center;

      .tab-header {
        display: flex;

        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background: $neutral-50;
          color: $neutral-500;
          font-size: 12px;
          margin-left: 8px;
        }
      }
    }

    .activity-nav-option {
      position: relative;
      display: flex;
      min-width: 48px;
      padding: 8px 0;
      margin-right: 24px;

      .activity-count {
        position: relative;
        width: 48px;
        height: 24px;
        background-color: white;
        border-radius: 16px;
        margin-left: 16px;
        transition: background-color 0.2s ease-in;

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%);
          font-size: small;
          font-weight: 600;
        }
      }
    }
  }

  .activity-content {
    padding: 0 60px 30px 60px;

    > :last-child {
      border-bottom: none;
    }

    @include smallInclusive {
      padding: 0 24px 24px 24px;
    }
  }
}