@import '../../shared';

.ProfileActivityRow {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
  min-width: 100%;
  max-width: 0;
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;
    justify-content: flex-end;

    .trigger-wrapper {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .chain-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .date {
      .Text {
        color: $neutral-500;
      }
    }

    .dot {
      width: 24px;
      color: $neutral-500;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      padding-bottom: 8px;
    }
  }

  .gray-text {
    color: $neutral-600;
    width: 100%;
  }

  .link a {
    color: $neutral-800;
    cursor: pointer;
  }

  .heading {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    max-width: fit-content;

    .Text {
      font-size: 20px;
      line-height: 20px;
      word-spacing: 0.1cap;

      @include extraSmall {
        font-size: 14px !important;
        line-height: 14px !important;
        word-spacing: 0cap !important;
      }
    }
    a {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      color: $neutral-800 !important;
      align-self: flex-start;
    }

    span {
      font-weight: 300;
      font-size: 19px;
      line-height: 19px;
    }
  }

  .title {
    display: flex;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    @include extraSmall {
      font-size: 14px !important;
      line-height: 14px !important;
      word-spacing: 0cap !important;
    }

    a {
      color: $neutral-800 !important;
    }

    span {
      font-weight: 300;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    .Text {
      padding-bottom: 10px;
      padding-top: 10px;
      width: 90%;
      margin-right: 16px;
      font-size: 21px !important;
      line-height: 21px !important;
      font-weight: 400;
      font-family: $font-family-neue-haas-unica;
      @include extraSmall {
        font-size: 14px !important;
        line-height: 14px !important;
      }
    }
  }
}
