@import '../../shared';

.Profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .header {
    margin: 0px 80px;
    padding: 16px 0 0px 0px;
  }

  &.loading {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .ProfilePageContainer {
    display: flex;
    flex-direction: row;
    margin: 64px 80px;
    gap: 24px;

    &.smaller-margins {
      margin: 24px 80px;

      @include mediumInclusive {
        margin: 24px 72px;
      }

      @include mediumSmallInclusive {
        margin: 24px 48px;
      }

      @include smallInclusive {
        margin: 0;
        padding: 16px;
      }
    }

    @include mediumInclusive {
      margin: 80px 72px;
    }

    @include mediumSmallInclusive {
      margin: 40px 48px;
    }

    @include smallInclusive {
      flex-direction: column;
      margin: 40px 32px;
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 176px 0px;

    @include mediumSmallInclusive {
      padding: 96px 0px;
    }

    .empty-state-text {
      color: $neutral-400;
      text-align: center;
    }
  }

  .ErrorPage {
    padding: 56px 0;
    text-align: center;

    h3 {
      margin-bottom: 36px;
    }
  }
}
