@import 'client/styles/shared';
@import 'construct-ui/src/_shared/_colors';

.ProfileActivity {
  border: 1px solid $neutral-200;
  border-radius: 16px;
  width: 65%;
  height: fit-content;

  .activity-nav {
    display: flex;
    padding: 24px;

    .TabBar {
      align-items: center;

      .divider {
        height: 32px;
        width: 1px;
        background: $neutral-100;
        margin: 0;
      }

      .tab-header {
        display: flex;

        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background: $neutral-50;
          color: $neutral-500;
          font-size: 12px;
          margin-left: 8px;
        }
      }
    }

    .activity-nav-option {
      position: relative;
      display: flex;
      min-width: 48px;
      padding: 8px 0;
      margin-right: 24px;


      .activity-count {
        position: relative;
        width: 48px;
        height: 24px;
        background-color: white;
        border-radius: 16px;
        margin-left: 16px;
        transition: background-color 0.2s ease-in;

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%);
          font-size: small;
          font-weight: 600;
        }
      }
    }
  }

  .activity-content {
    padding: 0 60px 30px 60px;

    >:last-child {
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: $breakpoint-small-max-px) {
  .ProfileActivity {
    width: 100%;

    .activity-nav {
      padding: 24px 24px 0 24px;
    }

    .activity-content {
      padding: 0 24px 24px 24px;
    }
  }
}