.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .link-right {
    display: flex;
    align-items: center;
    cursor: pointer;

    .link {
      margin-right: 8px;
    }

    .blue-icon {
      color: var(--primary-500);
    }
  }
}
