@import '../../../../../../styles/shared.scss';

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.CircleRingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: $primary-500;
    animation: spin 1.2s infinite;
  }
}
