@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.CircleRingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: colors.$primary-500;
    animation: spin 1.2s infinite;
  }
}
