# By default any code not covered by the below owners
* @Rotorsoft @dillchen @timolegros

# Code owner changes must be reviewed by Dillon
/.github/CODEOWNERS @dillchen

/deploy @Rotorsoft @timolegros @kurtassad @rbentcw

# Changes to CI or code/deployment processes must be reviewed by the Platform team
.github @timolegros @kurtassad @Rotorsoft @rbentcw
.husky @timolegros @kurtassad @Rotorsoft @rbentcw
/scripts/ @timolegros @kurtassad @Rotorsoft @rbentcw

# Libs
/libs/ @timolegros @Rotorsoft @kurtassad @rbentcw
/libs/sitemaps/ @kurtassad
/libs/evm-testing/ @timolegros @kurtassad @Rotorsoft @rbentcw
/libs/evm-protocols/ @timolegros @kurtassad @Rotorsoft @rbentcw

# Packages
/packages/commonwealth/ @timolegros @Rotorsoft @kurtassad @rbentcw
/packages/commonwealth/client @mzparacha @masvelio
/packages/commonwealth/load-testing/ @timolegros @kurtassad @Rotorsoft @rbentcw

# WARNING: this disables code owners so it MUST be paired with code review limits to prevent approvals of PRs by GitHub
# users that do NOT have explicit read or higher access to the repository. See the followings docs for info:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-pull-request-reviews-in-your-repository
/libs/shared/
/packages/commonwealth/package.json
/packages/commonwealth/shared/
/common_knowledge/
/packages/commonwealth/.gitignore
/packages/commonwealth/.eslintignore
**/test/


