# Top level owners: Zak & Jake
*	@jnaviask @zakhap

# CSS owners: Zak, Gabe, Graham
.scss	@zakhap @affordances @gdjohnson

# Chain Events owners: Jake, Timothee
packages/chain-events	     @jnaviask @timolegros