@import '../../../../../styles/shared.scss';

.FiltersDrawer {
  .Drawer.filter-drawer {
    @include extraSmall {
      top: 48px !important;

      .content-container {
        padding: 0 16px;
      }
    }

    .content-container {
      padding: 20px 32px;

      @include extraSmall {
        padding: 0 16px;
      }

      div.h3 {
        margin-bottom: 16px;
      }
    }

    .stake-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8px 4px 8px;
    }

    .options-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 4px;
    }

    .Checkbox {
      width: fit-content;
    }

    .chainbase-filter-btn {
      all: unset;
      cursor: pointer;
      width: fit-content;
    }
  }
}
