@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/media_queries';
@use '../../../styles/mixins/text';

.TopicSummaryRow {
  border-bottom: 1px solid colors.$neutral-200;
  display: grid;
  grid-template-columns: 352px 1fr;
  gap: 16px;

  @include media_queries.mediumSmallInclusive {
    display: flex;
    flex-direction: column;
    gap: unset;
  }

  .topic-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 0;

    @include media_queries.mediumSmallInclusive {
      gap: unset;
    }

    .name-and-count {
      display: flex;
      flex-direction: column;

      @include media_queries.mediumSmallInclusive {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .topic-name-text.Text {
        color: colors.$primary-500;
        width: 100%;
      }

      .threads-count-text.Text {
        color: colors.$neutral-500;
        width: 100%;
      }
    }
  }

  .recent-threads-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .recent-thread-row {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 16px;

      &.isPinned {
        background: colors.$neutral-100;

        &:hover {
          background: colors.$neutral-200;
        }
      }

      &:hover {
        background: colors.$neutral-50;
      }

      &.isLoading {
        &:hover {
          background: unset;
        }
      }

      @include media_queries.mediumSmallInclusive {
        padding: 16px 8px;
      }

      .row-top {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .user-and-date-row {
          align-items: center;
          display: flex;
          gap: 8px;

          .User {
            align-items: center;
            display: flex;

            .user-avatar {
              position: unset;
            }

            .username {
              @include text.caption;

              font-weight: 500;
            }
          }
        }

        .row-top-icons {
          display: flex;
          gap: 4px;

          @include shared.flame;
        }
      }

      .last-updated-text.Text {
        color: colors.$neutral-500;
      }

      .thread-preview {
        @include text.multiline-text-ellipsis(2);
        word-break: break-word;

        .MarkdownFormattedText {
          @include text.caption;

          h1,
          h2,
          h3,
          h4,
          h5 {
            font-size: 12px;
          }
        }
      }

      .row-bottom {
        display: flex;
        justify-content: space-between;

        .comments-and-users {
          display: flex;
          gap: 16px;

          .user-gallery {
            display: flex;
            gap: 8px;

            .avatars-row {
              display: flex;
              flex-direction: row-reverse;
              justify-content: flex-end;

              > * {
                border: 2px solid colors.$white;
                margin-right: -4px;
              }
            }

            .Text {
              color: colors.$neutral-500;
            }
          }
        }

        .row-bottom-menu {
          display: flex;
          gap: 16px;
          margin-left: 8px;
        }
      }
    }
  }
}
