.BasicInformationStep {
  background-color: white;

  // Temp styles start
  // TODO: the design specify a column layout, do that when stitching this component
  width: 80%;
  margin: auto;
  // Temp styles end
}
