@use '../../../../styles/shared';
@use '../../../../styles/mixins/media_queries';

.ProfileSection {
  margin-top: 24px;

  .title {
    display: flex;
    justify-content: space-between;

    @include media_queries.smallInclusive {
      flex-direction: column-reverse;

      .top-right-element {
        margin-bottom: 16px;
      }
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 24px 0;

    @include media_queries.smallInclusive {
      flex-direction: column;
    }

    .left-side {
      width: 40%;
      margin-right: 36px;

      @include media_queries.smallInclusive {
        width: 100%;
      }
    }

    .right-side {
      width: 60%;

      @include media_queries.smallInclusive {
        width: 100%;
        margin-top: 36px;
      }
    }
  }
}
