@use '../../../../../../../styles/shared';
@use '../../../../../../../styles/mixins/colors.module';

.FundContestFailure {
  text-align: center;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  .img {
    width: 265px;
    height: 190px;
  }

  .description {
    color: colors.$neutral-500;
  }
}
