@import '../../../../../styles/shared';

.XPEarningsTable {
  .Table {
    .data-container {
      .rewardType {
        &.proposal {
          border: 1px solid $primary-500;
        }
      }

      .questLink {
        cursor: pointer;
        color: $primary-500;
        text-decoration: none;

        &:focus,
        &:active,
        &:hover,
        &:visited {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}
