.CommunityManagementDialog {
  .cui-dialog-content {
    width: 800px; // style override: default 600px
  
    .cui-dialog-header {
    } // .cui-dialog-header
  
    .cui-dialog-body {
      .AdminPanelContents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 800px) {
          flex-direction: row;
        }

        .panel-left {
          width: 100%;
          border-right: 1px#c5cdd1 solid;
          @media (min-width: 800px) {
            width: 60%;
          }

          .role-item {
            display: inline-block;
            padding-right: 6px;

            .x {
              padding-left: 2px;
            }
          }

          .metadataSection {
            table-layout: fixed;
          }

          .TableRow {
            .title-column {
              width: 100px;
            }
          }
        } // .panel-left

        .panel-right {
          width: 100%;
          @media (min-width: 800px) {
            width: 40%;
          }

          .TabPanel {
            .UpgradeRoles, .Webhooks {
              padding: 0 20px 10px;
            }

            .membersList {
              min-height: 240px;
              max-height: 240px;
              overflow-y: scroll;
            }

            .PanelButton {
              margin-top: 20px;
            }

            .ActiveWebhooks {
              min-height: 180px;
              max-height: 180px;
              overflow-y: scroll;
            }
          }
        } // .panel-right

      } // .Panel
    } // .cui-dialog-body
  
  } // .cui-dialog-content
  

}

