@import 'shared';

.AvatarUpload {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 80px;

  &:hover {
    border-color: $primary-500;
  }

  .IconButton {
    position: absolute;
    right: 2px;
    top: 2px;
  }

  .dropzone-attach {
    border-radius: $border-radius-round;
    height: 60px;
    width: 60px;
  }

  .dropzone-preview-container {
    border-radius: $border-radius-round;
    height: 60px;
    overflow: hidden;
    width: 60px;

    .dz-preview {
      .dz-image {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .dz-details,
      .dz-progress,
      .dz-success-mark,
      .dz-error-mark,
      .dz-error-message {
        display: none;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
