@import 'shared';

$uploader-diameter: 60px;

.AvatarUpload {
  cursor: pointer;
  height: $uploader-diameter;
  width: $uploader-diameter;
  border-radius: $border-radius-round;
  border: 1px solid $neutral-900;

  &:hover {
    border-color: $primary-500;
  }

  // .IconButton {
  //   position: absolute;
  // }

  .dropzone-attach {
    background-color: $neutral-900;
    border-radius: $border-radius-round;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .dropzone-previews {
    flex: 1;

    .dz-preview {
      .dz-image {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .dz-details,
      .dz-progress,
      .dz-success-mark,
      .dz-error-mark,
      .dz-error-message {
        display: none;
      }
    }
  }
}
