@import 'client/styles/shared';

.CardsCollection {
  .header {
    font-size: 32px;
    font-weight: 500;
    margin: 16px 0;
  }

  // display: grid;
  // grid-template-columns: repeat(auto-fit, 240px);
  // grid-gap: 24px;
}
