@import 'shared';

.ChainIcon {
  align-items: center;
  display: flex;
  justify-content: center;

  .chain-icon {
    align-items: center;
    border-radius: $border-radius-round;
    display: flex;
    justify-content: center;
  }

  .chain-icon.no-image {
    align-items: center;
    background: $neutral-800;
    border-radius: $border-radius-round;
    display: flex;
    justify-content: center;

    span {
      color: $white;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &.onclick .chain-icon {
    cursor: pointer;
  }
}

.TokenIcon {
  .token-icon {
    background: $neutral-800;
    border-radius: $border-radius-round;
    display: flex;
  }

  .token-icon.no-image {
    align-items: center;
    background: $neutral-800;
    border-radius: $border-radius-round;
    display: flex;
    justify-content: center;

    span {
      color: $white;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &.onclick .token-icon {
    cursor: pointer;
  }
}
