@import 'client/styles/shared';

.ChainStatusIndicator {
  .status {
    display: inline-block;

    &:before {
      display: inline-block;
      content: ' ';
      // sizing
      background: $background-color-medium-accent;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      // position
      margin-right: 7px;
      position: relative;
      top: -1px;
    }

    &.connecting:before {
      background: $intermediate-icon-color;
    }

    &.connected:before {
      background: $positive-icon-color;
    }

    &.disconnected:before {
      background: $failure-icon-color;
    }

    &.error:before {
      background: $failure-icon-color;
    }
  }
}
