@import 'client/styles/shared';

.ChainIcon {
  .chain-icon {
    border-radius: 1000px;
    display: flex;
  }

  .chain-icon .no-image {
    align-items: center;
    background: $neutral-800;
    border-radius: 1000px;
    display: flex;
    justify-content: center;

    span {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      text-align: center;
      top: 0.19em;
    }
  }

  &.onclick .chain-icon {
    cursor: pointer;
  }
}

.TokenIcon {
  .token-icon {
    background: $neutral-800;
    border-radius: 1000px;
    display: flex;
  }

  .token-icon .no-image {
    align-items: center;
    background: $neutral-800;
    border-radius: 1000px;
    display: flex;
    justify-content: center;

    span {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      position: relative;
      text-align: center;
      top: 0.19em;
    }
  }

  &.onclick .token-icon {
    cursor: pointer;
  }
}
