$icon-size: 32px;
$icon-background: #111;
$icon-text: #fff;

.ChainIcon {
    img.chain-icon {
        width: $icon-size;
        height: $icon-size;
        border-radius: 9999px;
        background: $icon-background;
    }
    &.onclick img.chain-icon {
        cursor: pointer;
    }
}

.CommunityIcon {
    .community-icon {
        width: $icon-size;
        height: $icon-size;
        border-radius: 9999px;
        background: $icon-background;

        // text
        color: $icon-text;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        padding-top: 7px;
    }
    &.onclick img.community-icon {
        cursor: pointer;
    }
}
