@import 'client/styles/shared';

.ChainStatusIndicator {
  .status {
    display: inline-block;

    &:before {
      display: inline-block;
      content: ' ';
      // sizing
      background: $primary-400;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      // position
      margin-right: 7px;
      position: relative;
      top: -1px;
    }

    &.connecting:before {
      background: $rorange-200;
    }

    &.connected:before {
      background: $green-600;
    }

    &.disconnected:before {
      background: $rorange-600;
    }

    &.error:before {
      background: $rorange-600;
    }
  }
}
