.CommunitySwitcher {
    width: 250px;
    padding-bottom: 8px;
    user-select: none;

    $size: 36px;

    hr {
        border-top: none;
        border-bottom: 1px solid #eee;
    }

    a.CommunitySwitcherChain,
    a.CommunitySwitcherCommunity,
    .CommunitySwitcherSettingsMenu .trigger {
        position: relative;
        display: flex;
        height: $size;
        box-sizing: content-box;
        padding: 11px 15px;
        text-decoration: none;
        color: #222;
        font-weight: 500;
        &:hover {
            background: #eee;
        }
        .icon-inner {
            position: relative;
            .ChainIcon img {
                width: $size;
                height: $size;
            }
            .User {
                position: absolute;
                right: -4px;
                bottom: -4px;
            }
        }
        .content-inner {
            margin-left: 12px;
            line-height: 1.35;
            .sidebar-user {
                font-size: 13px;
                color: #777;
                .User .user-avatar {
                    margin-right: 5px;
                }
                .User .user-display-name {
                    color: #777;
                }
            }
        }
    }
    a.CommunitySwitcherCommunity {
        .icon-inner {
            text-align: center;
            color: #eee;
            background: #36393f;
            height: $size;
            width: $size;
            border-radius: 8px;
            .name {
                position: relative;
                top: 7px;
            }
        }
        &:hover, &.active {
            .icon-inner {
                background: darken(#36393f, 7%);
            }
        }
    }
    .CommunitySwitcherSettingsMenu {
        position: absolute;
        bottom: 0;
        margin: 14px 16px;
    }

    a.CommunitySwitcherMenuOption {
        position: relative;
        display: block;
        //display: flex;
        text-decoration: none;
        padding: 11px 15px;
        color: #222;
        font-weight: 500;
        text-align: center;
        &:hover {
            background: #eee;
        }
        .cui-icon {
            display: inline-block;
            color: #111;
            position: relative;
            top: -2px;
            margin-right: 6px;
        }
        .menu-option-label {
            display: inline-block;
        }
    }
}

.community-switcher-popover {
    .cui-popover-content {
        border: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }
}
