.CommunitySwitcher {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    bottom: 0;
    background: #e4e4e6;
    z-index: 10;
    user-select: none;
    .sidebar-content {
        position: absolute;
        top: 0;
        bottom: 67px;
        padding: 6px 0;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        border-bottom: 1px solid #d7d7d7;
    }

    $size: 36px;

    a.CommunitySwitcherChain,
    a.CommunitySwitcherCommunity,
    .CommunitySwitcherSettingsMenu .trigger {
        position: relative;
        display: flex;
        height: $size;
        box-sizing: content-box;
        padding: 11px 15px;
        text-decoration: none;
        color: #222;
        font-weight: 500;
        &:hover {
            background: #eee;
        }
        .icon-inner {
            position: relative;
            .ChainIcon img {
                width: $size;
                height: $size;
            }
            .User {
                position: absolute;
                right: -4px;
                bottom: -4px;
            }
        }
        .content-inner {
            margin-left: 12px;
            line-height: 1.35;
            .sidebar-user {
                font-size: 13px;
                color: #777;
                .User .user-avatar {
                    margin-right: 5px;
                }
                .User .user-display-name {
                    color: #777;
                }
            }
        }
    }
    a.CommunitySwitcherCommunity {
        .icon-inner {
            text-align: center;
            color: #eee;
            background: #36393f;
            height: $size;
            width: $size;
            border-radius: 8px;
            .name {
                position: relative;
                top: 7px;
            }
        }
        &:hover, &.active {
            .icon-inner {
                background: darken(#36393f, 7%);
            }
        }
    }
    .CommunitySwitcherSettingsMenu {
        position: absolute;
        bottom: 0;
        margin: 14px 16px;
    }
}
