@import 'client/styles/shared';

.CommunityLabel {
  align-items: center;
  display: flex;
  justify-content: left;
  width: 100%;

  .community-label-name {
    @include header;

    color: $neutral-800;
    margin: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .visible-sm {
    display: none;

    @include sm-max {
      display: block;
    }
  }
}
