@import 'client/styles/shared';

$size: 46px;

.EmptyStagePlaceholder {
  padding: 40px 0;
  color: $neutral-500;
}

.EmptyListingPlaceholder {
  .icon-circle {
    align-items: center;
    display: flex;
    background: $primary-200;
    border-radius: $size / 2;
    color: $white;
    width: $size;
    height: $size;
    justify-content: center;
  }
  h1 {
    font-size: 25px;
    font-weight: 400;
    margin: 18px 0 0;
    strong {
      font-weight: 600;
      word-break: break-all;
    }
  }
  p {
    font-size: 16px;
    margin: 6px 0 0;
  }
  .NewProposalButton {
    margin-top: 18px;
  }
}
