@import 'client/styles/shared';

.FormField {
    .form-group {
        margin-bottom: 22px;
    }
    .form-group .form-title {
        display: inline-block;
        line-height: 1.3;
    }
    .form-group .form-subtitle {
        display: inline-block;
        margin-left: 6px;
        line-height: 1.3;
        font-size: 85%;
        color: #aaa;
    }
    .form-group .form-field {
        margin-top: 8px;
    }
    .form-group .radio-buttons {
        padding-top: 2px;
    }
    .form-group .radio-buttons.form-field input[type="radio"] {
        margin-right: 10px;
    }
    .form-group .radio-buttons.form-field label {
        margin-right: 20px;
        position: relative;
        top: 1px;
    }
}
.MultipleButtonSelectorFormField {
    .form-group {
        margin-bottom: 19px;
    }
    .form-field.buttons button {
        display: inline-block;
        margin: 3px;
    }
}
.DropdownFormField {
    .form-group {
        display: flex;
        flex-direction: column;
        .cui-custom-select {
            width: 50%;
        }
    }
}