@import 'shared';

.GovExplainer {
  background-color: $neutral-50;
  border-radius: $border-radius-corners;
  display: flex;
  margin-bottom: 24px;
  padding: 24px 24px 16px;

  .emoji {
    font-size: 28px;
    margin-right: 16px;
  }

  .main-container {
    display: flex;
    flex-direction: column;

    .stat-headers-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      .stat-header {
        margin-bottom: 8px;
      }
    }

    .stats-container {
      display: flex;
      flex-direction: column;

      .stat {
        color: $neutral-500;
        margin-bottom: 8px;
      }
    }

    .action {
      margin: 8px 0;
    }
  }

  @include sm-max {
    .emoji {
      display: none;
    }
  }
}
