@import 'client/styles/shared';

.Header {
    position: fixed;
    top: 0;
    left: $sidebar-width;
    &.logged-out {
        left: $sidebar-width;
    }
    right: 0;
    height: $header-height;
    padding: 0 40px;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.07);
    z-index: 10;
    .placeholder {
        h4 {
            margin: 1px 0 0 0;
            font-weight: 600;
        }
        .subtitle {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 300px;
            width: calc(100vw - #{$sidebar-width + 300px});
            max-width: 720px;
        }
    }
    .placeholder,
    .header-breadcrumb {
        flex: 1;
    }
    > .cui-button {
        margin-left: 10px;
    }
}

// notifications menu (outside header, displayed in a cui-portal)
.notification-menu {
    .notification-list {
        height: 480px;
        background: #fff;
        width: 340px;
    }
    .cui-menu {
        max-width: 342px;
        margin: 0;
        padding: 0;
        border-color: #d8dee0;
        background: none;
        overflow: hidden;
    }
    .cui-popover-arrow {
        background: white;
    }
    .cui-list-item {
        padding: 11px;
    }
    .no-notifications {
        list-style: none;
        text-align: center;
        padding-top: 230px;
        color: #546e7d;
        font-weight: 600;
    }
}
