@import 'client/styles/shared';

$header-height: 51px;
$header-border-color: #444;

@mixin header-badge {
    display: inline-block;
    position: relative;
    top: 1px;
    float: right;
    font-size: 12px;
    background: $badge-lightred;
    padding: 1px 4px 1px 3px;
    line-height: 1.25;
    margin-left: 7px;
    border-radius: 4px;
    font-weight: 700;
}

@mixin header-menu-item {
    user-select: none;
    font-size: 14px;
    padding: 16px 14px;
    cursor: pointer;
    font-weight: 700;
    &:hover {
        background: #333;
    }
    &.active {
        background: #333;
    }
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.Header {
    background: $offwhite-dark;
    color: $offwhite-light;
    width: 100%;
    min-height: $header-height;
    @include clearfix;

    .container > * {
        float: left;
    }
    .container > .ActionMenu,
    .container > .NotificationMenu,
    .container > .AccountMenu {
        float: right;
    }
    @include xs-max {
        .container {
            padding: 0;
        }
        .container > .ActionMenu,
        .container > .NotificationMenu,
        .container > .AccountMenu,
        .container > .AccountLoginButton {
            border-left: 1px solid $header-border-color;
        }
    }
    .NavigationMenu {
        &.active {
            border-bottom: 1px solid #eee;
        }
        .menu-dropdown {
            display: none;
            &.open {
                display: block;
            }
        }
    }

    // specific styles
    a.header-logo {
        padding: 13px 0 10px;
        margin-right: 10px;
        margin-bottom: -4px;
        .header-logo-image {
            display: inline-block;
            color: $offwhite-light;
            background-color: $offwhite-dark;
            text-decoration: none;
            width: 24px;
            height: 24px;
            background: url('/static/img/logo.png');
            background-size: cover;
        }
        @include xs-max {
            display: none;
        }
    }
    .mobile-menu-toggle {
        display: none;
        margin: 11px 12px;
        &:hover {
            border-color: #777;
        }
        @include xs-max {
            display: block;
            padding-top: 5px;
        }
    }
    .menu-selector {
        @include header-menu-item;
        &.active {
            background: #333;
            border-bottom: none;
        }
    }
    .NavigationItem.home-nav {
        display: none;
        @include xs-max {
            display: block;
        }
    }
    .menu-dropdown {
        position: absolute;
        right: 0;
        top: $header-height;
        font-size: 15px;
        @include popout;
        @include dark-menu-styles;
        .active {
            background-color: #444;
        }
        ul {
            margin: 0;
            padding: 0;
            &:first-child {
                margin-top: 2px;
                padding-top: 6px;
            }
            &:last-child {
                margin-bottom: 2px;
                padding-bottom: 8px;
            }
        }
    }
    @include xs-max {
        .Navigation {
            display: none;
            &.mobile-expanded {
                position: absolute;
                display: block;
                top: $header-height;
                width: 100%;
                padding: 4px 8px 10px;
                border-top: 1px solid #333;
                z-index: 9998;
                background: $offwhite-dark;
                clear: both;
                text-align: left;
                ul {
                    padding-top: 0;
                }
            }
        }
    }
}

.NavigationItem,
.Navigation > .NavigationMenu {
    position: relative;
    float: left;
    .header-beta {
        display: inline-block;
        color: #999;
        font-size: 13px;
        font-weight: 400;
        font-style: italic;
        margin-left: 5px;
        text-transform: lowercase;
    }
}
.Navigation > .NavigationMenu > .menu-dropdown {
    left: 0;
    right: initial;
    min-width: 240px;
}
a.NavigationItem {
    color: #fff;
    text-decoration: none;
    @include header-menu-item;
    .header-count {
        @include header-badge;
    }
}
@include xs-max {
    .Navigation > .NavigationMenu {
        width: 100%;
    }
    .NavigationItem,
    .Navigation > .NavigationMenu .menu-selector {
        display: block;
        margin: 1px 0;
        width: 100%;
        border-radius: 6px;
        &, &.active {
            padding: 8px 9px 6px !important;
        }
        &.active, &:hover {
            border: none !important;
            background: #303030;
        }
    }
    .Navigation > .NavigationMenu .menu-dropdown {
        top: 38px;
        border-radius: 6px;
        > ul {
            padding: 6px 0;
            > li {
                padding: 5px 14px;
                font-weight: 700;
            }
        }
    }
}

.ActionMenu {
    position: relative;
    .menu-dropdown {
        min-width: 220px;
    }

    .icon-plus {
        margin-left: -3px;
        @include xs-max {
            margin-left: -6px;
            position: relative;
            left: 3px;
        }
    }
    .action-caret {
        font-family: monospace;
        line-height: 1;
        font-size: 15px;
        position: relative;
        left: -1px;
        @include xs-max {
            display: none;
        }
    }
}

.CommunitySearch {
    margin: 7px 0 0px;
    .community-search {
        position: relative;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        input[type="text"] {
            height: 36px;
            width: 240px;
            margin: 0;
            background: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            outline: none;
            color: #fff;
            @include xs-max {
                width: 202px;
            }
        }
        ::selection {
            background: #fee9be;
        }
    }
    .community-search-dropdown {
        // position
        display: none;
        position: absolute;
        &.open {
            display: block;
        }
        // display
        border-radius: 3px;
        overflow: hidden;
        background: #fff;
        color: #222;
        z-index: 9999;
        ul {
            padding: 0;
            margin: 0;
        }
        ul > li {
            display: flex;
            list-style: none;
            cursor: pointer;
            padding: 10px 23px 8px 10px;
            margin: 0;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            &:first-child {
                padding-top: 12px;
            }
            &:last-child {
                padding-bottom: 12px;
            }
            &:hover {
                background: #f4f4f4;
            }
            &.active {
                background: #f4f4f4;
            }
            .search-left {
                width: 56px;
                padding-top: 4px;
                padding-left: 6px;
                .placeholder-search-icon {
                    background: #e7e7e7;
                    border-radius: 9999px;
                    width: 34px;
                    height: 34px;
                }
            }
            .search-right {
                flex: 1;
                .search-name {
                    font-weight: 700;
                }
                .search-id {
                    color: #888;
                }
            }
            // no matches
            &.no-matches {
                display: block;
                text-align: center;
                font-size: 14px;
                color: #777;
                width: 200px;
                padding: 16px 18px 14px;
            }
        }
    }
}

.ChainLabel {
    display: inline-block;
    margin: 11px 0;
    margin-right: 12px;
    padding: 6px 12px;
    border-radius: 9999px;
    background: #3f4448;
    // text
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    .ChainIcon {
        display: inline-block;
        img.chain-icon {
            width: 24px;
            height: 24px;
            margin: -7px;
            margin-left: -9px;
            margin-right: 8px;
        }
    }
    .ChainStatusIndicator {
        display: inline-block;
        margin-left: 8px;
        margin-right: -2px;
    }
    .icon-lock {
        font-size: 13px;
        color: #fff;
        opacity: 0.4;
        margin-right: -3px;
    }
}

.AccountLoginButton {
    @include header-menu-item;
    color: #fff;
    text-decoration: none;
}

.LoginMenu {
    float: right !important;
    .menu-dropdown {
        width: 356px;
        max-width: 356px;
        height: 100%;
        right: 20px;
    }
    .login-menu-wrapper {
        background: #353535;
        padding: 6px 28px 6px;
        border-radius: 0 0 4px 4px;
        h4 {
            text-align: left;
            color: white;
            margin: 18px 0 14px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            @include formfield-text;
            padding: 11px 10px 9px;
            margin: 9px 0;
            outline: none;
            border: none;
        }
        button, a.btn {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 7px;
            padding: 7px 10px;
        }
        .login-option {
            margin: 10px auto 27px;
        }
        .login-message {
            text-align: left;
            margin: 16px 0;
            color: white;
            font-weight: 700;
            &.failure {
                font-size: 15px;
                font-weight: 700;
                color: $error-red;
            }
        }
        .formular-button-black {
            background-image: linear-gradient(180deg, #818288 0%, #737479 100%) !important;
        }
    }
}

@include xs-max {
    .LoginMenu {
        .menu-dropdown {
            right: 0;
        }
    }
}

@include xxs-max {
    .LoginMenu {
        .menu-dropdown {
            &.open {
                display: flex !important;
            }
            right: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            height: 93vh;
        }
        .login-menu-wrapper {
            width: 100%;
        }
        .Login {
            h4 {
                text-align: left;
                font-size: 16px;
            }
            form {
                width: 100%;
            }
        }
    }
}

.AccountMenu {
    position: relative;
    user-select: none;
    .menu-selector {
        .loading-spinner,
        .loading-text {
            color: #999;
        }
        .loading-spinner {
            position: relative;
            top: -1px;
            margin-right: 3px;
            @include xs-max {
                margin-right: 0;
            }
        }
        @include sm-max {
            .loading-text {
                display: none;
            }
            .user-avatar {
                margin-right: 0;
            }
            a.user-display-name {
                display: none;
            }
        }
    }
    .menu-dropdown {
        min-width: 260px;
        width: 340px;
        max-width: 340px;
        height: auto;
        max-height: 406px;
        @include xxs-max {
            width: 100%;
            max-width: none;
        }
    }

    .User a.user-display-name.username {
        color: #fff;
        font-weight: 700;
    }
    // logged in, but no accounts
    .no-chain-or-community-carat {
        span.icon-down-open {
            font-size: 70%;
            color: #f9f8f6;
            position: relative;
            top: -1px;
        }
    }
    .no-accounts-spinner {
        display: inline-block;
        color: #999;
    }
    a.setup-address-button {
        color: #fff;
        .mobile-text {
            display: none;
        }
        @include xs-max {
            .mobile-text {
                display: inline;
                margin-right: 1px;
            }
            .desktop-text {
                display: none;
            }
        }
    }
    // logged in menu
    li.my-account-setup-outer {
        background: initial !important;
        margin-bottom: 6px !important;
        border-bottom: 1px solid #474747;
    }
    .account-menu-item {
        display: flex;
        padding: 8px 16px;
        white-space: nowrap;
        .my-account-setup {
            width: 100%;
        }
        .account-setup-text {
            white-space: normal;
            padding-bottom: 15px;
            color: #aaa;
        }
    }
    .account-menu-item.my-account {
        padding: 14px 15px 11px;
        margin-top: -6px;
        margin-bottom: 5px;
        border-bottom: 1px solid #444;
        min-width: 285px;
        max-width: 360px;
        background: none !important;
        white-space: normal;
        &:hover {
            background: #404040 !important;
        }
        .User a.user-display-name.username {
            color: #fff;
        }
        .profile-block-headline {
            color: #999;
        }
        a.btn {
            font-size: 15px;
            padding: 5px 0;
            margin: 10px 0 6px;
        }
    }
    li.account-balance-item {
        border-bottom: 1px solid #444;
        margin-bottom: 6px !important;
        &:hover {
            background: initial !important;
        }
    }
    .account-menu-options {
        padding: 0 0 6px 6px !important;
        li {
            padding: 6px 0 4px 16px !important;
        }
    }
    .add-account-menu-item {
        a {
            color: #999;
        }
        .addresses-badge {
            @include header-badge;
        }
    }
}

.NotificationMenu {
    position: relative;
    user-select: none;

    .NotificationButtons {
        display: flex;
        flex-direction: row;
        text-align: center;
        .button {
            width: 100%;
            cursor: pointer;
            padding: 10px 0;
            &:hover {
                background: #444;
            }
            // width: 50%;
            // &:first-of-type {
            //     border-right: 1px #555 solid;
            // }
        }
    }

    .notification-count {
        padding: 0 10px 1px 9px;
        text-align: center;
        font-size: 13px;
        border-radius: 9999px;
        color: #fff;
        background-color: #555;
        &.unread-notifications {
            background-color: $badge-red;
        }
        span.icon-mail {
            position: relative;
            left: 2px;
            margin-right: -1px;
        }
    }
    .menu-dropdown {
        min-width: 260px;
        width: 340px;
        max-width: 340px;
        height: auto;
        max-height: 82vh;
        overflow-y: auto;
        @include xxs-max {
            width: 100%;
            max-width: none;
        }
        ul.notification-list {
            li.no-notifications {
                color: #888;
                pointer-events: none;
                text-align: center;
                padding: 40px 0;
            }
            li.InviteRow,
            li.HeaderNotificationRow {
                padding: 11px 16px;
                margin-bottom: 1px;
            }
            li.InviteRow {
                font-size: 14px;
                background: #454545;
                margin-top: 0;
            }
            li.HeaderNotificationRow {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                .comment-body {
                    display: block;
                    padding-left: 14px;
                    .comment-body-top {
                        font-size: 14px;
                        color: #f4f4f4;
                        span.commented-obj {
                            color: #fff;
                            font-weight: 700;
                        }
                    }
                    .comment-body-bottom {
                        font-size: 14px;
                        color: #888;
                        .User a {
                            font-size: 14px;
                            color: #888;
                        }
                        .created-at {
                            margin-left: 4px;
                        }
                    }
                    .comment-body-excerpt {
                        margin: 8px 0 2px;
                        font-size: 14px;
                        color: #f4f4f4;
                        .between-paragraphs {
                            display: none;
                        }
                        a {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}
