@import 'client/styles/shared';

.InlineThreadComposer {
    background: #fff;
    margin: 6px 0;

    $small-margin: 10px;
    $left-margin: 46px;

    .top-panel {
        display: flex;
        align-items: center;
    }
    // layout
    .thread-avatar {
        height: 60px;
        width: $left-margin;
        display: flex;
        align-items: center;
    }
    .thread-content {
        flex: 1;
        padding-right: $small-margin;
        max-width: 100%;
        z-index: 1;
    }
    input[name='link-title'] {
        margin-bottom: 20px;
        margin-left: $left-margin;
        width: calc(100% - $left-margin);
    }
    input[name='thread-composer'], input[name='link-title'], .QuillEditor .ql-bubble .ql-editor {
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        padding: 10px 12px;
    }

    .spinner-wrap {
        height: 110px;
        padding-top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 37px;
        span {
            color: $lighttextgrey;
        }
        &.img-spinner {
            height: 55px;
        }
    }
    .LinkPost .ql-editor,
    .TextPost .ql-editor {
        min-height: 64px !important;
        margin-left: $left-margin;
        margin-right: $small-margin;
        margin-bottom: $small-margin;
    }

    .AutoCompleteTagForm {
        margin-left: $left-margin;
        margin-bottom: $small-margin;
        .AutoCompletePureForm {
            margin: 0;
        }
    }

    .bottom-panel .actions {
        margin-left: $left-margin;
        margin-bottom: 20px;
        .cui-button {
            margin-right: 10px;
        }
    }

    .error-message {
        color: $error-red;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: $left-margin;
    }
}
