@import 'client/styles/shared';

.ThreadsSelector {
    padding: 0;
    border: 1px solid #ddd;
    margin: 10px 8px 20px;
    border-radius: 5px;
    .cui-control-group {
        margin-bottom: 0;
    }
    .cui-input input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-color: $border-color-light;
        height: 44px;
        border-radius: 0;
    }
    .cui-list {
        min-height: 150px;
        max-height: 150px;
        border-radius: 5px;
        .cui-active {
            background: initial;
        }
        .cui-list-item {
            .linked-thread-info {
                .linked-thread-top {

                }
                .linked-thread-bottom {
                    font-size: 88%;
                    font-weight: 400;
                }
            }
        }
    }
    .cui-query-list-checkmark .cui-list-item-content-left {
        left: 0;
    }
    .linked-threads-selector-placeholder {
        padding: 112px 0;
        text-align: center;
    }
    .linked-threads-selector-placeholder-text {
        height: 30px;
        color: $text-color-medium-dark;
    }
}
