@import 'client/styles/shared';

.ListingRow {
    @include listing-row-base;

    .UserGallery {
        .User {
            margin-top: 2px;
            margin-right: -16px;
        }
    }

    .row-left {
        line-height: 1.1;
        flex: $listing-left-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .pinned {
            width: 34px;
            .icon-pin-outline {
                display: block;
                font-size: 15px;
                color: #aaa;
            }
        }
        .title-container {
            display: inline-flex;
            flex-direction: column;
            align-self: center;
            .row-header,
            .row-header a {
                color: $text-color-dark;
                font-size: $text-size-item-header;
                text-decoration: none;
                font-weight: 500;
            }
            .row-subheader {
                display: flex;
                margin-top: 3px;
            }
            .row-subheader + .row-subheader {
                margin-top: 1px;
            }
            .row-subheader a, > span {
                color: $text-color-light;
                font-size: $text-size-item-meta;
            }
        }
    }
    .row-right {
        display: flex;
        flex: $listing-right-flex;
        align-items: center;
        padding-left: 10px;
        .cui-grid {
            width: 100%;
            > div {
                display: flex;
                justify-content: flex-end;
                .UserGallery {
                    margin-right: 8px;
                    text-align: right;
                    white-space: nowrap;
                    .overflow-users {
                        font-size: 13.5px;
                    }
                }
                .ReactionButton {
                    width: min-content;
                    height: min-content;
                }
                .last-updated {
                    text-align: right;
                    font-size: $text-size-item-meta;
                    color: $text-color-light;
                    padding-top: 2px;
                    &.older {
                        min-width: 116px;
                    }
                    a {
                        font-size: inherit;
                        color: inherit;
                        &:hover {
                            color: darken($text-color-light, 8%);
                        }
                    }
                }
            }
        }
    }
    @include xs-max {
        display: block;
        .row-right {
            display: none;
        }
    }
}
