@import 'client/styles/shared';

.ListingHeader {
  display: flex;
  border-bottom: 1px solid $background-color-light;
  margin-bottom: 2px;
  color: $text-color-light;
  .listing-header-col {
      font-size: 0.94rem;
      text-align: right;
      width: 84px;
      padding: 10px 0;
      &.listing-header-col-1 {
        flex: 1;
        width: initial;
        text-align: left;
      }
      // &.discussion-row-header-replies {
      //     padding-right: 6px;
      // }
      // &.discussion-row-menu {
      //     width: 28px;
      // }
  }
}