@import 'client/styles/shared';

.ListingRow {
    @include listing-row-base;

    .row-left {
        line-height: 1.1;
        flex: $listing-left-flex;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        .reaction {
            margin-right: 22px;
            position: relative;
            top: -4px;
            @include xs-max {
                margin-right: 20px;
            }
        }
        .pinned {
            flex-shrink: 0;
            position: relative;
            top: -4px;
            margin-right: 22px;
            @include xs-max {
                margin-right: 20px;
            }
            height: 43px;
            width: 45px;
            border: 1px solid #ddd;
            border-radius: 12px;
            padding-top: 15px;
            text-align: center;
            .icon-pin-outline {
                display: block;
                font-size: 15px;
                color: $text-color-medium-dark;
                position: relative;
                top: -2px;
            }
        }
        .title-container {
            display: inline-flex;
            flex-direction: column;
            align-self: center;
            max-width: 100%;
            .row-header,
            .row-header a {
                color: $text-color-black;
                font-size: $text-size-item-header;
                text-decoration: none;
                font-weight: 600;
            }
            .row-subheader {
                margin-top: 3px;
                @media (min-width: 800px){
                    display: flex;
                    align-items: baseline;
                }
                > * {
                    display: inline;
                }
            }
            .row-subheader + .row-subheader {
                margin-top: 1px;
            }
            .row-subheader > a,
            .row-subheader > .User > a,
            .row-subheader > .created-at > a,
            .row-subheader > .mobile-comment-count,
            > span {
                color: $text-color-light;
                font-size: $text-size-item-meta;
                &:hover {
                    color: darken($text-color-light, 8%);
                }
            }
        }
    }
    .row-right {
        display: flex;
        flex: $listing-right-flex;
        align-items: center;
        padding-left: 10px;
        .cui-grid {
            width: 100%;
            > div {
                display: flex;
                justify-content: flex-end;
                > .UserGallery, > * > .UserGallery {
                    margin-right: 10px;
                    text-align: right;
                    white-space: nowrap;
                    > .User, > .overflow-users-wrap {
                        margin-right: -10px;
                    }
                    .overflow-users {
                        font-size: 13.5px;
                    }
                }
                .ReactionButton {
                    width: min-content;
                    height: min-content;
                }
            }
        }
    }
    @include xs-max {
        display: block;
        .row-right {
            display: none;
        }
    }
}
