@import 'client/styles/shared';

.ListingRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 16px;

  &:hover {
    background: $background-color-white-hover;
  }

  .reaction {
    margin-right: 24px;
  }

  .pinned {
    align-items: center;
    border-radius: 12px;
    border: 1px solid #ddd;
    display: flex;
    height: 48px;
    justify-content: center;
    margin-right: 24px;
    width: 48px;

    svg {
      fill: currentColor;
    }
  }

  .title-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .row-header a {
      color: $text-color-black;
      font-size: 19px;
      text-decoration: none;
      font-weight: 600;
    }

    .row-subheader {
      display: flex;
    }

    // .row-subheader + .row-subheader {
    //   margin-top: 1px;
    // }

    // .row-subheader > .created-at {
    //   max-height: 17px;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    // }

    .row-subheader > a,
    .row-subheader > .User > a,
    .row-subheader > .created-at > a,
    > span {
      color: $text-color-light;
      font-size: 17px;
      max-height: 17px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: darken($text-color-light, 8%);
      }
    }

    .external-discussion-link {
      word-break: break-all;
    }
  }

  .content-right-container {
    align-items: center;
    display: flex;
  }

  @include xs-max {
    .content-right-container,
    .activity-icons,
    .last-active {
      display: none;
    }
  }
}
