@import 'client/styles/shared';

.LoginWithWalletDropdownPopoverMenu {
  .cui-menu .cui-button {
    padding: 4px 16px;

    .chain-login-label {
      align-items: center;
      display: flex;
      flex-direction: row;

      .chain-login-label-name {
        margin-left: 8px;
      }
    }
  }
}
