@import 'client/styles/shared';

.Login {
    h4 {
        margin: 12px 0;
        font-size: 18px;
    }
    .cui-input {
        margin: 12px 0;
    }
    .cui-button {
        margin: 2px 0;
    }

    // web3 login button with icon for NEAR
    a.btn.login-wallet-button.formular-button-black {
        margin-bottom: 26px;
        padding: 10px 0;
    }
    img.login-wallet-icon {
        width: 17px;
        display: inline-block;
        margin: -3px 0;
        margin-right: 10px;
    }
}
