@import 'client/styles/shared';

.LoginWeb3Buttons {
    max-width: 324px;
    .login-with-web3 {
        .ChainIcon {
            display: inline-block;
            margin: -4px 0;
            margin-right: 8px;
            margin-left: -4px;
        }
    }
}
