.MembershipButton {
    &.is-member:hover {
        span {
            display: none;
        }
        &:before {
            content: 'Leave';
            padding-left: 11px;
            padding-right: 11px;
        }
    }
}
