.NewThreadForm {
  display: flex;
  .new-thread-form-body {
    flex: 9;
    button[name="saving"] {
      margin-right: 20px;
    }
  }
  .new-thread-form-sidebar {
    flex: 3;
    margin-left: 15px;
    .cui-list-item {
      padding: 0px 0px 20px 0px
    }
  }
  .discussion-draft-title {
    font-weight: bold;
    margin-bottom: 3px;
  }
}
