@import 'client/styles/shared';

.NotificationRow {
  display: flex;
  flex-direction: column;
  padding: 17px 22px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid $border-color-lightest;
  text-decoration: none !important;
  color: $black !important;
  &:hover {
    background: $primary-400;
  }
  &.unread {
    background: $background-color-unread;
  }
  > .User {
    width: min-content;
  }
  > .User,
  > .UserGallery {
    margin-bottom: 17px;
  }
  > .UserGallery .User {
    margin-right: 4px;
  }
  .comment-body {
    flex: 1;
    &:first-child {
      // chain notifications don't have a User/UserGallery
      margin-top: 8px;
    }
    .chain-event-notification-top {
      display: flex;
      justify-content: space-between;
      .cui-icon-action svg:hover {
        color: $negative-bg-color;
      }
    }
  }
  .comment-body-title {
    .User .user-display-name,
    span.commented-obj {
      font-weight: 500;
    }
  }
  .comment-body-excerpt {
    margin: 7px 0 8px;
    color: $text-color-medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    .QuillFormattedText {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .comment-body-bottom-wrap {
    font-size: 15px;
    margin-top: 12px; // needed because .comment-body-excerpt may not be present
  }
  .comment-body-created {
    display: inline;
    color: $text-color-medium;
  }
  .comment-body-mark-as-read {
    display: inline;
    color: $text-color-medium;
    margin-left: 8px;
    .cui-spinner {
      position: relative;
      top: -1px;
      .cui-spinner-icon {
        border-color: transparent;
        border-top-color: $background-color-dark-accent !important;
        border-right-color: $background-color-dark-accent !important;
      }
    }
  }
  .comment-body-mark-as-read:hover {
    color: $background-color-dark-accent;
  }
}

.NotificationRowMarkAsRead {
  .cui-popover-content {
    padding: 15px 20px 10px;
  }
}
