@import 'client/styles/shared';

$text-size-item-header: 19px;
$text-size-item-meta: 17px;

@mixin proposal-stats-data {
    .proposal-row-support,
    .proposal-row-turnout,
    .proposal-row-requirement {
        font-weight: 500;
        margin-bottom: 6px;
        line-height: 1.25;
    }
    .proposal-row-turnout-bullet {
        margin: 14px 0 24px;
        width: 100%;
        height: 5px;
        background: #ddd;
        border-radius: 99px;
    }
    .proposal-row-turnout-bullet-inner {
        height: 100%;
        background: #08c;
        border-radius: 99px;
    }
    .proposal-row-requirement {
        margin-top: 10px;
    }
}

@mixin proposal-row-metadata {
    > * {
        margin-right: 15px;
        margin-bottom: 3px;
    }
    .proposal-status {
        color: #999;
        font-weight: 500;
        &.pass {
            color: #06983a;
        }
        &.fail {
            color: #d0021b;
        }
    }
    .proposal-comments {
        display: inline-block;
        font-weight: 500;
        color: #999;
    }
}

.ProposalRow {
    .row-left {
        .row-header a {
            word-break: break-word;
            text-overflow: ellipsis;
        }
        .row-subheader {
            .proposal-row-sub {
            }
            .proposal-row-comments {
                display: flex;
                margin-top: 8px;
                color: $text-color-light;
                .QuillFormattedText, .MarkdownFormattedText {
                    max-width: 220px;
                    @include xl-min {
                        max-width: 280px;
                    }
                    position: relative;
                    top: -2px;
                    margin-left: 6px;
                }
            }
        }
    }
    .row-right {

    }
}

.TreasuryRow {
    @include listing-row-base;
    display: block !important;

    .treasury-row-title {
        color: $text-color-dark;
        font-size: $text-size-item-header;
        text-decoration: none;
        font-weight: 500;
    }
    .cui-grid {
        margin-top: 3px;
        .treasury-row-subheading {
            font-size: 0.94rem;
            font-weight: 500;
            margin-bottom: 3px;
            line-height: 1.2;
            text-overflow: ellipsis;
            color: $text-color-light;
        }
        .treasury-row-metadata {
            color: $text-color-lightest;
            font-size: $text-size-item-meta;
            display: flex;
            .metadata-divider {
                padding: 0 5px;
            }
            .User a {
                margin-top: 4px;
                color: $text-color-lightest;
                .username {
                    color: inherit;
                    font-weight: 400;
                }
            }
            &.treasury-user-mobile {
                display: none;
                color: #bdbdbd;
                .user-display-name .username {
                    position: relative;
                    color: #bdbdbd;
                    font-weight: 400;
                    top: 2px;
                }
            }
        }
    }
}
