@import 'client/styles/shared';

@mixin formatted-text {
    // 1. block styles
    // 2. list styles
    // 3. inline styles

    word-break: break-word;

    // block styles
    .between-paragraphs {
        margin-bottom: 14px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $fonts;
        font-weight: 500;
        margin: 1.5em 0 0.47em;
    }
    > :first-child > h1,
    > :first-child > h2,
    > :first-child > h3,
    > :first-child > h4,
    > :first-child > h5,
    > :first-child > h6 {
        margin-top: 0.35em;
    }
    > :last-child > h1,
    > :last-child > h2,
    > :last-child > h3,
    > :last-child > h4,
    > :last-child > h5,
    > :last-child > h6 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 1.5em;
    }
    h2, h3, h4, h5, h6 {
        font-size: 1.23em;
    }
    img {
        min-width: 60px;
        max-width: 100%;
        margin: 8px 0;
        min-height: 40px;
        background-color: $background-color-light;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    }
    pre, code {
        word-break: break-word;
        white-space: pre-wrap;
    }
    pre {
        font-family: $monospace-fonts;
        font-size: 0.833em;
        white-space: pre-wrap;
        margin: 22px 0;
        padding: 12px 16px;
        background: $background-color-light;
        border-radius: 3px;
    }
    blockquote {
        border-left: 4px solid #ccc;
        padding-left: 16px;
        margin: 6px 0;
    }

    // list styles
    ul, ol {
        li {
            margin: 2px 0;
        }
        ol {
            list-style-type: lower-latin;
        }
        ul, ol {
            ol {
                list-style-type: lower-roman;
            }
        }
        ul, ol {
            ul, ol {
                ol {
                    list-style-type: decimal;
                }
            }
        }
        ul, ol {
            ul, ol {
                ul, ol {
                    ol {
                        list-style-type: lower-latin;
                    }
                }
            }
        }
        ul, ol {
            ul, ol {
                ul, ol {
                    ul, ol {
                        ol {
                            list-style-type: lower-roman;
                        }
                    }
                }
            }
        }
        ul, ol {
            ul, ol {
                ul, ol {
                    ul, ol {
                        ul, ol {
                            ol {
                                list-style-type: decimal;
                            }
                        }
                    }
                }
            }
        }
    }
    ul.checklist {
        padding-left: 1em;
        list-style: none;
        li {
            text-indent: -1.4em;
            list-style: inherit;
            padding-left: 9px;
        }
        li::before {
            width: 1.4em;
            font-family: "fontello";
            padding-right: 10px;
            position: relative;
            padding-right: 11px;
        }
        li.checked span {
            text-decoration: line-through;
        }
        li.checked:before {
            content: '\f14a';
            color: #777;
        }
        li.unchecked:before {
            content: '\f096';
            color: #b0bec5;
        }
    }
    ul.checklist + ul.checklist {
        margin-top: -10px;
    }
    p:first-child {
        padding-top: 0;
        margin-top: 0;
    }
    p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    ul:first-child,
    ol:first-child {
        padding-top: 0;
        margin-top: 0;
        li:first-child {
            margin-top: 0;
        }
    }
    ul:last-child,
    ol:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        li:last-child {
            margin-bottom: 0;
        }
    }

    // inline styles
    a {
        background-color: transparent;
    }
    b, strong {
        font-weight: 500;
    }
    code,
    kbd,
    samp {
        font-family: $monospace-fonts;
        font-size: 0.75em;
        padding: 2px 5px;
        margin: 0 1px;
        background: $background-color-light;
        color: $text-color-primary;
        border-radius: 3px;
    }
    small {
        font-size: 80%;
    }
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sub {
        bottom: -0.25em;
    }
    sup {
        top: -0.5em;
    }

    // miscellaneous
    .twitter-tweet {
        margin: 25px 0 28px !important;
    }
}

// mixin for collapsing large text blocks to <200px in height
@mixin collapsible {
    &.collapsed {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
}

@mixin hidden-formatting {
    .hidden-formatting {
        margin: 6px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .hidden-formatting-listitem + .hidden-formatting-listitem {
            margin-top: 6px;
        }
    }
}

.QuillFormattedText {
    position: relative;
    line-height: 1.3;
    @include formatted-text();
    @include collapsible();
    @include hidden-formatting();
}
