@import 'client/styles/shared';
@import 'client/styles/lib/quill.core';
@import 'client/styles/lib/quill.bubble';
@import 'client/styles/lib/quill.snow';

//
// 1. editor typography modifications
// 2. checklist styling
// 3. ql-snow form input styles, ql-bubble styles
// 4. toolbar
// 5. toolbar (markdown mode)
// 6. image upload spinner
// 7. preview button
// 8. mentions container
//

.QuillEditor {
    position: relative;
    ::selection {
        background: $theme-base-color;
        color: #fff;
    }

    // 1. editor typography modifications
    .ql-editor {
        font-size: 1rem;
        line-height: 1.3;
        padding: 20px 22px 28px;
        max-height: 360px;
        code,
        kbd,
        samp {
            font-family: $monospace-fonts;
            font-size: 0.75rem;
            background: $background-color-light;
            padding: 2px 5px;
            margin: 0 1px;
            border-radius: 3px;
        }
        pre {
            font-family: $monospace-fonts;
            margin-bottom: 8px;
            margin-top: 8px;
            &:first-child {
                margin-top: 2px;
            }
            &:last-child {
                margin-bottom: 2px;
            }
        }
        ol {
            ::before {
                padding-right: 1em;
            }
            li {
                margin: 0;
            }
            li[data-list=ordered] > .ql-ui::before {
                margin-left: -1.85em;
                width: 1.5em;
            }
            li[data-list=bullet] > .ql-ui::before {
                font-size: 125%;
                position: relative;
                top: -4px;
                left: -3px;
            }
        }
    }

    // 2. checklist styling
    .ql-editor {
        li[data-list=checked] > .ql-ui::before,
        li[data-list=unchecked] > .ql-ui::before {
            position: relative;
            top: 1px;
            left: -4px;
            font-family: 'fontello';
        }
        li[data-list=checked] {
            text-decoration: line-through;
        }
        li[data-list=checked] > .ql-ui::before {
            content: '\f14a';
            color: #444;
            font-size: 93%;
        }
        li[data-list=unchecked] > .ql-ui::before {
            content: '\f096';
            color: #b0bec5;
        }
    }

    // 3. ql-snow form input styles, ql-bubble styles
    .ql-container.ql-snow {
        border: 1px solid $form-border-color;
        border-radius: 0 0 3px 3px;
        // construct-ui input styles
        color: #37474f;
        box-shadow: 0px 1px 0px #eef1f2;
    }
    .ql-bubble .ql-editor {
        padding: 1px 8px 8px 1px;
    }
    .ql-bubble .ql-editor blockquote {
        margin-top: 0;
        margin-bottom: 0;
    }


    // 4. toolbar
    .ql-toolbar.ql-snow {
        border: 1px solid $form-border-color;
        border-radius: $base-border-radius $base-border-radius 0 0;
        box-sizing: border-box;
        padding: 5px 8px;
        white-space: nowrap;
        overflow-x: auto;
        min-height: 39px;
    }
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
        border-color: $form-border-color
    }
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
        border-color: $form-border-color
    }
    .ql-tooltip {
        z-index: 9999;
    }

    // 5. toolbar markdown mode
    &.markdown-mode {
        .ql-snow.ql-toolbar button.ql-image {
            display: none;
        }
    }
    .ql-snow.ql-toolbar button.ql-preview {
        display: none;
    }
    &.markdown-mode {
        .ql-snow.ql-toolbar button.ql-preview {
            display: inline-block;
        }
    }
    .type-selector {
        position: absolute;
        display: flex;
        right: 10px;
        top: 6px;
        user-select: none;
        .cui-tag {
            cursor: pointer;
            margin-top: 1px;
            margin-right: 0;
        }
    }

    // 6. image upload spinner
    .spinner-wrap.img-spinner {
        margin: 10px;
        width: 100%;
        text-align: center;
        color: #999;
        font-size: 14px;
        .icon-spinner2.animate-spin {
            margin: 0 4px;
        }
    }

    // 7. preview button
    .ql-formats > .ql-preview {
        width: initial !important;
    }
    .ql-bubble .ql-formats > .ql-preview {
        display: none !important;
    }
    .ql-formats > .ql-preview:before {
        position: relative;
        top: -3px;

        content: '\e842';

        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        font-size: 11px;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
}

// 8. mentions container
.ql-mention-list-container {
    background: white;
    border-top: 1px solid $background-color-light;
    border-left: 1px solid $background-color-light;
    border-right: 1px solid $background-color-light;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 2;
    .ql-mention-list {
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        li {
            padding: 5px 10px;
            border-bottom: 1px solid $background-color-light;
            margin: 0;
            display: flex;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                width: 100%;
            }
            &:first-child {
                border-radius: 4px 4px 0 0;
            }
            &:last-child {
                border-radius: 0 0 4px 4px;
            }
        }
        > .selected {
            background: lighten(#08c, 48%);
            cursor: pointer;
        }
        .ql-mention-text-wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .ql-mention-name {
            display: block;
            min-width: 50px;
            margin-right: 12px;
        }
        .ql-mention-addr {
            color: #999;
        }
        .ql-mention-avatar {
            height: 20px;
            width: 20px;
            min-height: 20px;
            min-width: 20px;
            margin-right: 8px;
            border-radius: 9999px;
            &.missing {
                background-color: $background-color-light;
            }
        }
    }
}

// 9. progress bar
.progress-bar {
    height: 3px;
    width: 80%;
    background-color: red;
}
