@import 'client/styles/shared';

.ReactionButton {
    display: flex;
    cursor: pointer;
    color: $text-color-medium;
    user-select: none;
    // border
    border: 1px solid #ddd;
    border-radius: 5px;
    &:hover, &.active {
        color: $theme-accent-dark;
        border-color: $theme-base-color;
        span {
            color: inherit;
        }
    }
    &.disabled {
        background: initial !important;
        color: $text-color-light !important;
        border-color: $background-color-border !important;
    }
    .reactions-icon {
        padding: 4px 0 3px;
        padding-left: 9px;
    }
    .reactions-count {
        padding: 4px 6px 3px 2px;
        min-width: 26px;
        font-weight: 500;
        text-align: center;
    }
}

.cui-popover.cui-tooltip.ReactionButtonTooltip .cui-popover-content .reaction-button-tooltip {
    // TODO
}
