@import 'client/styles/shared';

.ReactionButton {
  align-items: center;
  border-radius: 12px;
  border: 1px solid $neutral-300;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  margin-right: 24px;
  min-width: 48px;

  &.has-reacted {
    border-color: $primary-500;
    color: $primary-500;
  }

  &.disabled {
    border-color: $neutral-50;
    color: $neutral-500;
    pointer-events: none;
  }

  svg {
    margin: 4px auto 2px;
  }

  .reactions-count {
    font-size: 14px;
    margin: 2px auto 4px;
  }
}

.ThreadReactionButton {
  align-items: center;
  border: 1px solid $neutral-500;
  border-radius: 20px;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 72px;

  &:hover {
    border: 1px solid $purple-400;
    color: $purple-400;
  }

  &.has-reacted {
    border-color: $purple-400;
    color: $purple-400;
  }

  &.disabled {
    border-color: $neutral-50;
    color: $neutral-500;
    pointer-events: none;
  }

  .reactions-count {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4px;
  }
}

.reaction-button-tooltip-contents {
  display: flex;
  flex-direction: column;
}
