@import 'client/styles/shared';

@mixin community-info-module-styles() {
    .CommunityInfoModule {
        position: absolute;
        bottom: 14px;
        left: 0px;
        margin: 0 15px;

        // background
        background: $background-color-light-hover;
        padding: 16px 18px;
        border-radius: 4px;
        width: calc(100% - 30px);
    }
}

.RightSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: $sidebar-width;
    background: $background-color-light;

    @include md-max {
        display: none;
    }
    @include community-info-module-styles();
}
