@import 'client/styles/shared';

.Row {
    display: flex;
    padding: 12px 20px;
    margin: 0 -20px;
    cursor: pointer;

    &:hover {
        background: $background-color-white-hover;
    }
    .row-left {
        line-height: 1.1;
        flex: $listing-left-flex;
        .row-header,
        .row-header a {
            color: $text-color-dark;
            font-size: $text-size-item-header;
            text-decoration: none;
            font-weight: 500;
            .cui-icon svg {
                position: relative;
                margin-left: 2px;
                top: -2px;
                stroke: $text-color-light;
            }
        }
        .row-subheader,
        .row-subheader a {
            color: $text-color-light;
            font-size: $text-size-item-meta;
            margin-top: 2px;
            line-height: 1.2;
        }
    }
    .row-right {
        display: flex;
        flex: $listing-right-flex;
        align-items: center;
        padding-left: 10px;
        .cui-grid {
            width: 100%;
            div {
                display: flex;
                justify-content: flex-end;
                .UserGallery {
                    min-width: 100px;
                    padding-left: 10px;
                    padding-right: 20px;
                    text-align: right;
                    white-space: nowrap;
                    .overflow-users {
                        font-size: 13.5px;
                    }
                }
                .ReactionButton {
                    width: min-content;
                    height: min-content;
                }
                .last-updated {
                    min-width: 80px;
                    padding-left: 14px;
                    text-align: right;
                    font-size: $text-size-item-meta;
                    color: $text-color-light;
                    &.older {
                        min-width: 116px;
                    }
                    a {
                        font-size: inherit;
                        color: inherit;
                    }
                }
            }
        }
    }
}