.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 72px;
    bottom: 0;
    background: #e4e4e6;
    padding: 2px 0;
    z-index: 10;
    .sidebar-content {
        position: absolute;
        top: 0;
        bottom: 72px;
        width: 100%;
        overflow-y: scroll;
        border-bottom: 1px solid #d5d5d5;
    }

    $size: 42px;

    a.SidebarChain,
    a.SidebarCommunity,
    .SidebarSettingsMenu .trigger {
        position: relative;
        display: block;
        width: $size;
        height: $size;
        border-radius: 8px;
        margin: 15px;
        text-align: center;
        text-decoration: none;
        color: #eee;
        font-weight: 500;
        .ChainIcon img {
            width: $size;
            height: $size;
        }
        .ChainIcon, .icon-inner {
            opacity: 0.3;
        }
        &:hover, &.active {
            .ChainIcon, .icon-inner {
                opacity: 1;
            }
        }
        .User {
            position: absolute;
            right: -4px;
            bottom: -4px;
        }
        .name {
            position: relative;
            top: 11px;
        }
    }
    a.SidebarCommunity {
        .icon-inner {
            background: #36393f;
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
        &:hover, &.active {
            .icon-inner {
                background: darken(#36393f, 7%);
            }
        }
    }
    .SidebarSettingsMenu {
        position: absolute;
        bottom: 0;
        margin: 16px;
    }
}

.SidebarTooltip {
    font-weight: 500;
    margin: 1px 1px 0 4px;
    line-height: 1.1;
}
