@import 'client/styles/shared';

.nearRow {
  border: 0px;

  td {
    border: 0;
  }

  td.link {
    color: $primary-500;
  }
}

.clickable {
  cursor: pointer;
}

.nearRow:hover {
  background: $neutral-100;
}
