@import 'client/styles/shared';

.StageEditorDialog {
  .cui-dialog-body {
    padding: 16px 24px;

    .stage-options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 8px;

      button {
        margin: 0 8px 8px 0;
      }
    }
  }
}
