@import 'client/styles/shared';

.StageEditorDialog {
  h4 {
    font-size: 17px;
    font-weight: 600;
    margin: 10px 7px;
  }

  p {
    margin: 0 8px;
    margin-top: 16px;
  }

  p.secondary {
    color: $text-color-medium;
    margin-top: 16px;
    margin: 0;
  }

  .stage-options {
    margin-bottom: 30px;
    margin-top: 12px;
  }

  .cui-button.cui-sm {
    height: initial;
    margin: 0 6px;
    max-height: initial;
    padding: 4px 15px 3px;
  }
}
