.Subheader {
    $icon-size: 8px;
    .cui-icon {
        margin-right: 5px;
        svg polyline {
            stroke-width: 3px;
            stroke: #b0b0b0;
        }
    }
    color: #9b9b9b;
    margin: 0;
    padding: 6px 0;
    font-weight: 600;
    font-size: 13px;
    border: none;

    .subheader-content-right {
        float: right;
        margin-left: 20px;
    }
}
