@import 'client/styles/shared';

.TagSelector {
    .no-matching-tags {
        max-width: 190px;
    }
    .cui-popover-content {
        padding: 0 !important;
        min-width: 178px;
        .cui-list {
            border-radius: 3px;
        }
    }
}
