@import 'client/styles/shared';

.tag-selection-drop-menu {
    @include proposal-tag-inline;
    .proposal-tag-icon {
        margin-right: 8px;
    }
}

.TagSelector {
    .no-matching-tags {
        max-width: 190px;
    }
    .cui-popover-content {
        padding: 0 !important;
        min-width: 178px;
        .cui-list {
            border-radius: 3px;
            @include proposal-tag-inline;
            .proposal-tag-icon {
                margin-right: 9px;
            }
        }
    }
}
