@import 'client/styles/shared';

.TokenDecimalInput {
  .token-settings {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1px;
  }

  .switch-caption {
    color: $neutral-500;
    font-size: 0.94rem;
  }
}
