@import 'shared';

.TokenDecimalInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;

  .cui-input {
    margin: 0 16px 8px 0;

    // disable arrows on number
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .token-settings {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .switch-caption {
    color: $neutral-500;
  }
}
