@import 'client/styles/shared';

.TopicSelector {
    @include dragula;
    .no-matching-topics {
        max-width: 190px;
    }
    .cui-popover-content {
        padding: 0 !important;
        min-width: 178px;
        .cui-list {
            border-radius: 3px;
        }
    }
    &.cui-popover[x-placement^="top"] > .cui-popover-arrow {
        bottom: -3px;
    }
    @include xs-max {
        width: calc(100vw - 53px);
        .cui-popover-content {
            width: 100%;
        }
    }
}

.topic-selection-drop-menu {
}
