@import 'client/styles/shared';

@mixin mobile-max {
    @media only screen and (max-width: 670px) { @content; }
}

.UserDashboardRow {
    display: flex;
    flex-direction: column;
    padding: 17px 22px;
    margin-right: 60px;
    cursor: pointer;
    border-bottom-width: 2px;


    @include md-max {
        margin-right: 0;
    } 

    &:hover {
         background: #F7F4FF;
         border-radius: 15px;
    }
   

    .activity-content {
        display: flex;
        .chain-icon {
            border-radius: 9999px;
            margin-right: 15px;
        }
        .new-comment {
            margin-top: 3px;
            span.header {
                font-weight: 600;
                span.comment-counts {
                    color: #666666;
                    font-weight: 400;
                }
                span.community-title {
                    font-weight: 500;
                }
                span.community-link {
                    font-weight: 600;
                    &:hover{
                        text-decoration: underline;
                    }
                    
                }
                span.block-number {
                    color: #666666;
                    font-weight: 400;
                    margin-left: 20px;
                }
             }
            .comment-body {
                margin: 7px 0 8px 32px;
                &-concat {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin: 7px 0 8px 32px;
                }
            }

            .event-body {
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin: 7px 0 8px 0px;
            }
        }
    }

    .subscribe-button {
        background: #F7F4FF;
        border: 1px solid #4723AD !important;
        color: #4723AD;
        cursor: pointer;
        svg {
            stroke: #4723AD;
        }
    }

    .icon-row {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-events {
            margin-left: 0px
        }
        &-left {
            display: flex;
            margin-left: 20px;

            @include sm-max { // For temporary break point behavior
                display: none;
            } 
       
            button {
                border: 1px solid #ddd;
                margin-right: 25px;

                @include sm-max { // For temporary break point behavior
                    margin-top: 5px;
                } 

                
           
                &:hover {
                    background: #F7F4FF;
                    border: 1px solid #4723AD;
                    color: #4723AD;
                    cursor: pointer;
                    svg {
                        stroke: #4723AD;
                    }
                }
            }
        }
        &-right {
            svg {
                stroke: #666;
            }
            button {
                border: none;
                color: #666;
                background: transparent;
            }
        }
        .cui-menu {
            button{
                border: none;
                margin: 0;
            }
        }
    }
}
