Dockerfile
.dockerignore
docker-compose.yml
**/node_modules
.git
.gitignore
*.md
**/latest.dump
stellar
node_modules/
**/dist
**/test-results
**/*.tsbuildinfo
**/.DS_Store
*.env
*.log
.idea
.vscode
*.postgres
*.rabbitmq
redis-data
**/.nyc_output
**/dependency-graph.svg
.ghostal
**/yarn.lock
*coverage
**/*.dump.sql
**/*.dump.sql.gz