# ignore everything
*

# allow useful stuff
!yarn.lock
!package.json
!scripts/
!packages/
!tsconfig.json

# ignore useless stuff in useful directories
**/test
**/latest.dump
**/server-tests.ts
**/*.md
**/*.txt
**/*.sql
**/Dockerfile