node_modules
test
static
ios
android
*build
*.github
*.env
*node_modules
libs/chains/src/cosmos-ts
capacitor.config.ts
*.mocharc.json
*.nycrc
*.stylelintrc
*.md
*coverage
*.sol
*contractTypes
*factories
*.nyc_output