docker-compose.yaml
stellar
node_modules/
**/build
**/dist
**/*.tsbuildinfo
**/.DS_Store
*.env
*.log
.idea
.vscode
*.postgres
*.rabbitmq
redis-data
**/.nyc_output
**/dependency-graph.svg
.ghostal
*dump.sql
**/yarn.lock
*coverage

**/src/**/*.js
**/src/**/*.d.js.map
**/src/**/*.d.ts
**/src/**/*.d.ts.map
**/src/**/*.js.map

**/test/**/*.js
**/test/**/*.d.js.map
**/test/**/*.d.ts
**/test/**/*.d.ts.map
**/test/**/*.js.map

**/__mocks__/**/*.js
**/__mocks__/**/*.d.js.map
**/__mocks__/**/*.d.ts
**/__mocks__/**/*.d.ts.map
**/__mocks__/**/*.js.map
