docker-compose.yaml
stellar
node_modules/
**/build
**/*.tsbuildinfo
**/.DS_Store
*.env
*.log
.idea
.vscode
*.postgres
*.rabbitmq
redis-data
**/.nyc_output
**/dependency-graph.svg
.ghostal
*dump.sql
**/yarn.lock
