**/build
**/dist
**/.github
**/*.env
**/node_modules
**/.mocharc.json
**/.nyc_output
**/.nycrc
**/.stylelintrc
**/*.md
**/coverage
**/*.sol
**/*.d.ts
**/contractTypes
**/factories
**/eth/types
**/eth/artifacts
**/.eslintrc.js
**/migrations