**/build
**/dist
**/.github
**/*.env
**/node_modules
**/.nyc_output
**/.nycrc
**/.stylelintrc
**/*.md
**/coverage
**/*.sol
**/*.d.ts
**/contractTypes
**/factories
**/eth/types
**/eth/artifacts
**/.eslintrc.js
pnpm-lock.yaml
external-api-config.json
