**/build
**/.github
**/*.env
**/node_modules
**/android
**/ios
packages/chain-events/.eslintrc.js
**/.mocharc.json
**/.nyc_output
**/.nycrc
**/.stylelintrc
**/*.md
**/coverage
**/*.sol
**/*.d.ts
**/contractTypes
**/factories
**/eth/types
**/.eslintrc.js
**/ios/App/App

