{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "ignoreFiles": "packages/commonwealth/client/styles/lib/*",
  "rules": {
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$"
  }
}
