@import '../../styles/shared.scss';
@import '../components/component_kit/cw_card.scss';

.CardsCollection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, $default-card-width);
    grid-gap: 24px;
  }
}
