@import '../../styles/shared.scss';

.CommunityLabel {
  align-items: center;
  display: flex;
  gap: 8px;
  width: 100%;

  .community-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
