@import '../../../styles/shared.scss';

.Feed {
  display: flex;
  flex-direction: column;
  height: 100%;

  .loading-spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;

    &.small {
      height: 80px;
    }
  }
}
