@import '../../../styles/shared.scss';

.GovExplainer {
  background-color: $neutral-50;
  border-radius: $border-radius-corners;
  display: flex;
  margin-bottom: 24px;
  max-width: 828px;
  padding: 16px;

  .emoji {
    font-size: 28px;
    margin-right: 16px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .stat-headers-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .stats-container {
      display: flex;
      flex-direction: column;

      .stat {
        display: flex;
        flex-wrap: wrap;

        .stat-text.Text {
          color: $neutral-500;
          margin-right: 8px;
        }
      }
    }
  }

  @include small {
    .emoji {
      display: none;
    }
  }
}
