@use '../../styles/shared.scss';
@use '../../styles/mixins/border_radius';
@use '../../styles/mixins/colors.module';

.ActiveProposalPill {
  align-items: center;
  background-color: colors.$neutral-50;
  border-radius: border_radius.$border-radius-rounded-corners;
  color: colors.$neutral-600;
  display: flex;
  padding: 4px 8px;
  width: fit-content;

  .active-text.Text {
    background-color: colors.$green-500;
    border-radius: border_radius.$border-radius-rounded-corners;
    color: colors.$green-700;
    margin-left: 8px;
    padding: 4px 8px;
  }
}

.ClosedProposalPill {
  background-color: colors.$neutral-500;
  border-radius: border_radius.$border-radius-rounded-corners;
  padding: 4px 16px;
  text-transform: capitalize;
  width: fit-content;

  .closed-text.Text {
    color: colors.$white;
  }
}
