@use '../../styles/shared.scss';
@use '../../styles/mixins/colors.module';

.SocialAccounts {
  display: flex;
  max-width: 240px;
  justify-content: center;
  flex-wrap: wrap;

  .social-icon {
    fill: colors.$neutral-500;
    transition: fill 0.2s ease-in-out;
    margin: 0 8px 8px 8px;
    cursor: pointer;

    &:hover {
      fill: colors.$neutral-700;
    }
  }
}
