@import '../../styles/shared.scss';

.TokenDecimalInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .token-settings {
    align-items: center;
    display: flex;
    gap: 8px;

    .toggle-caption-text.Text {
      color: $neutral-500;
    }
  }
}
