$border-radius-checkbox: 0.5px;
$border-radius-corners: 5px;
$border-radius-corners-wider: 6px;
$border-radius-round: 50%;
$border-radius-rounded-corners: 100px;
$border-radius-tags: 12px;
$border-radius-md: 6px;
