$white: #ffffff;
$black: #000000;
$transparent: rgba(255, 0, 0, 0);

$neutral-25: #FBFBFB;
$neutral-50: #F7F7F7;
$neutral-100: #F0EFF0;
$neutral-200: #E0DFE1;
$neutral-300: #C1C0C2;
$neutral-400: #A09DA1;
$neutral-500: #757575;
$neutral-600: #514E52;
$neutral-700: #3D3A3E;
$neutral-800: #282729;
$neutral-900: #141315;

$primary-25: #F2F8FF;
$primary-50: #E5F1FF;
$primary-100: #CCE3FF;
$primary-200: #99C7FF;
$primary-300: #66ABFF;
$primary-400: #4D9DFF;
$primary-500: #338FFF;
$primary-600: #2972CC;
$primary-700: #1F5699;
$primary-800: #143966;
$primary-900: #001c3d;

$green-25: #F5FBEA;
$green-50: #EAF6D5;
$green-100: #D5EDAB;
$green-200: #C0E481;
$green-300: #B8E071;
$green-400: #ABDB58;
$green-500: #9AC54F;
$green-600: #7B9E3F;
$green-700: #5C762F;
$green-800: #3E4F20;

$yellow-25: #FFFCF2;
$yellow-50: #FFF9E5;
$yellow-100: #FFF2CC;
$yellow-200: #FFE699;
$yellow-300: #FFD966;
$yellow-400: #FFCC33;
$yellow-500: #FFBF00;
$yellow-600: #CC9900;
$yellow-700: #806000;
$yellow-800: #664C00;

$rorange-25: #FFF5F2;
$rorange-50: #FFEBE5;
$rorange-100: #FFD8CC;
$rorange-200: #FFB199;
$rorange-300: #FF8A66;
$rorange-400: #FF6333;
$rorange-500: #FF521D;
$rorange-600: #D63200;
$rorange-700: #992400;
$rorange-800: #721C01;

$pink-25: #FEF8FD;
$pink-50: #FDF1FB;
$pink-100: #FBE4F8;
$pink-200: #F7C9F2;
$pink-300: #F4AFEB;
$pink-400: #F094E5;
$pink-500: #EC79DE;
$pink-600: #E263D3;
$pink-700: #990087;
$pink-800: #700062;

$purple-25: #F7F2FF;
$purple-50: #EFE5FF;
$purple-100: #DECCFF;
$purple-200: #BD99FF;
$purple-300: #9C66FF;
$purple-400: #7A33FF;
$purple-500: #4700CC;
$purple-600: #340095;
$purple-700: #290075;
$purple-800: #180044;

:export {
  neutral-25: $neutral-25;
  neutral-50: $neutral-50;
  neutral-100: $neutral-100;
  neutral-200: $neutral-200;
  neutral-300: $neutral-300;
  neutral-400: $neutral-400;
  neutral-500: $neutral-500;
  neutral-600: $neutral-600;
  neutral-700: $neutral-700;
  neutral-800: $neutral-800;
  neutral-900: $neutral-900;

  primary-25: $primary-25;
  primary-50: $primary-50;
  primary-100: $primary-100;
  primary-200: $primary-200;
  primary-300: $primary-300;
  primary-400: $primary-400;
  primary-500: $primary-500;
  primary-600: $primary-600;
  primary-700: $primary-700;
  primary-800: $primary-800;
  primary-900: $primary-900;

  green-25: $green-25;
  green-50: $green-50;
  green-100: $green-100;
  green-200: $green-200;
  green-300: $green-300;
  green-400: $green-400;
  green-500: $green-500;
  green-600: $green-600;
  green-700: $green-700;
  green-800: $green-800;

  yellow-25: $yellow-25;
  yellow-50: $yellow-50;
  yellow-100: $yellow-100;
  yellow-200: $yellow-200;
  yellow-300: $yellow-300;
  yellow-400: $yellow-400;
  yellow-500: $yellow-500;
  yellow-600: $yellow-600;
  yellow-700: $yellow-700;
  yellow-800: $yellow-800;

  rorange-25: $rorange-25;
  rorange-50: $rorange-50;
  rorange-100: $rorange-100;
  rorange-200: $rorange-200;
  rorange-300: $rorange-300;
  rorange-400: $rorange-400;
  rorange-500: $rorange-500;
  rorange-600: $rorange-600;
  rorange-700: $rorange-700;
  rorange-800: $rorange-800;

  pink-25: $pink-25;
  pink-50: $pink-50;
  pink-100: $pink-100;
  pink-200: $pink-200;
  pink-300: $pink-300;
  pink-400: $pink-400;
  pink-500: $pink-500;
  pink-600: $pink-600;
  pink-700: $pink-700;
  pink-800: $pink-800;

  purple-25: $purple-25;
  purple-50: $purple-50;
  purple-100: $purple-100;
  purple-200: $purple-200;
  purple-300: $purple-300;
  purple-400: $purple-400;
  purple-500: $purple-500;
  purple-600: $purple-600;
  purple-700: $purple-700;
  purple-800: $purple-800;
}
