$white: #ffffff;
$black: #000000;
$transparent: rgba(255, 0, 0, 0);

$neutral-25: #fbfbfb;
$neutral-50: #f7f7f7;
$neutral-100: #f0eff0;
$neutral-200: #e0dfe1;
// $neutral-25: #fcfcfc;
// $neutral-50: #f7f6f7;
// $neutral-100: #eeedef;
$neutral-100-new: #f0eff0;
// $neutral-200: #e6e5e7;
$neutral-200-new: #E0DFE1;
$neutral-300: #d1cfd2;
$neutral-400: #a09da1;

// TODO: replace with neutral-400
$neutral-500: #a09da1;
$neutral-600: #656167;
$neutral-700: #3d3a3e;
$neutral-800: #282729;
// $neutral-800: #342e37;
$neutral-800-new: #282729;
$neutral-900: #352e38;

$primary-50: #e5f1ff;
$primary-100: #cce3ff;
$primary-200: #99c7ff;
$primary-300: #66abff;
$primary-400: #4d9dff;
$primary-500: #338fff;
$primary-600: #2972cc;
// $primary-600: #005ccc;
$primary-600-new: #2972CC;
$primary-700: #004599;
$primary-800: #00306a;
$primary-900: #001c3d;

// TODO: replace primary-500
$blue-500: #338FFF;
$blue-600: #2972CC;

$green-50: #f4faea;
$green-100: #eaf6d5;
$green-200: #d5edab;
$green-300: #c0e481;
$green-400: #b8e071;
$green-500: #abdb58;
$green-600: #7b9e3f;
$green-700: #5a7e1b;
$green-800: #3c5a06;

$yellow-50: #fff9e5;
$yellow-100: #fff2cc;
$yellow-200: #ffe699;
$yellow-300: #ffd966;
$yellow-400: #ffcc33;
$yellow-500: #ffbf00;
$yellow-600: #cc9900;
$yellow-700: #997300;
$yellow-800: #735600;

$rorange-50: #ffebe5;
$rorange-100: #ffd8cc;
$rorange-200: #ffb199;
$rorange-300: #ff8a66;
$rorange-400: #ff6333;
$rorange-500: #ff521d;
$rorange-600: #d63200;
$rorange-700: #992400;
$rorange-800: #721c01;

$pink-50: #ffe5fc;
$pink-100: #fbe4f8;
$pink-200: #ffc4f8;
$pink-300: #ff99f3;
$pink-400: #fa89ec;
$pink-500: #ec79de;
$pink-600: #e263d3;
$pink-700: #990087;
$pink-800: #700062;

$purple-50: #efe5ff;
$purple-100: #deccff;
$purple-200: #bd99ff;
$purple-300: #9c66ff;
$purple-400: #7a33ff;
$purple-500: #340095;
$purple-600: #4700cc;
$purple-700: #290075;
$purple-800: #180044;
