@mixin inputStyles {
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $neutral-200;
  color: $neutral-800;
  @include b2;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  &::placeholder {
    color: $neutral-500;
  }

  &:hover {
    border-color: $primary-600;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: $primary-500 !important;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12),
      0px 0px 0px 3px $primary-100 !important;

    &::placeholder {
      color: $neutral-500;
    }
  }

  &:not(:focus-within) {
    &.success {
      border-color: $green-500;
      background-color: $green-50;
    }

    &.failure {
      border-color: $rorange-600 !important;
      background-color: $white !important;
    }
  }

  &.disabled {
    background-color: $neutral-50;
    border-color: $neutral-200;
    color: $neutral-400;
    cursor: not-allowed;

    &::placeholder {
      color: $neutral-400;
    }

    &:hover {
      border-color: $neutral-200;
    }
  }

  &.displayOnly {
    background-color: $neutral-25;
    border-color: $neutral-200;
    color: $neutral-600;

    &::placeholder {
      color: $neutral-500;
    }
  }
}

@mixin darkModeInputStyles {
  background-color: $neutral-600;
  border: 1px solid $neutral-600;
  border-radius: $border-radius-corners;
  color: $neutral-50;

  &::placeholder {
    color: $neutral-500;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: $primary-300;

    &::placeholder {
      color: $neutral-500;
    }
  }

  &.isTyping {
    border-color: $primary-200;
  }

  &.success {
    border-color: $green-500;
    background-color: $green-50;
    color: $neutral-800;
  }

  &.failure {
    border-color: $rorange-500;
    background-color: $rorange-50;
    color: $neutral-800;
  }

  &.disabled {
    background-color: $neutral-200;
    border-color: $neutral-200;
    color: $white;
    cursor: not-allowed;

    &::placeholder {
      color: $white;
    }
  }
}
