@mixin inputStyles {
  background-color: $neutral-50;
  border-radius: $border-radius-corners;
  border: 2px solid $neutral-200;
  color: $neutral-800;

  &::placeholder {
    color: $neutral-300;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: $primary-200;

    &::placeholder {
      color: $neutral-500;
    }
  }

  &.isTyping {
    border-color: $primary-500;
  }

  &.success {
    border-color: $green-500;
    background-color: $green-50;
  }

  &.failure {
    border-color: $rorange-500;
    background-color: $rorange-50;
  }

  &.disabled {
    background-color: $neutral-200;
    border-color: $neutral-200;
    color: $white;
    cursor: not-allowed;

    &::placeholder {
      color: $white;
    }
  }
}
