@mixin popoverChild {
  padding: 8px;
  position: absolute;
  z-index: 1001;
}

@mixin baseTooltipStyles {
  align-items: center;
  background-color: $white;
  border-radius: $border-radius-corners;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 196px;
  min-height: 8px;
}

@mixin baseArrowStyles {
  height: 0;
  position: absolute;
  width: 0;
  visibility: hidden;
  z-index: 1001;
}

@mixin borderedArrowStyles($direction) {
  @if $direction == up {
    @include baseArrowStyles;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      top: 2px;
    }

    &::before {
      border-bottom: 8px solid $neutral-400;
    }

    &::after {
      border-bottom: 8px solid $white;
      margin-top: 4px;
    }
  } @else if $direction == down {
    @include baseArrowStyles;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      top: -4px;
    }

    &::before {
      border-top: 8px solid $neutral-400;
      margin-top: 2px;
    }

    &::after {
      border-top: 8px solid $white;
      margin-top: -2px;
    }
  } @else {
    @include baseArrowStyles;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }

    &::before {
      border-right: 8px solid $neutral-400;
    }

    &::after {
      border-right: 8px solid $white;
      margin-left: 4px;
    }
  }
}

@mixin solidTooltipStyles {
  background-color: $primary-100;
  border-color: $primary-100;

  .Text {
    color: $neutral-800;
  }
}

@mixin solidArrowStyles($direction, $color) {
  @if $direction == up {
    &::before {
      border-bottom: 8px solid $color;
    }

    &::after {
      border-bottom: 8px solid $color;
    }
  } @else if $direction == down {
    &::before {
      border-top: 8px solid $color;
    }

    &::after {
      border-top: 8px solid $color;
    }
  } @else {
    &::before {
      border-right: 8px solid $color;
    }

    &::after {
      border-right: 8px $color;
    }
  }
}
