@mixin coloredBottomBorder($color) {
  border-bottom: 4px solid $color;
  padding-bottom: 4px;
  width: fit-content;
}

@mixin b1 {
  font-family: $font-family-neue-haas-unica;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

@mixin b2 {
  font-family: $font-family-neue-haas-unica;
  font-size: 14px;
  line-height: 20px;

  &.bold,
  &.italic {
    letter-spacing: 0.02em;
  }
}

@mixin caption {
  font-family: $font-family-neue-haas-unica;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 18px;
}

@mixin multiline-text-ellipsis($max-lines: 1) {
  display: -webkit-box;
  overflow: hidden;

  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;

  -moz-line-clamp: $max-lines;
  -moz-box-orient: vertical;

  -o-line-clamp: $max-lines;
  -o-box-orient: vertical;

  -ms-line-clamp: $max-lines;
  -ms-box-orient: vertical;
}
