@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';

.SnapshotInfoRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .snapshot-info-row-label.Text {
    color: colors.$neutral-500;
  }

  a {
    align-items: center;
    display: flex;

    .snapshot-link {
      color: colors.$purple-400;
      margin-right: 4px;
    }
  }
}
