@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.TopicDetails {
  header {
    margin-bottom: 32px;

    .subheader {
      color: colors.$neutral-500;
    }
  }

  .content-container {
    display: flex;

    main {
      width: 60%;

      .CWTabsRow {
        width: 100%;
        margin-bottom: 16px;
      }
    }

    aside {
      width: 40%;
      padding: 22px 60px;
    }
  }

  @include media_queries.extraSmall {
    header {
      margin-bottom: 14px;
    }

    .content-container {
      flex-direction: column-reverse;
      gap: 16px;

      main {
        width: 100%;
      }

      aside {
        padding: 0;
        width: 100%;
      }
    }
  }
}
