@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.CommunityManagementLayout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 69px;

  @include media_queries.mediumSmallInclusive {
    grid-template-columns: 1fr;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: flex-start;

    .header {
      .b1 {
        color: colors.$neutral-500 !important;
      }
    }

    .admins-moderators {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;
    }

    .feature-hint-mobile {
      display: none;

      @include media_queries.mediumSmallInclusive {
        display: initial;
      }
    }
  }

  .right-section {
    margin-top: 64px;

    @include media_queries.mediumSmallInclusive {
      display: none;
    }
  }
}
