@import '../../../../../styles/shared';

.StakeIntegration {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: flex-start;

  .action-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;

    @include extraSmall {
      justify-content: flex-end;
    }
  }
}
