@import '../../shared';

@mixin bareAvatar {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  background: $white;
  border-radius: $border-radius-round;
  overflow: hidden;

  .avatar-image {
    background: $neutral-200;
    background-size: cover;
  }
}

@mixin circledAvatar {
  border-radius: $border-radius-round;
  overflow: hidden;
  margin: 0;
  background: $white;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.1);

  svg {
    margin: 2px;
  }

  .avatar-image {
    width: 100% !important;
    height: 100% !important;
    background: $neutral-200;
    background-size: cover;
  }
}

@mixin roleIcon {
  background: $primary-600;
  border-radius: $border-radius-round;
  color: $white;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  padding: 0px 2px 2px;
  line-height: 1;
  width: 14px;
  height: 14px;

  &.green {
    background: $green-500;
  }

  &.red {
    background: $rorange-500;
  }

  &.gray {
    background: $primary-400;
  }

  &.long {
    border-radius: $border-radius-corners;
    font-size: 15px;
    font-weight: 400;
    height: 24px;
    margin-top: 4px;
  }
}

.User {
  display: flex;
  white-space: nowrap;
  align-items: center;

  > a {
    // reset link styles

    &,
    &:link,
    &:visited {
      color: inherit;
    }
  }

  .user-avatar {
    @include bareAvatar();
  }

  .user-avatar-only {
    @include circledAvatar();
  }

  a.user-display-name {
    color: $neutral-800;
    cursor: inherit;
    text-decoration: initial;
    display: flex;
  }

  .id-short {
    color: $neutral-600;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 4px;
    background: $neutral-100;
    border-radius: $border-radius-corners-wider;
    text-decoration: none !important;
    padding: 1px 8px;
    height: 16px;
  }

  &.linkified a.user-display-name {
    cursor: pointer;
  }

  &.linkified a.user-display-name:hover {
    text-decoration: underline;
  }

  .role-icon {
    @include roleIcon();
  }

  .role-tag-container {
    display: inline-block;

    .role-tag-text.Text {
      background-color: $neutral-200;
      border-radius: $border-radius-rounded-corners;
      margin-left: 6px;
      padding: 2px 8px;
    }
  }
}

.user-popover-wrapper {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.UserPopover {
  background-color: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  padding: 8px;
  text-align: center !important;

  .user-avatar,
  .user-name {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
    font-weight: 500 !important;
  }

  .user-avatar {
    @include circledAvatar();

    width: 36px !important;
    height: 36px !important;
    margin: 0 auto 12px !important;
  }

  .user-name {
    clear: both;

    a {
      text-decoration: none !important;
      color: $neutral-800 !important;
    }

    a:hover {
      text-decoration: underline !important;
    }
  }

  .user-address,
  .user-chain {
    color: $neutral-500 !important;
  }

  .role-tag {
    margin-top: 10px !important;
  }

  .role-icon {
    @include roleIcon();

    top: 3px !important;
  }
}

.UserBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .user-block-left {
    padding-right: 13px;
    position: relative;
  }

  .user-block-center {
    display: flex;
    align-items: center;

    .user-block-name,
    .user-block-address {
      text-align: left;
    }

    .user-block-address {
      font-size: 0.85em;
      margin-top: -2px;
    }

    .user-block-via {
      font-size: 0.75em;
      margin-left: 8px;
      border: 1px solid #ccc;
      padding: 1px 6px 2px;
      border-radius: 21px;
      line-height: 1;
    }
  }

  .user-block-right {
    .user-block-selected {
      text-align: right;
      position: relative;
      top: 1px;
    }
  }

  &.compact {
    .user-block-left {
      top: 2px;
    }

    .user-block-center {
      .user-block-name {
        font-size: 0.94em;
      }

      .user-block-address {
        font-size: 0.8em;
      }
    }
    .user-block-right {
      display: flex;
      font-size: 0.8em;
    }
  }
}

.ban-wrapper {
  display: flex;
  margin-top: 5px;
}
