@use '../../../../../../../styles/shared';
@use '../../../../../../../styles/mixins/colors.module';
@use '../../../../../../../styles/mixins/media_queries';

.ContestLiveStep {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  max-width: 590px;

  @include media_queries.small {
    max-width: unset;
  }

  .img {
    width: 265px;
    height: 190px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;

    .description {
      color: colors.$neutral-500;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      @include media_queries.smallInclusive {
        gap: 16px;
      }

      .cta-btn {
        @include media_queries.smallInclusive {
          width: 100%;
        }

        .Button {
          width: 287px;

          @include media_queries.smallInclusive {
            width: 100%;
          }
        }
      }
    }
  }
}
