@use '../../../styles/shared';
@use '../../../styles/mixins/colors.module';

.PricePercentageChange {
  width: fit-content;
  display: flex;
  align-items: center;

  &.negative {
    color: colors.$rorange-500;
  }

  &.positive {
    color: colors.$green-500;
  }
}
