@import '../../../styles/shared';

.PricePercentageChange {
  width: fit-content;
  display: flex;
  align-items: center;

  &.negative {
    color: $rorange-500;
  }

  &.positive {
    color: $green-500;
  }
}
