@import '../../../../styles/shared';

.EditProfile {
  &.full-height {
    height: 100%;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    .buttons {
      display: flex;
      gap: 16px;
      align-items: center;

      .tertiary-black {
        padding-left: 0;
      }
    }
  }

  .FormSection {
    width: 100%;

    .description {
      color: $neutral-500;
    }

    .profile-image-section {
      .image-upload {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        margin: 16px 0;

        .AvatarUpload {
          background-color: transparent;
        }

        .TextInput {
          width: 75%;
        }

        p {
          margin: 0 20px;
          color: #999999;
        }
      }
    }

    .addresses-section {
      .addresses {
        display: flex;
        justify-content: space-between;
        margin: 0 80px;

        .Tag {
          margin-right: 8px;
        }

        .address {
          display: flex;
          align-items: center;
        }
      }

      .Button {
        background-color: $neutral-100;
        margin-top: 24px;
        width: 100%;

        &:hover {
          background-color: $neutral-200;
        }

        svg,
        .Text {
          color: $neutral-600;
        }
      }
    }

    .LinkedAddresses {
      margin-bottom: 32px;
    }
  }

  .link-type {
    min-width: 80px;
    text-align: center;
    text-transform: capitalize;
  }

  .input-controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .preferences-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;

    .h4 {
      color: $neutral-600;
    }

    .h5 {
      color: $neutral-500;
    }
  }

  .Divider {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
