@import '../../../../styles/shared';

.CollapsableSidebarButton {
  svg {
    fill: $neutral-500;
  }

  // Common button styles
  .button-base {
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    z-index: 101; // Above event marquee but below modals

    &:hover {
      background: $neutral-50;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &.onMobile {
    margin-left: 16px;

    // This is an invisible box that allows us to hover over
    // it in order to make the collapsable button visible
    .hover-box {
      position: static;
      height: auto;
      display: flex;
      width: auto;

      .collapse-scoped,
      .collapse-unscoped {
        opacity: 1;
      }

      .collapse-scoped,
      .collapse-unscoped,
      .expand-scoped,
      .expand-unscoped {
        position: static;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        @extend .button-base;
      }
    }
  }

  .hover-box {
    position: fixed;
    height: 100vh;
    width: 57px;
    overflow: hidden;
    z-index: 101; // Above event marquee but below modals
    transition: 0.2s linear;
    pointer-events: none;

    &.expanded {
      width: 290px;
      transition: 0.2s linear;
    }

    .collapse-unscoped {
      left: 16px;
      top: 68px;
      transform: rotate(-180deg);
      transition: 0.2s linear;
      position: absolute;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background: $neutral-50;

      pointer-events: auto;
      @extend .button-base;
    }

    .expand-unscoped {
      left: 16px;
      top: 68px;
      transform: rotate(0deg);
      transition: 0.2s linear;
      position: absolute;

      pointer-events: auto;
      @extend .button-base;
    }

    .collapse-scoped {
      position: absolute;
      transform: rotate(-180deg);
      transition: 0.2s linear;
      left: 10px;
      top: 68px;
      background: $neutral-50;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      pointer-events: auto;
      @extend .button-base;
    }

    .expand-scoped {
      position: absolute;
      transform: rotate(0deg);
      transition: 0.2s linear;
      left: 257px;
      top: 68px;
      pointer-events: auto;
      @extend .button-base;
    }

    .hover-image {
      cursor: pointer;
      display: block;
      opacity: 1;
    }
  }
}
