.DesktopEditorFooter {
  color: rgb(128, 128, 128);

  display: flex;
  padding: 8px;

  .Item {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
  }

  .FilePickerInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .FilePickerButton {
    cursor: pointer;
    border: none;
    color: rgb(128, 128, 128);
  }

  .SubmitButtonItem {
    margin-left: auto;
    background-color: #dfdee0;

    button {
      border: none;
      font-size: 1.2em;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 8px;
      display: inline-block;
    }
  }

  .IconAndText {
    display: flex;
    gap: 8px;

    div {
      margin: auto auto;
    }
  }
}
