.mdxeditor .mdxeditor-toolbar {
  border-top: solid #c6c6c6 1px;
  border-radius: inherit;
  background-color: inherit;
}

.mdxeditor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mdxeditor-diff-source-wrapper,
.mdxeditor-root-contenteditable,
.mdxeditor-rich-text-editor {
  display: flex !important;
  flex-grow: 1;
}

.mdxeditor-block-type-select,
.mdxeditor-block-type-select button {
  width: 45px;
}

#root {
  // this is needed for mobile layout
  display: flex;
}

#mava {
  display: none;
}

.ReactQueryDevtools * {
  display: none;
}
