.mdxeditor .toolbar {
  border-top: solid #c6c6c6 1px;
  border-radius: inherit;
  background-color: inherit;
}

.mdxeditor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mdxeditor-diff-source-wrapper {
  flex-grow: 1;
}

.mdxeditor-block-type-select button {
  width: 65px;
}
