@import '../../../styles/shared.scss';

.CWResponsiveDialog .CWModal .CWModalBody {
  overflow-y: auto;
  max-height: 75vh;
  padding-bottom: var(--spacing-large);
}

.CWResponsiveDialog .CWModal .CWModalBody .ImageActionModal,
.ImageActionModal {
  width: 100%;

  .image-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  .reference-images-container {
    margin-bottom: var(--spacing-large);
    border-bottom: 1px solid $neutral-200;
    padding-bottom: 24px;
    width: 100%;
    display: block !important;
  }

  .reference-label {
    display: block;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xxsmall);
    color: var(--text-primary);
  }

  .reference-subheading {
    color: var(--text-secondary);
    margin-bottom: var(--spacing-medium);
    display: block;
  }

  .reference-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
  }

  .grid-item {
    position: relative;
    aspect-ratio: 1 / 1;
  }

  .empty-reference-uploader {
    width: 60px;
    height: 60px;
    background-color: $neutral-100;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px dashed $neutral-400;

    &:hover {
      background-color: $neutral-200;
    }

    .plus-icon {
      color: $neutral-500;
      font-size: 24px;
    }
  }

  .add-reference-button {
    margin-top: 16px;
  }

  .reference-text-container {
    margin-bottom: var(--spacing-large);
    border-bottom: 1px solid $neutral-200;
    padding-bottom: 24px;
  }

  .reference-text-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
  }

  .reference-text-list .Tag.pill {
    background-color: $neutral-100 !important;
    border: 1px solid $neutral-300 !important;
    padding: 4px 8px !important;
    margin-bottom: var(--spacing-small);

    .Text {
      color: $neutral-700 !important;
      font-weight: var(--font-weight-regular) !important;
    }

    .close-container {
      background-color: transparent !important;
      margin-left: 6px;

      svg {
        color: $neutral-500 !important;
      }

      &:hover {
        svg {
          background-color: $neutral-200 !important;
          color: $neutral-700 !important;
        }
      }
    }

    &:hover {
      background-color: $neutral-200 !important;
      border-color: $neutral-400 !important;

      .Text {
        color: $neutral-800 !important;
      }

      .close-container svg {
        color: $neutral-700 !important;
      }
    }
  }

  .debug-context-button {
    margin-top: var(--spacing-medium);
  }

  .ImageActionModalFooter {
  }
}

div[class*='CWModal'] div[class*='reference-grid'] > div[class*='grid-item'] {
  display: inline-block !important;
  margin-right: 8px !important;
}
