@import 'shared.scss';

$cui-base-border-color: #dadada;

$cui-primary-bg-color: $theme-base-color;
$cui-primary-bg-color-hover:      darken($cui-primary-bg-color, 7%) !default;
$cui-primary-bg-color-active:     darken($cui-primary-bg-color, 11%) !default;
$cui-primary-gradient:            linear-gradient(180deg, $cui-primary-bg-color 10.5%, darken($cui-primary-bg-color, 3.5%) 100%) !default;
$cui-primary-gradient-hover:      linear-gradient(180deg, $cui-primary-bg-color  10.5%, darken($cui-primary-bg-color, 7%) 100%) !default;
$cui-primary-gradient-active:     linear-gradient(180deg, $cui-primary-bg-color  10.5%, darken($cui-primary-bg-color, 7%) 100%) !default;
$cui-primary-border-color:        darken($cui-primary-bg-color, 7%) !default;
$cui-primary-border-color-hover:  darken($cui-primary-bg-color, 14%) !default;
$cui-primary-border-color-active: darken($cui-primary-bg-color, 21%) !default;

@import 'construct-ui/src/utils/focus-manager/index.scss';
@import 'construct-ui/src/components/index.scss';
