@import 'client/styles/shared';

// page layout
* {
    box-sizing: border-box;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
html {
    font-family: $fonts;
    font-size: 18px;
    line-height: 1.3;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: $background-color-white;
    overflow-y: scroll;
}
body {
    overscroll-behavior-y: none;
}
.mithril-app {
    height: 100%;
    width: 100%;
}
$gradient-base-color: saturate(lighten($primary-bg-color, 20%), 14%);
.home-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
        180deg, mix($gradient-base-color, #fff, 100%) 0%,
        mix($gradient-base-color, #fff, 91%) 4%,
        mix($gradient-base-color, #fff, 83%) 9%,
        mix($gradient-base-color, #fff, 75%) 13%,
        mix($gradient-base-color, #fff, 67%) 18%,
        mix($gradient-base-color, #fff, 60%) 23%,
        mix($gradient-base-color, #fff, 53%) 29%,
        mix($gradient-base-color, #fff, 45%) 35%,
        mix($gradient-base-color, #fff, 39%) 42%,
        mix($gradient-base-color, #fff, 32%) 49%,
        mix($gradient-base-color, #fff, 25%) 57%,
        mix($gradient-base-color, #fff, 19%) 66%,
        mix($gradient-base-color, #fff, 13%) 77%,
        mix($gradient-base-color, #fff, 6%) 88%,
        mix($gradient-base-color, #fff, 0%) 100%
    );
}

// global css
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
strong {
    font-weight: 500;
}
a {
    color: $primary-bg-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
a:visited {
    color: lighten($primary-bg-color, 5%);
}
code, pre {
    font-family: $monospace-fonts;
    font-size: 13.5px;
    background: $background-color-white-hover;
    border-radius: 4px;
}
code {
    padding: 1px 3px;
    color: $negative-bg-color;
}
pre {
    padding: 10px 12px;
}
::selection {
    color: $text-color-white;
    background: $background-color-dark-accent;
}

// shared styles
.clear {
    clear: both;
}
.container {
    position: relative;
    max-width: $layout-max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include xs-max {
        padding: 0 1rem;
    }
}
.forum-container {
    padding: 20px 0;
}
.MobileSidebarHeader {
    display: none;
}
.Sidebar {
    position: fixed;
    top: 0;
    left: $quick-switcher-width;
    @include sm-max {
        left: 0;
    }
    width: $sidebar-width;
    height: 100%;
    background: $background-color-light;
}

.layout-container {
    padding-left: $sidebar-width + $quick-switcher-width;
    padding-right: 0;
    @include sm-max {
        padding-left: $sidebar-width;
    }
}
.hidden-sidebar {
    .layout-container {
        padding-left: 0;
        padding-right: 0;
    }
    .Sidebar {
        display: none;
    }
}
@include md-max {
    .layout-container {
        padding-right: 0;
    }
}
@include sm-max {
    $mobile-sidebar-height: 60px; // see also sidebar/index.scss
    .MobileSidebarHeader {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        height: $mobile-sidebar-height;
        user-select: none;
    }
    .Sidebar {
        display: none;
        position: fixed;
        top: $mobile-sidebar-height;
        left: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 99;
        &.open {
            display: block;
        }
    }
    .layout-container {
        padding-top: $mobile-sidebar-height;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
