@import 'client/styles/shared';

// page layout
* {
    box-sizing: border-box;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
html {
    font-family: $fonts;
    font-size: 17px;
    line-height: 1.3;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    overflow-y: scroll;
}
.mithril-app {
    height: 100%;
    width: 100%;
}
.home-gradient {
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
        180deg, #6788F9 0%,
        rgba(108,141,249,0.91) 4%,
        rgba(112,145,249,0.83) 9%,
        rgba(117,149,249,0.75) 13%,
        rgba(121,153,249,0.67) 18%,
        rgba(124,156,249,0.60) 23%,
        rgba(128,160,249,0.53) 29%,
        rgba(131,163,250,0.45) 35%,
        rgba(134,166,250,0.39) 42%,
        rgba(137,169,250,0.32) 49%,
        rgba(139,171,250,0.25) 57%,
        rgba(142,174,250,0.19) 66%,
        rgba(145,177,250,0.13) 77%,
        rgba(147,179,250,0.06) 88%,
        rgba(150,182,250,0.00) 100%
    );
    @include sm-max {
        top: 30px;
    }
}

// global css
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
strong {
    font-weight: 500;
}
a {
    color: $theme-accent-dark;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
a:visited {
    color: lighten($theme-accent-dark, 4%);
}
code, pre {
    font-family: SF Mono, Menlo, Monaco, monospace;
    font-size: 13.5px;
    background: #f2f3f4;
    border-radius: 4px;
}
code {
    padding: 1px 3px;
    color: #d72323;
}
pre {
    padding: 10px 12px;
}
::selection {
    color: #fff;
    background: #444;
}

// shared styles
.clear {
    clear: both;
}
.container {
    position: relative;
    max-width: $layout-max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include xs-max {
        padding: 0 1rem;
    }
}
.forum-container {
    padding: 20px 0;
}
.MobileSidebarHeader {
    display: none;
}
.Sidebar {
    position: fixed;
    top: 0;
    left: $quick-switcher-width;
    @include sm-max {
        left: 0;
    }
    width: $sidebar-width;
    height: 100%;
    scroll-y: auto;
    background: $background-color-light;
}

.layout-container {
    padding-left: $sidebar-width + $quick-switcher-width;
    padding-right: $sidebar-width;
    @include sm-max {
        padding-left: $sidebar-width;
    }
}
.hidden-sidebar {
    .layout-container {
        padding-left: 0;
        padding-right: 0;
    }
    .Sidebar, .RightSidebar {
        display: none;
    }
}
@include md-max {
    .layout-container {
        padding-right: 0;
    }
}
@include sm-max {
    $mobile-sidebar-height: 60px; // see also sidebar/index.scss
    .MobileSidebarHeader {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        height: $mobile-sidebar-height;
        user-select: none;
    }
    .Sidebar {
        display: none;
        position: fixed;
        top: $mobile-sidebar-height;
        left: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 99;
        &.open {
            display: block;
        }
    }
    .layout-container {
        padding-top: $mobile-sidebar-height;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
