@import 'client/styles/shared';

.Modal {
    .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background: rgba(0,0,0,0.3);
        z-index: 51;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popup {
        @include popout();
        position: relative;
        min-width: 380px;
        max-width: 800px;
        max-height: 96%;
        background: white;
        overflow: hidden;
        overflow-y: auto;
        max-width: 92%;
        border-radius: 3px;
        z-index: 20;
    }
    .modal-title {
        padding: 20px 28px 19px;
        border-bottom: 1px solid #eee;
    }
    .modal-title h1,
    .modal-title h2,
    .modal-title h3 {
        font-size: 19px;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    .modal-body {
        padding: 28px;
        border-bottom: 1px solid #eee;
    }
    .modal-actions {
        padding: 22px 28px;
        float: right;
    }

    .compact-modal-title {
        padding: 21px 28px 20px;
        background: #272524;
        color: #fff;
        h1, h2, h3 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        .subtitle {
            margin-top: 1px;
            margin-bottom: 2px;
        }
    }
    .compact-modal-body {
        padding: 16px 28px 0;
        &:last-child {
            padding-bottom: 16px;
        }
    }
    .compact-modal-actions {
        padding: 6px 28px 28px;
    }
    @include xs-max {
        .popup {
            min-width: 310px;
        }
        .compact-modal-title {
            padding: 14px 20px 12px;
            h1, h2, h3 {
                font-size: 16px;
            }
        }
        .compact-modal-body,
        .compact-modal-actions {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.ModalExitButton,
.CompactModalExitButton {
    position: absolute;
    top: 8px;
    right: 17px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.4;
    &:hover {
        opacity: 0.6;
    }
}

.ModalExitButton {
    color: #777;
}
.CompactModalExitButton {
    color: #fff;
}
