@import 'client/styles/shared';

.Modal {
    .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background: rgba(0,0,0,0.2);
        z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:last-child .overlay {
        background: rgba(0,0,0,0.2);
    }
    .popup {
        @include popout();
        position: relative;
        min-width: 380px;
        max-width: 800px;
        max-height: 96%;
        background: white;
        overflow: hidden;
        overflow-y: auto;
        max-width: 92%;
        border-radius: 3px;
        z-index: 20;
    }
    @include xs-max {
        .popup {
            min-width: calc(100vw - 20px);
            max-height: calc(100vh - 20px);
        }
    }

    .compact-modal-title {
        padding: 18px 27px;
        background: #4f63be;
        color: #fff;
        line-height: 1.2;
        h1, h2, h3 {
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
        .subtitle {
            margin-top: 1px;
            margin-bottom: 2px;
        }
    }
    .compact-modal-body {
        padding: 20px 28px 0;
        &:last-child {
            padding-bottom: 18px;
        }
    }
    .compact-modal-actions {
        padding: 2px 28px 28px;
    }
    @include xs-max {
        .compact-modal-title {
            padding: 14px 20px 13px;
        }
        .compact-modal-body,
        .compact-modal-actions {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.CompactModalExitButton {
    position: absolute;
    top: 0.35em;
    right: 0.75em;
    font-size: 1.65rem;
    cursor: pointer;
    color: #fff;
    opacity: 0.4;
    &:hover {
        opacity: 0.6;
    }
}

.cui-query-list-checkmark {
    .cui-list-item-content-left{
        position: relative;
        margin-right: 7px;
    }
}