@import 'mixins/functions';
@import 'mixins/animation';
@import 'mixins/responsive';
@import 'mixins/dragula';
@import 'construct-ui/src/_shared/_colors';

//
// layout parameters

$sidebar-width: 220px;
$quick-switcher-width: 64px;
$layout-max-width: 1280px;
$layout-padding: 36px;
$layout-padding-xs: 20px;

//
// base fonts

$fonts: Calibre, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$monospace-fonts: SF Mono, Menlo, Monaco, "Lucida Sans Typewriter", "Courier New", Courier, monospace;

//
// base colors

$base-bg-color:     #ffffff;
$primary-bg-color:  #4f6dbd; // also used for text
$positive-bg-color: #41a360; // also used for text
$negative-bg-color: #d4302f; // also used for text

$intermediate-icon-color: #ffa200;
$positive-icon-color: #7ed320;
$failure-icon-color: #db322d;

$last-seen-notification-color: #ea7a60;

$text-color-white: #fff;
$text-color-lightest: #b5b7b9;          // light text on white background
$text-color-lighter: #a3a4a7;           // light text on white background
$text-color-light: #9a9da4;             // light text on light background
$text-color-medium: #777;               // medium text on any background
$text-color-medium-dark: #555;          // light off-black text on any background
$text-color-darker: #333;               // off-black text on any background
$text-color-black: #222;                // black text on any background

$text-color-primary-light: tint($primary-bg-color, 75%);
$text-color-primary: $primary-bg-color;

//
// background colors

$background-color-white: #ffffff;
$background-color-black-hover: tint(#484744, 30%);
$background-color-white-hover: tint($primary-bg-color, 96.5%);
$background-color-black: #262523;
$background-color-white-hover-0: tint(#FAFAFA, 10%);
$background-color-light: desaturate(tint($primary-bg-color, 90%), 12%);
$background-color-light-hover: desaturate(tint($primary-bg-color, 86.5%), 12%);
$background-color-medium-light: desaturate(tint($primary-bg-color, 75%), 25%);

$background-color-light-positive: #cce8cc;
$background-color-light-negative: #e8cccc;

$background-color-medium-accent: tint($primary-bg-color, 50%);

$background-color-dark-accent: $primary-bg-color;
$background-color-dark-monochrome: #36393f;
$background-color-darker-accent: shade($primary-bg-color, 4%);
$background-color-darker-monochrome: #2f3136;

$background-color-unread: #ffffe0;      // notifications color
$background-color-selection-on-dark: #ffdd00;

//
// border colors

$border-color: #c5cdd1;
$border-color-light: #e0e4f1;
$border-color-lightest: #e0e4f1;
$border-color-focus: mix($border-color, $primary-bg-color, 50%);
$border-color-off-white: #eee;

//
// forum listing components

$text-size-item-header: 19px;
$text-size-item-meta: 17px;
$listing-left-flex: 6;
$listing-right-flex: 1;

//
// mobile specs

$text-size-mobile-header: 22px;

@mixin listing-row-base {
    display: flex;
    padding: 15px 20px 9px;
    margin: 0 -20px;
    cursor: pointer;
    &:hover {
        background: $background-color-white-hover;
    }
}

@mixin formfield-base {
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    &:focus {
        border-color: $border-color-focus;
    }
}

@mixin formfield-text {
    @include formfield-base;
    padding: 10px;
    &::placeholder {
        color: $text-color-light;
    }
    &:focus::placeholder {
        color: $text-color-light;
    }
}

@mixin error-text {
    font-weight: 500;
    color: $negative-bg-color;
}
@mixin success-text {
    font-weight: 500;
    color: $positive-bg-color;
}

@mixin attachments {
    p {
        font-weight: 500;
        color: $text-color-light;
    }
    a.attachment-item {
        display: inline-block;
        max-width: 100px;
        max-height: 100px;
        background: $background-color-light;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        &:hover {
            background: $background-color-light-hover;
        }
        img {
            width: 50%;
            margin: 10px 0 4px;
        }
    }
}

@mixin gov-explainer {
    .stats-box {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 24px 20px 20px;
        border-radius: 10px;
        background-color: #f8f8f8;
        display: flex;
        .stats-box-left {
            font-size: 28px;
            margin-right: 16px;
        }
        .stats-box-right {
            line-height: 1.25;
            p {
                margin: 4px 0 0;
            }
        }

        .stats-box-stat {
            display: inline-block;
            margin: 6px 0 0;
            color: #888;
            &::after {
                content: ' ';
                margin: 0 12px;
            }
        }
        .stats-box-action {
            display: inline-block;
            margin: 6px 0 0;
            color: #888;
            &::after {
                content: ' ';
                margin: 0 12px;
            }
        }
    }
    @include sm-max {
        .stats-box-left {
            display: none;
        }
    }

    h3 {
        margin-bottom: 0;
        clear: both;
    }
    .clear + h3 {
        margin-top: 40px;
    }

    .no-proposals {
        margin-top: 10px;
        color: $text-color-light;
    }
}

@mixin card {
    position: relative;
    float: left;
    height: 220px;
    width: calc(50% - 24px);
    max-width: 320px;
    @include xs-max {
        width: 100%;
        max-width: none;
    }
    @include xl-min {
        width: calc(33% - 24px);
    }
    // padding
    padding: 24px 24px 22px;
    border-radius: 15px;
    border: 1px solid $border-color-off-white;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.07);
    margin-right: 24px;
    margin-bottom: 22px;
    cursor: pointer;
    &:hover {
        box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    }
    // text
    overflow-wrap: break-word;
}

@mixin gradientTabs() {
    .cui-tabs-item {
        padding: 13px 15px 7px;
        margin: 0 !important;
        color: $text-color-light;
    }
    .cui-tabs-item:hover {
        color: #666666;
        border-width: 2px;
        border-color: #DDDDDD;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    .cui-tabs-item.cui-active {
        color: $text-color-black;
        border-width: 2px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-image: linear-gradient(to right, #6086d1, #b37dba) 1;
    }
}
