@import 'mixins/animation';
@import 'mixins/responsive';
@import 'mixins/dragula';
@import 'mixins/colors';
@import 'mixins/border_radius';
@import 'mixins/choice';

// layout parameters

$sidebar-width: 232px;
$quick-switcher-width: 56px;
$layout-max-width: 1280px;
$layout-padding: 36px;
$layout-padding-xs: 20px;

// base fonts

$fonts: neue-haas-unica, Silka, 'Segoe UI', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

$monospace-fonts: SF Mono, Menlo, Monaco, 'Lucida Sans Typewriter',
  'Courier New', Courier, monospace;

$font-family-silka: Silka, sans-serif;

$font-family-neue-haas-unica: neue-haas-unica, 'Segoe UI', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

//
// mobile specs

$text-size-mobile-header: 22px;

@mixin error-text {
  color: $rorange-500;
  font-weight: 500;
}

@mixin success-text {
  color: $green-500;
  font-weight: 500;
}

@mixin attachments {
  p {
    color: $neutral-500;
    font-weight: 500;
  }

  a.attachment-item {
    background: $primary-300;
    display: inline-block;
    margin-right: 10px;
    max-height: 100px;
    max-width: 100px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: $primary-200;
    }

    img {
      margin: 10px 0 4px;
      width: 50%;
    }
  }
}

@mixin gov-explainer {
  .stats-box {
    background-color: $neutral-50;
    border-radius: 10px;
    display: flex;
    margin-bottom: 24px;
    padding: 24px;

    .stats-box-left {
      font-size: 28px;
      margin-right: 16px;
    }

    .stats-box-right {
      p {
        margin: 4px 0 0;
      }
    }

    .stats-box-stat {
      color: $neutral-500;
      display: inline-block;
      margin: 8px 0;

      &::after {
        content: ' ';
        margin: 0 12px;
      }
    }

    .stats-box-action {
      color: $neutral-500;
      display: inline-block;
      margin: 6px 0 0;

      &::after {
        content: ' ';
        margin: 0 12px;
      }
    }
  }

  @include sm-max {
    .stats-box-left {
      display: none;
    }
  }

  h3 {
    clear: both;
    margin-bottom: 0;
  }

  .clear + h3 {
    margin-top: 40px;
  }

  .no-proposals {
    color: $neutral-500;
    margin-top: 10px;
  }
}

@mixin card {
  border-radius: 15px;
  border: 1px solid $neutral-25;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  float: left;
  height: 220px;
  margin-bottom: 22px;
  margin-right: 24px;
  max-width: 320px;
  overflow-wrap: break-word;
  padding: 24px 24px 22px;
  position: relative;
  width: calc(50% - 24px);

  @include xs-max {
    margin-right: 0px;
    max-width: none;
    width: 100%;
  }

  @include xl-min {
    width: calc(33% - 24px);
  }

  &:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
}

@mixin gradientTabs() {
  .cui-tabs-item {
    color: $neutral-500;
    margin: 0 24px 0 0;

    @include sm-max {
      margin: 0 16px 0 0;
    }
  }

  .cui-tabs-item:hover {
    // these styles can't be alphabetized or else they'll apply incorrectly
    color: $neutral-600;
    border-width: 2px;
    border-color: $neutral-25;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  .cui-tabs-item.cui-active {
    // these styles can't be alphabetized or else they'll apply incorrectly
    color: $neutral-800;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

@mixin narrowBrowserHeader {
  .NewProposalButton {
    .cui-button {
      padding: 0 10px;

      .cui-button-label {
        top: 2px;
      }
    }
  }

  .role-icon {
    display: none;
  }

  .LoginSelectorMenu .user-display-name {
    display: inline;
  }

  .cui-button-label .cui-icon-user {
    margin-right: 0;
  }
}

$elevation-1-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
$elevation-2-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
$elevation-3-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
$elevation-4-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
$elevation-5-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

title {
  font-family: $fonts;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
}

@mixin header {
  font-family: $fonts;
  font-style: normal;
  font-weight: 500;
}

h1 {
  @include header;
  font-size: 48px;
}

h2 {
  @include header;
  font-size: 32px;
}

h3 {
  @include header;
  font-size: 24px;
}

@mixin body {
  font-family: $fonts;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

@mixin form-label {
  @include body;
  font-size: 14px;
  color: $neutral-600;
}
