@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-family: Calibre;
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: Calibre;
    font-weight: 100;
    font-style: italic;
  }
}

@layer components {
  .gradient-135 {
    background: linear-gradient(
      135deg,
      rgba(179, 125, 186, 1) 0%,
      rgba(96, 134, 209, 1) 100%
    );
  }

  .gradient-0 {
    background: linear-gradient(
      0deg,
      rgba(179, 125, 186, 1) 40%,
      rgba(96, 134, 209, 1) 100%
    );
  }

  .btn-primary {
    @apply bg-black text-white rounded p-3 pb-2 leading-none transition duration-300 ease-in-out;
  }

  .btn-outline {
    @apply bg-transparent border border-black text-black rounded p-3 pb-2 leading-none transition duration-300 ease-in-out;
  }

  .btn-white {
    @apply bg-white border border-white text-black rounded p-3 px-5 pb-2 leading-none transition duration-300 ease-in-out;
  }

  .btn-gradient {
    @apply relative;
  }

  .btn-gradient:after {
    @apply top-0 right-0 bottom-0 left-0 absolute z-0;
    content: '';
    background: linear-gradient(
      224.02deg,
      #79e0e8 3.58%,
      #bf8e60 25.99%,
      #d69fcc 50.71%,
      #6086d1 75.77%,
      #b37dba 95.01%
    );
    opacity: 0.8;
    filter: blur(20px);
    z-index: 0;
  }

  .btn-gradient > span {
    @apply z-10 relative;
  }

  section.LandingPageTokenHolders {
    @apply mx-auto pt-20;
  }

  .menu-open {
    @apply fixed bottom-0 top-0 right-0 left-0 rounded-none;
  }
}
