@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

@import "../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "Calibre";
    src: url("Calibre-Light.eot");
    src: local("Calibre Light"), local("Calibre-Light"),
      url("Calibre-Light.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Light.woff2") format("woff2"),
      url("Calibre-Light.woff") format("woff"),
      url("Calibre-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Thin.eot");
    src: local("Calibre Thin"), local("Calibre-Thin"),
      url("Calibre-Thin.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Thin.woff2") format("woff2"),
      url("Calibre-Thin.woff") format("woff"),
      url("Calibre-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-LightItalic.eot");
    src: local("Calibre Light Italic"), local("Calibre-LightItalic"),
      url("Calibre-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-LightItalic.woff2") format("woff2"),
      url("Calibre-LightItalic.woff") format("woff"),
      url("Calibre-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-MediumItalic.eot");
    src: local("Calibre Medium Italic"), local("Calibre-MediumItalic"),
      url("Calibre-MediumItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-MediumItalic.woff2") format("woff2"),
      url("Calibre-MediumItalic.woff") format("woff"),
      url("Calibre-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-BlackItalic.eot");
    src: local("Calibre Black Italic"), local("Calibre-BlackItalic"),
      url("Calibre-BlackItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-BlackItalic.woff2") format("woff2"),
      url("Calibre-BlackItalic.woff") format("woff"),
      url("Calibre-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Semibold.eot");
    src: local("Calibre Semibold"), local("Calibre-Semibold"),
      url("Calibre-Semibold.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Semibold.woff2") format("woff2"),
      url("Calibre-Semibold.woff") format("woff"),
      url("Calibre-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Black.eot");
    src: local("Calibre Black"), local("Calibre-Black"),
      url("Calibre-Black.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Black.woff2") format("woff2"),
      url("Calibre-Black.woff") format("woff"),
      url("Calibre-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Medium.eot");
    src: local("Calibre Medium"), local("Calibre-Medium"),
      url("Calibre-Medium.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Medium.woff2") format("woff2"),
      url("Calibre-Medium.woff") format("woff"),
      url("Calibre-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-RegularItalic.eot");
    src: local("Calibre Regular Italic"), local("Calibre-RegularItalic"),
      url("Calibre-RegularItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-RegularItalic.woff2") format("woff2"),
      url("Calibre-RegularItalic.woff") format("woff"),
      url("Calibre-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-BoldItalic.eot");
    src: local("Calibre Bold Italic"), local("Calibre-BoldItalic"),
      url("Calibre-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-BoldItalic.woff2") format("woff2"),
      url("Calibre-BoldItalic.woff") format("woff"),
      url("Calibre-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Bold.eot");
    src: local("Calibre Bold"), local("Calibre-Bold"),
      url("Calibre-Bold.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Bold.woff2") format("woff2"),
      url("Calibre-Bold.woff") format("woff"),
      url("Calibre-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-Regular.eot");
    src: local("Calibre"), local("Calibre-Regular"),
      url("Calibre-Regular.eot?#iefix") format("embedded-opentype"),
      url("Calibre-Regular.woff2") format("woff2"),
      url("Calibre-Regular.woff") format("woff"),
      url("Calibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-SemiboldItalic.eot");
    src: local("Calibre Semibold Italic"), local("Calibre-SemiboldItalic"),
      url("Calibre-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-SemiboldItalic.woff2") format("woff2"),
      url("Calibre-SemiboldItalic.woff") format("woff"),
      url("Calibre-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Calibre";
    src: url("Calibre-ThinItalic.eot");
    src: local("Calibre Thin Italic"), local("Calibre-ThinItalic"),
      url("Calibre-ThinItalic.eot?#iefix") format("embedded-opentype"),
      url("Calibre-ThinItalic.woff2") format("woff2"),
      url("Calibre-ThinItalic.woff") format("woff"),
      url("Calibre-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  } */
}

@layer components {
  .gradient-135 {
    background: linear-gradient(
      135deg,
      rgba(179, 125, 186, 1) 0%,
      rgba(96, 134, 209, 1) 100%
    );
  }
  .gradient-0 {
    background: linear-gradient(
      0deg,
      rgba(179, 125, 186, 1) 40%,
      rgba(96, 134, 209, 1) 100%
    );
  }
  /* .btn-primary {
    @apply bg-black text-white rounded p-3 pb-2 leading-none transition duration-300 ease-in-out hover:bg-gray-800;
  }

  .btn-outline {
    @apply bg-transparent border border-black text-black rounded p-3 pb-2 leading-none transition duration-300 ease-in-out hover:border-gray-800;
  }

  .btn-white {
    @apply bg-white border border-white text-black rounded p-3 px-5 pb-2 leading-none transition duration-300 ease-in-out;
  }

  .btn-gradient {
    @apply relative;
  }

  .btn-gradient:after {
    @apply top-0 right-0 bottom-0 left-0 absolute z-0;
    content: "";
    background: linear-gradient(
      224.02deg,
      #79e0e8 3.58%,
      #bf8e60 25.99%,
      #d69fcc 50.71%,
      #6086d1 75.77%,
      #b37dba 95.01%
    );
    opacity: 0.8;
    filter: blur(20px);
    z-index: 0;
  }

  .btn-gradient > span {
    @apply z-10 relative;
  } */
}
