@import 'client/styles/shared';

.SublayoutHeaderLeft {
  display: flex;
  flex-direction: row;

  .ChainIcon {
    margin-right: 8px;
  }

  h4 {
    margin-right: 4px;

    a {
      color: $neutral-800;
    }
  }

  .slash {
    color: $neutral-400;
    margin: 0 8px;
  }

  .cui-icon {
    top: 3px;
  }

  @include sm-max {
    display: none;
  }
}
