@import "client/styles/shared";

.Sublayout {
  display: block;
  .sublayout-main {
    display: flex;
    max-width: $sublayout-max-width;
    margin: 0 auto;
    > .left-sidebar {
      width: $sidebar-width;
      min-width: 200px;
      margin-right: $gutter-width;
    }
    > .right-sidebar {
      width: $sidebar-width;
      margin-left: $gutter-width;
    }
    > .sublayout-content {
      flex: 1;
    }
  }
}
