@import 'client/styles/shared';

.Sublayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .header-and-body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header-container {
      align-items: center;
      border-bottom: 1px solid $disable-grey;
      display: flex;
      flex-direction: row;
      height: 88px;
      justify-content: space-between;
      padding: 0 24px;
    }
  }

  .sidebar-and-body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .body {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      width: 100%;

      .inner-body {
        flex: 1;
      }
    }
  }

  // TODO: Graham 22.03.04 Necessity & presence of right sidebar
  // should be assessed site-wide. This is merely a hot fix for
  // comment threading.
  &.ViewProposalPage {
    .right-content-container {
      @include xs-max {
        display: none;
      }
    }
  }
}
