@import 'client/styles/shared';

.Sublayout {
    display: block;
    padding: 0 48px;
    @include sm-max {
        padding: 0 26px;
    }

    .sublayout-grid {
        position: relative;
        display: flex;
        margin: 0 auto;
        max-width: $layout-max-width;
    }

    .sublayout-header {
        display: flex;
        @include sm-max {
            display: none;
        }
        margin-top: 28px;
        margin-bottom: 8px;
        &.no-title {
            // margin-bottom: -60px;
        }
        .sublayout-header-left {
            flex: 3;
            h4.sublayout-header-heading {
                font-size: 1.25rem;
                margin: 5px 0 0;
            }
            .sublayout-header-description {
                margin-top: 2px;
                line-height: 1.1;
            }
        }
        .sublayout-header-right {
            display: flex;
            flex: 1;
            text-align: right;
            flex-direction: row-reverse;
            > .cui-button,
            > .LoginSelector {
                margin-left: 7px;
            }
        }
    }
    .sublayout-body {
        position: relative;
        min-height: calc(100vh - 140px);
        padding: 1px;
    }
}
