@import 'client/styles/shared';

.TokenHero {
  align-items: center;
  background-color: $neutral-100;
  color: $neutral-900;
  display: flex;
  font-size: 12px;
  justify-content: center;
  min-height: 32px;
}
