@import 'client/styles/shared';

.SidebarSectionGroup {
  border-bottom-color: $neutral-50;
  border-bottom-width: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .section-group-title-container {
    padding: 8px 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @include small {
      padding: 12px 40px;
    }
    @include extraSmall {
      padding: 12px 16px;
    }
    svg {
      color: $neutral-500;
    }
  }

  .sections-container {
    display: flex;
    flex-direction: column;
  }
}

.SubSectionGroup {
  .SubSectionGroupTitle {
    align-items: center;
    display: flex;
    min-width: 0;

    @include small {
      padding: 12px 56px;
    }

    @include extraSmall {
      padding: 12px 32px;
    }

    .title-text {
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &.section-title-text-stale {
      color: $neutral-500;
    }

    &.background {
      background-color: $primary-50;
    }

    &.no-background {
      background-color: unset;
    }

    &.active,
    &:hover {
      background-color: $primary-50;
    }

    .carat {
      align-items: center;
      display: flex;
      margin: 0 4px;
    }
  }
}

.SubSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 32px;
  padding: 0 8px 0 32px;

  .title-active {
    color: $purple-400;
    font-weight: 500;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .title-stale {
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.active,
  &:hover {
    background-color: $purple-50;
  }
}

.right-icon {
  display: flex;
  margin-left: auto;
  margin-top: -1px;
  position: relative;

  .admin-menu {
    position: fixed;
    z-index: 1000;
  }

  .unread-icon {
    align-items: center;
    background-color: $rorange-500;
    border-radius: 1000px;
    color: $white;
    display: flex;
    height: 16px;
    justify-content: center;
    margin-right: 4px;
    padding: 2px 4px 3px;
    min-width: 16px;
  }
}
