@import '../../../../styles/shared';

.AuthButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 2px solid $neutral-200;
  padding: 16px;
  width: 100%;
  outline: none !important;
  cursor: pointer;
  background-color: white;

  &:not(:disabled) {
    &:focus-within,
    &:focus,
    &:active {
      border: 2px solid $primary-200 !important;
      outline: none !important;
    }
  }

  &:disabled {
    background-color: $neutral-100 !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $neutral-25;
  }

  .icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;

    .label {
      font-weight: 600;
      margin-right: auto;
      margin-top: -6px;
      margin-bottom: -6px;
    }

    .description {
      margin-top: -6px;
      margin-bottom: -6px;
      background-color: $primary-600;

      &.no-bg {
        background-color: transparent;
        padding: 0 !important;

        .Text {
          color: $neutral-400 !important;
        }
      }
    }
  }
}
