@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';

.ProposalCard.Card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;

  .proposal-card-metadata {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .tag-row {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .proposal-amount-text.Text {
      color: colors.$neutral-500;
    }
  }

  .proposal-injected {
    width: 100%;
  }

  .proposal-status-text.Text {
    display: inline-block;

    &.pass {
      color: colors.$green-600;
    }

    &.fail {
      color: colors.$rorange-600;
    }
  }

  .proposal-thread-link-text.Text {
    background: colors.$neutral-100;
    border-radius: border_radius.$border-radius-corners;
    padding: 8px;
  }
}
