@import '../../../../styles/shared.scss';

.ProposalCard.Card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;

  .proposal-card-metadata {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .tag-row {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .proposal-amount-text.Text {
      color: $neutral-500;
    }
  }

  .proposal-injected {
    width: 100%;
  }

  .proposal-status-text.Text {
    display: inline-block;

    &.pass {
      color: $green-600;
    }

    &.fail {
      color: $rorange-600;
    }
  }

  .proposal-thread-link-text.Text {
    background: $neutral-100;
    border-radius: $border-radius-corners;
    padding: 8px;
  }
}
