@import '../../shared';

.AnalyticsPage {
  flex: 1;
  padding: 16px 144px 92px;

  .description {
    margin: 8px 0 32px;
    color: $neutral-500;
  }

  .overview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 16px 0;

    @include mediumSmallInclusive {
      grid-template-columns: 1fr 1fr;
    }

    @include smallInclusive {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
  }

  .view-table-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 32px;

    .Button {
      padding: 0;

      .Text {
        font-weight: 400;
        letter-spacing: normal;
      }
    }
  }

  .highlights {
    display: flex;
    width: 100%;
    gap: 16px;

    @include mediumSmallInclusive {
      flex-direction: column;
    }
  }
}