@import '../../shared';

.AnalyticsTable {
  padding: 56px;

  .table {
    border: 1px solid $neutral-100;
    border-radius: $border-radius-corners;
    width: 100%;

    .stat-row {
      border-bottom: 1px solid $neutral-100;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 12px 24px;
  
      &.title {
        padding: 18px 24px;
        background-color: $neutral-100;
  
        .Text {
          color: $neutral-700;
        }
      }
  
      &.totals {
        background-color: $neutral-25;
      }
    }
  
    .Text {
      display: flex;
      justify-content: flex-end;
  
      &.align-left {
        justify-content: flex-start;
      }
    }
  }  
}