@font-face {
    font-family: Calibre;
    font-weight: 300;
    font-style: normal;
    src: url("./Calibre-Light.woff2") format("woff2"),
        url("./Calibre-Light.woff") format("woff"),
        url("./Calibre-Light.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 300;
    font-style: italic;
    src: url("./Calibre-LightItalic.woff2") format("woff2"),
        url("./Calibre-LightItalic.woff") format("woff"),
        url("./Calibre-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 400;
    font-style: normal;
    src: url("./Calibre-Regular.woff2") format("woff2"),
        url("./Calibre-Regular.woff") format("woff"),
        url("./Calibre-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 400;
    font-style: italic;
    src: url("./Calibre-RegularItalic.woff2") format("woff2"),
        url("./Calibre-RegularItalic.woff") format("woff"),
        url("./Calibre-RegularItalic.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 500;
    font-style: normal;
    src: url("./Calibre-Medium.woff2") format("woff2"),
        url("./Calibre-Medium.woff") format("woff"),
        url("./Calibre-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 500;
    font-style: italic;
    src: url("./Calibre-MediumItalic.woff2") format("woff2"),
        url("./Calibre-MediumItalic.woff") format("woff"),
        url("./Calibre-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 600;
    font-style: normal;
    src: url("./Calibre-Semibold.woff2") format("woff2"),
        url("./Calibre-Semibold.woff") format("woff"),
        url("./Calibre-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: Calibre;
    font-weight: 600;
    font-style: italic;
    src: url("./Calibre-SemiboldItalic.woff2") format("woff2"),
        url("./Calibre-SemiboldItalic.woff") format("woff"),
        url("./Calibre-SemiboldItalic.ttf") format("truetype");
}
