@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-style: normal;
    src: url('./IBMPlexSans-Text.eot') format('embedded-opentype'),
         url('./IBMPlexSans-Text.woff') format('woff'),
         url('./IBMPlexSans-Text.woff2') format('woff2'),
         url('./IBMPlexSans-Text.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-style: italic;
    src: url('./IBMPlexSans-TextItalic.eot') format('embedded-opentype'),
         url('./IBMPlexSans-TextItalic.woff') format('woff'),
         url('./IBMPlexSans-TextItalic.woff2') format('woff2'),
         url('./IBMPlexSans-TextItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: normal;
    src: url('./IBMPlexSans-Regular.eot') format('embedded-opentype'),
         url('./IBMPlexSans-Regular.woff') format('woff'),
         url('./IBMPlexSans-Regular.woff2') format('woff2'),
         url('./IBMPlexSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-style: italic;
    src: url('./IBMPlexSans-Italic.eot') format('embedded-opentype'),
         url('./IBMPlexSans-Italic.woff') format('woff'),
         url('./IBMPlexSans-Italic.woff2') format('woff2'),
         url('./IBMPlexSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: normal;
    src: url('./IBMPlexSans-Medium.eot') format('embedded-opentype'),
         url('./IBMPlexSans-Medium.woff') format('woff'),
         url('./IBMPlexSans-Medium.woff2') format('woff2'),
         url('./IBMPlexSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-style: italic;
    src: url('./IBMPlexSans-MediumItalic.eot') format('embedded-opentype'),
         url('./IBMPlexSans-MediumItalic.woff') format('woff'),
         url('./IBMPlexSans-MediumItalic.woff2') format('woff2'),
         url('./IBMPlexSans-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-style: normal;
    src: url('./IBMPlexSans-SemiBold.eot') format('embedded-opentype'),
         url('./IBMPlexSans-SemiBold.woff') format('woff'),
         url('./IBMPlexSans-SemiBold.woff2') format('woff2'),
         url('./IBMPlexSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-style: italic;
    src: url('./IBMPlexSans-SemiBoldItalic.otf') format('opentype');
    src: url('./IBMPlexSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('./IBMPlexSans-SemiBoldItalic.woff') format('woff'),
         url('./IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
         url('./IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-style: normal;
    src: url('./IBMPlexSans-Bold.eot') format('embedded-opentype'),
         url('./IBMPlexSans-Bold.woff') format('woff'),
         url('./IBMPlexSans-Bold.woff2') format('woff2'),
         url('./IBMPlexSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-style: italic;
    src: url('./IBMPlexSans-BoldItalic.eot') format('embedded-opentype'),
         url('./IBMPlexSans-BoldItalic.woff') format('woff'),
         url('./IBMPlexSans-BoldItalic.woff2') format('woff2'),
         url('./IBMPlexSans-BoldItalic.ttf') format('truetype');
}
