@import '../../../../../../styles/shared';

.WVERC20Details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 596px;

  .description {
    color: $neutral-500;
    margin-top: -8px;
  }

  .token-input {
    .MessageRow:first-child {
      display: none;
    }
  }

  .input-row {
    display: flex;
    align-items: baseline;

    gap: 8px;

    .Text:first-child {
      white-space: nowrap;
    }

    .input-and-icon-container {
      width: 64px;
    }
  }

  .info {
    display: inline-block;

    a {
      margin-left: 4px;
      color: $primary-600;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
