@import '../../../../../../styles/shared.scss';


.CWTagInputContainer {
  position: relative;
  width: 100%;

  .CWTagInput {
    display: flex;
    align-items: center;
    // variable styles (TODO: use css variables)
    gap: 8px;
    min-height: 40px;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding: 10px 12px;
    border-radius: 6px;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid #E0DFE1;
    cursor: text;

    &:focus-within {
      // Chrome specific colors
      border-color: #338FFF;
      box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #CCE3FF;
    }

    &:hover {
      // Chrome specific colors
      border-color: #2972CC;
    }

    .tag {
      border: 0;
      outline: 0;
      border-radius: 6px;
      padding: 4px 8px;
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      background-color: $neutral-100;

      .close-btn {
        color: $neutral-500;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: $neutral-600;
        }
      }
    }

    .caret-icon {
      cursor: pointer;
      margin-left: auto;
    }

    .input {
      border: 0;
      outline: 0;
    }
  }

  .CWTagSuggestion {
    position: absolute;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #E0DFE1;
    width: 100%;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 200px;
    background-color: $white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 100;
    overflow: scroll;

    .suggestion {
      border: 0;
      outline: 0;
      border-radius: 6px;
      padding: 10px 12px;
      width: 100%;
      text-align: left;
      background-color: $neutral-100;
      cursor: pointer;
    }
  }
}