@import '../../../../../../styles/shared.scss';
.CWSelectList {
  &.disabled {
    cursor: not-allowed !important;
  }

  .SelectList {
    @include inputStyles;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid $neutral-200 !important;
    border-radius: $border-radius-corners-wider;
    min-height: 40px;
    max-height: 40px;
    padding: 10px 16px;

    .cwsl__control {
      gap: 8px;
      letter-spacing: 0.02em;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-start !important;
      cursor: text !important;

      .cwsl__value-container {
        padding: 0 !important;
        max-height: 24px;
        line-height: 14px;

        .cwsl__single-value {
          line-height: 18px;
        }

        .cwsl__multi-value {
          padding: 2px 8px;
          border-radius: 6px;
          margin: 0px !important;
          margin-right: 8px !important;
          background-color: $neutral-100;

          .cwsl__multi-value__label {
            font-size: 14px;
            margin-right: 16px;
            padding: 0px !important;
          }

          .cwsl__multi-value__remove {
            padding: 0;
            cursor: pointer;
            color: $neutral-500;
            font-size: 16px !important;

            &:hover {
              background-color: inherit;
              color: $neutral-600;
            }

            svg {
              font-size: 16px !important;
            }
          }
        }

        .cwsl__input-container {
          margin: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .cwsl__indicators {
      cursor: pointer;

      &.searchable {
        [class$='-control'] {
          cursor: text !important;
        }
      }

      .cwsl__indicator-separator {
        display: none;
      }
    }

    .cwsl__menu {
      left: 0;
      margin-top: 8px;
      border-radius: 6px;
      border: 1px solid $neutral-200;
      width: 100%;
      background-color: $white;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

      .cwsl__menu-list {
        @include scrollbarStyles;
        overflow: auto;
        padding: 8px;

        .cwsl__group {
          padding-bottom: 0;

          .cwsl__group-heading {
            text-transform: uppercase;
            font-size: 12px;
          }
        }

        .cwsl__option {
          border: 0;
          outline: 0;
          border-radius: 6px;
          padding: 10px 12px;
          width: 100%;
          font-size: 14px;
          text-align: left;
          cursor: pointer;
          margin-bottom: 4px;

          &:hover,
          &:focus,
          &:focus-visible,
          &:focus-within {
            background-color: $neutral-100;
          }

          &:active {
            background-color: transparent;
          }

          &[class*='__option--is-selected'] {
            background-color: $neutral-50;
            color: $neutral-800;

            .text-container {
              background-color: $neutral-50;
              color: $neutral-800;
            }
          }

          &[class*='__option--is-focused'] {
            background-color: $neutral-100;
            color: $neutral-800;

            .text-container {
              background-color: $neutral-100;
              color: $neutral-800;
            }
          }
        }
      }
    }
  }
}
