@import '../../../../../styles/shared';

.TokensList {
  margin: 16px 0;
  width: 100%;

  .list {
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    gap: 16px;
    margin: 16px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;

    @include extraSmall {
      grid-template-columns: 1fr !important;
    }

    @include small {
      grid-template-columns: 1fr 1fr !important;
    }

    @include mediumSmall {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}
