@import 'client/styles/shared';

.HomepageCommunityCards {
    position: relative;
    .ChainIcon {
        margin-bottom: 10px;
    }
    .CommunityIcon {
        margin-bottom: 15px;
    }
    h4 {
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        color: #999;
    }
    .communities-list,
    .other-list {
        width: calc(100% + 40px);
        margin-right: -40px;
        @include sm-max {
            width: initial;
            margin-right: 0;
        }
    }
    .other-list {
        .home-card {
            text-align: center;
        }
    }
    .home-card {
        box-sizing: border-box;
        float: left;
        width: calc(50% - 40px);
        max-width: none;
        margin-right: 30px;
        margin-bottom: 30px;
        @include sm-max {
            width: 100%;
            margin-right: 0;
        }
        padding: 20px 24px;
        border-radius: 8px;
        display: flex;

        .card-left {
            padding-right: 20px;
            padding-top: 1px;
        }
        .card-right {
            flex: 1;
            .card-right-top {
                display: flex;
            }
            h3 {
                flex: 1;
                font-size: 19px;
                font-weight: 500;
                margin: 0 0 6px;
                line-height: 1.1;
                white-space: nowrap;
                text-overflow: ellipse;
                overflow: hidden;
            }
            .chain-new {
                margin: -4px 0;
                margin-right: -8px;
            }
            .card-description {
                margin: 0;
                line-height: 1.25;
                height: 64px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .recent-activity {
                margin-top: 12px;
                color: $text-color-light;
                height: 24px;
                .recent-threads {
                    margin-bottom: 4px;
                }
            }
        }

        p.action {
            margin: 10px 0;
        }
        .cui-button {
            margin: 8px 0 1px;
        }
    }
}
