@import 'client/styles/shared';

.HomepageCommunityCards {
    margin-top: 100px;

    .CommunityIcon {
        margin-bottom: 21px;
    }
    h3 {
        font-size: 17px;
    }
    h4 {
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        color: #999;
    }
    .home-card {
        float: left;
        width: calc(50% - 30px);
        margin-top: 15px;
        margin-right: 30px;
        margin-bottom: 60px;
        h3 {
            flex: 1;
            font-weight: 500;
            margin: 15px 0 18px;
        }
        .card-description {
            height: 84px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .cui-button {
            margin-top: 10px;
            min-width: 90px;
        }
    }
    .new-threads {
        display: inline-block;
        line-height: 1.2;
        padding: 3px 8px 2px;
        color: $badge-red;
        border: 1px solid $badge-red;
        border-radius: 9999px;
    }
}
