@import 'client/styles/shared';

.HomepageCommunityCards {
    .ChainIcon {
        margin-bottom: 10px;
    }
    .CommunityIcon {
        margin-bottom: 15px;
    }
    h4 {
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        color: #999;
    }
    .home-card {
        float: left;
        width: calc(33% - 30px);
        @include md-max {
            width: calc(50% - 30px);
            max-width: none;
        }
        @include xs-max {
            width: 100%;
        }
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 30px 34px;
        height: 265px;
        h3 {
            flex: 1;
            font-weight: 500;
            margin: 0 0 7px;
            white-space: nowrap;
            text-overflow: ellipse;
            overflow: hidden;
        }
        .card-description {
            margin: 0 0 16px;
            line-height: 1.25;
            height: 68px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .new-threads {
        display: inline-block;
        line-height: 1.2;
        padding: 3px 8px 2px;
        color: $positive-bg-color;
        border: 1px solid $positive-bg-color;
        border-radius: 9999px;
    }
}
