@import 'client/styles/shared';

.Homepage {
    max-width: 900px;
    margin: 0 auto 60px;
    padding-top: 40px;
    @include sm-max {
        margin-top: 30px;
        padding-top: 0px;
    }
    h1 {
        font-size: 28px;
        margin: 0;
        text-align: center;
    }
    p.lead-copy {
        text-align: center;
        font-size: 19px;
        margin: 0 0 34px;
        line-height: 1.25;
    }
}
