// styles shared across all modules
.Homepage {
    .container {
        max-width: 1100px;
    }

    h1, h2, h3, h4 {
        font-weight: 600;
        letter-spacing: -0.01rem;
    }
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .cui-button {
        font-weight: 600;
    }
}
