@import '../../../../../../styles/shared.scss';

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 0 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
