@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/border_radius';
@use '../../../../../styles/mixins/colors.module';

.CWIconButton {
  border-radius: border_radius.$border-radius-corners-wider;
  line-height: 0;
  padding: 4px;
  border: none;
  outline: none;
  width: fit-content;

  svg {
    color: colors.$neutral-500;
  }

  &:hover:not(.disabled) {
    background-color: colors.$neutral-100;
    cursor: pointer;
  }

  &:active {
    background-color: colors.$neutral-50;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;

    svg {
      color: colors.$neutral-400;
    }
  }

  &.sm {
    svg {
      height: 16px;
      width: 16px;
    }
  }

  &.med {
    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.lg {
    svg {
      height: 24px;
      width: 24px;
    }
  }
}
