@import '../../shared';

.AaveProposalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .row-with-label {
    display: flex;
    flex-direction: column;
  }

  .executors-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .executor {
      background-color: $neutral-50;
      border-radius: $border-radius-corners;
      border: 1px solid $neutral-100;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      width: 100%;

      &.selected-executor {
        background-color: $green-50;
        border: 1px solid $green-300;
      }

      .executor-row {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .tab-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
