@import '../../shared';

.NewProposalPage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 24px;
  max-width: 432px;

  @include smallInclusive {
    padding: 16px;
  }
}
