@import '../../../styles/shared';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($yellow-400, 0.4);
  }
  70% {
    box-shadow: 0 0 0 6px rgba($yellow-400, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($yellow-400, 0);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.PotentialContestCard {
  width: 335px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  &.PotentialContestCard--Skeleton {
    .Skeleton {
      border-radius: $border-radius-md;
    }
  }

  .contest-body {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    flex-grow: 1;

    .header-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-trophy-icon {
        color: $yellow-500;
      }
    }

    .prizes {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &.prizes--projected {
      }

      .prize-row {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding: 8px 8px 4px;
        border-radius: $border-radius-md;
        border: 1px solid transparent;

        .label {
          color: $neutral-600;
          font-family: $font-family-silka;
          font-weight: 600;
        }

        .bold {
          font-family: $font-family-monospace;
        }
      }

      .prize-row-1 {
        background-color: $yellow-300;
        border-color: $yellow-400;
        animation: pulse 2s infinite;
      }

      .prize-row-2 {
        background-color: $neutral-200;
        border-color: $neutral-300;
      }

      .prize-row-3 {
        background-color: $rorange-200;
        border-color: $rorange-300;
      }
    }

    .prize-explanation,
    .progress-explanation {
      color: $neutral-600;
    }

    .divider {
      margin: 12px 0;
    }

    .MarketCapProgress {
      &__fill,
      .progress-fill,
      > div > div {
        background-size: 200% 100%;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: shimmer 2.5s linear infinite;
      }
    }

    .actions {
      display: flex;
      gap: 16px;
      margin-top: auto;

      .action-button {
        flex-grow: 1;
      }
    }
  }
}
