@import '../../../../../../styles/shared.scss';

.RelatedCommunityCard {
  padding: 24px;
  display: flex;
  border-radius: 6px;
  border: 1px solid $neutral-100;
  background: $white;
  cursor: pointer;

  &:hover {
    box-shadow: $elevation-2;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;

    .top-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .community-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .header {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .community-name {
            display: flex;
            align-items: center;
            gap: 8px;

            .Text {
              color: $neutral-900;
              letter-spacing: -0.18px;
              word-break: break-word;
            }
          }

          .stake-info {
            .stake-value {
              color: $neutral-900;
            }

            .stake-change {
              gap: 4px;

              .percentage {
                &.positive {
                  color: $green-600;
                }

                &.negative {
                  color: $rorange-600;
                }
              }

              .hours {
                color: $neutral-500;
              }
            }
          }
        }

        .description {
          color: $neutral-800;
          font-family: $font-family-neue-haas-unica;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          word-break: break-word;
        }
      }
    }

    .metadata {
      display: flex;
      gap: 8px;
      align-items: flex-start;

      .member-data {
        display: flex;
        align-items: center;
        gap: 4px;

        .count,
        .text {
          color: $neutral-500;
          font-family: $font-family-neue-haas-unica;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.24px;
        }
      }

      .divider {
        color: $neutral-500;
        height: 16px;
        width: 5px;
        display: flex;
        align-items: center;

        .Icon {
          width: 4px;
          height: 4px;
        }
      }

      .thread-data {
        display: flex;
        align-items: center;
        gap: 4px;

        .count,
        .text {
          color: $neutral-500;
          font-family: $font-family-neue-haas-unica;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.24px;
        }

        .Icon {
          width: 16px;
          height: 16px;
        }
      }
    }

    .actions {
      display: flex;
      gap: 12px;
    }
  }
}
