@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/elevation';

.RelatedCommunityCard {
  padding: 16px;
  display: flex;
  border-radius: 6px;
  border: 1px solid colors.$neutral-100;
  background: colors.$white;
  cursor: pointer;

  &:hover {
    box-shadow: elevation.$elevation-2;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;

    .top-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .community-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .header {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .community-name {
            display: flex;
            align-items: center;
            gap: 8px;

            .Text {
              color: colors.$neutral-900;
              letter-spacing: -0.18px;
              word-break: break-word;
            }
          }

          .stake-info {
            .stake-value {
              color: colors.$neutral-900;
            }

            .stake-change {
              gap: 4px;

              .percentage {
                &.positive {
                  color: colors.$green-600;
                }

                &.negative {
                  color: colors.$rorange-600;
                }
              }

              .hours {
                color: colors.$neutral-500;
              }
            }
          }
        }

        .description {
          color: colors.$neutral-800;
          word-break: break-word;
        }
      }
    }

    .metadata {
      display: flex;
      gap: 8px;
      align-items: flex-start;

      .member-data,
      .thread-data {
        display: flex;
        align-items: center;
        gap: 4px;

        .count,
        .text {
          color: colors.$neutral-500;
        }

        .Icon {
          width: 16px;
          height: 16px;
        }
      }

      .divider {
        color: colors.$neutral-500;
        height: 16px;
        width: 5px;
        display: flex;
        align-items: center;

        .Icon {
          width: 4px;
          height: 4px;
        }
      }
    }

    .actions {
      display: flex;
      gap: 12px;
      margin-top: auto;
    }
  }
}
