@import '../../../../../../styles/shared.scss';

.RelatedCommunityCard {
  padding: 24px;
  display: flex;
  border-radius: 6px;
  border: 1px solid $neutral-100;
  background: $white;
  cursor: pointer;

  &:hover {
    box-shadow: $elevation-2;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .top-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .header {
        display: flex;
        align-items: center;
        gap: 8px;

        .Text {
          color: $neutral-900;
          letter-spacing: -0.18px;
          word-break: break-word;
        }
      }

      .description {
        color: $neutral-800;
        font-family: $font-family-neue-haas-unica;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        word-break: break-word;
      }
    }

    .metadata {
      display: flex;
      gap: 8px;
      align-items: flex-start;

      .member-data {
        display: flex;
        align-items: center;
        gap: 4px;

        .count,
        .text {
          color: $neutral-500;
          font-family: $font-family-neue-haas-unica;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.24px;
        }
      }

      .divider {
        color: $neutral-500;
        height: 16px;
        width: 5px;
        display: flex;
        align-items: center;
        .Icon {
          width: 4px;
          height: 4px;
        }
      }

      .thread-data {
        display: flex;
        align-items: center;
        gap: 4px;

        .count,
        .text {
          color: $neutral-500;
          font-family: $font-family-neue-haas-unica;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.24px;
        }

        .Icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
