@import 'client/styles/shared';

.wrapper {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;

  .header {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .delegate-missing-header {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .subheader {
    color: #666666;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .info-text {
    font-size: 18px;
    max-width: 500px;
  }
}

.bottom-section {
  margin-bottom: 50px;
}

.search-wrapper {
  width: 70%;
}

.Table {
  .delegate-avatar-section {
    display: flex;

    .avatar-name {
      margin-left: 10px;
      margin-top: 3px;
      white-space: nowrap;
    }
  }

  td {
    font-size: 18px;
    font-weight: 400;
  }

  .Button {
    height: 30px;
    margin-bottom: 9px;
    margin-top: 5px;
  }
}
