@import '../../../../../styles/shared';

.QuestActionSubForm {
  background-color: $neutral-50;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  position: relative;

  &.isRemoveable {
    padding-top: 28px !important;
  }

  .remove-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
