@import '../../../../../styles/shared';

.QuestActionSubForm {
  background-color: $neutral-50;
  padding: 16px;
  border-radius: 6px;
  gap: 24px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equal-width columns */
  align-items: flex-start;

  .span-1 {
    grid-column: span 1;
  }

  .span-2 {
    grid-column: span 2;
  }

  .span-3 {
    grid-column: span 3;
  }

  .span-6 {
    grid-column: span 6;
  }

  .span-1,
  .span-2,
  .span-3 {
    @include mediumSmallInclusive {
      grid-column: span 6;
    }
  }

  &.isRemoveable {
    padding-top: 28px !important;
  }

  .remove-btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .repeatition-selector,
  .content-id-type-selector {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .caption .Text {
      color: $neutral-600 !important;
    }

    .b1 {
      color: $neutral-600 !important;
    }

    .radio-btn .Text {
      color: $neutral-800 !important;
    }

    .mt-8 {
      margin-top: 8px;
    }
  }

  .MessageRow {
    gap: 4px;

    .feedback-message-text.Text {
      text-align: left !important;
    }
  }
}
