@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/media_queries';

.QuestForm {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media_queries.extraSmall {
    gap: 18px;
  }

  .quest-period-section,
  .xp-configuration-section,
  .basic-information-section,
  .actions-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @include media_queries.extraSmall {
      gap: 18px;
    }

    > .b1 {
      color: colors.$neutral-600 !important;
    }
  }

  .quest-type-selector {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    border-radius: 6px;

    .caption .Text {
      color: colors.$neutral-600 !important;
    }

    .b1 {
      color: colors.$neutral-600 !important;
    }

    .radio-btn .Text {
      color: colors.$neutral-800 !important;
    }

    .mt-8 {
      margin-top: 8px;
    }

    &.update-mode {
      padding: 8px 0px;

      &:hover {
        background-color: colors.$neutral-100;
        transition: 0.2s ease;
        cursor: not-allowed;
      }
    }
  }

  .actions-section {
    .header {
      .b2 {
        margin-top: 8px;
      }
    }

    .add-action-btn-outline {
      &:focus-within {
        border-width: 0px !important;
        padding: 2px !important;
      }

      .add-action-btn {
        border: 1px solid colors.$black;
      }
    }
  }

  .action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .btn {
      &.secondary {
        &:focus-within {
          border-width: 1px !important;
          padding: 0px !important;
          margin: 3px !important;
        }
      }

      &.primary {
        &:focus-within {
          border-color: transparent !important;
          padding: 0px !important;
          margin: 0px !important;
        }
      }
    }

    @include media_queries.extraSmall {
      .btn-border {
        width: 100% !important;

        > button {
          width: 100% !important;
        }
      }
    }
  }

  .radio-btn {
    z-index: 0 !important;
  }
}
