@import '../../shared';

.ContentPage {
  .title {
    border-bottom: 1px solid $neutral-200;
  }

  .thread-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  
    .thread-footer-row {
      align-items: center;
      display: flex;
      gap: 16px;
  
      .comments-count {
        align-items: center;
        display: flex;
        gap: 4px;
  
        .Text,
        .Icon {
          color: $neutral-500;
        }
      }
    }
  }

  .callout-text {
    display: flex;
    align-items: center;
    background-color: #F7F6F7;
    color: #656167;
    padding: 16px 24px 16px 24px;
    border-radius: $border-radius-corners;

    .Text {
      margin-left: 10px;
    }
  }
  
  .cards-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}