@import '../../shared';

.ContentPage {
  .title {
    border-bottom: 1px solid $neutral-200;
  }

  .thread-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  
    .thread-footer-row {
      align-items: center;
      display: flex;
      gap: 16px;
  
      .comments-count {
        align-items: center;
        display: flex;
        gap: 4px;
  
        .Text,
        .Icon {
          color: $neutral-500;
        }
      }
    }
  
    .callout-text.Text {
      background-color: $neutral-200;
      border-radius: $border-radius-corners;
      padding: 16px;
    }
  }
  
  .cards-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}