@import '../../shared';

.spinner-container {
  margin: auto;
}

.LinkedProposalsCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .linked-proposals {
      display: flex;
      flex-direction: column;
    }
  }

  .no-proposals-text.Text {
    color: $neutral-500;
  }
}
.LinkedProposalsCardModal{
  overflow: visible;
}
