@import '../../shared';

.TemplateActionCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .no-threads-text.Text {
    color: $neutral-500;
  }
}