@import '../../shared';

.proposal-stage-text.Text {
  &:hover {
    text-decoration: underline;
  }

  &.positive {
    color: $green-500;
  }

  &.negative {
    color: $rorange-500;
  }
}

.ThreadAuthor {
  align-items: center;
  display: flex;
  gap: 4px;

  .trigger-text.Text {
    cursor: pointer;
  }
}

.collaborators {
  background-color: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
