@import '../../../../styles/shared';

.Breadcrumbs {
  align-items: center;
  font-size: 0.875rem;
  color: $neutral-400;
  background-color: $white;
  min-height: 20px;
  padding: 5px 0;

  position: fixed;
  width: 100%;
  //TODO -- Figure out if mobile is suppose to be sticky or if desktop.
  //If it's suppose to be sticky on desktop, we have to solve for the zIndex being higher than the sidebar
  z-index: 3;

  @include extraSmall {
    position: static;
    min-height: 40px;
  }

  .hidden {
    display: none;
  }

  .active {
    color: $neutral-500;
    font-weight: 500;
  }

  .disable-active-cursor {
    &:hover {
      cursor: default;
    }
  }

  li {
    display: flex;
    align-items: center;

    .Text {
      white-space: nowrap;
    }

    @include small {
      margin-bottom: 16px;
    }

    @include extraSmall {
      margin-bottom: 16px;
    }
    &:not(:last-child) {
      margin-right: 6px;
      &::after {
        content: '/';
        margin-left: 6px;
      }
    }
    a {
      color: $neutral-400;
      text-decoration: none;
      &:hover {
        color: $neutral-400;
        text-decoration: underline;
        cursor: pointer;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
    a.standalone:first-child {
      cursor: default;
    }
  }
  .commonPadding {
    display: flex;
    flex-direction: row;

    @include large {
      padding-left: 56px;
    }

    @include mediumInclusive {
      padding-left: 32px;
    }

    @include small {
      padding-left: 24px;
    }

    @include extraSmall {
      padding-left: 24px;
    }
  }

  .new-thread {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
  }

  .notifications {
    display: flex;
    padding-left: 24px;
    flex-direction: row;
  }

  .notification-management {
    display: flex;
    flex-direction: row;

    @include large {
      padding-left: 178px;
    }

    @include mediumInclusive {
      padding-left: 72px;
    }

    @include small {
      padding-left: 56px;
    }

    @include extraSmall {
      padding-left: 16px;
    }
  }

  .discussions {
    display: flex;
    flex-direction: row;

    @include large {
      padding-left: 40px;
    }

    @include mediumInclusive {
      padding-left: 32px;
    }

    @include small {
      padding-left: 24px;
    }

    @include extraSmall {
      padding-left: 24px;
    }
  }

  .governance {
    display: flex;
    padding-left: 24px;
    flex-direction: row;
  }

  .createCommunity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @media only screen and (min-width: 2560px) {
      padding-right: 33%;
      align-items: center;
    }
    @include large {
      padding-right: 23%;
      align-items: center;
    }

    @include mediumInclusive {
      padding-right: 32%;
    }

    @include small {
      padding-right: 36%;
    }

    @include extraSmall {
      padding-right: 60%;
    }
  }

  .viewProfile {
    display: flex;
    padding-left: calc(16px + 1.5rem);
    flex-direction: row;
    @include large {
      padding-left: 80px;
    }

    @include mediumInclusive {
      padding-left: 48px;
    }

    @include small {
      padding-left: 32px;
    }

    @include extraSmall {
      padding-left: 32px;
    }
  }
}
