@use '../../../styles/shared';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/media_queries';

.BreadcrumbsPageLayout {
  padding-block: 0;

  .BreadcrumbsComponent {
    display: flex;
    align-items: center;
    color: colors.$neutral-400;
    background-color: colors.$white;
    padding-block: 16px;
    position: fixed;
    z-index: 10 !important;
    overflow: auto;
    width: 100%;
    max-width: 1040px;
    overflow: hidden;
    max-height: 52px !important;
    min-height: 52px !important;
    padding-bottom: 2px !important;

    @include media_queries.extraSmall {
      position: static;
    }
    .disable-active-cursor {
      &:hover {
        cursor: default;
      }
    }
  }

  .BreadcrumbsBlockContentArea {
    width: 100%;
    max-width: 1040px;
    max-height: 52px !important;
    min-height: 52px !important;
    @include media_queries.extraSmall {
      display: none;
    }
  }
}
