@use '../../../styles/shared';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/media_queries';

.NewThreadForm {
  flex-direction: row !important;
  width: 100%;
  display: flex;
  gap: 56px;
  justify-content: space-between;
  width: 100%;

  .form-view {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 768px;
    width: 768px;
    .no-pad {
      padding: 0 !important;
    }

    & > .header {
      padding-bottom: 24px;
    }

    @include media_queries.mediumSmallInclusive {
      width: 100%;
    }

    .topic-select {
      .cwsl__option {
        justify-content: start !important;
        gap: 4px;
      }
      .trophy-icon {
        margin-bottom: -2px;
        margin-right: 4px;
      }
    }

    .new-thread-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .new-thread-body {
      display: flex;
      gap: 16px;
      justify-content: space-between;
      width: 100%;

      @include media_queries.smallInclusive {
        flex-direction: column;
      }

      .thread-title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 16px;

        .thread-title-row-left {
          flex: 1;
        }
      }

      .new-thread-form-inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .set-display-name-callout {
          background-color: colors.$purple-50;
          border-radius: border_radius.$border-radius-corners;
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 16px;
          padding: 16px;
          width: fit-content;
        }

        .draft-text.Text {
          background-color: colors.$rorange-50;
          border-radius: border_radius.$border-radius-rounded-corners;
          color: colors.$rorange-500;
          margin-bottom: 16px;
          padding: 4px 16px;
          width: fit-content;
        }

        .topics-and-title-row {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          @include media_queries.mediumInclusive {
            .Button {
              flex: 1;
            }
          }

          .TextInput {
            flex: 2;
          }
        }

        .buttons-row {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          gap: 16px;

          .ai-toggle-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
          }

          .ai-toggle {
            display: flex;
          }

          .toggle-label {
            color: colors.$neutral-500;
          }

          @include media_queries.smallInclusive {
            flex-wrap: wrap;

            .ai-toggle-wrapper {
              order: 1;
            }
            .ThreadAction {
              order: 2;
            }
            .cancel-button {
              order: 3;
            }
            .create-button {
              order: 4;
            }
          }
        }
      }
    }

    .drafts-list-container {
      display: flex;
      flex-direction: column;

      .drafts-list-title-text.Text {
        border-bottom: 2px solid colors.$primary-500;
        margin: 0 0 8px 16px;
        width: fit-content;
      }

      .drafts-list {
        display: flex;
        flex-direction: column;
        height: 360px;
        overflow-y: auto;
        width: 200px;

        @include shared.visibleScrollbar(light);

        .draft-item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 8px 16px;

          &:hover {
            background-color: colors.$neutral-50;
          }

          .draft-title {
            align-items: center;
            display: flex;
            gap: 4px;
          }

          .draft-delete-text {
            color: colors.$rorange-500;
          }
        }
      }
    }

    .JoinCommunityBanner,
    .spam-trust-banner {
      margin-top: 8px;
    }

    .help-text-container {
      margin-left: auto;
    }

    .ai-toggle-container {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    max-width: 300px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    width: 248px;

    .left-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }
  }

  .turnstile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    width: 248px;

    .left-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }
  }
}

.tokenized-status {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: colors.$neutral-50;

  .tokenized-enabled {
    color: colors.$green-500;
  }

  .tokenized-disabled {
    color: colors.$neutral-500;
  }
}
