.ScrollContainer {
  display: flex;

  .Inner {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    // disable the scrollbars for IE + Firefox
    scrollbar-width: none;
    -ms-overflow-style: none;

    // disable the scrollbar for Chrome.
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .OverflowIndicator {
    display: flex;
    position: absolute;
    width: 50px;
    height: 100%;
  }

  .OverflowIndicator button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    border: none;
    cursor: pointer;

    background-color: rgb(255, 255, 255);
  }

  .OverflowIndicatorLeft {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    left: 0;
  }

  .OverflowIndicator .Gradient {
    width: 75px;

    // needed so that the overflow indicator doesn't swallow scrolling
    // events menta for the main Inner div.
    pointer-events: none;
  }

  .OverflowIndicatorRight .Gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .OverflowIndicatorRight {
    right: 0;
  }
}
