@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.CommunitySelector {
  display: flex;
  max-width: 774px;
  width: 100%;
  padding: 24px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid colors.$neutral-300;
  background-color: colors.$white;
  cursor: pointer;
  transition:
    border,
    background-color 0.3s;

  &.active {
    border-color: colors.$primary-500;
    background-color: colors.$primary-50;
  }

  &:hover {
    border: 1px solid colors.$neutral-200;
    background-color: colors.$neutral-100;
  }
  .radio-button {
    width: fit-content;
    min-width: 24px !important;
  }

  .chain-logo-container {
    img {
      width: 48px;
      height: 48px;
    }
  }
  .content-container {
    .title-row {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    .description {
      color: colors.$neutral-500;
      margin-top: 8px;
    }
  }

  @include media_queries.extraSmall {
    flex-direction: column;
    align-items: start;

    &.withRadio {
      padding: 16px 12px;
      gap: 8px;
      flex-direction: row !important;
      align-items: center !important;

      .chain-logo-container {
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
