@import '../../../../styles/shared';

.QuestList {
  margin: 16px 0;
  width: 100%;

  .list {
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    gap: 16px;
    margin: 16px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;

    @include extraSmall {
      grid-template-columns: 1fr !important;
    }

    @include small {
      grid-template-columns: 1fr 1fr !important;
    }

    @include mediumSmall {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}

// Special style for when this component is inside a horizontal-scroll-container
.horizontal-scroll-container .QuestList {
  .empty-placeholder {
    margin-left: 180px;
  }

  .list {
    display: flex !important;
    flex-wrap: nowrap !important;
    grid-template-columns: unset !important;
    overflow-x: visible; // Let the parent handle scrolling

    & > div {
      flex: 0 0 auto;
      min-width: 300px;
      max-width: 350px;
    }
  }
}
