@import '../shared.scss';

.BanUserModal {
  max-height: 84vh;
  max-width: 100vw;

  .compact-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border-radius: 6px 6px 0px 0px;

    .Frame {
      display: flex;
      align-items: center;
      gap: 8px;

      .warning-icon {
        color: $rorange-600;
      }

      .title-text {
        font-weight: 500;
        letter-spacing: -0.01em;
      }
    }

    .close-icon {
      color: $neutral-500;

      &:hover {
        cursor: pointer;
        color: $neutral-800;
      }
    }
  }

  .compact-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
}