@import 'shared';

.ApproveBountyModal,
.ProposeCuratorModal,
.AwardBountyModal,
.ExtendExpiryModal {
  width: 400px;

  @include extraSmall {
    width: 100%;
  }

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 16px 0;
  }
}
