@import '../shared';

.Modal:has(.ChangeThreadTopicModal) {
  overflow: unset;

  .ChangeThreadTopicModal {
    width: 320px;

    .compact-modal-body {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .buttons-row {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}
