@import '../shared';

.ConfirmationModal {
  width: 720px;
  padding: 24px;

  @include smallInclusive {
    width: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .ModalExitButton {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .description {
    margin-top: 24px;
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .footer {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-top: 24px;
  }
}
