@import '../shared';

.ConfirmSnapshotVoteModal {
  .vote-info {
    border: 2px solid $primary-300;
    border-radius: $border-radius-corners;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    padding: 8px;

    .vote-info-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .Text {
        color: $primary-500;
      }
    }
  }
}
