@import 'shared';

.CreateInviteModal {
  width: 400px;

  @include smallInclusive {
    width: 100%;
  }

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .community-and-address-row {
      display: flex;
      gap: 8px;

      .community-select-container {
        display: flex;
        flex-direction: column;
      }
    }

    .no-addresses {
      display: flex;
      flex-direction: column;
    }
  }
}
