@import '../shared';

.compact-modal-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;
  border-radius: 6px 6px 0px 0px;

  .Frame {
    display: flex;
    align-items: center;
    gap: 8px;

    .danger-icon {
      color: $rorange-600;
    }

    .warning-icon {
      color: $yellow-500;
    }

    .title-text {
      font-weight: 500;
      letter-spacing: -0.01em;
    }
  }

  .close-icon {
    color: $neutral-500;

    &:hover {
      color: $neutral-800;
    }
  }
}
