@import '../shared';

.DeleteAddressModal {
  width: 100%;

  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 16px 16px 8px;
    margin: 16px 0;

    img {
      height: 32px;
      width: 32px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .TruncatedAddress {
    margin-top: 16px;
  }
}
