@import '../shared';

.DeleteAddressModal {
  width: 504px;

  .compact-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border-radius: 6px 6px 0px 0px;

    .Frame {
      display: flex;
      align-items: center;
      gap: 8px;

      .warning-icon {
        color: $rorange-600;

        &:hover {
          cursor: auto;
        }
      }

      .title-text {
        font-weight: 500;
        letter-spacing: -0.01em;
      }
    }

    .close-icon {
      color: $neutral-500;

      &:hover {
        cursor: pointer;
        color: $neutral-800;
      }
    }
  }

  .body {
    padding: 16px;

    .profile {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 16px 16px 8px;
      margin: 16px 0;

      img {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .TruncatedAddress {
    margin-top: 16px;
  }

  .actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 24px;
  }
}
