@import '../shared';

.EditTopicModal {
  @include extraSmall {
    width: 100%;
  }

  .EditTopicModalFooter {
    display: flex;
    flex-direction: column;

    .action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .error-message {
      display: block;
      align-items: center;
      text-align: end;
      margin-top: 0;
    }
  }
}
