@import '../shared';

.EditTopicModal {
  .topic-image {
    max-height: 200px;
    height: auto;
    width: auto;
    max-width: 100%;
  }
  .editor {
    height: 180px;
    padding-bottom: 50px;
  }

  .EditTopicModalFooter {
    display: flex;
    flex-direction: column;

    .action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .delete-topic {
        margin-right: auto;
      }
    }

    .error-message {
      display: block;
      align-items: center;
      text-align: end;
      margin-top: 0;
    }
  }
}
