@import 'shared';

.EditTopicThresholdsModal {
  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 340px;
    overflow-y: auto;

    .EditTopicThresholdsRow {
      display: flex;
      flex-direction: column;

      .input-and-button-row {
        display: flex;
        gap: 8px;
      }
    }
  }
}
