@import 'shared';

.EditTopicModal {
  width: 400px;

  @include extraSmall {
    width: 100%;
  }

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkboxes-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;
    }

    .buttons-row {
      display: flex;
      gap: 8px;
      width: 100%;
    }
  }
}
