@import '../shared';

.EditIdentityModal {
  width: 400px;

  @include extraSmall {
    width: 100%;
  }

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .buttons-row {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
