@import '../shared';

.EditTopicThresholdsModal {
  .EditTopicThresholdsBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    margin-bottom: 24px;

    .EditTopicThresholdsRow {
      display: flex;
      flex-direction: column;

      .input-and-button-row {
        display: flex;
        gap: 8px;
      }
    }
  }
}
