@import 'shared';

.EditTopicThresholdsModal {
  .compact-modal-body {
    height: 320px;
    overflow-y: auto;

    .EditTopicThresholdsRow {
      .topic-name {
        height: 24px;
      }

      .input-and-button-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
