@import '../shared';

.ManageContractTemplateModal {
  width: 720px;
  padding: 24px;
  height: 95vh;
  max-height: 820px;
  overflow-y: auto;

  @include smallInclusive {
    width: auto;
  }

  .disabled-dropdown {
    pointer-events: none;
  }

  .subtitle {
    margin-top: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 4px;

    .dropdown-options-display {
      margin-top: -20px;
    }

    .create-template-info {
      color: $neutral-500;
      display: inline-block;
      margin-block: 4px;

      .cta {
        display: inline-block;
        margin-left: 4px;
        color: $primary-500;
      }
    }

    .divider {
      margin-top: 20px;
    }

    .TextInput {
      margin-bottom: 20px;
    }

    .input-label {
      color: $neutral-600;
      margin-bottom: 4px;
      margin-top: 12px;
    }
  }

  .footer {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-top: 40px;
  }
}
