@import '../shared';

.ManageContractTemplateModal {
  width: 100%;
  overflow-y: auto;

  @include smallInclusive {
    width: auto;
  }

  .compact-modal-title {
    padding: 0 0 70px 0;
  }

  .disabled-dropdown {
    pointer-events: none;
  }

  .form {
    display: flex;
    flex-direction: column;

    .dropdown-options-display {
      margin-top: -20px;
    }

    .create-template-info {
      color: $neutral-600;
      display: inline-block;
      margin-block: 4px;

      .cta {
        display: inline-block;
        margin-left: 4px;
        color: $primary-600;
      }
    }

    .divider {
      margin-top: 20px;
    }

    .TextInput {
      margin-bottom: 20px;
    }

    .input-label {
      color: $neutral-600;
      margin-bottom: 4px;
    }
  }
}
