@import '../shared';

.MoveAddressModal {
  width: 504px;
  padding: 24px;

  .caption {
    color: $neutral-500;
    margin-bottom: 8px;
  }

  .b2 {
    font-weight: 500;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .h4 {
      font-weight: 600;
    }
  }

  .TruncatedAddress {
    margin-bottom: 16px;
  }

  .current-address {
    border: 1px solid $neutral-200;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .MoveAddressRow {
      &.selected,
      &:hover {
        background: none;
        border-radius: 0;
        cursor: default;
      }
    }
  }

  .move-to-address {
    border: 1px solid $neutral-200;
    border-radius: 5px;

    .no-options {
      padding: 16px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 24px;
  }

  .MoveAddressRow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    transition: background 0.1s ease-in-out;

    &.selected {
      background: $neutral-50;
      border-radius: 5px;
    }

    &:hover {
      background: $neutral-50;
      cursor: pointer;
      border-radius: 5px;
    }

    img {
      height: 32px;
      width: 32px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
