@import '../shared';

.NewTopicModal {
  width: 420px;

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkboxes {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
