@import '../shared';

.NewTopicModal {
  width: 420px;

  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkboxes {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .compact-modal-footer {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 16px;

    .validation-text {
      display: flex;
      align-items: center;
      padding-right: 4px;
    }
  }
}
