@import 'shared';

.NewTopicModal {
  width: 420px;

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  .QuillEditor {
    margin-bottom: 16px;
  }
}
