@import '../shared';

.OffchainVotingModal {
  display: flex;
  flex-direction: column;
  height: 400px;

  .compact-modal-title {
    display: flex;
    align-items: center;
    background: $white;
    border-radius: 6px 6px 0px 0px;

    .title-text {
      font-weight: 500;
      letter-spacing: -0.01em;
    }

    .close-icon {
      color: $neutral-500;

      &:hover {
        color: $neutral-800;
      }
    }
  }

  .compact-modal-body {
    overflow-y: auto;
    width: 640px;

    @include extraSmall {
      width: initial;
    }

    .download-link {
      cursor: pointer;
      padding-bottom: 20px;
    }

    .offchain-poll-voter {
      display: flex;

      .User {
        display: inline;
      }

      .offchain-poll-voter-user {
        flex: 1;
        padding-right: 5px;
      }

      .offchain-poll-voter-choice {
        display: inline;
        flex: 2;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: right;
      }
    }
  }
}
