@import 'shared';

.OrderTopicsModal {
  width: 360px;

  .featured-topic-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .topic-row {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 8px;

      &:hover {
        background-color: $neutral-50;
      }

      &.gu-transit {
        background-color: $neutral-100;
      }
    }
  }
}
