@import '../shared';

@mixin topicRowStyles {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: $white;
}

.OrderTopicsModal {
  .featured-topic-list {
    display: flex;
    flex-direction: column;
    height: 320px;

    @include visibleScrollbar(light);

    .topic-row {
      @include topicRowStyles;

      &:hover {
        background-color: $neutral-50;
      }
    }
  }
}

// these styles have to be in global scope
// because element which is being dragged
// is pulled out from the DOM flow
.height-preserving-container:empty {
  min-height: calc(var(--child-height));
  box-sizing: border-box;
}

.is-dragging {
  @include topicRowStyles;
  background-color: $neutral-100;
}
