@import '../shared';

.PreviewModal {
  max-height: 95vh;
  max-width: 70vw;
  overflow-y: scroll;

  .compact-modal-title {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    align-items: center;

    background: $white;
    border-radius: 6px 6px 0px 0px;

    font-family: $font-family-silka;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;

    .close-icon {
      color: $neutral-500;

      &:hover {
        cursor: pointer;
        color: $neutral-800;
      }
    }
  }

  .compact-modal-body {
    .QuillFormattedText {
      margin: 25px 0;
      max-height: 64vh;
      overflow-y: auto;
      width: 640px;
    }

    .empty-state-container {
      align-items: center;
      display: flex;
      height: 400px;
      justify-content: center;
      width: 400px;

      .empty-text.Text {
        color: $neutral-500;
      }
    }
  }
}
