@import '../shared';

.SessionSigninModal {
  max-width: 440px;

  .compact-modal-body {
    h3 {
      margin-bottom: 6px;
    }
  }
  .compact-modal-actions {
    display: flex;
    gap: 8px;
  }

  .WalletsList {
    .wallets {
      height: initial;
      padding-bottom: initial;
    }
    .wallets-and-link-container {
      margin-bottom: 0;
    }
  }
}
