@import '../shared';

.SessionRevalidationModal {
  max-width: 480px;

  .compact-modal-body {
    h3 {
      margin-bottom: 6px;
    }
  }

  .buttons-row {
    margin-top: 10px;
  }
  .Button {
    margin-top: 6px;
    width: 100%;
  }
  .Spinner {
    margin: 0 auto 10px;
    width: 100%;
    text-align: center;
  }
}
