@import '../shared';

.ViewTemplateModal {
  display: flex;
  position: relative;
  flex-direction: column;

  .CreationRow {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LabelRow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    flex-direction: column;

    .labelText {
      color: $neutral-600;
    }
  }

  .BlobContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    flex-direction: column;

    .labelText {
      color: $neutral-600;
    }

    .Blob {
      background: $neutral-50;
      border-radius: 5px;
      display: flex;
      padding: 8px;
      white-space: pre-wrap;
      word-wrap: break-word;
      width: 100%;
    }

    .BlobDivider {
      margin-top: 20px;
    }
  }

  .TemplateDisplay {
    display: flex;
    gap: 12px;
    flex-direction: column;

    .labelText {
      color: $neutral-600;
    }

    .Template {
      display: flex;
      gap: 24px;
      flex-direction: column;
    }
  }
}
