@import 'shared';

.WebhookSettingsModal {
  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkbox-section {
      display: flex;
      flex-direction: column;
    }
  }
}
