@import '../shared';

.WebhookSettingsModal {
  .compact-modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkbox-section {
      display: flex;
      flex-direction: column;
    }
  }

  .compact-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
}
