@import 'shared';

.CommentReactionButton {
  align-items: center;
  border: 1px solid $neutral-500;
  border-radius: 20px;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 72px;

  &:hover {
    border: 1px solid $purple-400;
    color: $purple-400;
  }

  &.has-reacted {
    border-color: $purple-400;
    color: $purple-400;
  }

  &.disabled {
    border-color: $neutral-50;
    color: $neutral-500;
    pointer-events: none;
  }

  .reactions-count {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4px;
  }
}

.reaction-button-tooltip-contents {
  display: flex;
  flex-direction: column;
}
