@import '../../shared';

.CommentReactionButton {
  align-items: center;
  display: flex;
  gap: 4px;

  &.disabled {
    pointer-events: none;
  }

  .menu-buttons-text.Text {
    color: $neutral-500;
  }
}

.reaction-button-tooltip-contents {
  display: flex;
  flex-direction: column;
}
