@import '../../../../styles/shared.scss';

.CWCountDownTimer {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: fit-content;

  &.show-tag {
    padding: 0 6px 2px;
    border-radius: 6px;
  }

  svg {
    margin-top: 4px;
    color: $neutral-600;
  }

  .Text {
    color: $neutral-600;
  }

  &.show-tag {
    background-color: $neutral-100;
  }

  &.warning {
    svg,
    .Text {
      color: $yellow-500;
    }

    &.show-tag {
      background-color: $yellow-50;
    }
  }

  &.critical {
    svg,
    .Text {
      color: $rorange-500;
    }

    &.show-tag {
      background-color: $rorange-50;
    }
  }
}
