@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';

.CWCountDownTimer {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: fit-content;

  &.show-tag {
    padding: 0 6px 2px;
    border-radius: 6px;
  }

  svg {
    margin-top: 4px;
    color: colors.$neutral-600;
  }

  .Text {
    color: colors.$neutral-600;
  }

  &.show-tag {
    background-color: colors.$neutral-100;
  }

  &.warning {
    svg,
    .Text {
      color: colors.$yellow-500;
    }

    &.show-tag {
      background-color: colors.$yellow-50;
    }
  }

  &.critical {
    svg,
    .Text {
      color: colors.$rorange-500;
    }

    &.show-tag {
      background-color: colors.$rorange-50;
    }
  }
}
