@import 'shared';

.AvatarUsernameInput {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    align-items: center;
    flex-direction: column;

    .AvatarUpload {
      margin-bottom: 16px;
    }
  }

  .input-and-address-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 240px;

    .abbreviated-address {
      color: $neutral-500;
    }
  }
}
