@import '../../shared';

.Breadcrumbs {
  align-items: center;
  display: flex;
  gap: 4px;

  .Text {
    text-transform: capitalize;
  }

  .current-text.Text {
    color: $neutral-600;
  }

  .separator-text.Text {
    color: $neutral-500;
  }

  .parent-text.Text {
    color: $neutral-500;

    &:hover {
      color: $primary-300;
    }

    &:active {
      color: $primary-500;
    }
  }
}
