@import '../../shared';

.btn-border {
  &.primary {
    border: 2px solid $transparent;
    &:focus-within {
      border: 2px solid $neutral-700;
    }
  }

  &.destructive {
    border: 2px solid $transparent;
    &:focus-within {
      border: 2px solid $rorange-600;
    }
  }

  &.primary, &.destructive {
    padding: 2px;
    border-radius: 10px;
    width: fit-content;
  }

  &.secondary, &.tertiary {
    border: 2px solid $transparent;
    padding: 0;
    border-radius: 8px;
    width: fit-content;
  }

  &.secondary {
    &:focus-within {
      border: 2px solid $neutral-800;

      .Button {
        border: 1px solid $transparent;
      }
    }
  }

  &.tertiary {
    &:focus-within {
      border: 2px solid $blue-600;
    }
  }
}

.Button {
  align-items: center;
  border: 2px solid transparent;
  border-radius: $border-radius-corners;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 20px;
  width: fit-content;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.sm {
    height: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    gap: 0.625rem;
  }

  &.med {
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &.lg {
    gap: 0.7rem;
    height: 3rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    .Text.button-text {
      font-size: 1rem;
    }

    .Icon {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &.sm, &.med {
    gap: 0.625rem;
    .Text.button-text {
      font-size: 0.875rem;
    }

    .Icon {
      height: 1rem;
      width: 1rem;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.narrow {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.wide {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &.primary {
    background-color: $neutral-700;
    @include iconAndText($neutral-25, $neutral-25);
  
    &:hover {
      background-color: $neutral-800;
      @include iconAndText($neutral-25, $white);
    }
  
    &:active {
      background-color: $neutral-700;
      @include iconAndText($neutral-25, $white);
    }

    &:focus {
      background-color: $neutral-800;
      @include iconAndText($white, $white);
    }
  
    &.disabled {
      background-color: $neutral-200;
      @include iconAndText($neutral-400, $neutral-400);
    }
  }

  &.secondary {
    background-color: $white;
    border: 1px solid $neutral-700;
    @include iconAndText($neutral-800, $neutral-700);
  
    &:hover {
      background-color: $neutral-50;
      @include iconAndText($neutral-800, $neutral-800);
    }
  
    &:active {
      background-color: $white;
      border: 1px solid $neutral-800;
      @include iconAndText($neutral-800, $neutral-700);
    }

    &:focus {
      background-color: $neutral-50;
      @include iconAndText($neutral-800, $neutral-800);
    }
  
    &.disabled {
      background-color: $neutral-50;
      border: 1px solid $neutral-200;
      @include iconAndText($neutral-400, $neutral-400);
    }
  }

  &.tertiary {
    border: 4px solid $transparent;
    @include iconAndText($blue-500, $blue-500);
  
    &:hover {
      @include iconAndText($blue-600, $blue-600);
    }
  
    &:active {
      @include iconAndText($blue-500, $blue-500);
    }

    &:focus {
      @include iconAndText($blue-600, $blue-600);
    }
  
    &.disabled {
      @include iconAndText($neutral-400, $neutral-400);
    }
  }

  &.destructive {
    background-color: $rorange-500;
    @include iconAndText($white, $white);
  
    &:hover {
      background-color: $rorange-600;
    }
  
    &:active {
      background-color: $rorange-500;
    }

    &:focus {
      background-color: $rorange-600;
    }

    &.disabled {
      background-color: $neutral-200;
      @include iconAndText($neutral-400, $neutral-400);
    }
  }
}
