@import '../../shared';

.Button {
  align-items: center;
  border: 2px solid transparent;
  border-radius: $border-radius-corners;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 36px;
  justify-content: center;
  padding: 6px 20px;
  width: fit-content;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.primary-red {
    @include primaryRed;
  }

  &.primary-blue {
    @include primaryBlue;
  }

  &.primary-black {
    @include primaryBlack;
  }

  &.secondary-red {
    @include secondaryRed;
  }

  &.secondary-blue {
    @include secondaryBlue;
  }

  &.secondary-black {
    @include secondaryBlack;
  }

  &.tertiary-blue {
    @include tertiaryBlue;
  }

  &.tertiary-black {
    @include tertiaryBlack;
  }

  &.lg-primary-red {
    border-radius: $border-radius-rounded-corners;
    height: 40px;

    @include primaryRed;
  }

  &.lg-primary-blue {
    border-radius: $border-radius-rounded-corners;
    height: 40px;

    @include primaryBlue;
  }

  &.lg-secondary-red {
    height: 40px;

    @include primaryRed; // large styles are off by one because primary has more border radius
  }

  &.lg-secondary-blue {
    height: 40px;

    @include primaryBlue;
  }

  &.lg-tertiary-red {
    height: 40px;

    @include secondaryRed;
  }

  &.lg-tertiary-blue {
    height: 40px;

    @include secondaryBlue;
  }

  &.primary-blue-dark {
    height: 40px;

    @include primaryBlueDark;
  }

  &.secondary-blue-dark {
    height: 40px;

    @include secondaryBlueDark;
  }

  &.mini-black {
    height: 24px;

    @include miniBlack;
  }

  &.mini-white {
    height: 24px;

    @include miniWhite;
  }
}
