@import '../../shared';

$width: 360px;

.ComponentShowcase {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
  width: 100%;

  .basic-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: $width;

    .item-row {
      align-items: center;
      display: flex;
      gap: 16px;

      .Icon {
        color: $neutral-400;
      }
    }
  }

  .progress-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
  }

  .tooltip-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .tooltip-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 240px;

      .Icon {
        color: $neutral-400;
      }
    }
  }

  .text-gallery {
    display: flex;
    flex-direction: column;

    .text-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 48px;
      justify-content: space-between;
      width: 400px;

      .ellipsis-row {
        display: flex;
        width: 200px;
      }
    }
  }

  .icon-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;

    .all-icons-container {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      height: 448px;
      margin-bottom: 16px;
      width: fit-content;

      .icon-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: center;
        margin: 8px;
        width: 80px;

        .icon-name {
          font-size: 10px;
          margin-bottom: 4px;
        }
      }
    }

    .icon-row {
      align-items: center;
      display: flex;
      height: 32px;
      justify-content: space-between;
      width: 200px;
    }
  }

  .icon-button-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .icon-button-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 32px;
      justify-content: space-between;
      width: 120px;

      .icon-button-selected {
        display: flex;
      }
    }
  }

  .button-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .button-row {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .choice-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .top-card-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: $width;
  }

  .toggle-gallery {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .toggle-label {
      display: grid;
      align-items: center;
    }
  }
}
