@import '../../shared';

@mixin gallery-grid($gap, $flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
  flex-wrap: wrap;
}

$width: 360px;

.ComponentShowcase {
  @include gallery-grid(32px, column);
  padding: 24px;
  width: 100%;

  .modal-gallery {
    @include gallery-grid(8px, row);

    margin-top: -32px;
  }

  .basic-gallery {
    @include gallery-grid(8px, column);
    width: $width;

    .item-row {
      align-items: center;
      display: flex;
      gap: 16px;

      .Icon {
        color: $neutral-400;
      }
    }

    .upvote-popover-wrapper {
      width: fit-content;
    }
  }

  .progress-gallery {
    @include gallery-grid(8px, column);
    width: 400px;
  }

  .tooltip-gallery {
    @include gallery-grid(8px, column);

    .tooltip-row {
      align-items: center;
      @include gallery-grid(initial, row);
      justify-content: space-between;
      width: 240px;

      .Icon {
        color: $neutral-400;
      }
    }
  }

  .upvote-gallery {
    @include gallery-grid(8px, column);

    .upvote-row {
      align-items: center;
      @include gallery-grid(initial, row);
      justify-content: space-between;
      width: 180px;
    }
  }

  .thread-actions-gallery {
    @include gallery-grid(8px, column);
  }

  .text-gallery {
    @include gallery-grid(initial, column);

    .text-row {
      align-items: center;
      @include gallery-grid(initial, row);
      height: 48px;
      justify-content: space-between;
      width: 400px;

      .ellipsis-row {
        display: flex;
        width: 200px;
      }
    }
  }

  .icon-gallery {
    @include gallery-grid(initial, column);
    width: 100%;

    .all-icons-container {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin-bottom: 16px;
      width: fit-content;

      .icon-container {
        align-items: flex-start;
        @include gallery-grid(initial, column);
        height: 40px;
        justify-content: center;
        margin: 8px;
        width: 80px;

        .icon-name {
          font-size: 10px;
          margin-bottom: 4px;
        }
      }
    }

    .icon-row {
      align-items: center;
      display: flex;
      height: 32px;
      justify-content: space-between;
      width: 200px;
    }
  }

  .icon-button-gallery {
    @include gallery-grid(8px, column);

    .icon-button-row {
      align-items: center;
      @include gallery-grid(initial, row);
      height: 32px;
      justify-content: space-between;
      width: 120px;
    }
  }

  .button-gallery,
  .circle-button-gallery {
    @include gallery-grid(8px, column);

    .button-row {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .choice-gallery {
    @include gallery-grid(8px, column);
  }

  .card-gallery {
    @include gallery-grid(8px, column);
    width: 100%;

    .top-card-row {
      @include gallery-grid(initial, row);
      justify-content: space-between;
    }
  }

  .form-gallery {
    @include gallery-grid(8px, column);
    width: $width;

    .custom-width-1 {
      width: 250px;
    }

    .custom-width-2 {
      width: 275px;
    }

    .custom-width-3 {
      width: 300px;
    }
  }

  .toggle-gallery {
    @include gallery-grid(8px, row);

    .toggle-label {
      display: grid;
      align-items: center;
    }
  }

  .tag-gallery {
    gap: 8px;
    display: flex;
    flex-direction: column;

    .tag-row {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 15px;

      > .Text {
        min-width: 140px;
      }
    }
  }

  .editor-toggle {
    display: flex;
    align-items: center;
    margin: 16px 0;

    .caption {
      margin-left: 8px;
    }
  }

  .banners,
  .alerts {
    .container {
      margin-top: 10px;
      @include gallery-grid(8px, column);
    }
  }

  .tooltip {
    @include gallery-grid(32px, column);
    align-items: center;
  }

  .searchbar-gallery {
    @include gallery-grid(8px, column);
  }

  .dropdowns {
    .dropdown-type {
      margin-bottom: 25px;
    }

    .multi-select,
    .typeahead {
      .multi-select-row,
      .typeahead-row {
        margin-bottom: 15px;
      }
    }
  }

  .table {
    width: 100%;
  }

  .new-tabs {
    width: max(100%, 300px);
    overflow-x: auto;
  }

  .CommunitySelectorContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .FormStepContainer {
    width: 100%;
  }

  .community-stake-banner {
    .btn-container {
      margin-bottom: 15px;
    }
  }
}
