@import 'shared';

.ContentPage {
  display: flex;
  flex: 1;
  padding: 24px;

  .body {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.showSidebar {
      @include mediumSmallInclusive {
        display: none;
      }
    }
  }

  .body-with-tabs {
    display: none;
    flex-direction: column;

    &.showSidebar {
      display: flex;
      flex-direction: column;

      @include medium {
        display: none;
      }

      @include large {
        display: none;
      }
    }
  }
}
