@import 'shared';
@import './cw_popover/cw_popover_menu';

.dropdown-wrapper {
  position: relative;

  .dropdown-options-display {
    background-color: $white;
    border-radius: $border-radius-corners;
    box-shadow: $elevation-3;
    margin-top: 5px;
    max-height: calc(6 * $menu-item-height);
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1001;
  }

  input:disabled {
    cursor: pointer;
  }
}
