@import 'shared';

.dropdown-wrapper {
  position: relative;

  .dropdown-options-display {
    background-color: $white;
    border-radius: $border-radius-corners;
    box-shadow: $elevation-3;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1001;
  }
}
