@import '../../shared';

.Form {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;

    @include smallInclusive {
      flex-direction: column;
    }

    .h3 {
      margin-bottom: 16px;
    }

    .actions {
      margin-top: 0;
    }
  }

  .actions {
    margin-top: 32px;
  }

  .actions {
    margin-top: 32px;
  }
}
