@import '../../shared';

.MuiModal-root {
  position: fixed;
  z-index: 80;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.MuiModal-backdrop {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

$modal-padding: 16px;

.Modal {
  background: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  overflow: scroll;

  &.isFullScreen {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

.compact-modal-title {
  background: $purple-400;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: $modal-padding;

  &.ban-user {
    background: $rorange-500;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

  svg {
    cursor: pointer;
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.6;
    }
  }
}

.compact-modal-body {
  padding: $modal-padding;

  &:last-child {
    padding-bottom: 16px;
  }
}

.compact-modal-actions {
  padding: $modal-padding;
}

.ban-modal-content {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}