@import 'shared';

.ProfileRow {
  align-items: center;
  border: 2px solid $neutral-100;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 48px;
  padding: 8px;
  width: 324px;

  &:hover {
    background-color: $neutral-50;
  }

  &:active {
    background-color: $neutral-100;
    border-color: $neutral-300;
    box-shadow: none;
  }

  .avatar-and-name {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    .avatar {
      background-color: $primary-500;
      border-radius: $border-radius-round;
      height: 32px;
      margin-right: 8px;
      width: 32px;
    }
  }

  &.isSelected {
    background-color: $green-50;
    border-color: $green-500;
    box-shadow: none;
    justify-content: space-between;
    pointer-events: none;

    .Icon {
      color: $green-500;
    }
  }

  &.darkMode {
    background-color: $neutral-700;
    border-color: $neutral-600;
    box-shadow: none;

    .profile-row-text.Text {
      color: $neutral-500;
    }

    &.isSelected {
      background-color: $neutral-700;
      border-color: $green-200;
      justify-content: space-between;
      pointer-events: none;

      .profile-row-text.Text {
        color: $neutral-25;
      }

      .Icon {
        color: $green-200;
      }
    }
  }
}

.ProfilesList {
  // needed to compensate for negative margin on inner container
  margin-bottom: 2px;

  &.darkMode {
    margin-bottom: 0;
  }

  .profile-rows-container {
    display: grid;
    overflow-y: auto;
    row-gap: 4px;
    width: 336px;

    // preserves box shadow in scroll container
    height: 154px;
    margin-bottom: -2px;
    padding-bottom: 2px;

    @include visibleScrollbar(light);

    &.darkMode {
      // no box shadow
      height: 152px;
      margin-bottom: 0;
      padding-bottom: 0;

      @include visibleScrollbar(dark);
    }
  }
}
