@import 'shared';

.trigger-wrapper {
  display: flex;
  width: fit-content;
}

.popover-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Popover {
  @include popoverChild;

  align-items: center;
  background-color: $white;
  border: 2px solid $neutral-400;
  border-radius: $border-radius-corners;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 196px;
  min-height: 8px;
  visibility: hidden;

  &.bordered {
    .Text {
      color: $neutral-500;
    }
  }

  &.solidArrow {
    @include solidTooltipStyles;
  }

  &.solidNoArrow {
    @include solidTooltipStyles;
  }

  &.singleLine {
    background-color: $neutral-800;
    border-color: $neutral-800;
    height: 24px;
    max-width: 400px;
    padding: 4px 8px;

    .Text {
      color: $white;
    }
  }
}

// no styles for solidNoArrow since we don't want an arrow, duh

.arrow-up {
  @include borderedArrowStyles(up);

  &.solidArrow {
    @include solidArrowStyles(up, $primary-100);
  }

  &.singleLine {
    @include solidArrowStyles(up, $neutral-800);
  }
}

.arrow-down {
  @include borderedArrowStyles(down);

  &.solidArrow {
    @include solidArrowStyles(down, $primary-100);
  }

  &.singleLine {
    @include solidArrowStyles(down, $neutral-800);
  }
}

.arrow-left {
  @include borderedArrowStyles(left);

  &.solidArrow {
    @include solidArrowStyles(left, $primary-100);
  }

  &.singleLine {
    @include solidArrowStyles(left, $neutral-800);
  }
}
