@import 'shared';

.ProgressBar {
  border-radius: $border-radius-corners;

  &.ongoing {
    background-color: $neutral-800;
  }

  &.passed {
    background-color: $green-500;
  }

  &.failed {
    background-color: $rorange-500;
  }

  &.neutral {
    background-color: $neutral-500;
  }
}

.progress-background {
  background-color: $neutral-200;
  border-radius: $border-radius-corners;
  height: 4px;
  width: 100%;
}

.progress-label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .label-wrapper {
    margin-bottom: 4px;
  }

  .progress-percentage-text.Text {
    color: $neutral-500;
  }
}
