@import 'shared';

.ProgressBar {
  border-radius: $border-radius-corners;
  &.ongoing {
    background-color: $neutral-800;
  }

  &.passed {
    background-color: $green-500;
  }

  &.failed {
    background-color: $rorange-500;
  }

  &.neutral {
    background-color: $neutral-500;
  }
}

.progress-background {
  background-color: $neutral-200;
  width: 100%;
  border-radius: $border-radius-corners;
}

.progress-label {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2px;

  .progress-title {
    color: $neutral-800;
  }
  .progress-percentage {
    color: $neutral-500;
  }
}
