@import '../../shared';

@mixin radioCore($color) {
  display: grid;
  place-content: center;

  &::after {
    color: $color;
    content: '';
    width: 10.5px;
    height: 10.5px;
    box-shadow: inset 12px 12px;
    clip-path: circle(50%);
  }
}

.RadioButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    @include hideInput;
  }

  .radio-control {
    @include controlStyles;

    border-radius: $border-radius-round;
  }

  &:hover .radio-control {
    border-color: $primary-600;
  }

  &.checked .radio-control {
    border-color: $primary-500;
    background-color: inherit;

    display: grid;
    place-content: center;

    &::after {
      color: $primary-500;
      content: '';
      width: 10.5px;
      height: 10.5px;
      box-shadow: inset 12px 12px;
      clip-path: circle(50%);
    }
  }

  &.checked:hover .radio-control {
    border-color: $primary-600;
    &::after {
      color: $primary-600;
    }
    background-color: inherit;
  }

  &.checked.disabled .radio-control {
    &::after {
      color: $neutral-200;
      width: 10.5px;
      height: 10.5px;
    }
    background-color: $neutral-100;
    border-color: $neutral-200;
  }

  &.disabled {
    pointer-events: none;

    .radio-control {
      background-color: $neutral-100;
      border-color: $neutral-200;
    }
  }
}
