@import '../../shared';

@mixin radioCore($color) {
  display: grid;
  place-content: center;

  &::after {
    color: $color;
    content: '';
    width: 6px;
    height: 6px;
    box-shadow: inset 12px 12px;
    clip-path: circle(50%);
  }
}

.RadioButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    @include hideInput;
  }

  .radio-control {
    @include controlStyles;

    border-radius: $border-radius-round;
  }

  &:hover .radio-control {
    @include radioCore($primary-200);
    @include hoverColors;
  }

  &.checked .radio-control {
    @include radioCore($primary-500);
    @include checkedColors;
  }

  &.checked:hover .radio-control {
    @include radioCore($primary-600);
    @include checkedHoverColors;
  }

  &.checked.disabled .radio-control {
    @include radioCore($neutral-300);
    @include disabledColors;
  }

  &.disabled {
    cursor: not-allowed;

    .radio-control {
      // same color as background, so it's invisble on hover
      @include radioCore($neutral-200);
      @include disabledColors;
    }
  }
}
