@import '../../shared';

.SelectList {
  @include inputStyles;

  &.isMulti {
    border: 1px solid $neutral-200 !important;
    border-radius: 6px !important;

    [class$='-control'] {
      cursor: text;
      gap: 8px;
      min-height: 40px;
      font-size: 14px;
      letter-spacing: 0.02em;
      line-height: 14px;
      padding: 10px 12px;
      width: 100%;
      flex-wrap: wrap;

      [class$='-ValueContainer'] {
        padding: 0 !important;

        [class$='-multiValue'] {
          padding: 4px 8px;
          border-radius: 6px;
          margin: 0px !important;
          margin-right: 8px !important;
          background-color: $neutral-100;

          [class$='-MultiValueGeneric'] {
            font-size: 14px;
            margin-right: 16px;
            padding: 0px !important;
            line-height: 16px;
          }

          [class$='-MultiValueRemove'] {
            padding: 0;
            cursor: pointer;
            color: $neutral-500;
            font-size: 16px !important;

            &:hover {
              background-color: inherit;
              color: $neutral-600;
            }

            svg {
              font-size: 16px !important;
            }
          }
        }
      }
    }

    [class$='-IndicatorsContainer'] {
      cursor: pointer;

      [class$='-indicatorSeparator'] {
        display: none;
      }
    }

    [class$='-menu'] {
      margin-top: 4px;
      border-radius: 6px;
      border: 1px solid $neutral-100;
      width: 100%;
      background-color: $white;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

      [class$='-MenuList'] {
        padding: 10px 12px;
        overflow: scroll;

        [class$='-option'] {
          border: 0;
          outline: 0;
          border-radius: 6px;
          padding: 10px 12px;
          width: 100%;
          font-size: 16px;
          text-align: left;
          background-color: $neutral-100;
          cursor: pointer;
          margin-bottom: 4px;
        }
      }
    }
  }
}
