@import '../../shared';

.Spinner {
  animation: loading-spinner 0.9s ease-in-out infinite;
  height: fit-content;
  width: fit-content;

  @keyframes loading-spinner {
    0% {
      transform: translate(-6px,0);
    }
    50% {
      transform: translate(6px,0);
    }
    100% {
      transform: translate(-6px,0);
    }
  }
}
