@import '../../shared';

.Socials {
  .input-row {
    display: flex;
    align-items: center;
  }

  .add-social-link {
    display: flex;
    align-items: center;
    color: $neutral-500;

    &:hover {
      color: $neutral-700;
      cursor: pointer;
    }

    .b1 {
      color: $neutral-500;
      margin-left: 8px;

      &:hover {
        color: $neutral-700;
        cursor: pointer;
      }
    }
  }
}
