@import 'shared';

.Tab {
  cursor: pointer;

  .tab-label-text.Text {
    color: $neutral-500;
  }

  &:hover {
    .tab-label-text.Text {
      color: $neutral-600;
    }
  }

  &.isSelected {
    .tab-label-text.Text {
      color: $neutral-800;
    }
  }

  &.disabled {
    pointer-events: none;

    .tab-label-text.Text {
      color: $neutral-300;
    }
  }
}

.TabBar {
  display: flex;
  gap: 40px;
}
