@import '../../shared';

.Tab {
  cursor: pointer;

  .tab-label-text.Text {
    color: $neutral-500;
    white-space: nowrap;
  }

  &:hover {
    .tab-label-text.Text {
      color: $neutral-600;
    }
  }

  &.isSelected {
    .tab-label-text.Text {
      border-bottom: 2px solid $primary-500;
      color: $neutral-800;
      width: fit-content;
    }
  }

  &.disabled {
    pointer-events: none;

    .tab-label-text.Text {
      color: $neutral-300;
    }
  }
}

.TabBar {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  overflow-x: auto;

  @include visibleScrollbar(light);
}
