@import '../../shared';

.TextArea {
  display: flex;
  flex-direction: column;
  width: 100%;

  textarea {
    font-size: 16px;
    height: 152px;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding: 6px 8px;
    resize: none;

    @include inputStyles;
  }

  .character-count {
    margin-top: 4px;
  }
}
