@import 'shared';

.TextInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;

  .input-and-icon-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;

    input {
      @include inputStyles;

      &.darkMode {
        @include darkModeInputStyles;
      }

      &.small {
        font-size: 14px;
        height: 32px;
        line-height: 20px;
        padding: 8px;
      }

      &.large {
        font-size: 16px;
        height: 40px;
        letter-spacing: 0.02em;
        line-height: 24px;
        padding: 6px 8px;
      }

      &.hasRightIcon {
        padding: 8px 24px 8px 8px;
      }
    }

    .text-input-right-icon.Icon {
      color: $primary-300;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.success,
  &.failure {
    margin-bottom: 0px;
  }
}
