@import '../../shared';

@mixin iconPositionStyles {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.MessageRow {
  display: flex;

  &.hasFeedback {
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
  }

  .feedback-message-text.Text {
    justify-content: flex-end;
    margin-bottom: 4px;
    text-align: right;

    &.success {
      color: $green-600;
    }

    &.failure {
      color: $rorange-500;
    }
  }
}

.OldTextInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-and-icon-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;

    input {
      @include inputStyles;

      &.darkMode {
        @include darkModeInputStyles;
      }

      &.small {
        font-size: 14px;
        height: 32px;
        line-height: 20px;
        padding: 8px;
      }

      &.large {
        font-size: 16px;
        height: 40px;
        letter-spacing: 0.02em;
        line-height: 24px;
        padding: 6px 8px;
      }

      &.hasRightIcon {
        padding: 8px 24px 8px 8px;
      }
    }

    .text-input-right-icon.Icon {
      @include iconPositionStyles;
    }

    .text-input-right-onClick-icon {
      @include iconPositionStyles;
    }

    ::placeholder {
      color: $neutral-500;
    }
  }
}
