@import '../../shared';

.Tag {
  align-items: center;
  background-color: $neutral-100;
  border-radius: $border-radius-rounded-corners;
  display: flex;
  height: fit-content;
  padding: 4px 12px;
  width: fit-content;

  .tag-icon.Icon {
    margin-right: 4px;
  }

  .tag-text.Text,
  .tag-icon.Icon {
    color: $neutral-600;
  }

  &.passed {
    background-color: $green-300;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $green-700;
    }
  }

  &.failed {
    background-color: $rorange-300;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $rorange-700;
    }
  }

  &.active {
    background-color: $primary-500;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white;
    }
  }

  &.poll {
    background-color: $purple-400;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white;
    }
  }

  &.proposal {
    background-color: $primary-100;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $primary-600;
    }
  }

  &.disabled {
    background-color: $neutral-300-new  !important;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white  !important;
    }
  }

  &.referendum {
    background-color: $neutral-100;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $neutral-600;
    }
  }

  &.stage {
    background-color: $green-600;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white;
    }
  }

  &.new {
    background-color: $yellow-50;
    border-radius: $border-radius-corners-wider;
    padding: 4px 8px;

    .tag-text.Text {
      color: $yellow-600;
    }

    .tag-icon.Icon {
      stroke: $yellow-600;
      padding: 0;
      fill: none;
    }
  }
}