@import 'shared';

.VoteButton {
  align-items: center;
  background-color: $neutral-25;
  border-radius: $border-radius-corners;
  border: 2px solid $neutral-300;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 112px;
  justify-content: center;
  user-select: none;
  width: 40px;

  .upvote-button.Icon {
    color: $neutral-300;
  }

  .vote-count.Text {
    color: $neutral-300;
  }

  .downvote-button.Icon {
    color: $neutral-300;
  }

  &.isHoveringUpvote {
    border-color: $green-200;

    .upvote-button.Icon {
      color: $green-200;
    }

    .vote-count.Text {
      color: $green-200;
    }
  }

  &.isHoveringDownvote {
    border-color: $rorange-200;

    .downvote-button.Icon {
      color: $rorange-200;
    }

    .vote-count.Text {
      color: $rorange-200;
    }
  }

  &.hasUpvoted {
    background-color: $green-50;
    border-color: $green-500;

    .upvote-button.Icon {
      color: $green-500;
    }

    .vote-count.Text {
      color: $green-500;
    }

    .downvote-button.Icon {
      color: $white;
    }

    &.isHoveringUpvote {
      border-color: $green-400;

      .upvote-button.Icon {
        color: $green-200;
      }
    }

    &.isHoveringDownvote {
      border-color: $rorange-200;

      .vote-count.Text {
        color: $rorange-200;
      }

      .downvote-button.Icon {
        color: $rorange-200;
      }
    }
  }

  &.hasDownvoted {
    background-color: $rorange-50;
    border-color: $rorange-300;

    .upvote-button.Icon {
      color: $white;
    }

    .vote-count.Text {
      color: $rorange-300;
    }

    .downvote-button.Icon {
      color: $rorange-300;
    }

    &.isHoveringUpvote {
      border-color: $green-400;

      .upvote-button.Icon {
        color: $green-200;
      }

      .vote-count.Text {
        color: $green-200;
      }
    }

    &.isHoveringDownvote {
      border-color: $rorange-200;

      .downvote-button.Icon {
        color: $rorange-200;
      }
    }
  }
}
