@import '../../shared';

.WalletsList {
  align-items: center;
  display: flex;
  flex-direction: column;

  .DiscordAuthButton {
    fill: #5865f2;
  }

  .wallets-and-link-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    .wallets {
      display: flex;
      flex-direction: column;
      gap: 4px;
      overflow-y: auto;
      width: 284px;
      // preserves box shadow in scroll container
      margin-bottom: -4px;
      padding-bottom: 4px;

      @include visibleScrollbar(light);

      &.darkMode {
        // no box shadow
        margin-bottom: 0;
        padding-bottom: 0;

        @include visibleScrollbar(dark);

        .WalletOptionRow .email-auth-btn {
          stroke: $white !important;
        }
      }
    }

    .wallets-divider {
      margin: 8px 0;
      width: 272px;
    }

    .discord {
      color: #5865f2 !important;
    }

    .wallet-list-links {
      display: flex;
      justify-content: flex-end;
      margin-top: 4px;
    }

    .reset-wc-link {
      align-self: flex-start;

      a {
        color: $neutral-500;
        cursor: pointer;
        margin: 8px 12px 8px 0;
      }

      &.darkMode a {
        color: $neutral-400;
      }
    }

    .no-wallet-link {
      color: $neutral-500;
      cursor: pointer;
      margin: 8px 12px 8px 0;

      &.darkMode {
        color: $neutral-400;
      }
    }
  }

  .connect-another-way-link {
    font-size: 14px;
    text-align: right;
    margin-left: auto;
    margin-right: 16px;

    a {
      color: $primary-500;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $primary-400;
      }
    }

    &.darkMode {
      a {
        color: $primary-200;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: $primary-100;
        }
      }
    }
  }
}

.AccountSelector {
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: column;

  .account-item {
    cursor: pointer;
    padding: 16px 18px 9px;
    border: 1px solid $neutral-50;
    border-bottom: none;
    text-align: left;
    display: flex;

    .account-item-avatar {
      width: 56px;
    }

    .account-item-address {
      color: $neutral-500;
    }

    .account-item-left {
      flex: 1;
    }

    .account-item-right {
      text-align: right;
    }

    &:hover {
      background: $neutral-200;
    }

    &:first-child {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-bottom: 1px solid $neutral-50;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .account-item.account-item-emphasized {
    &:hover {
      background: $neutral-200;
    }
  }
}
