@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.JoinCommunityStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .h4 {
    color: colors.$neutral-600;

    .b1 {
      color: colors.$neutral-500;
    }
  }

  .communities-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 270px;
    overflow-y: scroll;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;

    @include media_queries.extraSmall {
      max-height: 60vh;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .footer-container {
    width: 90%;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .primary {
      background-color: colors.$primary-600 !important;
    }
    @include media_queries.extraSmall {
      position: absolute;
      bottom: 40px;
      margin-top: 0px;
    }
    @include media_queries.heightSmallInclusive {
      bottom: 10px;
      margin-top: 0px;
    }
  }
}
