@import '../../../../../styles/shared.scss';

.JoinCommunityStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .h4 {
    color: $neutral-600;

    .b1 {
      color: $neutral-500;
    }
  }

  .communities-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height: 270px;
    overflow-y: scroll;
    @include extraSmall {
      max-height: 60vh;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  .footer-container {
    width: 90%;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .primary {
      background-color: $primary-600 !important;
    }
    @include extraSmall {
      position: absolute;
      bottom: 40px;
      margin-top: 0px;
    }
    @include heightSmallInclusive {
      bottom: 10px;
      margin-top: 0px;
    }
  }
}
