@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';

.CastVoteSection {
  align-items: center;
  display: flex;

  .time-remaining-text.Text {
    color: colors.$neutral-500;
    margin-left: 16px;
  }
}
