@import '../../../../styles/shared';

.TelegramBotExplorer {
  display: flex;
  gap: 12px;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
