@import '../../../../../styles/shared.scss';

@mixin mainBodyStyles {
  .main-body-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 768px;
    width: 100%;

    .title {
      font-family: $font-family-silka;
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      word-break: break-word;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .header-info-row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .User {
          align-items: center;
          display: flex;

          .user-avatar {
            position: unset;
          }

          .username {
            @include caption;

            font-weight: 500;
          }
        }

        .header-text.Text {
          color: $neutral-500;
        }
      }
    }
  }
}

.ContentPage {
  display: flex;
  flex: 1;

  @include contentPadding;

  .sidebar-view {
    display: flex;
    gap: 56px;
    justify-content: space-between;
    width: 100%;

    @include mainBodyStyles;

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      max-width: 300px;
    }
  }

  .tabs-view {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mainBodyStyles;
  }

  .hidden {
    display: none;
  }
}
