@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';

.MagicWalletManager {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid colors.$neutral-50;
  background-color: colors.$neutral-50;
  padding: 8px;
  border-radius: 8px;

  .refresh-btn {
    cursor: pointer;
  }
}
