@import '../../../../../../styles/shared';

.EVMWalletsSubModal {
  .CWModal {
    border-radius: 24px;
    box-shadow: none;
    background: transparent;
    &.forMobile {
      background: white !important;
      height: 100vh;
    }
  }
  &.forMobile {
    background-color: $white !important;
  }
  .container {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 370px;
    padding: 24px 12px;
    gap: 24px;
    &.forMobile {
      background-color: $white !important;
    }
    @include extraSmall {
      min-width: auto;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 0 24px;

      .Text {
        margin-left: 24px;
      }

      .Icon {
        cursor: pointer;
      }
    }

    .evm-wallet-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      &.forMobile {
        height: 50vh;
      }

      .wallet-connect-reset-btn {
        margin-left: auto;
        color: $neutral-400;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 14px;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }
    .buttons_container {
      display: flex;
      gap: 1rem;
      width: 100%;
      position: relative;
      align-items: center;
      justify-content: space-between;
      .skip-button {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto !important;
        position: relative !important;
        transform: translate(0%);

        .primary {
          padding-left: 2rem;
          padding-right: 2rem;
          border: 1px solid $primary-600;
          background-color: transparent !important;

          .button-text {
            color: $primary-600 !important;
          }
        }
      }

      .next-button {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate(0%);
        width: auto !important;
        position: relative !important;
        .primary {
          padding-left: 2rem;
          padding-right: 2rem;
          border: 1px solid $primary-600;
          background-color: $primary-600;
          .button-text {
            color: white !important;
          }
        }
      }
    }
    .footer {
      display: block;

      a,
      a:visited,
      a:active,
      a:hover {
        color: $primary-600;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .EVMWalletsSubModal {
    background-color: $black !important;

    .container {
      background-color: $gray-900 !important;
    }

    .wallet-connect-reset-btn {
      color: $neutral-600 !important;
    }

    .header {
      .Text {
        color: $white !important;
      }
      .Icon {
        color: $white !important;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .EVMWalletsSubModal {
    background-color: $pink-25 !important;

    .container {
      background-color: $pink-100 !important;
    }

    .wallet-connect-reset-btn {
      color: $neutral-400 !important;
    }

    .header {
      .Text {
        color: $black !important;
      }
      .Icon {
        color: $black !important;
      }
    }
  }
}
