@import '../../../../../styles/shared';

.AdminOnboardingCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid $neutral-200;
  background: white;
  min-width: 245px;
  flex: 1;

  .section-icon {
    width: 40px;
    height: 40px;
  }

  .check-icon {
    background-color: #0079cc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $white;
    padding: 8px;
  }

  .content {
    .h4 {
      font-weight: 600 !important;

      &:disabled {
        color: $neutral-500;
      }
    }

    .b2 {
      margin-top: 4px;
      color: $neutral-500 !important;

      &:disabled {
        color: $neutral-500;
      }
    }
  }

  .cta-button {
    margin-top: auto;
    padding-left: 0 !important;

    &:focus-within {
      border-color: transparent !important;
    }

    button {
      padding-left: 0 !important;
    }
  }
}
