@import '../../shared';
@import 'quill.core';
@import 'quill.bubble';
@import 'quill.snow';

//
// editor
// 1. editor typography modifications
// 2. checklist styling
// 3. ql-snow form input styles, ql-bubble styles
// 4. toolbar
// 5. toolbar (markdown mode)
// 6. preview button
// 7. mentions container
// 8. upload spinner (TODO)
//
// - progress bar
// - markdown/rich text switcher tooltip
//

.QuillEditor {
  display: flex;
  flex-direction: column;
  position: relative;

  .mode-switcher {
    color: $primary-300;
    position: absolute;
    right: 48px;
    top: 8px;

    &:hover {
      color: $primary-100;
    }
  }

  .IconButton {
    position: absolute;
    right: 16px;
    top: 12px;
  }

  ::selection {
    background: $neutral-500;
    color: $white;
  }

  // 1. editor typography modifications
  .ql-editor {
    font-size: 1rem;
    height: 200px;
    max-height: 360px;
    padding: 8px 16px;

    a {
      text-decoration: underline;
    }

    img {
      background-color: $neutral-400;
    }

    code,
    kbd,
    samp {
      font-family: $monospace-fonts;
      font-size: 0.75rem;
      background: $neutral-300;
      padding: 2px 5px;
      margin: 0 1px;
      border-radius: 3px;
    }

    pre,
    .ql-code-block-container {
      background: $neutral-300;
      color: $neutral-800;
      font-family: $monospace-fonts;
      font-size: 0.75rem;
      white-space: pre-wrap;
      margin: 22px 0;
      padding: 12px 16px;
      border-radius: 3px;
      overflow-wrap: anywhere;

      &:first-child {
        margin-top: 2px;
      }

      &:last-child {
        margin-bottom: 2px;
      }
    }

    ol {
      ::before {
        padding-right: 1em;
      }

      li {
        margin: 0;
      }

      li[data-list='ordered'] > .ql-ui::before {
        margin-left: -1.85em;
        width: 1.5em;
      }

      li[data-list='bullet'] > .ql-ui::before {
        font-size: 125%;
        position: relative;
        top: -4px;
        left: -3px;
      }
    }
  }

  // 2. checklist styling
  .ql-editor {
    li[data-list='checked'] > .ql-ui::before,
    li[data-list='unchecked'] > .ql-ui::before {
      position: relative;
      top: -1px;
      left: -4px;
    }

    li[data-list='checked'] {
      text-decoration: line-through;
    }

    li[data-list='checked'] > .ql-ui::before {
      color: $neutral-500;
      font-size: 93%;
    }

    li[data-list='unchecked'] > .ql-ui::before {
      color: $neutral-400;
    }
  }

  // 3. ql-snow form input styles, ql-bubble styles
  .ql-container.ql-snow {
    border-radius: 0 0 3px 3px;
    // construct-ui input styles
    color: $neutral-900;
  }

  .ql-bubble .ql-editor {
    padding: 1px 8px 8px 1px;
  }

  .ql-snow .ql-editor,
  .ql-bubble .ql-editor {
    blockquote {
      margin: 6px 0;
    }
  }

  // 4. toolbar
  .ql-toolbar.ql-snow {
    background-color: $neutral-50;
    border-radius: 4px 4px 0 0;
    min-height: 40px;
    padding: 8px;

    @include extraSmall {
      display: flex;
      flex-wrap: wrap;
      min-height: 80px;
    }
  }

  // link popup
  .ql-tooltip {
    border-radius: 5px;
    font-size: 17px;
    padding: 10px 15px 8px;
    z-index: 9999;

    input[type='text'] {
      position: relative;
      top: -1px;
      padding: 5px 8px 0;
      margin-left: 4px;
      border-radius: 3px;
      // text styles
      font-size: 17px;
      height: 31px;
    }

    a.ql-action:hover::after {
      text-decoration: underline;
    }
  }

  // 5. toolbar markdown mode
  &.markdown-mode {
    .ql-snow.ql-toolbar button.ql-image {
      display: none;
    }
  }

  .ql-snow.ql-toolbar button.ql-preview {
    display: none;
  }

  &.markdown-mode {
    .ql-snow.ql-toolbar button.ql-preview {
      display: inline-block;
    }
  }

  // 6. preview button
  .ql-formats > .ql-preview {
    width: initial !important;
  }

  .ql-bubble .ql-formats > .ql-preview {
    display: none !important;
  }

  .ql-formats > .ql-preview:before {
    position: relative;
    top: -2px;

    content: '\e842';

    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-size: 11px;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}

// 7. mentions container
.ql-mention-list-container {
  background: $white;
  border-top: 1px solid $neutral-200;
  border-left: 1px solid $neutral-200;
  border-right: 1px solid $neutral-200;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 2;

  .ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    li {
      padding: 8px;
      border-bottom: 1px solid $neutral-200;
      margin: 0;
      display: flex;
      align-items: center;

      > div {
        font-size: 17px;
        display: flex;
        align-items: center;
        width: 100%;
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }

    > .selected {
      background: $neutral-100;
      cursor: pointer;
    }

    .ql-mention-text-wrap {
      width: 100%;

      .ql-mention-name {
        font-size: 16px;
        margin-right: 16px;
      }

      .ql-mention-addr {
        float: right;
        color: $neutral-500;
        font-size: 14px;
      }

      .ql-mention-la {
        display: block;
        color: $neutral-500;
        font-size: 14px;
        white-space: nowrap;
        margin-bottom: 2px;
      }
    }

    .ql-mention-avatar {
      height: 20px;
      width: 20px;
      min-height: 20px;
      min-width: 20px;
      margin-right: 12px;
      border-radius: 9999px;

      &.missing {
        background-color: $neutral-300;
      }
    }
  }
}

// progress bar
.progress-bar {
  height: 3px;
  width: 80%;
  background-color: red;
}

// markdown/rich text switcher tooltip
.quill-editor-tooltip {
  position: relative;
  top: 3px;
}
