@import '../../../../../styles/shared';

.ReferralTable {
  table {
    width: 100%;
    @include table-cell;
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 176px 0;

    @include mediumSmallInclusive {
      padding: 96px 0;
    }

    .empty-state-text {
      color: $neutral-400;
      text-align: center;
    }
  }
}
