@import '../../shared';

.Comment {
  display: flex;

  .thread-connectors-container {
    display: flex;
    gap: 24px;
    margin-right: 24px;

    .thread-connector {
      background-color: $neutral-200;
      height: 100%;
      left: 36px;
      position: relative;
      top: 12px;
      width: 1px;

      &.replying {
        background-color: $neutral-300;
        width: 2px;
      }
    }
  }

  &.highlighted {
    background-color: $yellow-200;
    border-radius: $border-radius-corners;

    &.highlightAnimationComplete {
      background-color: transparent;
      transition: background-color 1s ease-in-out;
    }
  }

  .comment-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0 8px;
    max-width: 600px;
    width: 100%;

    .comment-text,
    .comment-footer {
      padding-left: 30px;
    }

    .comment-header {
      align-items: center;
      display: flex;
      gap: 8px;

      .User {
        align-items: center;
        display: flex;
        height: 24px;

        .username {
          font-weight: 500;

          @include caption;
        }
      }

      .published-text.Text {
        color: $neutral-500;
      }
    }

    .comment-footer {
      display: flex;
      justify-content: space-between;

      .menu-buttons-left {
        align-items: center;
        display: flex;
        gap: 16px;

        .reply-button {
          align-items: center;
          cursor: pointer;
          display: flex;
          gap: 4px;

          .Icon,
          .menu-buttons-text.Text {
            color: $neutral-500;
          }

          &:hover {
            .Icon,
            .menu-buttons-text.Text {
              color: $neutral-600;
            }
          }

          &:active {
            .Icon,
            .menu-buttons-text.Text {
              color: $neutral-800;
            }
          }

          &.selected {
            .Icon,
            .menu-buttons-text.Text {
              color: $neutral-800;
            }
          }
        }

        .verification-icon {
          color: $neutral-500;
          margin-left: -1px;
          margin-top: 2px;
          path {
            stroke: #9f9da1;
            stroke-width: 1.25px;
          }
        }
      }

      .menu-buttons-right {
        align-items: center;
        display: flex;
        gap: 16px;
      }
    }
  }
}
