@import '../../../../../styles/shared.scss';

.AccountSelector {
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: column;

  .account-item {
    cursor: pointer;
    padding: 6px 18px 9px;
    text-align: left;
    display: flex;

    .account-item-avatar {
      width: 54px;
    }

    .account-item-address {
      margin-top: 2px;
      color: $neutral-500;
    }

    .account-item-left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;

      input[type='radio'] {
        appearance: none;
        width: 18px;
        height: 18px;
        border: 0.5px solid $neutral-500;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        outline: none;
        background-color: transparent;

        &:checked {
          background-color: $primary-500;
          border: 1px solid $primary-500;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 16px;
          height: 16px;
          background-color: white;
          border-radius: 50%;
          opacity: 0;
        }

        &:checked::before {
          opacity: 1;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: $primary-500;
          border-radius: 50%;
          opacity: 0;
        }

        &:checked::after {
          opacity: 1;
        }
      }
    }

    .account-item-name {
      flex: 1;
      font-weight: 500;
    }

    .account-item-right {
      text-align: right;
    }

    &:hover {
      background: $neutral-200;
    }

    &:first-child {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-bottom: 1px solid $neutral-50;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .account-item.account-item-emphasized {
    &:hover {
      background: $neutral-200;
    }
  }
}
