@import '../../../../styles/shared.scss';

.AccountSelector {
  margin-bottom: 24px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .account-item {
    cursor: pointer;
    padding: 6px 18px 9px;
    text-align: left;
    display: flex;

    .account-item-avatar {
      width: 54px;
    }

    .account-item-address {
      margin-top: 2px;
      color: $neutral-500;
    }

    .account-item-left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .account-item-name {
      flex: 1;
      font-weight: 500;
    }

    .account-item-right {
      text-align: right;
    }

    &:hover {
      background: $neutral-200;
    }

    &:first-child {
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-bottom: 1px solid $neutral-50;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  .account-item.account-item-emphasized {
    &:hover {
      background: $neutral-200;
    }
  }
}
