@import '../../../../../../styles/shared';

.ManageRoles {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  .roles-container {
    border: 2px solid $neutral-200;
    border-radius: $border-radius-corners;
    height: 196px;
    overflow-y: auto;
    padding: 0 4px;
    width: 100%;

    .role-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 24px;
      justify-content: space-between;
      width: auto;

      svg {
        cursor: pointer;

        &:hover {
          color: $neutral-600;
        }
      }
      &:hover {
        background-color: $neutral-100;
      }
    }
  }
}
