@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/media_queries';

.EmptyThreadsSkeletonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;

  @include media_queries.medium {
    padding: 40px;
  }

  @include media_queries.mediumSmall {
    padding: 32px;
  }

  @include media_queries.smallInclusive {
    padding: 24px;
  }
}

.EmptyThreadsPlaceholderText {
  color: colors.$neutral-500;
  margin-left: 40px;
}
