@import 'shared';

.CoverImageUpload {
  height: 262px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral-50;
  border: 2px solid $neutral-200;
  border-radius: 5px;
  .dropzone-attach {
    .attach-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .Text {
        color: $neutral-400;
        margin-top: 8px;
      }
      .Icon {
        fill: $neutral-400;
        margin-bottom: 8px;
      }
    }
  }
  .dropzone-previews {
    .dz-preview {
      .dz-image {
        height: 262px;
        width: 480px;

        img {
          height: 262px;
          width: 480px;
          object-fit: fill;
        }
      }

      .dz-details,
      .dz-progress,
      .dz-success-mark,
      .dz-error-mark,
      .dz-error-message {
        display: none;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
