@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';
@use '../../../../../../styles/mixins/media_queries';

.SignCommunityTransactions {
  display: flex;

  .FeatureHint {
    &.mobile {
      display: none;

      @include media_queries.smallInclusive {
        display: block;
      }
    }

    &.desktop {
      max-width: 244px;

      @include media_queries.smallInclusive {
        display: none;
      }
    }
  }

  .header {
    margin-top: 8px;
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 596px;
    margin-right: 110px;

    @include media_queries.smallInclusive {
      margin-right: unset;
    }

    .description {
      color: colors.$neutral-500;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .info {
      display: inline-block;

      a {
        margin-left: 4px;
        color: colors.$primary-600;
      }
    }

    .Divider {
      margin-block: 8px;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .ActionSteps {
    margin-top: 32px;
  }

  @include media_queries.smallInclusive {
    .FeatureHint {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
      }
    }
  }
}
