@import '../../../../styles/shared';

.TrendingThreadList {
  width: 100%;
  margin: 16px 0;

  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .link-right {
      display: flex;
      gap: 4px;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .content {
    width: 100%;
    height: 450px;
    display: flex;
    gap: 15px;
    justify-content: start;
    margin: 10px 0;

    @include extraSmall {
      flex-direction: column;
    }
  }

  .empty-thread {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .virtuoso-grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
  }

  .virtuoso-grid-list > div {
    width: 100% !important;
    max-width: 325px;
    height: 280px !important;
  }
}
