@import '../../../../../../styles/shared';

.GroupsSection {
  padding: 20px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .filters {
    display: grid;
    height: fit-content;
    align-items: center;
    gap: 16px;
    width: 100%;

    &.cols-3 {
      grid-template-columns: 9fr 1fr 2fr;
    }
    &.cols-4 {
      grid-template-columns: 7fr 1fr 2fr 2fr;
    }

    .search-icon {
      color: $neutral-400;
    }

    .filter-text {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .select-dropdown {
      button {
        width: 100%;
      }
    }
  }

  .groups-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
