@import 'shared';

.GeneralContractPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  .functions-container {
    display: flex;
    flex-direction: column;

    .header-row {
      border-bottom: 1px solid $neutral-600;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; 
    }

    .function-row {
      border-bottom: 1px solid $neutral-600;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 8px 0;

      .functions-input-container {
        display: flex;
        flex-direction: column;

        .function-inputs {
          display: flex;
          gap: 4px;
        }
      }

      .functions-output-container {
        display: flex;
        flex-direction: column;

        .function-outputs {
          display: flex;
          gap: 4px;
        }
      }
    }
  }
}
