@import '../../../../../../../styles/shared';

.GroupCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 6px;
  background: $white;
  border: 1px solid $neutral-200;

  .gating-tags {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
  }
}
