@import '../../../../styles/shared';

.BreadcrumbsComponent {
  z-index: 0 !important;
}

.CommunitiesPageLayout {
  padding-top: 0;
  height: 100%;
  overflow-y: auto;

  .layout-container {
    height: 100%;
  }
}

.CommunitiesPage {
  display: flex;
  flex: 1;
  flex-direction: column;

  .header-section {
    display: flex;
    flex-direction: column;

    gap: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;

    .btn-border {
      margin: 0 !important;
      padding: 0 !important;

      &:focus-within {
        border-width: 1px !important;
        padding: 0 !important;
      }
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        .communities-count {
          color: $neutral-500;
          height: fit-content;
          margin-right: 12px;
        }

        .CreateCommunityButton {
          padding: 0;
        }
      }
    }

    .filters {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      height: 0;
      margin-top: -16px;

      &.hasAppliedFilter {
        margin-top: initial;
        height: auto;
      }

      .Tag {
        .Text {
          text-transform: capitalize;
        }
      }

      @include extraSmall {
        gap: 12px;
      }

      .Divider {
        height: 40px;
      }

      .tag-filter {
        border: 1px solid $black !important;
        min-width: 180px;
        max-width: 180px;
      }
    }
  }

  .communities-list {
    width: 100%;
    min-height: 500px;

    > div {
      div[data-testid='virtuoso-item-list'] {
        > div {
          display: grid !important;
          grid-gap: 28px;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          padding-top: 24px;

          @include mediumSmall {
            grid-template-columns: 1fr 1fr;
          }

          @include extraSmall {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }

  .my-16 {
    margin: 16px 0;
  }

  .empty-placeholder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    justify-content: center;
    align-items: center;

    .h2 {
      display: inline;
      text-align: center;

      a {
        color: $primary-500;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color: $primary-500;
          text-decoration: underline;
        }
      }
    }
  }
}
