@import '../../shared';

.ContractsPage {
  width: 864px;
  margin: 16px auto;

  .Tabs {
    margin-top: 40px;
  }

  @include mediumSmallInclusive {
    width: calc(100% - 10%);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 8px;

    @include extraSmall {
      flex-direction: column;
      align-items: start;
    }
  }

  .contracts-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }

  .no-contracts-container {
    margin-top: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .no-contracts-info {
      text-align: center;
      color: $neutral-600;
    }
  }

  .template-display-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;

    .no-contract-alert {
      display: flex;
      padding: 16px 24px;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      background: $primary-50;
      border: 1px solid $primary-500;
      border-radius: 6px;

      .information {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: flex-start;

        .info-text {
          color: $neutral-600;
          max-width: 70%;
        }
      }

      .closeIcon {
        cursor: pointer;
      }
    }
  }

  .Table {
    flex: 1;

    .empty-state {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $neutral-100;
      border-top: none;
    }

    .table-row {
      border: 1px solid $neutral-100;
      border-top: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 0.2fr;
      padding: 12px;
      width: 100%;

      .table-column {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .ViewIcon {
          cursor: pointer;
        }
      }

      .ColumnText {
        color: $neutral-600 !important;
      }

      .Text:first-of-type {
        justify-content: start;
      }

      .Text {
        justify-content: right;
        margin-right: 8px;
      }

      .IconGroup {
        display: flex;
        gap: 8px;
      }
    }

    .dark {
      background-color: $neutral-50;
      color: $neutral-500;
    }

    .bottom {
      border-bottom-right-radius: $border-radius-corners;
      border-bottom-left-radius: $border-radius-corners;
    }

    .top {
      border-top: 1px solid $neutral-100;
      border-top-right-radius: $border-radius-corners;
      border-top-left-radius: $border-radius-corners;

      .Text {
        color: $neutral-500;
      }
    }
  }
}
