@import '../../shared';

.ContractTemplateCard {
  background-color: $neutral-25;

  .header {
    margin-bottom: 24px;

    svg {
      padding-block: 2px;
    }
  }

  .contract-info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .info-row {
      display: flex;

      @include extraSmall {
        flex-direction: column;
      }

      .row-label {
        color: $neutral-500;
        min-width: 120px;
      }
    }
  }

  .enabledby-row {
    display: flex;
    align-items: center;
    gap: 8px;

    .text-group {
      display: flex;
      gap: 4px;
    }
  }
}

.user-display-name {
  @include caption;
  font-weight: 500;
}
