@import '../../shared';

.ContractCard {
  padding: 24px 32px;

  .label {
    color: $neutral-800;
    margin-bottom: 8px;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;

    .delete-icon {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .label-group {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    align-items: center;
    justify-content: center;

    .group-title {
      color: $neutral-600;
      width: 120px;
    }

    .address {
      word-break: break-word;
    }
  }

  .templates {
    width: 100%;
    margin-top: 44px;

    .no-templates-container {
      min-height: 56px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .no-templates-info {
        text-align: center;
        color: $neutral-600;
      }
    }

    .templates-container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .add-template-btn {
      padding-inline: 0;
      margin-top: 16px;
      padding: 0px 8px;
      gap: 4px;
      border-radius: 24px;

      &:hover {
        background: $neutral-50;
      }

      .Text {
        font-size: 12px;
        color: $neutral-600;
        font-weight: 500;
      }
    }

    .create-template-info {
      color: $neutral-600;
      display: inline-block;

      .cta {
        display: inline-block;
        margin-left: 4px;
        color: $primary-500;
      }
    }
  }
}
