@import '../../../../../../styles/shared.scss';

.MuiModal-root {
  position: fixed;
  z-index: 80;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.MuiModal-backdrop {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

$modal-padding: 16px;

.CWModal {
  background: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  overflow: auto;
  min-height: 168px;
  max-height: 84vh;
  max-width: 50vw;
  outline: none;

  &.small {
    min-width: 480px;
  }

  &.medium {
    min-width: 600px;
  }

  &.large {
    min-width: 720px;
  }

  &.isFullScreen {
    border-radius: 0;
    min-height: 100vh;
    min-width: 100vw;
  }

  // Some modals have a dropdown that may overflow the parent container
  // In these cases this parent container must have a visible overflow
  &.visibleOverflow {
    overflow: visible;
  }
}
