@import '../../shared';

.Carousel {
  align-items: center;
  background: linear-gradient(
    92deg,
    #fbfafd 0%,
    #c4d0e6 50%,
    #e7dee0 75%,
    #c6d5dd 100%
  );
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 56px;
  padding: 56px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    max-width: 768px;
  }

  .cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 100%;

    .carousel-card {
      align-items: center;
      background-color: $white;
      border-radius: $border-radius-corners;
      box-shadow: $elevation-3;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 224px;
      padding: 56px 16px;
      justify-content: space-between;
      width: 280px;
      word-break: break-all;

      &:hover {
        background-color: $neutral-100;
        box-shadow: $elevation-2;
      }
    }
  }
}
