@import '../../shared';

@mixin sharedIconStyles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.CommunitySearch {
  display: flex;
  min-height: 624px;

  @include extraSmall {
    min-height: unset;
  }

  .search-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 96px 56px 56px;
    width: 50%;

    @include medium {
      padding: 80px 56px 56px;
    }

    @include mediumSmall {
      padding: 172px 56px 56px;
    }

    @include small {
      padding: 104px 56px 56px;
      width: 100%;
    }

    @include extraSmall {
      padding: 168px 56px 56px;
      width: 100%;
    }

    .header-text.Text {
      display: inline-block;

      span {
        color: $purple-300;
      }
    }

    .search-input-container {
      margin: 0 auto;
      width: 400px;

      @include mediumSmallInclusive {
        width: 100%;
      }

      .search-and-icon-container {
        position: relative;

        input {
          @include b1;

          border: 1px solid $neutral-300;
          border-radius: $border-radius-rounded-corners;
          color: $neutral-800;
          height: 52px;
          padding: 8px 16px 8px 48px;
          width: 100%;

          &.isClearable {
            padding: 8px 48px;
          }

          &::placeholder {
            color: $neutral-500;
          }

          &:focus {
            outline: none;
          }

          &:focus-within {
            border-color: $primary-500;
          }
        }

        .search-icon {
          @include sharedIconStyles;

          left: 16px;
        }

        .clear-icon {
          @include sharedIconStyles;

          right: 16px;
        }

        .search-results-dropdown {
          background-color: $white;
          border-radius: 0 0 $border-radius-corners $border-radius-corners;
          box-shadow: $elevation-3;
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          overflow: hidden;
          position: absolute;
          user-select: none;
          width: 100%;
          z-index: 1001;

          .search-result-row {
            align-items: center;
            cursor: pointer;
            display: flex;
            gap: 16px;
            padding: 8px 16px;

            &:hover {
              background-color: $neutral-100;
            }
          }
        }
      }
    }

    .links-section {
      align-items: center;
      display: flex;
      gap: 16px;
      justify-content: center;

      @include extraSmall {
        flex-wrap: wrap;
      }

      .discord-icon {
        fill: #5865f2;
        cursor: pointer;
      }

      .links-container {
        align-items: center;
        display: flex;
        gap: 8px;
      }
    }
  }

  .images-section {
    display: flex;
    position: relative;
    width: 50%;

    @include smallInclusive {
      display: none;
    }

    background: linear-gradient(
      135deg,
      rgb(179, 125, 186) 0%,
      rgb(96, 134, 209) 100%
    );

    .discussions-img {
      bottom: 0;
      height: auto;
      max-width: 100%;
      position: absolute;
      right: 0;
    }

    .notification-img {
      bottom: 0;
      height: auto;
      max-width: 100%;
      position: absolute;
      z-index: 2;
    }

    .discussion-img {
      bottom: 88px;
      height: auto;
      left: 128px;
      max-width: 100%;
      position: absolute;
      z-index: 3;
    }
  }
}
