@import '../../shared';

.CommunitySearch {
  display: flex;
  min-height: 624px;

  .search-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 128px 56px 56px;
    width: 50%;

    .header-text.Text {
      display: inline-block;

      span {
        color: $purple-300;
      }
    }

    input {
      @include b1;

      border: 1px solid $neutral-300;
      border-radius: $border-radius-rounded-corners;
      color: $neutral-800;
      height: 52px;
      padding: 8px 24px;
      width: 100%;

      &::placeholder {
        color: $neutral-500;
      }

      &:focus {
        outline: none;
      }

      &:focus-within {
        border-color: $primary-500;
      }
    }

    .links-section {
      align-items: center;
      display: flex;
      gap: 16px;
      justify-content: center;

      .links-container {
        align-items: center;
        display: flex;
        gap: 8px;
      }
    }
  }

  .images-section {
    display: flex;
    position: relative;
    width: 50%;

    background: linear-gradient(
      135deg,
      rgb(179, 125, 186) 0%,
      rgb(96, 134, 209) 100%
    );

    .discussions-img {
      bottom: 0;
      height: auto;
      max-width: 100%;
      position: absolute;
      right: 0;
    }

    .notification-img {
      bottom: 0;
      height: auto;
      max-width: 100%;
      position: absolute;
      z-index: 2;
    }

    .discussion-img {
      bottom: 88px;
      height: auto;
      left: 128px;
      max-width: 100%;
      position: absolute;
      z-index: 3;
    }
  }
}
