@import 'client/styles/shared';

.TokensCreatorsUseCaseButton.text-center.hidden.mb-20 {
  a.btn-outline.text-xl.rounded-lg.pb-2.pt-3.px-3 {
    color: $neutral-800;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

button.TokensCreatorsText {
  &:hover {
    background: $yellow-800;
  }
}

img.TokensCreatorsImage {
  margin-left: 3rem;
  margin-top: 1rem;

  @include mediumSmall {
    margin-left: 0rem;
  }
}
