@import '../../shared';

.GalleryCard {
  background-color: $neutral-800;
  border-radius: $border-radius-corners;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  width: 336px;

  &.isSelected {
    background-color: $black;
  }

  &:hover {
    background-color: $yellow-800;
  }

  &:active {
    background-color: $yellow-600;
  }

  .gallery-card-title.Text {
    color: $white;
  }

  .gallery-card-subtitle.Text {
    color: $neutral-800;

    &.isSelected {
      color: $white;
    }
  }
}

.CreatorsCardSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  padding: 56px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }

  .inner-container {
    display: flex;
    background-color: $neutral-800;
    border-radius: $border-radius-corners;
    height: 568px;
    padding: 32px;
    width: 1104px;

    .cards-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .image-container {
      display: flex;

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
