@import '../../shared';

.CrowdfundingCardSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  padding: 56px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

    img {
      width: 112px;
    }
  }

  .inner-container {
    display: flex;
    background-color: $neutral-800;
    border-radius: $border-radius-corners;
    height: 568px;
    justify-content: space-between;
    padding: 32px;
    width: 1104px;

    .cards-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      width: 596px;
    }
  }
}
