@import '../../shared';

.FindYourCommunitySection {
  width: 100%;

  .holders-container {
    display: flex;
    flex-wrap: wrap;

    .holder-card {
      // flex: 1;

      img {
      }
    }
  }
}
