@import '../../shared';

.Header {
  align-items: center;
  background-color: $white;
  border-radius: $border-radius-rounded-corners;
  box-shadow: $elevation-3;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin: 32px;
  padding: 24px 72px;
  position: absolute;
  width: 80%;
  z-index: 5;

  @include extraSmall {
    padding: 24px;
    justify-content: center;
  }

  .logo-with-text {
    max-height: 40px;

    @include small {
      max-height: 24px;
    }

    @include extraSmall {
      max-height: 16px;
    }
  }

  .desktop-login {
    align-items: center;
    display: flex;
    gap: 32px;
  }
}
