@import '../../shared';

.LandingPage {
  align-items: center;
  background-color: $neutral-50;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .join-section {
    background-color: $neutral-800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 224px;
    padding: 0 268px;
    width: 100%;

    .join-text.Text {
      color: $white;
    }
  }

  .Footer {
    width: 100%;
  }
}
