@import '../../shared';

.LandingPageHeader {
  align-items: center;
  background-color: $white;
  border-radius: $border-radius-rounded-corners;
  box-shadow: $elevation-3;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px 24px;
  position: absolute;

  .logo-with-text {
    max-height: 32px;

    @include extraSmall {
      height: 16px;
    }
  }
}
