@import '../../shared';

.LandingPageHeaderLinks {
  white-space: nowrap;

  a.text-gray-500.leading-none {
    color: $neutral-800;
    text-decoration: none;
    cursor: pointer;
  }
}

.menuOpen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0 !important;
  align-items: flex-start;
  margin: 0;
  width: 100%;

  li {
    margin: 0;
    display: block;
  }

  .menu {
    display: none;
  }

  .close {
    display: block;
  }

  nav {
    display: block !important;
  }
}

.close {
  display: none;
}

.menuButton {
  width: 30px;
  height: 30px;
  position: absolute;

  @include extraSmall {
    right: 36px;
    top: 45px;
  }

  @include small {
    right: 146px;
    top: 30px;
  }

  @include mediumSmall {
    right: 296px;
    top: 49px;
  }
}

.tokenSectionContainer {
  max-width: 95%;
}

.LandingPageHeaderLoginButton {
  cursor: pointer;
  white-space: nowrap;

  img {
    position: relative;
    top: -2px;
  }

  a {
    text-decoration: none !important;
    padding-bottom: 0.55rem;
  }
}

li.LandingPageHeaderLoginButton.ml-10.pt-2 {
  a.btn-primary.pb-3.text-white {
    padding-top: 14px;
    padding-bottom: 9px;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $yellow-800;
    }

    img {
      position: relative;
      top: -2px;
    }
  }
}

li.LandingPageMenuButton.ml-10.pt-2 {
  white-space: nowrap;
  background: $white;
}

.HeaderLandingPage {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.header-hidden {
  top: -100px;
}

.fixed-header {
  width: 100%;
  max-width: 1244px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  top: 0px;
  margin-top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header {
  border-radius: $border-radius-rounded-corners;
  transition: border-radius 0.15s cubic-bezier(0.65, 0, 0.35, 1);
}

header {
  .logoWithText {
    max-height: 38px;
  }

  @include small {
    &.fixed-header {
      width: calc(100% - 2rem);
    }
  }
}

@include small {
  #landing-page {
    margin: 0;
  }
}
