@import '../../shared';

.TokensCommunityHero {
  display: flex;
  height: 624px;

  .search-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    justify-content: center;
    padding: 56px;

    .header-text.Text {
      display: inline-block;

      span {
        color: $purple-300;
      }
    }

    input {
      @include b1;

      border: 1px solid $neutral-300;
      border-radius: $border-radius-rounded-corners;
      color: $neutral-800;
      height: 52px;
      padding: 8px 24px;
      width: 100%;

      &::placeholder {
        color: $neutral-500;
      }

      &:focus {
        outline: none;
      }

      &:focus-within {
        border-color: $primary-500;
      }
    }

    .links-section {
      align-items: center;
      display: flex;
      gap: 16px;
      justify-content: center;

      .links-container {
        align-items: center;
        display: flex;
        gap: 8px;
      }
    }
  }

  .images-section {
    flex: 1;
    position: relative;

    background: linear-gradient(
      135deg,
      rgb(179, 125, 186) 0%,
      rgb(96, 134, 209) 100%
    );

    .discussions-img {
      object-position: top;
      position: absolute;
      left: 2.5rem;
      margin-top: 2.5rem;
      --transform-translate-y: 4rem;
      max-width: none;
      height: auto;
    }

    .notification-img {
      object-position: bottom;
      position: absolute;
      bottom: 0;
      --transform-translate-y: -2rem;
    }

    .discussion-img {
      position: absolute;
      top: 50%;
      --transform-translate-x: 2rem;
    }
  }
}
