@import 'client/styles/shared';

$width: 210px;
$sidebar-padding: 16px;

.Navigation {
    position: fixed;
    left: 72px;
    &.logged-out {
        left: 0;
    }
    top: 0;
    bottom: 0;
    width: $width;
    z-index: 9;
    background: #fff !important;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);

    .cui-list {
        max-height: 100%;
        padding-bottom: 80px;
        user-select: none;
    }

    // individual menu items
    .cui-list.cui-lg > h4 {
        margin: 0;
        padding: 20px 0 6px $sidebar-padding;
        font-weight: 500;
        font-size: 13px;
        color: #888;
    }
    .cui-list.cui-lg .cui-list-item {
        border: none;
        font-weight: 500;
        padding: 6px $sidebar-padding;
    }
    .cui-list-item .cui-tag {
        margin-top: -6px;
        margin-bottom: -6px;
        padding: 2px 9px 1px;
    }

    // buttons
    .cui-list.cui-lg .cui-list-item-content-right .cui-button + .cui-button {
        margin-left: 4px;
    }
    // top
    .cui-list.cui-lg .title-selector {
        font-weight: 700;
        padding: 21px $sidebar-padding 18px;
        background: #fff !important;
        cursor: default !important;
        user-select: none;
        border-bottom: 1px solid lighten(#c5cdd1, 10%);
        a.title-selector-link {
            display: flex;
            text-decoration: none;
            color: #111;
            max-width: 140px;
        }
        // prevent long names from overflowing
        .community-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
        .ChainStatusIndicator {
            display: inline-block;
            margin-left: 8px;
            margin-right: -2px;
            position: relative;
            top: -1px;
        }
        .icon-lock {
            font-size: 13px;
            opacity: 0.4;
            margin-right: -3px;
        }
    }
    .cui-list.cui-lg .action-selector {
        padding: 15px ($sidebar-padding + 1) 15px $sidebar-padding;
        background: #fff !important;
        cursor: default !important;
        user-select: none;
        border-bottom: 1px solid lighten(#c5cdd1, 10%);
        margin-bottom: 10px;
    }
    // bottom
    .cui-list.cui-lg .login-selector {
        position: fixed;
        bottom: 0;
        width: $width;
        background: #fff !important;
        cursor: default !important;
        user-select: none;
        padding: 21px $sidebar-padding 15px;
        border-top: 1px solid lighten(#c5cdd1, 10%);
        button.cui-button {
            position: relative;
            top: -2px;
        }
        .cui-list-item-content-left {
            display: flex;
            flex: 1;
            .User.avatar-only {
                overflow: visible;
                padding-right: 11px;
                position: relative;
                top: -2px;
            }
            .login-selector-user {
                line-height: 1.1;
                .user-info {
                    position: relative;
                    top: -4px;
                    .User {
                        //white-space: normal; // prevent long usernames from overflowing
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 110px;
                        font-size: 14px;
                    }
                    .user-address {
                        font-size: 12px;
                        margin: 0;
                    }
                }
            }
        }
    }
    &.no-active-community .cui-list.cui-lg .title-selector {
        border-bottom: none;
    }
    &.no-active-community .cui-list.cui-lg .login-selector {
        border-top: none;
    }
}

// notifications menu (outside Navigation, displayed in a cui-portal)
.notification-menu {
    .notification-list {
        max-height: 420px;
        background: #fff;
        overflow-y: scroll;
    }
    .cui-menu {
        max-width: 250px;
    }
    .cui-list-item {
        padding: 11px;
    }
}
