@import 'client/styles/shared';

.TagSelector {
    padding: 8px 0;
    a.TagRow {
        padding: 4px 17px;
        display: flex;
        justify-content: space-between;
        color: $lighttextgrey;
        text-decoration: none;
        line-height: 1.25;
        .edit-button {
            display: none;
        }
        &:hover .edit-button {
            display: block;
            color: rgb(100, 100, 100);
        }
        &.selected {
            font-weight: 600;
        }
        .tag-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    @include dragula;
}
