@import '../../../../../styles/shared.scss';

.ProfileActivityRow {
  display: flex;
  position: relative;
  gap: 4px;
  padding: 20px 0 0 0;
  cursor: pointer;
  min-width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
  padding: 16px 60px 16px 60px;
  @include extraSmall {
    padding: 0px 30px 0px 30px;
  }

  &:hover {
    background: $neutral-50;
    text-decoration: none;
    color: unset;
  }

  @include extraSmall {
    min-height: 150px;
    max-height: 250px;
    padding-bottom: 10px;
  }
  .ProfileActivityRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include extraSmall {
      flex-wrap: wrap;
      margin-bottom: 2px;
    }

    .created_at {
      color: $neutral-700 !important;
      margin-bottom: 10px;
      min-width: fit-content;
      @include extraSmall {
        margin-bottom: 0px;
        font-size: 12px !important;
      }
    }

    .heading {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      max-width: 90%;

      @include isWindowSmallToMediumInclusive {
        max-width: 85% !important;
      }

      @include extraSmall {
        margin-bottom: 0px;
        max-width: 100%;
      }
      .address.Text {
        color: $neutral-900;
      }
      .Text {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: $neutral-700;
        word-spacing: 0.1cap;

        @include extraSmall {
          font-size: 14px !important;
          line-height: 14px !important;
          word-spacing: 0cap !important;
        }
      }

      a {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        align-self: flex-start;
        color: $neutral-800 !important;
      }

      span {
        font-size: 19px;
        font-weight: 300;
        line-height: 19px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    .trigger-wrapper {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .chain-info {
    display: flex;
    margin-bottom: 8px;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .date {
      .Text {
        color: $neutral-500;
      }
    }

    .dot {
      width: 24px;
      display: flex;
      font-weight: 600;
      align-items: center;
      color: $neutral-500;
      padding-bottom: 8px;
      justify-content: center;
    }
  }

  .gray-text {
    width: 100%;
    font-size: 18px;
    color: $neutral-600;
  }

  .link a {
    cursor: pointer;
    color: $neutral-800;
  }

  .title {
    display: flex;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    .gray_text {
      color: $neutral-600;
    }
    @include extraSmall {
      font-size: 13px !important;
      line-height: 13px !important;
      word-spacing: 0cap !important;
    }

    a {
      color: $neutral-800 !important;
    }

    span {
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
    }
  }

  .content {
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: space-between;

    .MarkdownFormattedText {
      div {
        max-height: 80px !important;
        min-height: 30px !important;
        overflow: hidden;
        @include extraSmall {
          max-height: 108px !important;
          overflow: hidden;
        }
      }

      width: 90%;
      height: 100%;
      padding-top: 10px;
      margin-right: 16px;
      margin-right: 16px;
      p,
      a {
        font-weight: 400;
        font-size: 21px !important;
        line-height: 21px !important;
        font-family: $font-family-neue-haas-unica;
      }

      p {
        color: $neutral-700;
      }

      @include extraSmall {
        font-size: 14px !important;
        line-height: 14px !important;
      }
    }
  }

  .show-more-button-wrapper {
    display: none !important;
  }
  .footer {
    display: flex;
    gap: 10px;
  }
}
