@import '../../../../../styles/shared.scss';

.ReferralsTab {
  display: flex;
  flex-direction: column;
  gap: 24px;

  input,
  svg {
    cursor: pointer !important;
  }

  input:read-only {
    background-color: $neutral-50;
    border-color: $neutral-200;
    color: $neutral-400;

    &:hover {
      border-color: $neutral-200;
    }

    &:focus-within {
      border-color: $neutral-200 !important;
      box-shadow: none !important;
    }
  }

  table {
    width: 100%;
    @include table-cell;
  }

  .referral-totals {
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 176px 0;

    @include mediumSmallInclusive {
      padding: 96px 0;
    }

    .empty-state-text {
      color: $neutral-400;
      text-align: center;
    }
  }
}
