@import '../../../../styles/shared';

.TokenBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid $neutral-200;

  .token-identification {
    display: flex;
    align-items: center;
    gap: 8px;

    .avatar-placeholder {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-100;
      font-size: 24px;
    }

    .Text.ticker {
      color: $neutral-500;
    }
  }

  .token-info {
    .token-value {
      color: $neutral-900;
    }

    .token-change {
      gap: 4px;

      .percentage {
        &.positive {
          color: $green-600;
        }

        &.negative {
          color: $rorange-600;
        }
      }

      .hours {
        color: $neutral-500;
      }
    }
  }
  .vote-weight {
    margin-left: 8px;
    .vote-weight-label {
      color: $neutral-500;
    }
  }
}

.TokenBannerPopover {
  .token-description {
    display: inline-block;
    line-height: 2;
    align-items: center;

    .token-address {
      word-break: break-all;
      font-weight: 500;
      margin-right: 8px;
    }
  }
}
