.TokenInput {
  display: flex;
  margin-top: 30px;

  input,
  button {
    border-radius: 0;
    height: 39.59px;
  }

  input {
    border-left: none;
    border-right: none;
    width: 400px;
  }

  .SelectTokensField {
    .cui-overlay,
    .cui-select-list {
      width: 100%;
    }
  
    .cui-overlay {
      display: block !important;
    }
  }
}