@import 'shared';

.Footer {
  margin-top: auto;
  background: linear-gradient(
    92deg,
    #fbfafd 0%,
    #c4d0e6 50%,
    #e7dee0 75%,
    #c6d5dd 100%
  );
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  height: 240px;
  justify-content: space-between;
  min-height: 240px;
  padding: 48px 24px;

  @include small {
    padding: 24px;
  }

  img {
    height: 80px;
    margin-bottom: 24px;
    width: 80px;
  }

  .footer-links-container {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 128px;
    width: 208px;

    .footer-link {
      color: $neutral-800;
      cursor: pointer;
      height: 24px;
      width: 104px;
    }
  }
}
