@import 'shared';

// page layout
* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100dvh;
  width: 100%;
  //Prevents overscroll on macOS
  position: fixed;
  overflow: hidden;
}

#root {
  height: 100%;
}

html {
  font-family: $fonts;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $white;

  // animate the transition of the darkmode
  -webkit-transition: 0.2s -webkit-filter ease-in-out;
  -moz-transition: 0.2s -moz-filter ease-in-out;
  -moz-transition: 0.2s filter ease-in-out;
  -ms-transition: 0.2s -ms-filter ease-in-out;
  -o-transition: 0.2s -o-filter ease-in-out;
  transition: 0.2s filter ease-in-out, 0.2s -webkit-filter ease-in-out;
}

.app-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

// dark mode
html.invert {
  filter: invert(90%);
  -webkit-filter: invert(90%);
  -moz-filter: invert(90%);
  -o-filter: invert(90%);
  -ms-filter: invert(90%);

  img,
  svg,
  .user-avatar:not(:has(.Avatar)),
  .Avatar {
    filter: invert(90%);
    -webkit-filter: invert(90%);
    -moz-filter: invert(90%);
    -o-filter: invert(90%);
    -ms-filter: invert(90%);
  }
}

// global css
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  color: $purple-400;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a:visited {
  color: $purple-400;
}

code,
pre {
  font-family: $monospace-fonts;
  font-size: 13.5px;
  background: $neutral-300;
  border-radius: 4px;
}

code {
  padding: 1px 3px;
  color: $rorange-500;
}

pre {
  padding: 10px 12px;
}

::selection {
  color: $white;
  background: $primary-600;
}

// shared styles
.clear {
  clear: both;
}

// makes sure that popovers are above the modals
[id^='popover-'] {
  z-index: 10000;
}

.Splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
}
