@import 'shared';

.SublayoutHeaderRight {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > :not(:first-child) {
    margin-left: 8px;
  }

  .Icon {
    cursor: pointer;
    display: inline-block;
  }

  .MobileIconPopover {
    display: none;
    @include extraSmall {
      display: flex;
    }
  }

  .DesktopIconWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include extraSmall {
      display: none;
    }

    > :not(:first-child) {
      margin-left: 8px;
    }

    .unread-notifications-pip {
      border-radius: 100%;
      position: relative;
      background: $pink-500;
      content: '';
      height: 10px;
      width: 10px;
      top: -3px;
      right: 10px;
      display: inline-block;
    }
  }
}
