@import 'shared';

.SublayoutHeaderLeft {
  align-items: center;
  display: flex;
  flex-direction: row;

  .CommunityAvatar {
    margin-right: 8px;
  }

  .Icon {
    display: block;
    @include medium {
      display: none;
    }
    @include large {
      display: none;
    }
  }

  h4 {
    margin-right: 4px;

    a {
      color: $neutral-800;
    }
  }

  .slash {
    color: $neutral-400;
    margin: 0 8px;
  }

  svg {
    cursor: pointer;
  }
}
