@import 'shared';

.Sublayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .header-and-body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .sidebar-and-body-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .sidebar-container {
      display: flex;
      flex-direction: column;
      width: min-content;

      .sidebar-inner-container {
        display: flex;
        height: 100%;
        overflow: hidden;
        width: min-content;
      }
    }

    .body-and-sticky-headers-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.isSidebarToggled {
        @include smallInclusive {
          display: none;
        }
      }

      .Body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
