@import 'shared';

/*
  Make the titlebar draggable for the desktop app
  Reference: https://www.todesktop.com/docs/recipes/make-a-transparent-titlebar-draggable 
*/
html.todesktop .SublayoutHeader {
  -webkit-app-region: drag;
}

.SublayoutHeader,
html.todesktop .SublayoutHeader {
  align-items: center;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  gap: 8px;
  height: calc(#{$global-header-height} + var(--safe-area-inset-top));
  justify-content: space-between;
  min-height: $global-header-height;
  padding: 0 8px;

  @supports (padding-top: var(--safe-area-inset-top)) {
    padding-top: var(--safe-area-inset-top);
  }

  .header-left.desktop {
    padding-left: 68px;
  }

  .header-left {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .logo, .community-avatar-container, .IconButton {
      -webkit-app-region: no-drag;
    }
  }

  .SearchBar {
    @include extraSmall {
      display: none;
    }

    input {
      -webkit-app-region: no-drag;
    }
  }

  .header-right {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .header-loader {
      padding: 0 20px;
    }

    .MobileMenuContainer {
      display: none;

      @include extraSmall {
        display: flex;
      }
    }

    .DesktopMenuContainer {
      align-items: center;
      display: flex;
      gap: 8px;
      -webkit-app-region: no-drag;

      &.session-keys {
        gap: 12px;
        height: 40px;

        &.isLoggedIn {
          padding-right: 20px;
          border-right: 1px solid $neutral-100;
          margin-right: 16px;
        }

        & > div {
          display: flex;
        }

        svg {
          fill: $neutral-500;
        }
      }

      & div {
        display: flex;
      }

      @include extraSmall {
        display: none;
      }
    }

    .LoginSelector{
      -webkit-app-region: no-drag;
    }

    .logout-button {
      margin-left: 12px;
      margin-right: 4px;
      cursor: pointer;
      fill: $neutral-500;
    }
  }
}
