@import 'shared';

.SublayoutHeaderRight {
  align-items: center;
  display: flex;
  gap: 8px;

  .MobileMenuContainer {
    display: none;

    @include extraSmall {
      display: flex;
    }
  }

  .DesktopMenuContainer {
    align-items: center;
    display: flex;
    gap: 8px;

    @include extraSmall {
      display: none;
    }
  }
}
