@import 'shared';

.SublayoutHeaderLeft {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: row;
  height: $global-header-height;

  .Icon.commonLogo {
    @include mediumSmallInclusive {
      padding-right: 8px;
      border-right: 1px solid $neutral-100;
      height: $global-header-height;
    }
  }

  .Icon.sidebarCollapse {
    display: none;
    fill: $neutral-600;
    @include mediumSmallInclusive {
      display: block;
    }
  }

  .Icon.sidebarExpand {
    display: none;
    @include mediumSmallInclusive {
      display: block;
    }
  }

  h4 {
    margin-right: 4px;

    a {
      color: $neutral-800;
    }
  }

  .slash {
    color: $neutral-400;
    margin: 0 8px;
  }

  svg {
    cursor: pointer;
  }
}
