@import 'shared';

/*
  Make the titlebar draggable for the desktop app
  Reference: https://www.todesktop.com/docs/recipes/make-a-transparent-titlebar-draggable 
*/
html.todesktop .SublayoutHeader {
  -webkit-app-region: drag;
}

// TODO move to its own file
.MobileHeader {
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $neutral-200;

  .right-side {
    display: flex;
    margin-left: auto;
    gap: 24px;
    margin-right: 14px;

    .Avatar {
      border: 1px solid $neutral-200;
    }
  }
}

.SublayoutHeader,
html.todesktop .SublayoutHeader {
  align-items: center;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  gap: 8px;
  height: calc(#{$global-header-height} + var(--safe-area-inset-top));
  justify-content: space-between;
  min-height: $global-header-height;
  padding: 0 8px;

  @supports (padding-top: var(--safe-area-inset-top)) {
    padding-top: var(--safe-area-inset-top);
  }

  .header-left.desktop {
    padding-left: 68px;
  }

  .header-left {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .logo,
    .community-avatar-container,
    .IconButton {
      -webkit-app-region: no-drag;
    }
  }

  .searchbar {
    width: 608px;

    .SearchBar {
      @include extraSmall {
        display: none;
      }

      input {
        -webkit-app-region: no-drag;
      }
    }
  }

  .header-right {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .header-loader {
      padding: 0 20px;
    }

    .MobileMenuContainer {
      display: none;

      @include extraSmall {
        display: flex;
      }

      @include smallInclusive {
        display: flex;
      }
    }

    .DesktopMenuContainer {
      align-items: center;
      display: flex;
      -webkit-app-region: no-drag;
      gap: 12px;
      height: 40px;

      &.isLoggedIn {
        padding-right: 20px;
        border-right: 1px solid $neutral-100;
        margin-right: 14px;
      }

      & > div {
        display: flex;
      }

      svg {
        fill: $neutral-500;
      }

      & div {
        display: flex;
      }

      @include extraSmall {
        display: none;
      }

      @include smallInclusive {
        display: none;
      }
    }

    .Button {
      -webkit-app-region: no-drag;
    }

    .LoginSelector {
      -webkit-app-region: no-drag;
    }

    .UserDropdownTriggerButton {
      margin-right: 10px;
      @include extraSmall {
        margin-right: 2px;
      }
    }
  }
}
