@import 'shared';

.SublayoutHeaderRight {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > :not(:first-child) {
    margin-left: 8px;
  }

  .MobileIconPopover {
    display: none;
    @include extraSmall {
      display: flex;
    }
  }

  .DesktopIconWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > :not(:first-child) {
      margin-left: 8px;
    }

    @include extraSmall {
      display: none;
    }
  }

  .PopoverMenu {
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
  }
}
