@import 'shared';

.SublayoutHeader {
  align-items: center;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  gap: 8px;
  height: $global-header-height;
  justify-content: space-between;
  min-height: $global-header-height;
  padding: 0 8px;

  .header-left {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;
  }

  .SearchBar {
    @include extraSmall {
      display: none;
    }
  }

  .header-right {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .MobileMenuContainer {
      display: none;

      @include extraSmall {
        display: flex;
      }
    }

    .DesktopMenuContainer {
      align-items: center;
      display: flex;
      gap: 8px;

      @include extraSmall {
        display: none;
      }
    }
  }
}
