@import 'shared';

.Sublayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .header-and-body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .create-content-sidebar-container {
    width: 300px;
    border-left: 1px solid $neutral-200;
  }

  .sidebar-and-body-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .body-and-sticky-headers-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .Body {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        height: 100%;
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
