@import 'shared';

.Sublayout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .header-and-body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header-container {
      align-items: center;
      border-bottom: 1px solid $neutral-200;
      display: flex;
      flex-direction: row;
      height: $global-header-height;
      justify-content: space-between;
      min-height: $global-header-height;
      padding: 0 8px;
    }
  }

  .sidebar-and-body-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .sidebar-container {
      display: flex;
      flex-direction: column;

      @include smallInclusive {
        width: 100%;
      }

      .sidebar-inner-container {
        display: flex;
        height: 100%;
        width: 100%;
      }
    }

    .body-and-sticky-headers-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .Body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
