@import 'shared';

.Sublayout {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .sidebar-and-body-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;

    .body-and-sticky-headers-container {
      display: flex;
      flex-direction: column;
      transition: margin-left 0.2s ease-in-out;

      @include extraSmall {
        margin-top: 48px;
      }

      &.resizing {
        transition: none;
      }

      &.menu-visible {
        margin-left: calc(#{$quick-switcher-width} + 1px);

        transition: margin-left 0.2s ease-in-out;

        width: calc(100% - (#{$quick-switcher-width} + 1px));
      }

      &.quick-switcher-visible {
        margin-left: calc(#{$sidebar-width} + #{$quick-switcher-width} + 1px);
        width: calc(
          100% - (#{$sidebar-width} + #{$quick-switcher-width} + 1px)
        );

        transition: margin-left 0.2s ease-in-out;

        @include smallInclusive {
          margin-left: 100vw;
        }
      }

      &.menu-hidden {
        width: 100%;
        margin-left: 0;
        transition: margin-left 0.2s ease-in-out;

        @include smallInclusive {
          margin-left: 0;
        }

        .Banner {
          padding-left: calc(#{$sidebar-width} + 20px);
          margin-left: calc(
            -#{$sidebar-width} + 1px
          ); // give it a negative margin equal to the parent's margin
        }

        .MessageBanner {
          padding-left: calc(#{$sidebar-width} + 20px);
          margin-left: calc(
            -#{$sidebar-width} + 1px
          ); // give it a negative margin equal to the parent's margin
        }
      }

      .Body {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        height: 100%;
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
