@import 'shared';

.SublayoutHeader {
  align-items: center;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  gap: 8px;
  height: $global-header-height;
  justify-content: space-between;
  min-height: $global-header-height;
  padding: 0 8px;

  .header-left {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;
  }

  .SearchBar {
    @include extraSmall {
      display: none;
    }
  }

  .header-right {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;

    .header-loader {
      padding: 0 20px;
    }

    .MobileMenuContainer {
      display: none;

      @include extraSmall {
        display: flex;
      }
    }

    .DesktopMenuContainer {
      align-items: center;
      display: flex;
      gap: 8px;

      &.session-keys {
        gap: 12px;
        height: 40px;

        &.isLoggedIn {
          padding-right: 20px;
          border-right: 1px solid $neutral-100;
          margin-right: 16px;
        }

        & > div {
          display: flex;
        }

        svg {
          fill: $neutral-500;
        }
      }

      @include extraSmall {
        display: none;
      }
    }

    .logout-button {
      margin-left: 12px;
      margin-right: 4px;
      cursor: pointer;
      fill: $neutral-500;
    }
  }
}
