@import '../../../../../styles/shared';

.MobileHeader {
  height: 48px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $neutral-200;

  .right-side {
    display: flex;
    margin-left: auto;
    gap: 24px;
    margin-right: 14px;
    align-items: center;

    .Avatar {
      border: 1px solid $neutral-200;
    }
  }
}
