@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';

.MCPIntegration {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .header-section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .description {
      color: colors.$neutral-500;

      a {
        color: colors.$primary-500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .servers-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .h3 {
      color: colors.$neutral-900;
    }
  }

  .servers {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .server-card {
    padding: 16px;
    width: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .h4 {
        color: colors.$neutral-900 !important;
      }
    }

    .b1 {
      color: colors.$neutral-500 !important;
    }

    .mcp-toggle {
      margin-left: 15px;
    }
  }
}
