@import '../../shared';

.LoginDesktop {
  display: flex;
  min-height: 424px;
  width: 664px;

  .body {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 424px;
    justify-content: space-between;
    padding: 16px 24px;
    width: 400px;

    .IconButton {
      align-self: flex-end;
    }

    .inner-body-container {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      padding: 8px 16px;

      &.centered {
        justify-content: center;
      }

      .LoginBoilerplate {
        margin: 0 32px;
        margin-bottom: 16px;
      }

      .header-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: flex-start;
        margin-bottom: 16px;

        .header-text.Text {
          margin-bottom: 0;
        }

        .header-text-eth.Text {
          margin-bottom: 0;
          width: 268px;
        }

        .LoginBoilerplate {
          margin: 0 32px;
          margin-bottom: 16px;
        }

        .subheader-text.Text {
          color: $neutral-500;
          margin: 0 32px;
        }
      }

      .TextInput {
        width: 100%;
      }

      .select-row {
        display: flex;
        flex-direction: row;

        .Icon {
          color: $neutral-500;
          margin-right: 8px;
        }

        .select-text.Text {
          color: $neutral-500;
        }
      }

      .buttons-row {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;

        .wallet-back-btn {
          border-color: transparent !important;

          .Text {
            font-weight: 400 !important;
          }

          &:hover {
            border-color: transparent !important;
          }
        }

        .wallet-magic-btn {
          background-color: $neutral-700  !important;

          &:hover {
            background-color: $black  !important;
          }
        }

      }

      .email-form-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        margin-top: 80px;
      }

      .email-form-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;

        .Button {
          width: 100%;
        }
      }
    }
  }
}