@import '../../shared';

@mixin innerBodyStyles {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include extraSmall {
    gap: 24px;
  }

  .account-creation-buttons-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
  }

  .inner-body-container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .inner-inner-body-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;

      @include extraSmall {
        width: 100%;
      }

      .inner-body-text.Text {
        color: $white;
        margin: 8px;
      }
    }

    .AvatarUsernameInput {
      margin-bottom: 48px;

      @include extraSmall {
        margin-bottom: 16px;
      }
    }

    .connect-with-email-input.TextInput {
      width: 320px;
    }

    .email-form-wrapper {
      width: 100%;
    }

    .buttons-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      margin-top: 24px;

      .Button {
        width: 100%;
      }

      .wallet-back-btn {
        border-color: transparent !important;
        background-color: transparent !important;

        .Icon {
          color: $white  !important;
        }

        .Text {
          font-weight: 400 !important;
          color: $white  !important;
        }

        &:hover {
          border-color: transparent !important;
        }
      }

      .wallet-magic-btn {
        border-color: $primary-500  !important;
        background-color: $primary-500  !important;

        .Text {
          color: $white  !important;
        }
      }
    }
  }
}

.LoginMobile {
  @include mediumSmallInclusive {
    background-color: #342e37;
    background-image: url('/static/img/login-background-mediumsmall.png');
  }

  @include small {
    background-color: #342e37;
    background-image: url('/static/img/login-background-small.png');
  }

  @include extraSmall {
    background-color: #342e37;
    background-image: url('/static/img/login-background-extrasmall.png');
  }

  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow-y: auto;
  padding: 24px;
  width: 100%;

  .IconButton {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .walletList {

    @include innerBodyStyles;

    .AvatarUsernameInput {
      margin-bottom: 16px;
    }

    @include extraSmall {
      margin-top: 24px;
      width: 100%;
    }
  }

  .redirectToSign {
    width: 328px;
    display: flex;
    align-items: center;
    justify-content: center;

    .CaptionText {
      margin-top: 32px;
      color: $neutral-300;
      text-align: center;
    }

    @include innerBodyStyles;
  }

  .selectAccountType {
    width: 328px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 40px;
      width: 100%;
    }
  }

  .selectPrevious {
    width: 368px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 8px;
      width: 100%;
    }
  }

  .welcome {
    width: 392px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 8px;
      width: 100%;
    }
  }

  .connectWithEmail {
    margin-bottom: 120px;
    width: 368px;

    @include innerBodyStyles;

    @include extraSmall {
      width: 100%;
    }
  }

  .selectProfile {
    width: 440px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 16px;
      width: 100%;

      .Address {
        width: 100%;
      }
    }
  }

  .ethWalletList {
    width: 408px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 16px;
      width: 100%;
    }
  }

  .allSet {
    width: 440px;

    @include innerBodyStyles;

    @include extraSmall {
      margin-top: 80px;
      width: 100%;

      .Address {
        width: 100%;
      }

      .ProfileRow {
        width: 100%;
      }
    }
  }
}