@import '../../shared';

.LoginBoilerplate {
  .boilerplate-text.Text {
    color: $neutral-300;
    display: inline-block;

    .link {
      color: $neutral-500;
      cursor: pointer;
    }
  }

  &.darkMode {
    background-color: rgba(52, 46, 55, 0.85); // $neutral-800 with 85% opacity
    border-radius: $border-radius-corners;
    padding: 8px 16px;
    width: 296px;

    .boilerplate-text.Text {
      color: $neutral-25;
      display: inline-block;

      .link {
        color: $primary-200;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: $primary-100;
        }
      }
    }
  }
}