@import '../../shared';

.LoginText {
  .header-container {
    // container ensures that header bottom border only uses the text's width
    display: flex;
    justify-content: center;
    width: 100%;

    .header-text.Text {
      @include coloredBottomBorder($yellow-500);

      color: $white;
      margin-bottom: 8px;

      .h3 {
        font-size: 20px !important;
      }
    }
  }

  .body-text.Text {
    color: $white;

    &.isMobile {
      color: $neutral-400;
    }

    .h5 {
      font-size: 13px;
    }
  }
}