@use '../../../../../styles/mixins/colors.module';

.FundWalletItem {
  display: flex;
  align-items: center;
  width: 312px;
  height: 48px;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid colors.$neutral-200;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: colors.$white;

  &:hover {
    background-color: colors.$neutral-50;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
}
