@use '../../../../styles/shared';
@use '../../../../styles/mixins/colors.module';

.XPProgressIndicator {
  all: unset;
  padding: 4px;

  .b2 {
    color: colors.$primary-500 !important;
  }

  &:focus,
  &:focus-within {
    outline: none !important;
  }

  &:hover {
    background-color: colors.$neutral-100;
    cursor: pointer;
    border-radius: 6px;
  }
}
