@import 'client/styles/facelift';

$default-card-width: 300px;
$default-card-height: 100px;

.Card {
    min-height: $default-card-height;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    flex-direction: column;
    cursor: pointer;

    &.not-fluid {
        width: $default-card-width;
    }

    &.elevation-1 {
        box-shadow: $elevation-1-shadow;
        &.interactive {
            &:hover {
                box-shadow: $elevation-3-shadow;
            }
        }
    }
    &.elevation-2 {
        box-shadow: $elevation-2-shadow;
        &.interactive {
            &:hover {
                box-shadow: $elevation-4-shadow;
            }
        }
    }
    &.elevation-3 {
        box-shadow: $elevation-3-shadow;
        &.interactive {
            &:hover {
                box-shadow: $elevation-5-shadow;
            }
        }
    }

    &.interactive {
        &:hover {
            box-shadow: $elevation-1-shadow;
        }
    }
}
