@import 'client/styles/facelift';

.ComponentListing {
    > * {
        margin: 20px;
    }
    > .gallery > * {
        margin-right: 20px;
    }
    .hex-listing,
    .gradient-listing {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 160px;
        .hex-row,
        .gradient-row {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;
            .hex-sample,
            .gradient-sample {
                min-width: 100px;
                min-height: 10px;
                max-width: 100px;
                max-height: 10px;
                border-radius: 5px;
            }
            .rainbow-gradient-horizontal {
                @include rainbow-gradient-horizontal;
            }
            .rainbow-gradient-diagonal {
                @include rainbow-gradient-diagonal;
            }
            .shadow-gradient {
                @include shadow-gradient;
            }
        }
        .gradient-row {
            max-width: 400px;
        }
    }
    .icon-listing {
        display: flex;
        .icon-gallery {
            display: flex;
            flex-direction: column;
            width: 200px;
            margin-right: 40px ;
            .icon-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }
    }
    .button-gallery {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .TextInput {
        margin-bottom: 20px;
    }
}