@import 'shared';

.Banner {
  align-items: center;
  background-color: $neutral-100;
  border-bottom: 1px solid $neutral-200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 32px;
  padding: 8px;

  &.onClose {
    padding: 8px 32px 8px 8px;
  }

  .IconButton {
    margin-left: 8px;
    position: absolute;
    right: 8px;
  }
}

.MessageBanner {
  align-items: center;
  background-color: $primary-50;
  border-bottom: 1px solid $primary-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 32px;
  padding: 16px 8px;

  &.onClose {
    padding: 8px 32px 8px 8px;
  }

  .IconButton {
    margin-left: 8px;
    position: absolute;
    right: 8px;
  }
}
