@import 'shared';

.Banner {
  align-items: center;
  background-color: $neutral-100;
  border-bottom: 1px solid $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 32px;
  padding: 8px;

  &.onClose {
    padding: 8px 32px 8px 8px;
  }

  .Text {
    text-align: center;
  }

  svg {
    margin-left: 8px;
    position: absolute;
    right: 8px;
  }
}
