@import 'client/styles/shared';

.Button {
  border-radius: 8px;
  font-weight: 600;
  height: 40px;
  padding: 4px 16px;
  width: fit-content;

  &.primary {
    color: $white;
    background-color: $purple-300;

    &:hover {
      background-color: $purple-400;
      box-shadow: 0px 2px 6px 0px #0000001a;
    }

    &.disabled {
      background-color: $neutral-100;
      box-shadow: none;
      cursor: default;
    }
  }

  &.secondary {
    color: $neutral-500;
    background-color: $white;
    border: 1px solid $neutral-500;

    &:hover {
      color: $neutral-600;
      background-color: $neutral-50;
      box-shadow: 0px 2px 6px 0px #0000001a;
    }

    &.disabled {
      color: $neutral-100;
      background-color: $white;
      border: 1px solid $neutral-100;
      box-shadow: none;
      cursor: default;
    }
  }
}
