@import 'shared';

$default-card-width: 260px;
$default-card-height: 100px;

.Card {
  align-items: flex-start;
  background: $white;
  border-radius: 10px;
  border: 1px solid $neutral-100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: $default-card-height;
  padding: 16px;
  width: $default-card-width;

  &.fullWidth {
    width: 100%;
  }

  &.elevation-1 {
    box-shadow: $elevation-1-shadow;

    &.interactive {
      &:hover {
        box-shadow: $elevation-3-shadow;
      }
    }
  }

  &.elevation-2 {
    box-shadow: $elevation-2-shadow;

    &.interactive {
      &:hover {
        box-shadow: $elevation-4-shadow;
      }
    }
  }

  &.elevation-3 {
    box-shadow: $elevation-3-shadow;

    &.interactive {
      &:hover {
        box-shadow: $elevation-5-shadow;
      }
    }
  }

  &.interactive {
    &:hover {
      box-shadow: $elevation-1-shadow;
    }
  }
}
