@import 'client/styles/shared';

$margin-bottom: 32px;
$width: 360px;

.ComponentShowcase {
  padding: 24px;
  width: 100%;

  h1 {
    margin-bottom: 16px;
  }

  // .color-gallery {
  //   display: flex;
  //   flex-direction: column;
  //   margin-bottom: $margin-bottom;
  //   width: $width;

  //   .color-row {
  //     align-items: center;
  //     display: flex;
  //     height: 24px;
  //     justify-content: space-between;

  //     .color {
  //       border-radius: 6px;
  //       height: 16px;
  //       width: 88px;
  //     }

  //     .rainbow-gradient-horizontal {
  //       @include rainbow-gradient-horizontal;
  //     }

  //     .rainbow-gradient-diagonal {
  //       @include rainbow-gradient-diagonal;
  //     }

  //     .shadow-gradient {
  //       @include shadow-gradient;
  //     }
  //   }
  // }

  .text-gallery {
    display: flex;
    flex-direction: column;

    .text-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 48px;
      justify-content: space-between;
      width: 400px;

      .ellipsis-row {
        display: flex;
        width: 200px;
      }
    }
  }

  .icon-gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-bottom;
    width: 100%;

    .all-icons-container {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      height: 448px;
      margin-bottom: 16px;
      width: fit-content;

      .icon-container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: center;
        margin: 8px;
        width: 80px;

        .icon-name {
          font-size: 10px;
          margin-bottom: 4px;
        }
      }
    }

    .icon-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 48px;
      justify-content: space-between;
      width: 200px;
    }
  }

  .icon-button-gallery {
    display: flex;
    flex-direction: column;

    .icon-button-subheader {
      margin-bottom: 8px;
    }

    .icon-button-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 32px;
      justify-content: space-between;
      width: 120px;

      .icon-button-selected {
        display: flex;
      }
    }
  }

  .button-gallery {
    align-items: center;
    display: flex;
    margin-bottom: $margin-bottom;

    .Button,
    .ExternalLink,
    .EngagementButton {
      margin-right: 8px;
    }
  }

  .card-gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-bottom;
    width: 100%;

    .top-card-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 16px;
    }
  }

  .form-gallery {
    width: $width;
  }
}
