@import 'client/styles/shared';

.ExternalLink {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 40px;
  font-weight: 500;
  min-width: fit-content;

  span {
    color: $dark-purp;
    margin-right: 15px;
  }

  &.button {
    padding: 4px 8px;
    border: 1px solid $lite-purp;
    border-radius: 10px;

    svg {
      color: $dark-purp;
    }
  }

  &.inline {
    padding: 4px 8px;
    border-radius: 4px;

    svg {
      color: $dark-purp;
    }
  }

  &:hover {
    background-color: $lite-purp;

    svg {
      color: $dark-purp;
    }
  }
}
