@import 'client/styles/shared';

.EngagementButton {
  display: flex;
  align-items: center;
  color: $black;
  background: $white;
  border: 1px solid $neutral-100;
  border-radius: 20px;
  height: 40px;
  font-weight: 500;

  &.sm {
    padding: 12px 20px;
  }

  &.lg {
    padding: 12px 44px;
  }

  svg {
    margin-right: 12px;
  }

  &:hover {
    color: $purple-500;
    background: $purple-50;
    border: 1px solid $purple-500;
    box-shadow: 0px 2px 6px 0px #0000001a;

    svg {
      color: $purple-500;
    }
  }

  &.disabled {
    color: $neutral-100;
    background: $white;
    cursor: default;
    pointer-events: none;

    svg {
      color: $neutral-100;
    }
  }
}
