@import 'client/styles/shared';

svg {
  flex-shrink: 0;
  height: 1em;
  stroke: currentColor;
  width: 1em;

  &.small {
    font-size: 14px;
  }

  &.medium {
    font-size: 20px;
  }

  &.large {
    font-size: 28px;
  }

  &.disabled {
    color: $neutral-100;
  }

  // Gabe 2/28/22 - These styles shouldn't be applied on the icon itself,
  // better to wait for an icon button component

  // &.primary {
  //   color: $black;
  // }

  // &.primary:hover {
  //   color: $purple-500;

  //   &.disabled {
  //     color: $neutral-100;
  //   }
  // }

  // &.secondary {
  //   color: $neutral-500;
  // }

  // &.secondary:hover {
  //   color: $black;

  //   &.disabled {
  //     color: $neutral-100;
  //   }
  // }
}
