@import 'shared';

@mixin baseIconStyles {
  fill: currentColor;
  flex-shrink: 0;
  height: 1em;
  width: 1em;

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 24px;
  }

  &.large {
    font-size: 32px;
  }

  &.xl {
    font-size: 48px;
  }

  &.xxl {
    font-size: 60px;
  }
}

.Icon {
  @include baseIconStyles;

  &.disabled {
    color: $neutral-200;
  }
}

.CustomIcon {
  @include baseIconStyles;

  fill: unset; // they will be brand assets should we shouldn't alter their colors
}
