@import 'shared';

$modal-padding: 16px;

.Modal {
  .modal-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    z-index: 101;
  }

  .modal-container {
    @include popout();

    background: $white;
    border-radius: $border-radius-corners;
    overflow: hidden;
    position: relative;
    z-index: 20;

    &.isFullScreen {
      border-radius: 0;
      height: 100%;
      width: 100%;
    }
  }

  @include extraSmall {
    .modal-container {
      max-height: calc(100vh - 20px);
      min-width: calc(100vw - 20px);
    }
  }

  .compact-modal-title {
    background: $purple-400;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $modal-padding;

    &.ban-user {
      background: $rorange-500;
    }

    h1,
    h2,
    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    svg {
      cursor: pointer;
      color: $white;

      &:hover {
        color: $white;
        opacity: 0.6;
      }
    }
  }

  .compact-modal-body {
    padding: $modal-padding;

    &:last-child {
      padding-bottom: 16px;
    }
  }

  .compact-modal-actions {
    padding: $modal-padding;
  }
}

.ban-modal-content {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
