@import 'shared';

@mixin radioButtonCore($color) {
  background: radial-gradient(
    $color 0%,
    $color 50%,
    transparent 50%,
    transparent
  );
}

.RadioButton {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .radio-control {
    border-radius: $border-radius-round;
    border: 2px solid $neutral-300;
    cursor: pointer;
    height: 12px;
    margin-right: 8px;
    position: relative;
    transition: all ease 150ms;
    width: 12px;
  }

  &:hover .radio-control {
    @include radioButtonCore($primary-100);

    border-color: $primary-300;
  }

  &.selected .radio-control {
    @include radioButtonCore($primary-500);

    border-color: $primary-500;
  }

  &.disabled .radio-control {
    @include radioButtonCore($neutral-200);

    pointer-events: none;
  }

  &.disabled:hover .radio-control {
    border-color: $neutral-300;
  }
}
