@import 'shared';
@import 'cw_checkbox.scss';

@mixin radioSelected($color) {
  display: grid;
  place-content: center;

  &::after {
    color: $color;
    content: '';
    width: 6px;
    height: 6px;
    box-shadow: inset 12px 12px;
    clip-path: circle(50%);
  }
}

.RadioButton {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .radio-control {
    border-radius: $border-radius-round;
    border: 2px solid $neutral-300;
    cursor: pointer;
    height: 12px;
    margin: auto 8px;
    position: relative;
    width: 12px;
  }

  &:hover .radio-control {
    @include radioSelected($primary-200);
    @include hoverColors;
  }

  &.checked .radio-control {
    @include radioSelected($primary-500);
    @include checkedColors;
  }

  &.disabled .radio-control {
    // same color as background, so it's invisble on hover
    @include radioSelected($neutral-200);
    @include disabledColors;

    pointer-events: none;
  }
}
