@import 'shared';

@mixin baseTextStyles {
  color: $neutral-800;
  display: flex;

  &.disabled {
    color: $neutral-100;
  }
}

.BodyText {
  @include baseTextStyles;

  font-family: $font-family-neue-haas-unica;

  &.body-01 {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
  }

  &.body-02 {
    font-size: 14px;
    line-height: 20px;
  }

  &.regular {
    font-weight: 400;
  }

  &.bold {
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  &.italic {
    font-style: italic;
    letter-spacing: 0.02em;
  }
}

.HeadingText {
  @include baseTextStyles;

  font-family: $font-family-silka;

  &.heading-01 {
    font-size: 42px;
    line-height: 56px;
  }

  &.heading-02 {
    font-size: 35px;
    line-height: 48px;
  }

  &.heading-03 {
    font-size: 29px;
    line-height: 36px;
  }

  &.heading-04 {
    font-size: 20px;
    line-height: 24px;
  }

  &.heading-05 {
    font-size: 18px;
    line-height: 24px;
  }

  &.medium {
    font-weight: 400;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }
}

.DisplayText {
  @include baseTextStyles;

  font-family: $font-family-silka;

  &.display-01 {
    font-size: 67px;
    letter-spacing: -0.02em;
    line-height: 80px;
  }

  &.display-02 {
    font-size: 54px;
    letter-spacing: -0.01em;
    line-height: 64px;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }

  &.black {
    font-weight: 900;
  }
}
