@import 'shared';

@mixin tooltip-child {
  position: absolute;
  z-index: 1001;
}

.tooltip-container-general {
  @include tooltip-child;
  align-items: center;
  background-color: $primary-100;
  border-radius: $border-radius-corners;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 400px;
  min-height: 8px;
  visibility: hidden;
}

.tooltip-container-single {
  @include tooltip-child;
  align-items: center;
  background-color: $neutral-800;
  border-radius: $border-radius-corners;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 400px;
  height: 24px;
  visibility: hidden;
}

.trigger-wrapper {
  display: flex;
  width: fit-content;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.arrow-up {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  height: 0;
  position: absolute;
  width: 0;
  visibility: hidden;
  z-index: 1001;
}

.arrow-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  height: 0;
  position: absolute;
  width: 0;
  visibility: hidden;
  z-index: 1001;
}

.arrow-left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
  height: 0;
  position: absolute;
  width: 0;
  visibility: hidden;
  z-index: 1001;
}
