@import 'client/styles/shared';
@import 'client/styles/shared';

.Table {
  border-collapse: collapse;
  width: 100%;

  tr:nth-child(even) {
    background: #f6f6f6;
  }

  .table-columns {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
    text-align: left;
    white-space: nowrap;
  }

  .table-columns-collapsed {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
    text-align: left;
    white-space: nowrap;

    @include lg-max {
      display: none;
    }
  }

  .normal-col {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    vertical-align: middle;
  }

  .collapse-col {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    vertical-align: middle;

    @include lg-max {
      display: none;
    }
  }
}
