@use '../../styles/shared.scss';
@use '../../styles/mixins/colors.module';
@use '../../styles/mixins/media_queries';

.PrivacyPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  margin-top: 30px;

  .forum-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 736px;
    padding-top: 20px;

    @include media_queries.smallInclusive {
      width: 100%;
    }
  }

  p {
    font-family: shared.$font-family-silka;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: shared.$font-family-silka;

    &.hollow-container {
      padding: 10px;
    }
  }

  li {
    margin-bottom: 8px;
    font-family: shared.$font-family-silka;

    &.hollow-bullet {
      list-style-type: circle;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    width: calc(100% / 4);
    padding: 5px;
    font-family: shared.$font-family-silka;
  }
  a {
    color: colors.$primary-500;
  }

  .table-header {
    background-color: colors.$neutral-300;
  }

  .column-header {
    padding-bottom: 20px;
  }
  span {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    font-family: shared.$font-family-silka;
  }
}

.TermsPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;

  .link {
    text-decoration: underline;
    color: colors.$primary-600;
    cursor: pointer;
  }

  .forum-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 736px;
    padding-top: 20px;

    @include media_queries.smallInclusive {
      width: 100%;
    }

    ol {
      counter-reset: list-counter;
    }

    /* Parent list numbering */
    ol > li {
      counter-increment: list-counter;
      list-style-type: none; /* Removes default numbering */
    }

    /* First-level numbering (1, 2, 3...) */
    ol > li::before {
      content: counter(list-counter) '. ';
      font-weight: bold;
    }

    /* Second-level numbering (1.1, 1.2, 2.1...) */
    ol ol {
      counter-reset: sub-counter;
    }

    ol ol > li {
      counter-increment: sub-counter;
      padding-left: 10px;
    }

    ol ol > li::before {
      content: counter(list-counter) '.' counter(sub-counter) '. ';
      font-weight: normal;
    }

    /* Third-level numbering (a, b, c...) */
    ol ol ol {
      counter-reset: sub-sub-counter;
      padding-left: 10px;
    }

    ol ol ol > li {
      counter-increment: sub-sub-counter;
    }

    ol ol ol > li::before {
      content: counter(sub-sub-counter, lower-alpha) ') ';
      font-weight: normal;
    }
    li {
      margin-bottom: 8px;
    }
  }
}
