@import '../../styles/shared.scss';

.PrivacyPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  margin-top: 30px;

  .forum-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 736px;
    padding-top: 20px;

    @include smallInclusive {
      width: 100%;
    }
  }

  p {
    font-family: $font-family-silka;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    font-family: $font-family-silka;

    &.hollow-container {
      padding: 10px;
    }
  }

  li {
    margin-bottom: 8px;
    font-family: $font-family-silka;

    &.hollow-bullet {
      list-style-type: circle;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    width: calc(100% / 4);
    padding: 5px;
    font-family: $font-family-silka;
  }
  a {
    color: $primary-500;
  }

  .table-header {
    background-color: $neutral-300;
  }

  .column-header {
    padding-bottom: 20px;
  }
  span {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    font-family: $font-family-silka;
  }
}

.TermsPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;

  .link {
    text-decoration: underline;
    color: $primary-600;
    cursor: pointer;
  }

  .forum-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 736px;

    @include smallInclusive {
      width: 100%;
    }
  }
}
