@import 'shared';

.LinkedProposalsCard.Card {
  display: flex;
  flex-direction: column;
  width: 248px;
  gap: 16px;

  @include extraSmall {
    width: 100%;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .proposal-chain-entities {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    .snapshot-container {
      display: flex;
      margin-bottom: 16px;
    }
  }
}
