@import 'client/styles/shared';

.LinkedProposalsEmbed {
  background-color: $neutral-100;
  margin-top: 25px;
  padding: 12px 25px 10px;
  border-radius: 3px;
  .treasury-embed-section {
    margin-top: 10px;
    margin-bottom: 14px;
    strong {
    }
    p {
      margin: 8px 0 12px;
    }
    .cui-button {
    }
  }
  .treasury-embed-section + .treasury-embed-section {
    margin-top: 30px;
  }
}
