@import 'shared';

.LinkedProposalsEmbed {
  background-color: $neutral-100;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: $border-radius-corners;

  .treasury-embed-section {
    p {
      margin-bottom: 16px;
    }
  }

  .treasury-embed-section + .treasury-embed-section {
    margin-top: 24;
  }
}
