@import 'shared';

.ProposalComment {
  display: flex;

  .thread-connectors-container {
    display: flex;
    gap: 8px;
    margin-right: 8px;

    .thread-connector {
      background-color: $neutral-200;
      height: 100%;
      width: 1px;
    }
  }

  .comment-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;

    .comment-header {
      align-items: center;
      display: flex;
      gap: 8px;

      .username {
        font-weight: 500;

        @include caption;
      }

      .identity-icon {
        position: unset;
        top: 0;
      }

      .published-text.Text {
        color: $neutral-500;
      }
    }

    .comment-footer {
      display: flex;
      justify-content: space-between;

      .menu-buttons-left {
        align-items: center;
        display: flex;
        gap: 16px;

        .vote-group,
        .feedback-group {
          align-items: center;
          display: flex;
          gap: 4px;

          .menu-buttons-text.Text {
            color: $neutral-500;
          }
        }
      }

      .menu-buttons-right {
        align-items: center;
        display: flex;
        gap: 16px;
      }
    }
  }

  // &.highlighted {
  //   background-color: $yellow-200;
  //   border-radius: 20px;

  //   .thread-connector {
  //     background: $green-500;
  //   }
  // }

  // &.highlighted.highlightAnimationComplete {
  //   background-color: transparent;
  //   transition: background-color 1s ease-in-out;

  //   .thread-connector {
  //     background: $neutral-200;
  //     transition: background 1s ease-in-out;
  //   }
  // }
}
