@import 'shared';

.ProposalComment {
  display: flex;
  position: relative;

  .thread-connector {
    background: $neutral-200;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }

  .comment-body {
    padding-left: 8px;

    .comment-body-top {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      svg {
        color: $neutral-500;
        cursor: pointer;
      }
    }

    .comment-body-content {
    }

    .comment-body-bottom {
      display: flex;
      justify-content: space-between;
      padding: 4px 0 2px;

      .comment-edit-buttons {
      }

      .comment-response-row {
        align-items: center;
        display: flex;
        gap: 8px;
      }
    }
  }

  &.highlighted {
    background-color: $yellow-200;
    border-radius: 20px;

    .thread-connector {
      background: $green-500;
    }
  }

  &.highlighted.highlightAnimationComplete {
    background-color: transparent;
    transition: background-color 1s ease-in-out;

    .thread-connector {
      background: $neutral-200;
      transition: background 1s ease-in-out;
    }
  }
}
