@import 'client/styles/shared';

.EmailWell {
  h4 {
    margin-bottom: 8px;
  }

  input,
  button {
    margin-right: 12px;
  }

  label {
    margin: 8px 0 0 8px;
    color: $neutral-800;
  }

  .error {
    margin: 10px 0;
    color: $rorange-500;
    font-weight: 500;
  }
}
