@import 'client/styles/shared';

.CollectivesPage {
    .cui-card {
        padding-top: 28px;
        margin-top: 24px;
        max-width: none;
        @include lg-min {
            max-width: calc(50% - 20px);
            margin-right: 20px;
        }
    }
    h4 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 2px;
    }
    .collective-description {
        color: $text-color-medium;
        margin-bottom: 5px;
        line-height: 1.2;
    }
    .collective-metadata {
        margin-bottom: 10px;
        .collective-metadata-backing,
        .collective-metadata-beneficiary {
            display: inline-block;
        }
        .collective-metadata-beneficiary {
            color: $text-color-medium;
            margin-right: 18px;
        }
        .collective-metadata-backing {
            color: $text-color-medium;
        }
    }
    .collective-metrics {
        display: flex;
        margin-bottom: 12px;
        .collective-metric {
            flex: 1;
            padding: 16px 0 10px;
        }
        .collective-metric-figure {
            width: 120px;
            font-size: 24px;
            line-height: 1;
        }
        .collective-metric-title {
        }
    }
    .collective-action {
        .cui-input {
            margin-bottom: 12px;
        }
        .cui-button {
            margin-bottom: 8px;
        }
    }
}
