@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/border_radius';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/elevation';

.PopoverMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 10px 8px 10px 12px;
  margin-inline: 8px;
  user-select: none;
  border-radius: border_radius.$border-radius-md !important;

  .archiveTrayIcon {
    fill: none;
  }

  .menu-item-text.Text {
    font-size: 14px !important;
    color: colors.$neutral-800;
  }

  .menu-item-icon.Icon {
    color: colors.$neutral-800;
  }

  &:hover {
    background-color: colors.$neutral-100;
  }

  &:active {
    background-color: colors.$neutral-100;
  }

  &.disabled {
    background-color: colors.$neutral-50;
    pointer-events: none;

    .menu-item-icon.Icon {
      color: colors.$neutral-500;
    }

    .menu-item-text.Text {
      color: colors.$neutral-500;
    }
  }

  &.isSecondary {
    .menu-item-icon.Icon {
      color: colors.$neutral-500;
    }

    .menu-item-text.Text {
      font-size: 14px !important;
      color: colors.$neutral-500;
    }
  }
}

.PopoverMenu {
  background-color: colors.$white;
  border-radius: border_radius.$border-radius-md !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: colors.$neutral-200 !important;
  box-shadow: elevation.$elevation-4 !important;
  overflow: hidden;
  padding-block: 8px;

  .menu-section-header-text.Text {
    color: colors.$neutral-400;
    padding: 10px 16px;
    user-select: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
  }

  .menu-section-divider {
    background-color: colors.$neutral-100;
    height: 1px;
    width: 100%;
    margin: 8px 0;
  }

  &.compact {
    .PopoverMenuItem {
      padding: 6px 12px;
    }
  }
}
