.OnboardingChooseWallet {
  padding: 0;
  padding-bottom: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    .icons {
      display: flex;
      align-items: center;
    }

    h2 {
      font-size: 32px;
      line-height: 38.4px;
      margin: 34px 0 8px 0;
    }
  }

  .content {
    width: 340px;
    margin: auto;
    flex-grow: 1;

    .cui-input {
      width: 100%;
      margin-bottom: 0 !important;
    }
    .wallets {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;
      margin-top: 20px;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        border: 2px solid #dddddd;
        border-radius: 8px;
        padding: 20px;
        cursor: pointer;
        height: 120px;

        font-size: 18px;

        .ChainIcon {
          margin-bottom: 15px;
        }

        &.selected {
          border: 2px solid #888;
        }

        &:hover {
          border: 2px solid #888;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding-bottom: 15px;
    .title {
      h2 {
        margin: 24px 0 8px 0;
      }
    }
  }
}
