.OnboardingJoinCommunity {
  padding: 25px 0;
  text-align: center;

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    .icons {
      display: flex;
      align-items: center;
    }

    h2 {
      font-size: 32px;
      line-height: 38.4px;
      margin: 34px 0 8px 0;
    }
  }

  .content {
    width: 340px;
    margin: auto;

    .cui-input {
      width: 100%;
      margin-bottom: 0 !important;
    }
    .communities {
      margin-top: 20px;
      height: 240px;
      overflow-x: hidden;
      overflow-y: auto;

      h4 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
      }

      .community-placeholder {
        text-align: left;
        font-size: 14px;
      }

      .cui-list-item {
        border-bottom: none;
        padding: 5px;
        margin: 10px 0;

        .CommunityLabel .community-name-row {
          line-height: 1 !important;
        }

        &.selected,
        &:hover {
          background: linear-gradient(239.17deg, #e1ebff 27.75%, #fbdaff 82.04%);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          border-radius: 48px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 15px 0;

    .title {
      h2 {
        margin: 12px 0 8px 0;
      }
    }

    .content {
      .communities {
        height: calc(100vh - 420px);
      }
    }
  }
}
