.OnboardingProgressBar {
  width: 600px;
  margin: 0 auto;
  padding: 60px 0 30px 0;

  .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      width: 130px;
      text-align: center;

      &:nth-child(2) {
        text-align: center;
      }
    }
  }

  .bar {
    width: 100%;
    height: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;

    .passed {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0px;
      background: linear-gradient(to right, #b37dba, #6086d1);
    }

    .step0 {
      width: 60px;
    }

    .step1 {
      width: 160px;
    }

    .step2 {
      width: 250px;
    }

    .step3 {
      width: 350px;
    }

    .step4 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 325px;
    padding: 24px 0 8px 0;

    .titles {
      span {
        width: 100px;
      }
    }

    .bar {
      .step0 {
        width: 60px;
      }

      .step1 {
        width: 92px;
      }

      .step2 {
        width: 127px;
      }

      .step3 {
        width: 188px;
      }

      .step4 {
        width: 100%;
      }
    }
  }
}
