.OnboardingSetupProfile {
  padding: 25px 0;

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      margin: 17px 0;
    }
  }

  .OnboardingProfileForm {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 360px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
  }
}
