@import '../../../../../styles/shared';

.ExploreCard {
  padding: 24px 18px;
  border-radius: 6px;
  border: 1px solid $neutral-200;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 8px;

  .right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 16px;

    .featured-img {
      width: 100px;
      height: 100px;
      border-radius: 12px;
    }
  }

  .row {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
