@import 'shared';

.ProjectCard {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));

  .ProjectHeaderPanel {
    height: 100%;
    background-color: $white;
    .DummyChainIcon {
      position: relative;
    }
  }

  .ProjectCompletionBar {
    flex: 1;
    height: 8px;
    background-color: $neutral-300;
    .completed-percentage {
      height: 100%;
      background-color: $green-400;
    }
  }

  .ProjectInfoPanel {
    background-color: $white;
    .project-info-header {
      display: flex;
      justify-content: space-between;
      h3.project-title {
        color: $neutral-800;
        display: flex;
        .DummyChainIcon {
          margin-right: 6px;
        }
      }
    }
    .project-deadline {
      color: $neutral-500;
    }
    .project-info-body {
      margin: 4px 0 12px;
      .Text {
        height: 80px;
        color: $neutral-800;
        text-overflow: ellipsis;
        white-space: break-spaces;
        overflow: hidden;
      }
    }
    .project-info-footer {
      margin-top: 5px;
      .User {
        display: flex;
        align-items: center;
        .user-display-name {
          margin-left: 4px;
          color: $neutral-800;
          font-size: 14px;
        }
      }
    }
  }

  &.large {
    flex-direction: column;
    width: 336px;
    height: 376px;
    .ProjectHeaderPanel {
      flex: 32;
      border-radius: 5px 5px 0 0;
      background-size: 100%;
      .DummyChainIcon {
        top: 8px;
        left: 8px;
        .chain-icon {
          border-radius: 100%;
        }
      }
    }
    .ProjectInfoPanel {
      flex: 32;
      border-radius: 0 0 5px 5px;
      padding: 8px 16px;
      .project-info-header {
        justify-content: space-between;
      }
    }
    .User {
      .user-avatar-only {
        svg {
          margin: 0 1px 1px 0 !important;
        }
      }
    }
  }

  &.medium {
    height: 114px;
    width: 400px;
    .ProjectHeaderPanel {
      flex: 7;
    }
    .right-panel {
      display: flex;
      flex-direction: column;
      flex: 18;
      background-color: $neutral-200;
      .ProjectCompletionBar {
        flex: 1;
      }
      .ProjectInfoPanel {
        flex: 13;
        margin: 6px 1px 0 14px;
        .User {
          position: relative;
          top: -2px;
          .user-display-name {
            top: 1px;
          }
        }
      }
    }
  }

  &.small {
    flex-direction: column;
    width: 272px;
    padding: 4px;
    &:hover {
      background-color: $neutral-200;
    }
    .top-panel {
      display: flex;
      justify-content: space-between;
      h3 {
        @include header;
        color: $neutral-500;
      }
      .project-status {
        font-size: 14px;
        padding: 6px 12px 4px;
        height: min-content;
        border-radius: 6px;
        &.funded {
          background-color: $green-400;
          color: $green-700;
        }
      }
    }
    .bottom-panel {
      display: flex;
      justify-content: left;
      .project-token-name {
        @include body;
        margin-left: 7px;
        color: $neutral-300;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        top: 1px;
      }
    }
  }
}
