@import '../../../../../styles/shared.scss';

.TransactionFailed {
  .CWModalBody {
    min-height: 440px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

    @include heightSmallInclusive {
      min-height: unset;
    }
  }
}
