@import '../../../../styles/shared';

$large-chain-icon-size: 96px;
$small-chain-icon-size: 40px;

.community-card.Card {
  align-items: center;
  gap: 16px;
  height: 336px;
  width: 240px;

  @include smallInclusive {
    gap: 8px;
    height: 220px;
    width: 136px;
  }

  .top-content {
    align-items: center;
    display: flex;
    gap: 16px;
    flex-direction: column;

    .chain-name.Text {
      text-align: center;
      width: 200px;

      @include smallInclusive {
        width: 96px;
      }
    }
  }

  .bottom-content {
    align-items: center;
    display: flex;
    gap: 16px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .IconButton {
      display: none;
    }

    @include smallInclusive {
      .Button {
        display: none;
      }

      .IconButton {
        display: flex;
      }
    }

    .card-description.Text {
      color: $neutral-500;
      text-align: center;
      word-break: break-word;

      @include multiline-text-ellipsis(8);
      @include smallInclusive {
        -webkit-line-clamp: 3;
        width: 88px;
      }
    }
  }
}

.new-community-card.Card {
  height: 336px;
  width: 240px;

  @include smallInclusive {
    height: 220px;
    width: 136px;
  }

  .new-community-card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .new-community-header.Text {
      margin-bottom: 48px;
      text-align: center;

      @include smallInclusive {
        font-family: $font-family-silka;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        width: 96px;
      }
    }

    .new-community.Text {
      margin-bottom: 48px;
      text-align: center;

      @include smallInclusive {
        font-family: $font-family-neue-haas-unica;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 16px;
        margin-bottom: 8px;
      }
    }

    @include smallInclusive {
      a.learn-more {
        font-family: $font-family-neue-haas-unica;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 16px;
      }
    }
  }
}
