.DirectoryPageSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .header {
    display: flex;
    margin-bottom: 8px;

    .Tag {
      margin-inline: 8px;
    }

    .Toggle {
      margin-left: auto;
    }
  }

  .Label {
    margin-top: 24px;
  }

  .cta-button-container {
    margin-top: 24px;
    width: fit-content;
  }
}
