@import '../../../../../styles/shared.scss';

.UniswapTrade {
  overflow-y: scroll;
  padding-left: 8px;
  width: 370px;

  .CWModalBody {
    max-height: 500px;
  }

  .token-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 12px;

    .disclaimer {
      margin-left: auto;
    }
  }

  .Uniswap {
    .uniswap-widget-wrapper {
      border: none !important;
      box-shadow: none !important;
      margin: auto;
      width: 100%;

      /* If we're on the wrong network, add a semi-transparent overlay */
      &.disabled-overlay {
        position: relative;
        pointer-events: none;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 10;
        }
      }

      button[color='interactive'] {
        color: $white !important;

        svg {
          stroke: $white !important;
        }
      }

      button[color='accent'],
      button[color='accentSoft'] {
        div {
          color: $white !important;
        }
      }

      [class^='TokenOptions__OnHover'] {
        // fixes a css hover bug with uniswap widget where an extra hover div
        // appeared before the active hover element
        display: none !important;
      }
    }
  }
}
