@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/media_queries';

.ConnectTokenForm {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;

  @include media_queries.extraSmall {
    grid-template-columns: 1fr;
  }
}
