@use '../../../styles/shared';
@use '../../../styles/mixins/colors.module';

.UpdateQuest {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .header {
    .h2 {
      color: colors.$neutral-800 !important;
    }

    .b1 {
      margin-top: 4px;
      color: colors.$neutral-600 !important;
    }
  }
}
