@import 'client/styles/shared';

.AddressesModal {
    .compact-modal-title {
        h3 {
            font-size: 17px;
        }
    }
    .compact-modal-body {
        padding: 24px 28px 26px !important;
    }
    a.add-account {
        display: block;
        margin-top: 18px;
    }
}

.SwitchAddress + .SwitchAddress {
    border-top: none;
}

.SwitchAddress {
    display: block;
    padding: 15px 20px 10px;
    border: 1px solid #eee;
    @include sm-min {
        width: 420px;
    }
    &:hover {
        background: #fafafa;
        cursor: pointer;
    }
    .ProfileBlock span.balance {
        display: block;
        float: right;
        color: #aaa;
    }
}
