@import 'client/styles/shared';

.ConfirmModal {
    max-width: 440px;
    .compact-modal-actions {
        padding-bottom: 22px;
    }
    h3 {
        margin: 4px 0 12px;
    }
    button {
        margin-right: 8px;
    }
}
