@import 'shared';

.ConfirmSnapshotVoteModal {
  h4 {
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
  }

  .vote-info {
    border: 1px solid $primary-300;
    border-radius: 8px;
    padding: 24px;

    .d-flex {
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      margin: 5px;

      .text-blue {
        color: $primary-400;
      }

      a {
        cursor: pointer;
      }
    }

    margin-bottom: 24px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1 1 auto;
    }
  }

  max-width: 480px;
}
