@import 'client/styles/shared';

.CreateInviteModal {
    form {
        margin: 0;
        max-width: 560px;
        h4 {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }
    .chainSelectLabel {
        display: block;
    }
    form + form {
        margin-top: 40px;
    }
    .error-message {
        margin: 10px 0;
        font-weight: 500;
        color: $negative-text-color;
    }
    .success-message {
        margin: 10px 0;
        font-weight: 500;
        color: $positive-text-color;
    }
}
