@import 'client/styles/shared';

.EditTopicThresholdsModal {
  .topic-name {
    padding-top: 20px;
    width: 100%;
  }
  input {
    margin-right: 10px;
  }

  // disable arrows on number
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .token-settings {
    margin-left: 10px;
  }

  .switch-caption {
    display: inline-flex;
    color: $neutral-500;
    font-size: 94%;
    position: relative;
    top: 1px;
  }
}
