@import 'client/styles/shared';

.EditProfileModal {
    width: 620px;
    @include xs-max {
        width: initial;
    }
    .form {
        .avatar {
            .AvatarUpload {
                width: 92px;
                height: 92px;
            }
        }
        display: flex;
        flex-direction: column;
        padding: 26px;
        .text-input-wrapper {
            margin: 6px 0 4px 0;
            input, textarea {
                margin: 6px 0;
            }
            textarea {
                height: 96px !important;
                padding-top: 15px;
            }
        }
    }
    .form-bottom {
        .buttons {
            margin-top: 12px;
            display: flex;
            justify-content: left;
        }
    }
    .error-message {
        margin-top: 12px;
        color: $negative-text-color;
    }
}
