@import 'client/styles/shared';

.EditProfileModal {
    width: 620px;
    .header {
        background-color: black;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 32px;
        font-size: 19px;
        font-weight: 700;
    }
    .cover {
        height: 96px;
        width: 100%;
        background: linear-gradient(180deg, #404040 0%, #111 100%);
    }
    .form {
        .avatar {
            height: 45px;
            .AvatarUpload {
                position: relative;
                bottom: 60px;
                width: 92px;
                height: 92px;
            }
        }
        display: flex;
        flex-direction: column;
        padding: 32px;
        .text-input-wrapper {
            margin: 6px 0 4px 0;
            input, textarea {
                padding: 11px 16px;
                margin: 8px 0;
            }
            textarea {
                height: 96px !important;
                padding-top: 15px;
            }
        }
    }
    .form-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
        .buttons {
            display: flex;
            justify-content: left;
        }
        button {
            @include clean-button;
            border: 0px solid transparent !important;
            margin-right: 12px;
            color: white !important;
            &.formular-button-primary {
                background-color: $electricblue !important;
            }
            background-color: darkgray !important;
        }
    }
    .error-message {
        color: $error-red;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
