@import 'client/styles/shared';

.EditIdentityModal {
    width: 620px;
    .header {
        background-color: black;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 32px;
        font-size: 19px;
        font-weight: 500;
    }
    .form {
        padding: 20px 32px 32px;
        .text-input-wrapper {
            margin: 6px 0 4px 0;
            label {
                font-size: 14px;
            }
            input, textarea {
                padding: 11px 16px 10px;
                margin: 7px 0 14px;
            }
        }
    }
    .form-bottom {
        margin-top: 20px;
        button {
            margin-right: 12px;
        }
    }
    .error-message {
        color: $negative-text-color;
        font-weight: 500;
        margin-top: 16px;
    }
}
