@import 'client/styles/shared';

.FeedbackModal {
    textarea {
        min-height: 90px;
    }
    .error-message {
        margin: 10px 0;
        font-weight: 500;
        color: $negative-text-color;
    }
    .success-message {
        margin: 10px 0;
        font-weight: 500;
        color: $positive-text-color;
    }
}
