@import 'client/styles/shared';

.JoinCommunitiesModal {
    .JoinCommunitiesContent {
        max-width: none !important;
        display: flex;
        .my-communities {
            margin-right: 40px;
        }
        .my-communities,
        .more-communities {
            min-width: 400px;
        }
    }
    padding: 0px 40px 40px;
}

.JoinCommunitiesContent {
    max-width: 560px;
    h4 {
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        color: #999;
    }
    .home-card {
        display: flex;
        margin-bottom: 8px;
        min-height: 72px;
        border-color: #eee;
        .ChainIcon {
            width: 48px;
            margin-left: 4px;
            position: relative;
            top: 3px;
        }
        h3 {
            flex: 1;
            font-weight: 600;
            margin: 0;
            margin-top: 8px;
        }
        .cui-button {
            margin-top: 5px;
            min-width: 90px;
        }
    }
    .new-threads {
        display: inline-block;
        line-height: 1.2;
        padding: 3px 8px 2px;
        color: $badge-red;
        border: 1px solid $badge-red;
        border-radius: 9999px;
    }
}
