@import 'shared';

.NewLoginModal {
  display: flex;
  height: 424px;
  width: 664px;

  .body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 400px;

    svg {
      align-self: flex-end;
    }

    .select-text {
      color: $neutral-500;
    }
  }
}
