@import 'client/styles/shared';

.ManageChainNotificationsModal {
    .header {
        background-color: #222;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 32px;
        font-size: 19px;
        font-weight: 700;
    }
    .subscription-row {
        display: flex;
    }
    .subscription-row-label {
        margin: auto;
        padding: 10px;
    }
    .event-subscription {
        margin-top: 20px;
    }
}
