.ManageCommunityModal {
    width: 800px;
    .compact-modal-body-max {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    .cui-table.metadata-management-table {
        td {
            padding: 10px 28px 0;
            border-bottom: none !important;
        }
        tr:first-child td {
            padding-top: 18px;
        }
    }
    .cui-button.save-changes-button {
        margin: 24px 28px;
    }
    .cui-tabs {
        margin-top: 2px;
        border-bottom-color: #eee;
        > :first-child {
            margin-left: 15px;
        }
    }
    .ManageRoleRow {
        padding: 8px 0;
    }

    .panel-left {
        width: 100%;
        border-right: 1px solid #eee;
        min-height: 450px;
        max-height: 600px;
        overflow-y: scroll;

        @media (min-width: 800px) {
            width: 60%;
        }
        .RoleChild {
            display: inline-block;
            padding-right: 6px;

            .role-x-icon {
                padding-left: 2px;
            }
        }
        .metadata-management-table {
            table-layout: fixed;
        }
        .InputPropertyRow {
            .title-column {
                width: 110px;
            }
        }
    }

    .CommunityMetadataManagementTable {
        td {
            padding: 11px 20px;
        }
        .cui-button {
            margin: 16px 28px 26px;
        }
        .cui-tabs {
            margin-top: 0;
        }
    }

    .panel-right {
        width: 100%;
        @media (min-width: 800px) {
            width: 40%;
        }

        .AdminPanelTabs {
            .UpgradeRolesForm, .WebhooksForm {
                padding: 0 20px 10px;
            }
            .members-list {
                min-height: 160px;
                max-height: 160px;
                overflow-y: scroll;
            }
            .admin-panel-tab-button {
                margin-top: 20px;
            }
            .active-webhooks {
                min-height: 160px;
                max-height: 160px;
                overflow-y: scroll;
            }
        }
    }
}
