@import 'client/styles/shared';

.ManageCommunityModal {
    .form-field {
        margin: 12px 0;
    }
    button {
        margin: 6px 0;
    }
    h3 {
        font-size: 15px;
        margin: 10px 0 16px;
    }
    .webhook {
        padding: 12px 16px;
        margin-bottom: 16px;
        background: #f8f8f8;
        border-radius: 5px;
        width: 400px;
        overflow-wrap: break-word;
        @include xs-max {
            width: initial;
        }
    }
    .no-webhooks {
        margin: 16px 0;
        color: #aaa;
    }
    label {
        margin-top: 20px;
    }

    .error-message {
        margin: 10px 0;
        font-weight: 700;
        color: $error-red;
    }
    .success-message {
        margin: 10px 0;
        font-weight: 700;
        color: $success-green;
    }
}
