@import 'client/styles/shared';

.ManageCommunityModal {
    width: 800px;
    @include sm-max {
        width: initial;
    }
    .compact-modal-body-max {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    .cui-table.metadata-management-table {
        td {
            padding: 5px 28px 0 !important;
            border-bottom: none !important;
        }
        tr:first-child td {
            padding-top: 18px !important;
        }
    }
    .cui-button.save-changes-button {
        margin: 24px 28px;
    }
    .cui-tabs {
        margin-top: 2px !important;
        border-bottom-color: $background-color-light;
        > :first-child {
            margin-left: 15px !important;
        }
    }
    .ManageRoleRow {
        margin: 10px 0 0;
    }

    .panel-left {
        width: 100%;
        border-right: 1px solid $background-color-light;
        min-height: 560px;
        max-height: 600px;
        overflow-y: scroll;

        @media (min-width: 800px) {
            width: 60%;
        }
        td textarea {
            width: 100%;
            min-width: 100%;
            resize: none;
        }
        td > .cui-input {
            position: relative;
            top: -3px;
        }
        .RoleChild {
            display: inline-block;
            padding-right: 12px;
            .role-x-icon {
                margin-left: 4px;
            }
        }
        .metadata-management-table {
            table-layout: fixed;
        }
        .InputPropertyRow {
            .title-column {
                width: 110px;
            }
        }
        .TogglePropertyRow {
            td {
                padding-top: 12px !important;
            }
            .cui-switch {
                display: inline-block;
                margin-right: 5px;
            }
            .switch-caption {
                display: inline-block;
                color: $text-color-light;
                font-size: 94%;
                position: relative;
                top: 1px;
            }
        }
    }

    .CommunityMetadataManagementTable {
        td {
            padding: 11px 20px;
        }
        .cui-button {
            margin: 26px 28px;
        }
        .cui-tabs {
            margin-top: 0 !important;
        }
    }

    .panel-right {
        width: 100%;
        @media (min-width: 800px) {
            width: 40%;
        }

        .AdminPanelTabs {
            .UpgradeRolesForm, .WebhooksForm {
                padding: 0;
                > * {
                    margin: 20px 0;
                    padding: 0 20px;
                }
            }
            .members-list {
                min-height: none;
                max-height: 300px;
                overflow-y: scroll;
            }
            .active-webhooks {
                min-height: none;
                max-height: 300px;
                overflow-y: scroll;
            }
            .bottom {
                padding: 8px 0;
            }
            .settings-button {
                height: 26px;
                min-height: 26px;
                padding: 0 8px;
                margin-right: 10px;
            }
            .cui-list-item {
                overflow-wrap: anywhere;
                padding: 0 !important;
                margin-bottom: 6px;
                border-bottom: none;
            }
        }
    }
}
