.NewTagModal {
    .compact-modal-actions {
        padding-bottom: 24px;
    }
    h3 {
        margin: 10px 0;
        font-weight: 700;
    }
    input {
        margin: 10px 0;
    }
    button {
        margin-right: 8px;
    }
}
