@import 'client/styles/shared';

.NewProposalModal {
    width: 640px;
    .error {
        @include error-text();
        margin-bottom: 15px;
    }
    @include xs-max {
        width: initial;
    }
}

.NewProposalForm {
    textarea {
        min-height: 200px;
    }
    button[type="submit"] {
        font-size: 15px;
    }
    .council-motion-description {
        margin-top: -12px;
        margin-bottom: 22px;
        color: #888;
    }
}
