@import 'client/styles/shared';

.PreviewModal {
    .QuillFormattedText {
        width: 640px;
        max-height: 64vh;
        overflow-y: auto;
        margin: 25px 0;
        @include xs-max {
            width: initial;
        }
    }
    .empty-preview {
        text-align: center;
        color: $text-color-medium;
        padding: 65px 25px;
    }
}
