@import 'client/styles/shared';

.SelectAddressModal {
    .compact-modal-body {
        width: 480px;
        padding: 24px 28px 32px !important;
        @include xs-max {
            width: initial;
        }
    }

    .select-address-placeholder {
        padding: 30px 30px 24px;
        border: 1px solid $border-color-light;
        border-radius: 15px;
        margin-bottom: 12px;
        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .terms-of-service {
        padding: 7px;
    }

    .select-address-options {
        border-bottom: 1px solid $border-color-lightest;
        margin-bottom: 10px;
    }
    .select-address-option {
        position: relative;
        border: 1px solid $border-color-lightest;
        border-bottom: none;
        cursor: pointer;
        &:hover {
            background: $background-color-light;
        }
        &.selected {
            background: $background-color-light-hover !important;
        }
        &.existing {
            background: initial !important;
            cursor: initial;
            .UserBlock {
                opacity: 0.4;
            }
            .role-remove {
                position: absolute;
                right: 16px;
                top: 22px;
                .already-connected {
                    position: relative;
                    margin-right: 11px;
                    font-size: 13.5px;
                    color: $text-color-medium;
                }
                .cui-icon svg {
                    cursor: pointer;
                    stroke: $text-color-medium;
                }
                .cui-icon:hover svg {
                    stroke: $negative-bg-color;
                }
            }
        }
        > .select-address-option-left {
            padding: 14px 16px 10px;
            .magic-label {
                font-size: 15px;
                color: $text-color-light;
                padding: 10px 0 0;
                text-align: center;
            }
        }
    }
    .select-address-explanation {
        font-size: 14px;
        color: $text-color-black;
        margin: 15px 0 18px;
    }
    button {
        margin-top: 10px;
    }
}
