@import 'client/styles/shared';

.SelectAddressModal {
    .compact-modal-body {
        width: 480px;
        padding: 24px 28px 32px !important;
    }

    .select-address-options {
        border-bottom: 1px solid $background-color-border;
        margin-bottom: 10px;
    }
    .select-address-option {
        position: relative;
        border: 1px solid $background-color-border;
        border-bottom: none;
        cursor: pointer;
        &:hover {
            background: $background-color-light;
        }
        &.selected {
            background: $background-color-light-hover !important;
        }
        &.existing {
            background: initial !important;
            cursor: initial;
            .UserBlock {
                opacity: 0.4;
            }
            .role-remove {
                position: absolute;
                right: 16px;
                top: 18px;
                .already-connected {
                    position: relative;
                    margin-right: 11px;
                    font-size: 13.5px;
                    color: $text-color-medium;
                }
                .cui-icon svg {
                    cursor: pointer;
                    stroke: $text-color-medium;
                }
                .cui-icon:hover svg {
                    stroke: $error-red;
                }
            }
        }
        > .UserBlock {
            padding: 10px 16px 14px;
        }
    }
    .select-address-explanation {
        font-size: 14px;
        color: $text-color-dark;
        margin: 15px 0 18px;
    }
    button {
        margin-top: 10px;
    }
}
