@import 'client/styles/shared';

.TokenApprovalModal {
    .header {
        background-color: #222;
        color: white;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 32px;
        font-size: 19px;
        font-weight: 700;
    }

    .token-data-label {
        margin: 10px 0 10px;
        width: 100%;
        border-radius: 5px;
    }

    button {
        margin-bottom: 5px;
    }
}
