@import 'client/styles/shared';

.TwitterAttestationModal {
  padding: 50px 80px;
  text-align: center;

  .modal-close-button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.75;
    cursor: pointer;
  }

  .form-steps {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    p:hover {
      cursor: pointer;
    }
    p.disabled-step {
      cursor: auto;
    }
  }

  .disabled-step {
    color: #999999;
  }

  .gradient-progress-bar {
    width: 100%;
  }

  .gradient-progress-bar::-webkit-progress-bar {
    margin-top: 14px;
    height: 6px;
    border-radius: 4px;
    background-color: #eeeeee;
  }

  .gradient-progress-bar::-webkit-progress-value {
    background: #6966FF;
    border-radius: 4px;
  }

  .twitter-icon svg {
    margin: 20px auto 15px auto;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .description {
    color: rgb(51,51,51);
    margin: 0px 40px 15px 40px;
    width: 280px;
  }

  .action {
    margin: 25px 0;
    button {
      margin: 15px auto;
    }
  }

  .address {
    border: 1px solid #cccccc;
    &:hover {
      background-color: #f5f5f5;
    }
  }

  .selected-address {
    width: 280px;
    
  }

  .tweet-preview{
    color: #333333;
    background-color: #F4F4F4;
    border-radius: 4px;
    padding: 16px;
    margin: 8px 0;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    width: 360px;
  }

  .twitter-handle {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 11px 16px;
    background: #F7F4FF;
    border-radius: 79px;
  }

  .primary-button {
    font-weight: 600;
    color: white;
    padding-top: 12px;
    padding-bottom: 7px;
    background: #6966FF;
    border-radius: 8px;
    margin: 10px 0px;
    width: 100%;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .unverified-label {
    padding: 4px 10px 0 10px;
    background: #F7EDE5;
    border: 1px solid #C6660E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #C6660E;
  }

  .close-button {
    width: 20px;
    height: 20px;
    opacity: 0.75;
    cursor: pointer;
  }
}