@import 'client/styles/shared';

.VersionHistoryModal {
  .compact-modal-body {
    width: 640px;
    @include extraSmall {
      width: initial;
    }
    .versions {
      display: flex;
      flex-direction: column;
      .version {
        padding-bottom: 20px;
        border-bottom: 1px solid $neutral-100;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .panel-left {
          display: flex;
          flex-direction: column;
          flex: 2;
          padding-right: 25px;
          .timestamp {
            color: $neutral-500;
            padding-top: 5px;
          }
        }
        .panel-right {
          display: flex;
          flex: 5;
        }
        .QuillFormattedText,
        .MarkdownFormattedText {
          flex: 5;
          color: $neutral-900;
          .deleted {
            background: $rorange-100 !important;
            color: $rorange-500 !important;
          }
          .added {
            background: $green-100 !important;
            color: $green-500 !important;
          }
        }
      }
      .version:last-child {
        border-bottom: none !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
