@import 'client/styles/shared';

.VersionHistoryModal {
    .compact-modal-body {
        width: 640px;
        @include xs-max {
            width: initial;
        }
        .versions {
            display: flex;
            flex-direction: column;
            .version {
                padding-bottom: 10px;
                display: flex;
                justify-content: space-between;
                .timestamp {
                    flex: 2;
                    color: $text-color-light;
                    padding-right: 30px;
                    text-align: right;
                }
                .QuillFormattedText, .MarkdownFormattedText {
                    flex: 5;
                    color: $text-color-darker;
                    .deleted {
                        background: $negative-text-background !important;
                        color: $positive-text-background !important;
                    }
                    .added {
                        background: $positive-text-background !important;
                        color: $positive-text-color !important;
                    }
                }
            }
        }
    }
}
