@import 'client/styles/shared';

.ViewVotersModal {
  max-width: 560px;
  padding-bottom: 20px;

  .compact-modal-title {
    text-overflow: ellipsis;
  }

  pre {
      padding: 12px 16px 11px;
      margin-bottom: 20px;
      border-radius: 4px;
      background: #222;
      color: #fff;
      font-family: SF Mono, Roboto, Menlo, monospace;
      font-size: 13px;
      white-space: pre;
      &.click-to-select {
          cursor: pointer;
      }
      &.click-to-select:active {
          opacity: 0.9;
      }
      &::selection {
          background: #ffdd00;
      }
  }
}

.VoterRow {
    display: flex;
    border: 1px solid $background-color-light;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.04);
    background: #fff;
    border-radius: 3px;
    margin: 10px 0;
    padding: 17px 20px 13px;
    cursor: pointer;
    flex-direction: row;

    // link styling
    text-decoration: none;
    color: #111;
    @include hoverFloat;

    .proposal-pre {
        margin-top: 4px;
        @include xs-max {
            display: none;
        }
    }

    .proposal-pre-mobile {
        display: none;
        .User {
            position: relative;
            top: 2px;
        }
        @include xs-max {
            display: block;
        }
    }

    .proposal-row-left,
    .proposal-row-right {
        flex: 0 0 auto;
    }
    .proposal-row-main {
        flex: 1 0;
    }
    .proposal-row-left {
        min-width: 50px;
        width: 50px;
        padding-right: 16px;
    }

    // left
    .proposal-row-left {
        .proposal-display-id {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
        }
    }
    // main
    .proposal-row-main.container {
        display: flex;

        @include xs-max {
            display: block;
        }

        .proposal-row-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 3px;
            word-break: break-word;
            line-height: 1.2;
            text-overflow: ellipsis;
        }

        .proposal-row-subheading {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 3px;
            word-break: break-word;
            line-height: 1.2;
            text-overflow: ellipsis;
            color: #bdbdbd;
        }

        .proposal-row-metadata {
            font-weight: 500;

            @include xs-max {
                display: block;
            }

            .proposal-user {
                margin-top: 4px;
                color: #bdbdbd;
                .username {
                    color: #bdbdbd;
                    font-weight: 400;
                }
            }
            .proposal-user-mobile {
                display: none;
                color: #bdbdbd;
                .user-display-name username {
                    position: relative;
                    color: #bdbdbd;
                    font-weight: 400;
                    top: 2px;
                }
            }
        }

        .proposal-row-main.item {
            flex: 1 0 auto;
            text-overflow: ellipsis;
        }

        .proposal-row-main-large.item {
            flex: 2 0 auto;
        }


    }

    // responsive
    @include sm-max {
        .proposal-row-right {
            display: block;
            width: initial;
            min-width: initial;
            padding-left: 24px;
            padding-right: 6px;
        }
        .proposal-row-right-chart {
            padding-left: 0px;
        }
    }
    @include xs-max {
        display: block;
        padding: 20px 22px;
        margin: 15px 0;
        .proposal-row-left {
            width: 100%;
            padding: 0;
            .proposal-display-id {
                margin: 0;
            }
        }
        .proposal-row-right {
            display: flex;
        }
        .proposal-row-main {
            width: 100%;
            padding: 0;
            margin-bottom: 24px;
            .proposal-row-description {
                margin: 0 -2px;
            }
        }
        .proposal-row-xs-clear {
            display: block;
            clear: both;
        }
        .proposal-row-right {
            padding: 0;
        }
    }
}
