@import '../../../../styles/shared.scss';

.EditBody {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .buttons-row {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
  }
}
