@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';

.LinkedThreadsCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  width: 100%;
  border: 1px dashed colors.$neutral-400;
  border-radius: border_radius.$border-radius-corners;
  background: colors.$white;

  &-title.Text {
    font-weight: 600;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .no-threads-text.Text {
    color: colors.$neutral-500;
  }
}
