@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.SnapshotCreationCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;

  .no-threads-text.Text {
    color: colors.$neutral-500;
  }
}
