@import '../../../../../styles/shared.scss';

.CommentEditor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;

  .attribution-row {
    display: flex;
    justify-content: space-between;

    .attribution-left-content {
      display: flex;
      gap: 4px;

      .user-link-text {
        &.disabled {
          .user-display-name {
            color: $neutral-400 !important;
          }
        }
      }
    }
  }

  .callout-text.Text {
    background-color: $neutral-200;
    border-radius: $border-radius-corners;
    padding: 16px;

    a {
      margin-left: 8px;
    }
  }

  .form-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-buttons {
      display: flex;
      gap: 8px;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .token-req-text.Text {
    color: $neutral-500;
  }
}