@import 'client/styles/shared';

.ProposalComment {
    display: flex;
    margin: 28px 0;
    .comment-avatar {
        padding-top: 10px;
        padding-right: 18px;
        min-width: 54px;
    }
    .comment-body {
        flex: 1;
    }
    .comment-body-top {
        padding-bottom: 12px;
    }
    .comment-body-bottom {
        padding: 4px 0 2px;
    }
}

.ProposalComments {
    .threading-level {
        margin-left: 54px;
    }
    .new-comment-child {
        margin-left: 36px;
    }

    .ProposalBodyAuthor,
    .ProposalBodyCreated,
    .ProposalBodyLastEdited,
    .ProposalBodyReply,
    .ProposalBodyEdit,
    .ProposalBodyDelete,
    .ProposalBodyCancelEdit,
    .ProposalBodySaveEdit {
        display: inline-block;
        color: $standard-light-text;
        margin-right: $standard-meta-spacing;
        a:link,
        a:visited,
        .User a.user-display-name {
            color: $standard-light-text;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ProposalBodyReaction {
        margin-top: 18px;
    }
}

.comments-error {
    @include error-text();
    margin: 30px 0;
}
