@import 'client/styles/shared';

.ProposalComment {
    display: flex;
    margin: 28px 0;
    .comment-avatar {
        padding-top: 10px;
        padding-right: 18px;
    }
    .comment-body {
        flex: 1;
    }
    .comment-body-meta {
        margin-bottom: 12px;
    }
    .comment-body-reactions {
        padding-top: 2px;
        border-top: 1px solid #ececec;
        margin-top: 26px;
    }
}

.ProposalComments {
    .threading-level {
        margin-left: 36px;
    }
    .new-comment-child {
        margin-left: 36px;
    }

    .ProposalBodyAuthor,
    .ProposalBodyCreated,
    .ProposalBodyLastEdited,
    .ProposalBodyReply,
    .ProposalBodyEdit,
    .ProposalBodyDelete,
    .ProposalBodyCancelEdit,
    .ProposalBodySaveEdit,
    .ProposalBodySpacer {
        display: inline-block;
        color: #888;
        font-size: 14px;
        a:link,
        a:visited,
        .User a.user-display-name {
            color: #888;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ProposalBodySpacer {
        margin: 0 7px;
    }
    .ProposalBodyText,
    .ProposalBodyAttachments,
    .ProposalBodyEditor {
    }

    .ProposalBodyReaction {
        margin-top: 18px;
    }
}

// .new-comment-error {
//     @include error-text();
//     margin: 20px 0 10px;
// }
// .comments-error {
//     @include error-text();
//     margin: 30px 0;
// }

//     .proposal-comment-text {
//         word-break: break-word;
//     }
//     .proposal-comment-attachments {
//         margin: 10px 0 20px;
//         @include attachments;
//     }
