@import 'client/styles/shared';
@import './index';

.CreateComment {
  display: flex;

  .create-comment-body {
    @include xs-max {
      margin: 0;
    }
    flex: 1;
    margin-left: 26px;
    .form-bottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      .form-buttons {
        display: flex;
        flex-direction: row-reverse;
        .cui-button {
          box-sizing: border-box;
          border-radius: 8px;
          font-weight: 500;
          font-size: 18px;
          text-transform: uppercase;
        }
        .cui-button[type='submit'] {
          // background: linear-gradient(50.49deg, #91BFFF -6.12%, #91FFA0 30.17%, #FBFF91 62.49%, #FF9191 102.75%);
          // color: black;
          background: $primary-bg-color;
          color: white;
          border: none;
          margin-left: 20px;
        }
        .cui-button[type='cancel'] {
          background: #ffffff;
          border: 2px solid #dddddd;
          color: #999999;
        }
      }
      .new-comment-error {
        @include error-text;
      }
    }
    > .User {
      font-size: $discussion-meta-font-size;
      &,
      a.user-display-name {
        color: $discussion-meta-color;
      }
    }
  }

  .QuillEditor {
    margin: 14px 0 18px;
    .ql-toolbar,
    .ql-editor {
      background: $background-color-white;
    }
    .ql-editor {
      min-height: 100px;
      border-radius: 2px;
    }
  }
  .cui-callout {
    margin-top: 20px;
  }
  .token-requirement {
    color: $text-color-light;
    margin-bottom: 10px;
  }
}
