.ProposalEditorPermissions {
    .proposal-editor-permissions-wrap {
        display: flex;
        flex-direction: column;
    }
    .username:hover {
        text-decoration: none;
    }
    .cui-list-item-content-left {
        position: static !important;
    }
}