@import 'client/styles/shared';

.ProposalHeader {
    .proposal-top {
        display: flex;
    }
    .proposal-top-left {
        flex: 1;
    }
    .proposal-top-right {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 30px;
        svg {
            height: 20px;
            width: 20px;
            min-width: 20px;
            min-height: 20px;
            stroke: #999;
        }
    }
    .proposal-bottom {
        display: flex;
    }
    .proposal-bottom-left {
        flex: 1;
    }
    .proposal-bottom-right {
    }

    // proposal-tags
    .ProposalHeaderCaretMenu,
    .ProposalHeaderTags {
        display: inline-block;
        font-size: 14px;
        .cui-icon {
            position: relative;
            top: -1px;
        }
        a {
            cursor: pointer;
            color: $standard-light-text;
            text-decoration: none;
            margin-right: $standard-meta-spacing;
            &:hover {
                text-decoration: underline;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }

    // proposal-title
    .proposal-title {
        margin: 4px 0 2px;
        .ProposalHeaderTitle {
            display: inline;
            font-size: 19px;
            font-weight: 600;
            flex: 1;
            line-height: 1.15;
        }
    }

    // proposal-meta
    .ProposalHeaderAuthor,
    .ProposalHeaderCreated,
    .ProposalHeaderLastEdited,
    .ProposalHeaderDelete,
    .ProposalBodyDelete,
    .ProposalHeaderOnchainId,
    .ProposalHeaderOnchainStatus,
    .ProposalBodyEdit,
    .ProposalBodyDelete,
    .ProposalBodyCancelEdit,
    .ProposalBodySaveEdit,
    .ViewCountBlock,
    .ProposalHeaderExternalLink {
        display: inline-block;
        color: #999;
        margin-right: 16px;
        a:link,
        a:visited {
            color: #999;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ProposalHeaderAuthor {
        .User .user-display-name {
            color: #999;
        }
    }
    .ProposalHeaderExternalLink {
        margin-top: 5px;
        font-weight: 600;
        a:link,
        a:visited {
            color: $primary-green;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
