@import 'shared';

.ProposalHeaderLink {
  display: inline-block;
  font-weight: 600;
  margin-right: 12px;
  margin-top: 12px;

  a:link,
  a:visited {
    background: $neutral-200;
    border-radius: 99px;
    color: $neutral-500;
    display: block;
    padding: 8px 16px;
    text-decoration: none !important;
  }

  svg {
    $size: 14px;
    height: $size;
    margin-left: 5px;
    min-height: $size;
    min-width: $size;
    position: relative;
    stroke: $primary-500;
    top: -1px;
    width: $size;
  }

  a:hover {
    background: $neutral-300;
  }
}
