@import '../../../shared';
@import './mixins/buttons.scss';

.btn-border {
  &.primary {
    &:focus-within {
      border: 2px solid $neutral-700;
    }
  }

  &.destructive {
    &:focus-within {
      border: 2px solid $rorange-600;
    }
  }

  &.primary,
  &.destructive {
    border: 2px solid $transparent;
    padding: 2px;
    border-radius: 10px;
    width: fit-content;

    &.full {
      width: 100%;
    }
  }

  &.tertiary {
    border: 2px solid $transparent;
    padding: 2px;
    border-radius: 10px;
    width: fit-content;

    &.full {
      width: 100%;
    }
  }

  &.secondary {
    border: 1px solid $neutral-700;
    width: fit-content;
    border-radius: 6px;
    margin: 3px;

    &:hover {
      border: 1px solid $neutral-800;
    }

    &:active {
      border: 1px solid $neutral-700;
    }

    &:focus-within {
      border: 2px solid $neutral-800;
      padding: 2px;
      margin: 0;
    }

    &.disabled {
      border: 1px solid $neutral-200;
    }

    &.full {
      width: 100%;
    }
  }

  &.tertiary {
    &:focus-within {
      border: 2px solid $primary-600;
    }
  }

  .Button {
    align-items: center;
    border: 2px solid transparent;
    border-radius: $border-radius-corners-wider;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px 20px;
    width: fit-content;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &.sm {
      height: 2rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      gap: 0.625rem;
    }

    &.med {
      height: 2.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &.lg {
      gap: 0.7rem;
      height: 3rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;

      .Text.button-text {
        font-size: 1rem;
      }

      .Icon {
        height: 1.25rem;
        width: 1.25rem;
      }
    }

    &.sm,
    &.med {
      gap: 0.625rem;

      .Icon {
        height: 1rem;
        width: 1rem;
      }
    }

    &.disabled {
      cursor: not-allowed;
    }

    &.narrow {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &.wide {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    &.full {
      width: 100%;
    }

    &.primary {
      background-color: $neutral-700;
      @include iconAndTextColors($neutral-25, $neutral-25);

      &:hover {
        background-color: $neutral-800;
        @include iconAndTextColors($neutral-25, $white);
      }

      &:active {
        background-color: $neutral-700;
        @include iconAndTextColors($neutral-25, $white);
      }

      &:focus {
        background-color: $neutral-800;
        @include iconAndTextColors($white, $white);
      }

      &.disabled {
        background-color: $neutral-200;
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }

    &.secondary {
      background-color: $white;
      @include iconAndTextColors($neutral-800, $neutral-700);

      &:hover {
        background-color: $neutral-50;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &:active {
        background-color: $white;
        @include iconAndTextColors($neutral-800, $neutral-700);
      }

      &:focus {
        background-color: $neutral-50;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &.disabled {
        background-color: $neutral-50;
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }

    &.tertiary {
      @include iconAndTextColors($primary-500, $primary-500);

      &:hover {
        @include iconAndTextColors($primary-600, $primary-600);
      }

      &:active {
        @include iconAndTextColors($primary-500, $primary-500);
      }

      &:focus {
        @include iconAndTextColors($primary-600, $primary-600);
      }

      &.disabled {
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }

    &.destructive {
      background-color: $rorange-500;
      @include iconAndTextColors($white, $white);

      &:hover {
        background-color: $rorange-600;
      }

      &:active {
        background-color: $rorange-500;
      }

      &:focus {
        background-color: $rorange-600;
      }

      &.disabled {
        background-color: $neutral-200;
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }

    &.green {
      background-color: $green-50;
      @include iconAndTextColors($neutral-800, $neutral-700);

      &:hover {
        background-color: $green-100;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &:active {
        background-color: $green-50;
        @include iconAndTextColors($neutral-800, $neutral-700);
      }

      &:focus {
        background-color: $green-100;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &.disabled {
        background-color: $neutral-50;
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }

    &.rorange {
      background-color: $rorange-50;
      @include iconAndTextColors($neutral-800, $neutral-700);

      &:hover {
        background-color: $rorange-100;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &:active {
        background-color: $rorange-50;
        @include iconAndTextColors($neutral-800, $neutral-700);
      }

      &:focus {
        background-color: $rorange-100;
        @include iconAndTextColors($neutral-800, $neutral-800);
      }

      &.disabled {
        background-color: $neutral-50;
        @include iconAndTextColors($neutral-400, $neutral-400);
      }
    }
  }
}
