@import '../../../shared';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  width: fit-content;
  cursor: pointer;

  .radio-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: $neutral-400;
    z-index: 1;

    &:hover {
      accent-color: $primary-600;
    }

    &:checked {
      accent-color: $primary-500;
    }

    &:checked:hover {
      accent-color: $primary-600;
    }

    &.disabled {
      pointer-events: none;
      box-shadow: inset 0 0 0 1px $neutral-200;
      border-radius: 50%;
      appearance: none;
      background-color: $neutral-100;
    }
  }

  .label {
    margin-left: 5px;
  }
}
