@import '../../../shared';

@mixin radioCore($color) {
  display: grid;
  place-content: center;

  &::after {
    color: $color;
    content: '';
    width: 6px;
    height: 6px;
    box-shadow: inset 12px 12px;
    clip-path: circle(50%);
  }
}

.RadioButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    @include hideInput;
  }

  .radio-control {
    @include controlStyles;

    // border-radius: $border-radius-round; // 50%
    border-radius: 70%;
  }

  &:hover .radio-control {
    border-color: $primary-600;
  }

  // WIP
  &.checked .radio-control {
    // @include radioCore($primary-500);
    // @include checkedColors;
    border-color: $primary-500;
    background-color: inherit;

    display: grid;
    place-content: center;

    &::after {
      color: $primary-500;
      content: '';
      width: 10.5px;
      height: 10.5px;
      box-shadow: inset 12px 12px;
      clip-path: circle(50%);
    }
  }

  // WIP
  &.checked:hover .radio-control {
    // @include radioCore($primary-600);
    // @include checkedHoverColors;
    border-color: $primary-600;
    &::after {
      color: $primary-600;
    }
    background-color: inherit;
  }

  &.checked.disabled .radio-control {
    @include radioCore($neutral-200);
    // @include disabledColors;
    background-color: $neutral-100;
    border-color: $neutral-200;
  }

  &.disabled {
    pointer-events: none;

    .radio-control {
      // same color as background, so it's invisble on hover
      // @include radioCore($neutral-200);
      // @include disabledColors;
      background-color: $neutral-100;
      border-color: $neutral-200;
    }
  }
}
