@import '../../../shared';

.SearchBar {
  width: 608px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 8px;
  height: 40px;
  background-color: $white;
  border: 1px solid $neutral-200;
  border-radius: 6px;
  color: $neutral-800;

  &.isTyping {
    outline: none;
    border-color: $primary-500;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12),
      0px 0px 0px 3px $primary-100;
  }

  &.disabled {
    background-color: $neutral-50;
    border-color: $neutral-200;
    box-shadow: none;
    color: $neutral-500;

    &:hover {
      border-color: $neutral-200;
    }
  }

  &:hover {
    border: 1px solid $primary-600;
  }

  input {
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }

    ::placeholder {
      color: $neutral-800;
    }
  }

}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 2px 8px;
  left: 48px;
  gap: 16px;
  border-radius: 6px;
  background-color: $neutral-200;
  height: 24px;
  width: fit-content;

  .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.magnifyingGlass {
  color: $neutral-400;
}

.action {
  display: grid;
  align-items: center;
  color: $neutral-500;

  :hover {
    cursor: pointer;
    color: $neutral-600;
  }
}

.inputElement {
  flex: 1;
}

