@import '../../../shared';

.SearchBar {
  width: 608px;
  display: flex;
  // flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 8px;
  position: absolute;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #E0DFE1;
  border-radius: 6px;
  color: #282729;

  &.isTyping {
    outline: none;
    border-color: $primary-500;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12),
      0px 0px 0px 3px #CCE3FF;
  }

  &:hover {
    border: 1px solid #2972CC;
  }

  &.disabled {
    background-color: #F7F7F7;
    border-color: #E0DFE1;
    box-shadow: none;
    color: #656167;
  }

  input {
    width: 100%;

    border: none;

    &:focus {
      outline: none;
    }

    ::placeholder {
      color: #282729;
    }
  }

}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 2px 8px;
  left: 48px;
  gap: 16px;
  border-radius: 6px;
  background-color: $neutral-200;
  height: 24px;
  width: fit-content;

  .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .action {
    display: grid;
    align-items: center;
  }
}

.magnifyingGlass {
  color: #A09DA1;
}

.inputElement {
  flex: 1;
}

