@import '../../../shared';

.Tag {
  font-family: $font-family-neue-haas-unica;
  border-radius: $border-radius-corners-wider;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 12px;
  // line-height: 16px;
  gap: 2px;
  padding: 4px 8px;
  width: fit-content;

  // .tag-icon.Icon {
  //   margin-right: 4px;
  // }

  // .tag-text.Text,
  // .tag-icon.Icon {
  //   color: $neutral-600;
  // }

  .tag-text.Text {
    line-height: 16px;
  }

  &.disabled, &.spam {
    background-color: $neutral-300  !important;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white  !important;
    }
  }

  &.new {
    background-color: $yellow-50;
    border-radius: $border-radius-corners-wider;
    border: 1px solid $yellow-600;

    .tag-text.Text {
      color: $yellow-600;
    }

    .tag-icon.Icon {
      stroke: $yellow-600;
      padding: 0;
      fill: none;
    }
  }

  &.trending {
    background-color: $green-50;
    border-radius: $border-radius-corners-wider;
    border: 1px solid $green-600;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $green-600;
    }

    svg {
      fill: none;
    }
  }

  &.poll {
    background-color: $purple-50;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $purple-600;
    }
  }

  &.active {
    background-color: $pink-100;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $pink-700;
    }
  }

  &.poll, &.active {
    border-radius: $border-radius-tags;
  }

  &.passed {
    background-color: $green-300;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $green-700;
    }
  }

  &.failed {
    background-color: $rorange-300;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $rorange-700;
    }
  }

  &.proposal {
    background-color: $primary-100;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $primary-600;
    }
  }

  &.referendum {
    background-color: $neutral-100;
    border-radius: $border-radius-corners;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $neutral-600;
    }
  }

  &.stage {
    background-color: $green-600;
    border-radius: $border-radius-corners-wider;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white;
    }
  }

  &.new-stage {
    border-radius: $border-radius-corners-wider;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $white;
    }

    &.rorange-600 {
      background-color: $rorange-600;
    }
  
    &.rorange-400 {
      background-color: $rorange-400;
    }

    &.yellow-500 {
      background-color: $yellow-500;
    }

    &.green-600 {
      background-color: $green-600;
    }

    &.green-500 {
      background-color: $green-500;
    }

    &.primary-600 {
      background-color: $primary-600;
    }

    &.primary-400 {
      background-color: $primary-400;
    }

    &.purple-600 {
      background-color: $purple-600;
    }

    &.purple-400 {
      background-color: $purple-400;
    }
  }

  &.input {
    border-radius: $border-radius-corners-wider;
    background-color: $neutral-100;
    padding: 2px 8px;
    gap: 8px;

    .close-container {
      display: flex;
      margin-left: 8px;
    }

    .tag-text.Text {
      font-size: 14px;
      line-height: 20px;
    }

    .tag-text.Text,
    .tag-icon.Icon {
      color: $neutral-800;
    }

    &:hover {
      background-color: $neutral-200;

      .tag-text.Text,
      .tag-icon.Icon {
        color: $neutral-900;
      }
    }
  }

  &.login {
    background-color: $neutral-200;
    gap: 8px;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $neutral-600;
    }

    .tag-icon.Icon {
      fill: none;
    }

    &:hover {
      background-color: $neutral-300;

      .tag-text.Text,
      .tag-icon.Icon {
        color: $neutral-800;
      }
    }
  }

  &.address {
    background-color: $neutral-200;
    padding: 2px 8px;
    gap: 8px;

    .tag-text.Text,
    .tag-icon.Icon {
      color: $neutral-600;
    }

    .tag-icon.Icon {
      fill: none;
    }

    &:hover {
      background-color: $neutral-300;

      .tag-text.Text,
      .tag-icon.Icon {
        color: $neutral-800;
      }
    }
  }

}