@import '../../../shared.scss';

.Upvote {
  width: 40px;
  height: 54px;
  border-radius: 6px;
  border: 1px solid $neutral-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px;
  gap: 4px;
  color: $neutral-500;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    border-color: $primary-600;
    color: $primary-600;
  }

  &.active {
    border-color: $primary-500;
  }

  &.disabled {
    background-color: $neutral-200;
    border-color: $neutral-400;
    color: $neutral-400;
    cursor: default;
  }

  .fontDefault {
    color: $neutral-500;
  }

  .fontUpvoted {
    color: $primary-500;
  }

  .fontDisabled {
    color: $neutral-400;
  }

  .fontHovering {
    color: $primary-600;
  }

  .noUpvote {
    color: $neutral-500;

    &.disabled {
      color: $neutral-400;
    }
  }

  .upvoted {
    color: $primary-500;

    &.disabled {
      color: $neutral-400;
    }
  }
}