@import '../../../shared.scss';

.Upvote {
  min-width: 40px;
  height: 54px;
  border-radius: 6px;
  border: 1px solid $neutral-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px;
  gap: 2px;
  background-color: $white;
  color: $neutral-400;

  .Text {
    color: $neutral-400;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    border-color: $primary-600;
    color: $primary-600;

    .Text {
      color: $primary-600;
    }
  }

  &.active {
    border-color: $primary-500;
    color: $primary-500;

    .Text {
      color: $primary-500;
    }

    &:hover {
      border-color: $primary-600;
      color: $primary-600;

      .Text {
        color: $primary-600;
      }
    }
  }

  &.disabled {
    background-color: $neutral-200;
    border-color: $neutral-400;
    cursor: not-allowed;

    .Text {
      color: $neutral-400;
    }

    &:hover {
      .Text {
        color: $neutral-400;
      }

      svg {
        fill: $neutral-400;
      }
    }
  }
}
