@import '../MarkdownEditor/layout';
@import './layout';

.MarkdownViewer {
  .mdxeditor-root-contenteditable {
    outline: none;
  }

  .show-more-button {
    align-items: center;
    color: $primary-500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 115px;
    margin-top: 100px;

    .show-more-text {
      font-weight: 600;
      margin-top: -1px;
    }
  }

  .show-more-button-wrapper {
    align-items: center;
    background-image: linear-gradient(to bottom, transparent, white);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 30px;
    position: relative;
  }
}
