@import '../../shared';

.LoginSelectorMenu {
  background-color: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;

  &.left {
    .UserBlock {
      gap: 24px;
    }
  }

  &.right {
    right: -8px;
  }

  .title {
    padding: 4px 16px;
    color: $neutral-500;
  }

  .login-menu-item {
    cursor: pointer;
    display: flex;
    gap: 8px;
    padding: 8px 16px 9px;
    width: 100%;

    .UserBlock.compact .user-block-center .user-block-address {
      font-size: 0.9em;
    }
    .Text.caption {
      font-size: 0.9em;
    }

    &:not(.selected) {
      svg {
        fill: transparent;
      }

      &:hover {
        svg {
          fill: $neutral-500;
        }
      }
    }

    &:hover {
      background-color: $neutral-100;
    }
  }

  .login-darkmode-label {
    display: grid;
    align-items: center;
  }
}
