@import 'shared';

.LoginSelector {
  .cui-button {
    padding: 8px;
  }

  .login-selector-right-button {
    margin-right: 0;
    width: fit-content;

    .cui-button-label {
      display: flex;
    }
  }
}

.TOSModal {
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 8px;
  width: 400px;

  .close-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 4px;

    .Text {
      text-align: center;
    }
  }
}

.LoginSelectorMenuRight {
  .dark-mode-toggle {
    cursor: default;
    .label-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Toggle {
        cursor: pointer;
      }
    }
  }
}
