@import 'shared';

.LoginSelector {
  .cui-button {
    padding: 8px;
  }

  .login-selector-right-button {
    margin-right: 0;
    width: fit-content;

    .cui-button-label {
      display: flex;
    }
  }
}

.LoginSelectorMenuRight {
  .dark-mode-toggle {
    cursor: default;
    .label-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Toggle {
        cursor: pointer;
      }
    }
  }
}
