@import 'shared';

@mixin notificationsButton {
  .cui-button {
    border-radius: 0;
    border-right: 1px solid $neutral-300;
    box-shadow: none;
    height: 40px;
    padding: 0 8px;
    width: 100%;

    .cui-button-label {
      color: $neutral-900;
      text-align: center;
    }

    &:hover {
      background: $neutral-100;
    }

    &:active {
      background: $neutral-200;
    }
  }
}

.unreads-icon svg {
  cursor: pointer;
}

.NotificationsMenu {
  background-color: $white;
  width: 296px;

  @include extraSmall {
    height: calc(100% - 88px);
    width: 100%;
  }

  .NotificationsMenuHeader {
    @include notificationsButton;

    border-bottom: 1px solid $neutral-300;
    display: flex;
  }

  .notification-list {
    align-items: center;
    border-left: 1px solid $neutral-300;
    border-right: 1px solid $neutral-300;
    display: flex;
    height: 480px;
    justify-content: center;

    @include extraSmall {
      border: none;
      height: 100%;
      width: 100%;
    }
  }

  .NotificationsMenuFooter {
    @include notificationsButton;

    border-top: 1px solid $neutral-300;
    display: flex;
  }
}
