@import '../../shared.scss';

.TOSModal {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;

  .content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 4px;
    padding: 16px;

    .Text {
      text-align: center;

      > a {
        margin-left: 4px;
      }
    }
  }

  .compact-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
}
