@import 'shared';

.Table {
  width: 100%;
  h1 {
    padding-left: 16px;
  }
  table {
    width: 100%;
    th,
    tr,
    td {
      padding: 16px;
    }
    th {
      .h4 {
        color: $neutral-500;
      }
    }
    tr:nth-child(odd) {
      background: $white;
    }
    tr:nth-child(even) {
      background: $neutral-50;
    }
    th,
    td {
      text-align: right;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }
  }
}
