@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/media_queries';

.Grid {
  display: grid;
  grid-template-columns: 648px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 16px;

  &.single-child {
    grid-template-columns: 1fr;
  }

  &.menu-visible {
    @include media_queries.medium {
      grid-template-columns: 1fr;
    }
  }

  @include media_queries.mediumSmallInclusive {
    grid-template-columns: 1fr;
  }
}
