@use '../../../../styles/shared';
@use '../../../../styles/mixins/media_queries';

.TrendingCommunitiesPreview {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  overflow-x: hidden;
  padding-bottom: 24px;
  margin: 24px 0;
  width: 100%;

  @include media_queries.extraSmall {
    padding-bottom: 0;
    gap: 16px;
  }

  .community-preview-cards-collection {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 24px;
    padding: 8px 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }

    @include media_queries.extraSmall {
      z-index: inherit;
    }

    .Card {
      align-items: center;
      min-width: 350px;
      .CommunityAvatar {
        margin-top: 0 !important;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .link-right {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &:hover {
        filter: brightness(1.2);
      }

      .link {
        color: #4c83ff;
        font-weight: 500;
      }

      .blue-icon {
        color: #4c83ff;
      }
    }

    a,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: inherit;
    }

    a:visited .link {
      color: #4c83ff;
    }
  }
}
