@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/media_queries';

@mixin bannerTheme($main, $background, $accent) {
  border: 1px solid $main;
  background: $background;

  .type-icon-container {
    svg {
      fill: $main;
    }
  }

  .header {
    color: $main;
  }

  .body {
    color: $main;
  }

  .close-icon-container {
    svg {
      fill: $accent;
    }
  }
}

.CWBanner {
  padding: 16px;
  display: flex;
  border-radius: 6px;
  border: 1px solid colors.$neutral-600;
  background: colors.$neutral-25;
  justify-content: flex-start;
  min-width: fit-content;

  .type-icon-container {
    margin-right: 8px;
  }

  .content-container {
    display: flex;
    padding-right: 5px;

    .header {
      color: colors.$neutral-600;
    }

    .body {
      color: colors.$neutral-600;
    }
  }

  .right-side {
    margin-left: auto;
  }

  .close-icon-container {
    margin-left: auto;

    .close-icon {
      cursor: pointer;
    }
  }

  .gating-tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding-top: 8px;
  }

  .actions-row {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;

    @include media_queries.smallInclusive {
      justify-content: center;

      .btn-border,
      .Button {
        width: 100% !important;
      }
    }
  }

  .footer {
    display: flex;
    margin-top: 16px;
    gap: 4px;

    .description {
      color: colors.$neutral-500;
    }
  }

  &.info {
    @include bannerTheme(
      colors.$primary-700,
      colors.$primary-25,
      colors.$primary-500
    );
  }

  &.success {
    @include bannerTheme(
      colors.$green-700,
      colors.$green-25,
      colors.$green-600
    );
  }

  &.warning {
    @include bannerTheme(
      colors.$yellow-700,
      colors.$yellow-25,
      colors.$yellow-600
    );
  }

  &.error {
    @include bannerTheme(
      colors.$rorange-600,
      colors.$rorange-25,
      colors.$rorange-500
    );

    .Button.primary {
      background-color: colors.$rorange-500;

      &:hover {
        background-color: colors.$rorange-400;
      }
    }
  }
}
