@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';

.HeaderLink {
  cursor: pointer;
  display: flex;
  max-width: 200px;
  align-items: center;
  background: colors.$neutral-100;
  border-radius: border_radius.$border-radius-rounded-corners;
  color: colors.$neutral-500;
  font-weight: 600;
  overflow: hidden;
  padding: 8px 16px;

  &:hover {
    background: colors.$neutral-200;
  }

  a:link,
  a:visited {
    color: colors.$purple-300;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  svg {
    color: colors.$purple-300;
    margin-left: 8px;
  }
}
