@import '../../../styles/shared.scss';

.ProposalSubheader {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .onchain-status-text.Text {
    &.pass {
      color: $green-600;
    }

    &.fail {
      color: $rorange-600;
    }
  }

  .proposal-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .proposal-buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
