@import '../../shared';

.ThreadPreviewReactionButton {
  align-items: center;
  border-radius: $border-radius-corners;
  border: 1px solid $neutral-300;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 54px;
  width: 40px;
  justify-content: center;
  margin-right: 1em;

  &.has-reacted {
    border-color: $primary-500;
    color: $primary-500;
  }

  &.disabled {
    border-color: $neutral-50;
    color: $neutral-500;
    pointer-events: none;
  }

  .reactions-container {
    display: flex;
    flex-direction: column;

    svg {
      margin: 4px auto 2px;
      fill:transparent;
    }

    .reactions-count {
      font-size: 14px;
      margin: 2px auto 4px;
    }
  }
}
