@import '../../shared';

.ThreadPreviewReactionButton {
  align-items: center;
  border-radius: $border-radius-corners-wider;
  border: 1px solid $neutral-300;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 4px 12px;
  width: fit-content;
  height: fit-content;
  justify-content: center;

  &.has-reacted {
    border-color: $primary-500;
    color: $primary-500;
  }

  &.disabled {
    border-color: $neutral-50;
    color: $neutral-500;
    pointer-events: none;
  }

  .reactions-container {
    display: flex;
    flex-direction: column;

    svg {
      margin: 4px auto 2px;
    }

    .reactions-count {
      font-size: 14px;
      margin: 2px auto 4px;
    }
  }
}