@import '../../../../../styles/shared';

.AdminContestsPage {
  .admin-header-row {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-bottom: 24px;

    @include extraSmall {
      align-items: center;
    }
  }

  .type-selection-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .empty-img {
      min-width: 50px;
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
