@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

.RadioPanel {
  display: flex;
  flex-direction: column;
  width: 292px;
  border: 1px solid colors.$neutral-200;
  border-radius: 6px;
  padding: 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: colors.$neutral-100;

    .Text {
      color: colors.$neutral-300;
    }
  }

  &.selected {
    background-color: colors.$primary-50;
    border-color: colors.$primary-500;
  }

  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .label {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .option-description {
    margin-left: 24px;
  }
}
