@import '../../../client/styles/mixins/colors-new.scss';

.Card {
  width: 160px;
  height: 148px;
  background: $white;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;

  .Swatch {
    display: grid;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 80px;
    color: $white;
    overflow: hidden;
  }

  .Text {
    padding: 16px;
    // display: flex;
    // flex-direction: column;

    .color-label{
      color: #101828;
    }
  
    .color-hex{
      color: #475467;
    }
  }

  .white { background-color: $white; color: $black; }
  .black { background-color: $black; font-weight: normal; }
  .neutral-25 { background-color: $neutral-25; color: $neutral-500; }
  .neutral-50 { background-color: $neutral-50; color: $neutral-500; }
  .neutral-100 { background-color: $neutral-100; color: $neutral-500; }
  .neutral-200 { background-color: $neutral-200; color: $neutral-500; }
  .neutral-300 { background-color: $neutral-300; color: $white; }
  .neutral-400 { background-color: $neutral-400; color: $white; }
  .neutral-500 { background-color: $neutral-500; color: $white; }
  .neutral-600 { background-color: $neutral-600; color: $white; }
  .neutral-700 { background-color: $neutral-700; color: $white; }
  .neutral-800 { background-color: $neutral-800; color: $white; }
  .neutral-900 { background-color: $neutral-900; color: $white; }
  .primary-25 { background-color: $primary-25; color: $primary-700; }
  .primary-50 { background-color: $primary-50; color: $primary-700; }
  .primary-100 { background-color: $primary-100; color: $primary-700; }
  .primary-200 { background-color: $primary-200; color: $primary-700; }
  .primary-300 { background-color: $primary-300; color: $white; }
  .primary-400 { background-color: $primary-400; color: $white; }
  .primary-500 { background-color: $primary-500; color: $white; }
  .primary-600 { background-color: $primary-600; color: $white; }
  .primary-700 { background-color: $primary-700; color: $white; }
  .primary-800 { background-color: $primary-800; color: $white; }
  .green-25 { background-color: $green-25; color: $green-700; }
  .green-50 { background-color: $green-50; color: $green-700; }
  .green-100 { background-color: $green-100; color: $green-700; }
  .green-200 { background-color: $green-200; color: $green-700; }
  .green-300 { background-color: $green-300; color: $white; }
  .green-400 { background-color: $green-400; color: $white; }
  .green-500 { background-color: $green-500; color: $white; }
  .green-600 { background-color: $green-600; color: $white; }
  .green-700 { background-color: $green-700; color: $white; }
  .green-800 { background-color: $green-800; color: $white; }
  .yellow-25 { background-color: $yellow-25; color: $yellow-700; }
  .yellow-50 { background-color: $yellow-50; color: $yellow-700; }
  .yellow-100 { background-color: $yellow-100; color: $yellow-700; }
  .yellow-200 { background-color: $yellow-200; color: $yellow-700; }
  .yellow-300 { background-color: $yellow-300; color: $white; }
  .yellow-400 { background-color: $yellow-400; color: $white; }
  .yellow-500 { background-color: $yellow-500; color: $white; }
  .yellow-600 { background-color: $yellow-600; color: $white; }
  .yellow-700 { background-color: $yellow-700; color: $white; }
  .yellow-800 { background-color: $yellow-800; color: $white; }
  .rorange-25 { background-color: $rorange-25; color: $rorange-700; }
  .rorange-50 { background-color: $rorange-50; color: $rorange-700; }
  .rorange-100 { background-color: $rorange-100; color: $rorange-700; }
  .rorange-200 { background-color: $rorange-200; color: $rorange-700; }
  .rorange-300 { background-color: $rorange-300; color: $white; }
  .rorange-400 { background-color: $rorange-400; color: $white; }
  .rorange-500 { background-color: $rorange-500; color: $white; }
  .rorange-600 { background-color: $rorange-600; color: $white; }
  .rorange-700 { background-color: $rorange-700; color: $white; }
  .rorange-800 { background-color: $rorange-800; color: $white; }
  .pink-25 { background-color: $pink-25; color: $pink-700; }
  .pink-50 { background-color: $pink-50; color: $pink-700; }
  .pink-100 { background-color: $pink-100; color: $pink-700; }
  .pink-200 { background-color: $pink-200; color: $pink-700; }
  .pink-300 { background-color: $pink-300; color: $white; }
  .pink-400 { background-color: $pink-400; color: $white; }
  .pink-500 { background-color: $pink-500; color: $white; }
  .pink-600 { background-color: $pink-600; color: $white; }
  .pink-700 { background-color: $pink-700; color: $white; }
  .pink-800 { background-color: $pink-800; color: $white; }
  .purple-25 { background-color: $purple-25; color: $purple-700; }
  .purple-50 { background-color: $purple-50; color: $purple-700; }
  .purple-100 { background-color: $purple-100; color: $purple-700; }
  .purple-200 { background-color: $purple-200; color: $purple-700; }
  .purple-300 { background-color: $purple-300; color: $white; }
  .purple-400 { background-color: $purple-400; color: $white; }
  .purple-500 { background-color: $purple-500; color: $white; }
  .purple-600 { background-color: $purple-600; color: $white; }
  .purple-700 { background-color: $purple-700; color: $white; }
  .purple-800 { background-color: $purple-800; color: $white; }
}
