@import '../../../client/styles/mixins/colors-new.scss';

.gallery {
  display: flex;
  flex-direction: column;
}

.item {
  width: 170px;
  height: 170px;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  // border-radius: 8px;
  // border: 1px solid #000;

  > .icon {
    text-align: center;
  }

  > .name {
    color: $neutral-500;
  }
}