@import '../../../client/styles/mixins/colors.scss';

.gallery {
  display: flex;
  flex-direction: column;
}

.item {
  width: 170px;
  height: 170px;
  margin: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid $neutral-500;

  > .icon {
    text-align: center;
  }

  > .name {
    color: $neutral-500;
  }
}

.input {
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 1px 3px 0px rgba(0,0,0,0.12);
  width: 250px;
  height: 22.88px;
  padding: 4px 12px;
  color: $neutral-600;
}

.input:focus {
  outline: none;
}