@import '../../../../../../styles/shared.scss';

.ModalSelectButton {
  display: flex;
  width: 100%;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid $neutral-200;
  cursor: pointer;
  background-color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: $neutral-100;
  }

  .left-side {
    .header {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .header-info {
      font-family: Silka, sans-serif;
    }

    .subheader {
      color: $neutral-500;
      margin-top: 2px;
    }
  }
}
