@import 'shared';

.LoginMobile {
  align-items: center;
  background-image: url('/static/img/login-background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .IconButton {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .walletList {
    margin-top: 224px;
    width: 368px;
  }

  .selectAccountType {
    margin-top: 144px;
    width: 328px;

    .account-creation-buttons-row {
      display: flex;
      flex-direction: row;
      gap: 8px;
      justify-content: center;
    }
  }
}
