@import '../../../../styles/shared';

.XPTable {
  .table-header {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }

  tr {
    td,
    th {
      &:first-of-type {
        width: 80px;
      }
    }
  }
}
