@import '../../../../styles/shared';

.XPTable {
  @include table-cell;

  @include smallInclusive {
    max-height: 300px;
    overflow: scroll;
  }

  .filters {
    margin-bottom: 16px;

    .quest-filter {
      display: flex;
      gap: 8px;
      align-items: center;

      .CWSelectList {
        width: 100%;
      }
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .table-cell {
    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: inherit;

      p {
        margin: 0;
      }
    }
  }

  tr {
    td,
    th {
      &:first-of-type {
        width: 80px;
      }
    }
  }

  .user-info {
    .TrustLevelRole {
      margin-left: 4px;
    }
  }

  .empty-rankings {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 240px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}
