@import '../../../../styles/shared.scss';

.AddressCreate {
  width: 256px;
}

.AddressDropdownTriggerButton {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  justify-content: center;
  border: 1px solid $neutral-200;
  background-color: $white;
  cursor: pointer;
  background-color: $neutral-100;

  font-size: 14px;
  font-weight: 700;

  width: 26px;
  height: 26px;

  &:hover {
    background-color: $neutral-50;
  }

  &.isOpen {
    background-color: $neutral-100;
  }

  &:focus {
    outline: none;
  }

  .caret-icon {
    fill: $neutral-500;
  }
}
