@import '../../../../styles/shared.scss';

.AddressList {
  display: flex;
  align-items: flex-start;
  padding: 2px 8px;
  border-radius: 6px;
  cursor: default;

  .icon-left {
    margin-right: 6px;
    fill: none;
  }

  .icon-right {
    margin-left: 4px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;

    .address-list {
      width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .address-item {
        width: 120px;
        background-color: $neutral-200;
        padding: 2px 8px;
        border-radius: 6px;
      }
    }
  }

  .label {
    color: $neutral-600;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 100%;
    letter-spacing: 0.2px;
    white-space: nowrap;
  }

  .address-label {
    color: $neutral-600;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}
