@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/media_queries';

.community-menu {
  background-color: colors.$neutral-25;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: shared.$sidebar-width;
  overflow-y: auto;
  width: shared.$sidebar-width;

  @include media_queries.isWindowSmallToMediumInclusive {
    width: calc(100vw - shared.$quick-switcher-width);
  }

  .home-button {
    align-items: center;
    display: flex;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: colors.$primary-50;
    }

    &.active {
      background-color: colors.$primary-100;
    }

    svg {
      margin-right: 4px;
    }
  }

  .buttons-container {
    margin-top: 24px;

    .subscription-button {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
