@import '../../shared';

.NewContractPage {
  width: 688px;
  margin: 16px auto;

  @include mediumSmallInclusive {
    width: calc(100% - 10%);
  }

  .header {
    margin: 32px 0 8px;
  }

  .subheader {
    margin-bottom: 20px;
  }

  .divider {
    margin: 40px 0 20px;
  }
}
