@use 'border_radius';
@use 'colors.module';
@use 'elevation';

@mixin iconAndText($color) {
  .Icon.button-icon {
    color: $color;
  }

  .Text.button-text {
    color: $color;
  }
}

@mixin disabled {
  box-shadow: none;
  pointer-events: none;

  @include iconAndText(colors.$neutral-300);
}

@mixin primaryRed {
  background-color: colors.$rorange-500;
  box-shadow: elevation.$elevation-1;

  @include iconAndText(colors.$white);

  &:hover {
    background-color: colors.$rorange-300;
    box-shadow: none;
  }

  &:active {
    background-color: colors.$rorange-200;
    box-shadow: none;

    @include iconAndText(colors.$rorange-300);
  }

  &.disabled {
    background-color: colors.$neutral-50;

    @include disabled;
  }
}

@mixin primaryBlue {
  background-color: colors.$primary-500;
  box-shadow: elevation.$elevation-1;

  @include iconAndText(colors.$white);

  &:hover {
    background-color: colors.$primary-300;
    box-shadow: none;
  }

  &:active {
    background-color: colors.$primary-200;
    box-shadow: none;

    @include iconAndText(colors.$primary-300);
  }

  &.disabled {
    background-color: colors.$neutral-50;

    @include disabled;
  }
}

@mixin primaryBlack {
  background-color: colors.$neutral-800;
  box-shadow: elevation.$elevation-1;

  @include iconAndText(colors.$white);

  &:hover {
    background-color: colors.$neutral-700;
    box-shadow: none;
  }

  &:active {
    background-color: colors.$neutral-600;
    box-shadow: none;

    @include iconAndText(colors.$neutral-100);
  }

  &.disabled {
    background-color: colors.$neutral-50;

    @include disabled;
  }
}

@mixin secondaryRed {
  background-color: colors.$white;
  border-color: colors.$rorange-500;

  @include iconAndText(colors.$rorange-500);

  &:hover {
    background-color: colors.$rorange-50;
    border-color: colors.$rorange-300;

    @include iconAndText(colors.$rorange-300);
  }

  &:active {
    background-color: colors.$rorange-100;
    border-color: colors.$rorange-200;

    @include iconAndText(colors.$rorange-200);
  }

  &.disabled {
    border-color: colors.$neutral-300;

    @include disabled;
  }
}

@mixin secondaryBlue {
  background-color: colors.$white;
  border-color: colors.$primary-500;

  @include iconAndText(colors.$primary-500);

  &:hover {
    background-color: colors.$primary-50;
    border-color: colors.$primary-300;

    @include iconAndText(colors.$primary-300);
  }

  &:active {
    background-color: colors.$primary-100;
    border-color: colors.$primary-200;

    @include iconAndText(colors.$primary-200);
  }

  &.disabled {
    border-color: colors.$neutral-300;

    @include disabled;
  }
}

@mixin secondaryBlack {
  background-color: colors.$white;
  border-color: colors.$neutral-800;

  @include iconAndText(colors.$neutral-800);

  &:hover {
    background-color: colors.$neutral-50;
    border-color: colors.$neutral-600;

    @include iconAndText(colors.$neutral-600);
  }

  &:active {
    background-color: colors.$neutral-100;
    border-color: colors.$neutral-400;

    @include iconAndText(colors.$neutral-400);
  }

  &.disabled {
    border-color: colors.$neutral-300;

    @include disabled;
  }
}

@mixin tertiaryBlue {
  background-color: transparent;

  @include iconAndText(colors.$primary-500);

  &:hover {
    @include iconAndText(colors.$primary-300);
  }

  &:active {
    @include iconAndText(colors.$primary-100);
  }

  &.disabled {
    @include disabled;
  }
}

@mixin tertiaryBlack {
  background-color: transparent;

  @include iconAndText(colors.$neutral-800);

  &:hover {
    @include iconAndText(colors.$neutral-600);
  }

  &:active {
    @include iconAndText(colors.$neutral-500);
  }

  &.disabled {
    @include disabled;
  }
}

@mixin primaryBlueDark {
  background-color: colors.$primary-500;
  box-shadow: elevation.$elevation-1;

  @include iconAndText(colors.$white);

  &:hover {
    background-color: colors.$primary-300;
    box-shadow: none;
  }

  &:active {
    background-color: colors.$primary-200;
    box-shadow: none;

    @include iconAndText(colors.$primary-300);
  }

  &.disabled {
    background-color: colors.$neutral-700;
    box-shadow: none;
    pointer-events: none;

    @include iconAndText(colors.$neutral-500);
  }
}

@mixin secondaryBlueDark {
  background-color: transparent;
  border-color: colors.$primary-200;

  @include iconAndText(colors.$primary-200);

  &:hover {
    background-color: colors.$primary-50;
    border-color: colors.$primary-300;

    @include iconAndText(colors.$primary-300);
  }

  &:active {
    background-color: colors.$primary-100;
    border-color: colors.$primary-200;

    @include iconAndText(colors.$primary-200);
  }

  &.disabled {
    background-color: transparent;
    border-color: colors.$neutral-600;
    box-shadow: none;
    pointer-events: none;

    @include iconAndText(colors.$neutral-600);
  }
}

@mixin miniBlack {
  align-items: center;
  padding: 4px 12px;
  background: colors.$neutral-800;
  border-radius: border_radius.$border-radius-rounded-corners;
  box-shadow: elevation.$elevation-1;

  &:hover {
    background: colors.$neutral-700;
  }

  &:active {
    background: colors.$neutral-400;
    box-shadow: none;
  }

  &.disabled {
    background: colors.$neutral-200;
    box-shadow: none;
    pointer-events: none;
  }

  @include iconAndText(colors.$white);
}

@mixin miniWhite {
  align-items: center;
  padding: 4px 12px;
  background: colors.$white;
  border: 1px solid colors.$neutral-300;
  border-radius: border_radius.$border-radius-rounded-corners;

  &:hover {
    border-color: colors.$primary-200;
  }

  &:active {
    border-color: colors.$primary-500;
  }

  &.disabled {
    background: colors.$neutral-50;
    border: 1px solid colors.$neutral-100;
    pointer-events: none;

    @include iconAndText(colors.$neutral-300);
  }

  @include iconAndText(colors.$neutral-800);
}

@mixin miniRed {
  align-items: center;
  padding: 4px 12px;
  background: colors.$white;
  border: 1px solid colors.$rorange-600;
  border-radius: border_radius.$border-radius-rounded-corners;

  &:hover {
    border-color: colors.$rorange-500;
  }

  &:active {
    border-color: colors.$rorange-300;
  }

  &.disabled {
    border: 1px solid colors.$rorange-200;
    pointer-events: none;

    @include iconAndText(colors.$rorange-200);
  }

  @include iconAndText(colors.$rorange-600);
}
