@use 'colors.module';

@mixin hideInput {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

@mixin controlStyles {
  border: 2px solid colors.$neutral-400;
  width: 15px;
  height: 15px;
  margin: 8px 8px 8px 0px;
  position: relative;
  flex-shrink: 0;
}

@mixin hoverColors {
  background-color: colors.$primary-50;
  border-color: colors.$primary-300;
}

@mixin checkedColors {
  background-color: colors.$primary-50;
  border-color: colors.$primary-500;
}

@mixin checkedHoverColors {
  background-color: colors.$primary-100;
  border-color: colors.$primary-600;
}

@mixin disabledColors {
  background-color: colors.$neutral-200;
  border-color: colors.$neutral-300;
}
