$xxs-icon: 9px;
$xs-icon: 12px;
$small-icon: 16px;
$regular-icon: 20px;
$medium-icon: 24px;
$large-icon: 32px;
$header-icon: 36px;
$xl-icon: 48px;
$xxl-icon: 60px;

@mixin baseIconStyles {
  fill: currentColor;
  flex-shrink: 0;
  height: 1em;
  width: 1em;

  &.xxs {
    font-size: $xxs-icon;
  }

  &.xs {
    font-size: $xs-icon;
  }

  &.small {
    font-size: $small-icon;
  }

  &.regular {
    font-size: $regular-icon;
  }

  &.medium {
    font-size: $medium-icon;
  }

  &.large {
    font-size: $large-icon;
  }

  &.header {
    font-size: $header-icon;
  }

  &.xl {
    font-size: $xl-icon;
  }

  &.xxl {
    font-size: $xxl-icon;
  }
}
