@use 'border_radius';
@use 'colors.module';
@use 'text';

@mixin inputStyles {
  background-color: colors.$white;
  border-radius: 4px;
  border: 1px solid colors.$neutral-200;
  color: colors.$neutral-800;
  @include text.b2;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-feature-settings:
    'tnum' on,
    'lnum' on;

  &::placeholder {
    color: colors.$neutral-500;
  }

  &:hover {
    border-color: colors.$primary-600;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: colors.$primary-500 !important;
    box-shadow:
      0px 2px 2px -1px rgba(0, 0, 0, 0.12),
      0px 0px 0px 3px colors.$primary-100 !important;

    &::placeholder {
      color: colors.$neutral-500;
    }
  }

  &:not(:focus-within) {
    &.success {
      border-color: colors.$green-500;
      background-color: colors.$green-50;
    }

    &.failure {
      border-color: colors.$rorange-600 !important;
      background-color: colors.$white !important;
    }
  }

  &.disabled {
    background-color: colors.$neutral-50;
    border-color: colors.$neutral-200;
    color: colors.$neutral-400;
    cursor: not-allowed;

    &::placeholder {
      color: colors.$neutral-400;
    }

    &:hover {
      border-color: colors.$neutral-200;
    }
  }

  &.displayOnly {
    background-color: colors.$neutral-25;
    border-color: colors.$neutral-200;
    color: colors.$neutral-600;

    &::placeholder {
      color: colors.$neutral-500;
    }
  }
}

@mixin darkModeInputStyles {
  background-color: colors.$neutral-600;
  border: 1px solid colors.$neutral-600;
  border-radius: border_radius.$border-radius-corners;
  color: colors.$neutral-50;

  &::placeholder {
    color: colors.$neutral-500;
  }

  &:focus {
    outline: none;
  }

  &:focus-within {
    border-color: colors.$primary-300;

    &::placeholder {
      color: colors.$neutral-500;
    }
  }

  &.isTyping {
    border-color: colors.$primary-200;
  }

  &.success {
    border-color: colors.$green-500;
    background-color: colors.$green-50;
    color: colors.$neutral-800;
  }

  &.failure {
    border-color: colors.$rorange-500;
    background-color: colors.$rorange-50;
    color: colors.$neutral-800;
  }

  &.disabled {
    background-color: colors.$neutral-200;
    border-color: colors.$neutral-200;
    color: colors.$white;
    cursor: not-allowed;

    &::placeholder {
      color: colors.$white;
    }
  }
}
