@use 'mixins/buttons';
@use 'mixins/media_queries';
@use 'mixins/breakpoints.module';
@use 'mixins/elevation';
@use 'mixins/colors.module';
@use 'mixins/border_radius';
@use 'mixins/choice';
@use 'mixins/inputs';
@use 'mixins/icons';
@use 'mixins/text';
@use 'mixins/table';
@use 'utils';

@forward 'variables';

@mixin visibleScrollbar($theme) {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    height: 88px;
    width: 8px;
  }

  @if $theme ==light {
    &::-webkit-scrollbar-track {
      background: colors.$neutral-50;
      border-radius: border_radius.$border-radius-corners;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: border_radius.$border-radius-corners;
      background-color: colors.$neutral-200;
    }
  } @else if $theme ==dark {
    &::-webkit-scrollbar-track {
      background: colors.$neutral-700;
      border-radius: border_radius.$border-radius-corners;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: border_radius.$border-radius-corners;
      background-color: colors.$neutral-500;
    }
  }
}

@mixin contentPadding {
  padding: 56px;

  @include media_queries.medium {
    padding: 40px;
  }

  @include media_queries.mediumSmall {
    padding: 32px;
  }

  @include media_queries.smallInclusive {
    padding: 16px;
  }
}

@mixin flame($size: medium) {
  @if $size ==small {
    .flame::after {
      content: '\1F525';
      display: block;
      font-size: 14px;
    }
  } @else if $size ==medium {
    .flame::after {
      content: '\1F525';
      display: block;
      font-size: 22px;
    }
  } @else if $size ==large {
    .flame::after {
      content: '\1F525';
      display: block;
      font-size: 30px;
    }
  }
}
