.CWModalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 24px 24px;
  gap: 8px;

  &.proposal-modal {
    display: flex;
    justify-content: space-between;

    .left-buttons {
      display: flex;
      align-items: start;
    }
    .right-buttons {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
