@import "client/styles/shared";

section.ChainsCrowdfunding {
  padding-top: 5rem;
  .ChainsCrowdfundingButton {
    a.btn-outline.text-xl.rounded-lg.pb-2.pt-3.px-3 {
      color: $text-color-black;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        // text-decoration: underline;
      }
    }
  }
}
