@import "client/styles/shared";

.LandingPageHeaderLinks {
  a.text-gray-500.leading-none {
    color: $text-color-black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: $background-color-black-hover;
    }
  }
}

li.LandingPageHeaderLoginButton.ml-10.pt-2 {
  a.btn-primary.pb-3.text-white {
    color: $text-color-white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: $background-color-black-hover;
    }
  }
}

.header-hidden {
  top: -100px;
}
