@import "client/styles/shared";

.TokensCreatorsUseCaseButton.text-center.hidden.mb-20 {
  a.btn-outline.text-xl.rounded-lg.pb-2.pt-3.px-3 {
    color: $text-color-black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6
    }
  }
}

div.TokensCreatorsText {
  &:hover {
    background: $background-color-black-hover;
  }
}

img.TokensCreatorsImage {
  margin-left: 3rem;
  margin-top: 1rem;

  @media (max-width: 1000px) {
    margin-left: 0rem;
  }
}