@import "client/styles/shared";

.TokensCreatorsButton.text-center.hidden.mb-20 {
  a.btn-outline {
    color: $text-color-black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
