@import '../../../../styles/shared.scss';

.ProfileHeader {
  border: 1px solid $neutral-200;
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  flex: 1;
  background-color: $white;
  margin: 0;

  @include smallInclusive {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .edit {
    display: flex;
    justify-content: flex-end;
  }

  .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    img {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-name-and-bio {
    display: flex;
    flex-direction: column;

    .btn-border {
      margin-inline: auto;
      .referral-link-button {
        margin-inline: auto;

        .Text {
          font-weight: 400 !important;
        }
      }
    }

    .bio {
      margin-top: 16px;
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .buttons {
      display: flex;
      justify-content: center;

      &.hasMargin {
        margin-bottom: 24px;
      }

      > :not(last-child) {
        margin-right: 8px;
      }
    }

    .name {
      justify-content: center;
      word-break: break-word;
      text-align: center;

      &.hasMargin {
        margin-bottom: 24px;
      }
    }

    .read-more {
      margin: 8px 0;
      color: $primary-500;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
