@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/media_queries';

.ProfileHeader {
  border: 1px solid colors.$neutral-200;
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  flex: 1;
  background-color: colors.$white;
  margin: 0;

  @include media_queries.smallInclusive {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .edit {
    display: flex;
    justify-content: flex-end;
  }

  .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    img {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-name-and-bio {
    display: flex;
    flex-direction: column;

    .btn-border {
      margin-inline: auto;
      .referral-link-button {
        margin-inline: auto;

        .Text {
          font-weight: 400 !important;
        }
      }
    }

    .bio {
      margin-top: 16px;
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .buttons {
      display: flex;
      justify-content: center;

      &.hasMargin {
        margin-bottom: 24px;
      }

      > :not(last-child) {
        margin-right: 8px;
      }
    }

    .name {
      justify-content: center;
      word-break: break-word;
      text-align: center;
      display: inline-block;

      &.hasMargin {
        margin-bottom: 24px;
      }

      .TrustLevelRole {
        margin-left: 8px;
      }
    }

    .read-more {
      margin: 8px 0;
      color: colors.$primary-500;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-stats {
    border-top: 1px solid colors.$neutral-200;

    .stats-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 16px;

      .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .stat-value {
          color: colors.$neutral-800;
          font-weight: 600;
        }

        .stat-label {
          color: colors.$neutral-500;
          margin-top: 4px;
        }
      }
    }
  }

  .mutual-connections {
    display: flex;
    align-items: center;
    margin: 16px 0;

    .mutual-icons {
      display: flex;
      align-items: center;

      .mutual-community-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -10px;
        border: 2px solid colors.$white;
        box-shadow: 0 0 0 1px colors.$neutral-100;
        background: colors.$white;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
