@import '../../../../../styles/shared';

.MembersSection {
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding-right: 0px;

  table {
    width: 100%;
    @include table-cell;

    .table-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .Button.secondary {
      .Text.button-text {
        color: red;
      }
    }
  }

  .group-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
    background-color: $neutral-200;
    border-radius: 5px;
    padding: 2px 8px 2px 8px;
  }

  .group-image {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
  }
}
