@import '../../../../../styles/shared';

.MembersSection {
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding-right: 0px;

  table {
    width: 100%;
    @include table-cell;
  }
}
