.WebhooksForm {
  .cui-list-item {
    margin-bottom: 16px;
    padding: 0;

    .cui-list-item-content-left .webhook-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      padding: 0;

      .url {
        font-size: 19px;
        margin-bottom: 8px;
      }

      .label-and-tags {
        align-items: center;
        display: flex;
        flex-direction: row;

        .settings-button {
          height: 32px;
          line-height: 32px;
          min-height: 32px;
          padding: 0;
          width: 32px;
        }

        > * {
          margin-right: 8px;
        }
      }
    }

    .cui-list-item-content-right {
      svg {
        cursor: pointer;
      }
    }
  }

  .cui-form-group {
    margin-bottom: 16px;

    .cui-input {
      margin-bottom: 16px;
    }
  }
}
