.WebhooksForm {
  .cui-list-item {
    padding: 0;

    .cui-list-item-content-left {
      padding: 0;
    }
  }

  .cui-form-group {
    margin-bottom: 16px;

    .cui-input {
      margin-bottom: 16px;
    }
  }
}
