@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/icons';

.CommunityAvatar {
  align-items: center;
  border-radius: border_radius.$border-radius-round;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;

  .community-image {
    width: 100%;
    height: 100%;
  }

  &.onClick {
    cursor: pointer;
  }

  &.small {
    height: icons.$small-icon;
    width: icons.$small-icon;
  }

  &.regular {
    height: icons.$regular-icon;
    width: icons.$regular-icon;
  }

  &.medium {
    height: icons.$medium-icon;
    width: icons.$medium-icon;
  }

  &.large {
    height: icons.$large-icon;
    width: icons.$large-icon;
  }

  &.xl {
    height: icons.$xl-icon;
    width: icons.$xl-icon;
  }

  &.xxl {
    height: icons.$xxl-icon;
    width: icons.$xxl-icon;
  }

  .no-image {
    align-items: center;
    background: colors.$neutral-800;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-bottom: 2px;
    width: 100%;

    &.xl,
    &.xxl {
      padding: 0;
    }

    .avatar-no-image-letter.Text {
      color: colors.$white;
    }
  }
}
