@import '../../../styles/shared.scss';

$default-card-width: 260px;
$default-card-height: 100px;

.Card {
  align-items: flex-start;
  background: $white;
  border-radius: $border-radius-corners;
  border: 1px solid $neutral-100;
  display: flex;
  flex-direction: column;
  min-height: $default-card-height;
  padding: 16px;
  width: $default-card-width;

  &.interactive {
    cursor: pointer;
  }

  &.fullWidth {
    width: 100%;
  }

  &.elevation-1 {
    box-shadow: $elevation-1;

    &.interactive {
      &:hover {
        box-shadow: $elevation-3;
      }
    }
  }

  &.elevation-2 {
    box-shadow: $elevation-2;

    &.interactive {
      &:hover {
        box-shadow: $elevation-4;
      }
    }
  }

  &.elevation-3 {
    box-shadow: $elevation-3;

    &.interactive {
      &:hover {
        box-shadow: $elevation-5;
      }
    }
  }

  &.elevation-4 {
    box-shadow: $elevation-4;
  }

  &.elevation-5 {
    box-shadow: $elevation-5;
  }

  &.interactive {
    &:hover {
      box-shadow: $elevation-1;
    }
  }
}
