@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/elevation';

.dropdown-wrapper {
  position: relative;

  .dropdown-options-display {
    background-color: colors.$white;
    border-radius: border_radius.$border-radius-corners;
    box-shadow: elevation.$elevation-3;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1001;

    .dropdown-item {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 4px;
      padding: 8px 16px;
      user-select: none;

      .dropdown-item-text.Text {
        color: colors.$neutral-600;
      }

      &:hover {
        background-color: colors.$neutral-50;
      }

      &:active {
        background-color: colors.$neutral-100;
      }

      &.disabled {
        background-color: colors.$neutral-50;
        pointer-events: none;

        .dropdown-item-text.Text {
          color: colors.$neutral-500;
        }
      }
    }
  }
}
