@import '../../../../styles/shared.scss';

.EmptyState {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  .inner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px;
    max-width: 400px;
    text-align: center;
  }
}
