@import '../../styles/shared.scss';

$growl-outside-bottom-padding: 16px;
$growl-outside-left-padding: 16px;
$growl-outside-right-padding: 32px; // accounts for scrollbar width

.Growl {
  bottom: $growl-outside-bottom-padding;
  display: flex;
  position: fixed;
  max-width: 400px;
  @include smallInclusive {
    max-width: 320px;
    max-height: 100%;
  }

  &.bottom-left {
    left: $growl-outside-left-padding;
  }

  &.bottom-right {
    right: $growl-outside-right-padding;
  }
  &.center {
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    bottom: auto;
    right: auto;
  }

  .growl-card.Card {
    padding: 0;
    width: 300px;
  }

  z-index: 1001;
}
