@import '../../../styles/shared.scss';

.IconButton {
  @include baseIconStyles;

  &.black {
    cursor: pointer;
    color: $neutral-800;

    &:hover {
      color: $neutral-900;
    }

    &:active {
      color: $neutral-600;
    }

    &.selected {
      color: $neutral-600;
    }
  }

  &.neutral {
    color: $neutral-500;
    cursor: pointer;

    &:hover {
      color: $neutral-600;
    }

    &:active {
      color: $neutral-800;
    }

    &.selected {
      color: $neutral-800;
    }
  }

  &.primary {
    color: $primary-200;
    cursor: pointer;

    &:hover {
      color: $primary-400;
    }

    &:active {
      color: $primary-500;
    }

    &.selected {
      color: $primary-500;
    }
  }

  &.hasBackground {
    border-radius: $border-radius-corners;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $neutral-700;
      color: $neutral-300;
    }
  }

  &.disabled {
    color: $neutral-200;
    pointer-events: none;
  }
}
