@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/icons';

.IconButton {
  @include icons.baseIconStyles;

  &.black {
    cursor: pointer;
    color: colors.$neutral-800;

    &:hover {
      color: colors.$neutral-900;
    }

    &:active {
      color: colors.$neutral-600;
    }

    &.selected {
      color: colors.$neutral-600;
    }
  }

  &.neutral {
    color: colors.$neutral-500;
    cursor: pointer;

    &:hover {
      color: colors.$neutral-600;
    }

    &:active {
      color: colors.$neutral-800;
    }

    &.selected {
      color: colors.$neutral-800;
    }
  }

  &.primary {
    color: colors.$primary-200;
    cursor: pointer;

    &:hover {
      color: colors.$primary-400;
    }

    &:active {
      color: colors.$primary-500;
    }

    &.selected {
      color: colors.$primary-500;
    }
  }

  &.hasBackground {
    border-radius: border_radius.$border-radius-corners;
    color: colors.$white;
    cursor: pointer;

    &:hover {
      background-color: colors.$neutral-700;
      color: colors.$neutral-300;
    }
  }

  &.disabled {
    color: colors.$neutral-200;
    pointer-events: none;
  }
}
