@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/choice';
@use '../../../styles/mixins/colors.module';

@mixin radioCore($color) {
  display: grid;
  place-content: center;

  &::after {
    color: $color;
    content: '';
    width: 6px;
    height: 6px;
    box-shadow: inset 12px 12px;
    clip-path: circle(50%);
  }
}

.RadioButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  .radio-input {
    @include choice.hideInput;
  }

  .radio-control {
    @include choice.controlStyles;

    border-radius: border_radius.$border-radius-round;
  }

  &:hover .radio-control {
    @include radioCore(colors.$primary-200);
    @include choice.hoverColors;
  }

  &.checked .radio-control {
    @include radioCore(colors.$primary-500);
    @include choice.checkedColors;
  }

  &.checked:hover .radio-control {
    @include radioCore(colors.$primary-600);
    @include choice.checkedHoverColors;
  }

  &.checked.disabled .radio-control {
    @include radioCore(colors.$neutral-300);
    @include choice.disabledColors;
  }

  &.disabled {
    cursor: not-allowed;

    .radio-control {
      // same color as background, so it's invisble on hover
      @include radioCore(colors.$neutral-200);
      @include choice.disabledColors;
    }
  }
}
