@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.ValidationText.Text {
  margin-top: 4px;

  &.success {
    color: colors.$green-600;
  }

  &.failure {
    color: colors.$rorange-500;
  }
}
