@import '../../../../styles/shared.scss';

.ThreadActionPopover {
  cursor: pointer;
  .left-container {
    display: flex;
    align-items: center;
    padding-top: 2px;
    justify-content: center;
    align-items: center;
  }
  .left-container svg {
    color: $neutral-500;
    height: 16px;
    width: 16px;
  }

  .left-container .Text {
    color: $neutral-500;
  }
}
.ThreadActionPopoverPopover {
  width: 248px;
  padding: 0px !important;
}
