@import '../../../../../../styles/shared.scss';

.TokenInformationFormStep {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 596px;

  @include extraSmall {
    gap: 16px;
  }

  .grid-row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @include extraSmall {
      grid-template-columns: 1fr;
    }
  }

  .optional-label {
    font-family: $font-family-silka;
    color: $neutral-500;
    margin-left: 6px;
    margin-top: auto;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 10px;

    @include smallInclusive {
      justify-content: flex-end;
    }
  }
}
