@use '../../../styles/shared';
@use '../../../styles/mixins/media_queries';

.PageCounter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  .counter {
    min-width: 40px;
    text-align: center;

    @include media_queries.smallInclusive {
      min-width: 30px;
    }
  }

  @include media_queries.smallInclusive {
    gap: 4px;
  }
}
