@import '../../../styles/shared';

.PageCounter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;

  .counter {
    min-width: 40px;
    text-align: center;

    @include smallInclusive {
      min-width: 30px;
    }
  }

  @include smallInclusive {
    gap: 4px;
  }
}
