@import '../../shared';

.SubscriptionRowTextContainer {
  display: flex;

  .Icon {
    margin-top: 2px;
  }

  .title-and-body-container {
    display: grid;
    flex-direction: column;
    padding: 0 32px 0 16px;

    @include extraSmall {
      padding: 0 16px;
    }

    .thread-title-text.Text {
      width: 320px;

      @include mediumSmallInclusive {
        width: 200px;
      }

      @include extraSmall {
        width: 120px;
      }
    }

    .header-row {
      align-items: baseline;
      cursor: pointer;
      display: flex;
      gap: 4px;

      &:hover {
        text-decoration: underline;
      }

      .attribution-text.Text {
        color: $neutral-600;
      }
    }

    .subscription-body-text.Text {
      color: $neutral-600;
      font-size: 14px;
    }
  }
}
