.WalletFundsModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.WalletFundsContent {
  .fund-options {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
