@import '../../../../styles/shared';

.ActiveContestList {
  margin: 16px 0;

  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .see-all-link {
      cursor: pointer;
      color: $primary-500;
      text-decoration: none;

      &:focus,
      &:active,
      &:hover,
      &:visited {
        outline: none;
        text-decoration: none;
      }
    }

    .link-right {
      display: flex;
      gap: 4px;
    }
  }

  .content {
    display: flex;
    gap: 15px;
    justify-content: start;
    margin: 10px 0;
    overflow-x: auto;

    .ContestCard {
      width: 335px;

      .contest-image {
        max-height: 160px;
      }

      .header-row {
        flex-direction: column;
        align-items: start;

        .CWCountDownTimer {
          margin-left: 0;
        }
      }
    }
  }

  .empty-contests {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
