@use '../../../styles/shared';
@use '../../../styles/mixins/colors.module';

.FeatureHint {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title-row {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    svg {
      fill: colors.$yellow-400;
    }

    .Text {
      color: colors.$neutral-600;
    }
  }

  .hint {
    color: colors.$neutral-500;
  }
}
