@import '../../../../styles/shared';

.FeatureHint {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title-row {
    display: flex;
    gap: 4px;

    svg {
      fill: $yellow-400;
    }

    .Text {
      color: $neutral-600;
    }
  }

  .hint {
    color: $neutral-500;
  }
}
