.KnockNotifications svg {
  color: rgb(117, 117, 117);
  fill: rgb(255, 255, 255) !important;
}

.KnockNotifications .rnf-notification-feed__knock-branding {
  display: none;
}

.KnockNotifications .rnf-notification-feed__knock-branding {
  display: none;
}

.KnockNotifications .rnf-notification-feed-popover__inner img {
  max-width: 350px;
}

.KnockNotifications button:focus,
.KnockNotifications select:focus {
  outline: none;
}
