@import 'client/styles/shared';

.CollectivesPage {
  .stats-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px 20px 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  .new-button-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      width: 250px;
    }
  }
}
