@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/media_queries';

.FundContestDrawer {
  .Drawer {
    padding-bottom: 0;
  }

  .fund-contest-drawer-container {
    padding: 20px 56px 0 56px;
    height: calc(100% - 52px);

    @include media_queries.extraSmall {
      padding: 0 36px;
    }
  }
}
