@import 'shared';

.SearchPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  width: 100%;

  .search-results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    width: 796px;

    @include smallInclusive {
      width: 100%;
    }

    .TabBar {
      justify-content: center;
    }

    .search-results-caption.Text {
      color: $neutral-500;

      .search-all-communities {
        margin-left: 8px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .search-results-filters {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 8px;
    }

    .search-results-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .search-result-row {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 8px;
        padding: 16px;

        &:hover {
          background-color: $neutral-50;
        }

        .inner-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
          width: calc(100% - 32px);

          .thread-header.Text {
            color: $neutral-500;
          }

          .search-results-thread-subtitle {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .User {
              align-items: center;
              color: $neutral-500;
              display: flex;
            }

            .created-at.Text {
              color: $neutral-500;
            }
          }
        }
      }

      .community-result-row {
        cursor: pointer;
        padding: 8px;
        width: 100%;

        &:hover {
          background-color: $neutral-50;
        }
      }

      .member-result-row {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 8px;
        padding: 16px;
        width: 100%;

        &:hover {
          background-color: $neutral-50;
        }

        .User {
          align-items: center;
          display: flex;

          .user-avatar {
            position: unset;
          }
        }
      }
    }
  }
}
