@import '../../shared';

@mixin searchRowStyles {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 16px;

  &:hover {
    background-color: $neutral-50;
  }
}

@mixin searchRowStyles {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 16px;

  &:hover {
    background-color: $neutral-50;
  }
}

.SearchPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  overflow-y: scroll;

  .search-results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 796px;
    padding-top: 16px;

    @include smallInclusive {
      width: 100%;
    }

    .search-results-caption.Text {
      color: $neutral-500;

      .search-all-communities {
        margin-left: 8px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .search-results-filters {
      display: flex;
      align-items: baseline;
      gap: 8px;
    }

    .search-results-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .search-result-row {
        @include searchRowStyles;

        .inner-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
          width: calc(100% - 32px);

          .thread-header.Text {
            color: $neutral-500;
          }

          .search-results-thread-title {
            display: inline; // fix child span/mark spacing
          }

          .search-results-thread-subtitle {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .User {
              align-items: center;
              color: $neutral-500;
              display: flex;
            }

            .created-at.Text {
              color: $neutral-500;
            }
          }
        }
      }

      .community-result-row {
        @include searchRowStyles;
      }

      .member-result-row {
        @include searchRowStyles;

        .User {
          align-items: center;
          display: flex;

          .user-avatar {
            position: unset;
          }
        }
      }
    }
  }
}
