@import '../../shared';

.SearchChip {
  background-color: $neutral-50;
  border-radius: $border-radius-corners;
  color: $neutral-500;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;

  &.isActive {
    background-color: $neutral-100;
    color: $neutral-600;
  }
}

@mixin everyRowStyles {
  cursor: pointer;
  padding: 8px;

  &:hover {
    background-color: $neutral-100;
    border-radius: 6px;
  }
}

.SearchBarThreadPreviewRow {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include everyRowStyles;

  .header-row {
    align-items: center;
    display: flex;
    gap: 8px;

    .User {
      align-items: center;
      display: flex;

      .user-avatar {
        position: unset;
      }

      .username {
        @include caption;

        font-weight: 500;
      }
    }

    .last-updated-text.Text {
      color: $neutral-500;
    }
  }

  .excerpt-text.Text {
    color: $neutral-600;
  }
}

.SearchBarCommentPreviewRow {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include everyRowStyles;

  .last-updated-text.Text {
    color: $neutral-500;
  }

  .excerpt-text.Text {
    color: $neutral-600;
  }
}

.SearchBarCommunityPreviewRow {
  @include everyRowStyles;
}

.SearchBarMemberPreviewRow {
  @include everyRowStyles;
}

.SearchQuillRenderer {
  max-height: 66px;
  overflow-y: hidden;
}
