@import 'shared';

.SearchChip {
  background-color: $neutral-50;
  border-radius: $border-radius-corners;
  color: $neutral-500;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;

  &.isActive {
    background-color: $neutral-100;
    color: $neutral-600;
  }
}

.SearchBar {
  width: 608px;

  .search-and-icon-container {
    position: relative;

    input {
      @include b1;

      border: 1px solid $neutral-300;
      border-radius: $border-radius-rounded-corners;
      color: $neutral-800;
      height: 40px;
      padding: 8px 48px 8px 16px;
      width: 100%;

      &::placeholder {
        color: $neutral-500;
      }

      &:focus {
        outline: none;
      }

      &:focus-within {
        border-color: $primary-500;
      }
    }

    .searchbar-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    .search-results-dropdown {
      background-color: $white;
      border-radius: 0 0 $border-radius-corners $border-radius-corners;
      box-shadow: $elevation-3;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;
      overflow: hidden;
      padding: 16px;
      position: absolute;
      user-select: none;
      width: 100%;
      z-index: 1001;

      .chips-row {
        display: flex;
        gap: 8px;
      }

      .history-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
