@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.TermsOfServicesStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 16px;
  overflow-y: scroll;

  .h4 {
    color: colors.$neutral-600;

    .b1 {
      color: colors.$neutral-500;
    }
  }
  .logo {
    height: auto;
    margin: auto;
    width: 227px;

    @include media_queries.extraSmall {
      width: 175px;
    }
  }
  .terms-container {
    width: 100%;
    max-height: 300px;
    border: 1px solid #e0dfe1;
    border-radius: 6px;
    overflow: auto;
    @include media_queries.extraSmall {
      height: 60vh;
      max-height: 60vh;
    }
  }

  .notification-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .terms-footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .primary {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: colors.$primary-600 !important;
    }
    .footer {
      display: block;

      a,
      a:visited,
      a:active,
      a:hover {
        color: colors.$primary-600;
      }
    }
    .button-container {
      display: flex;
      gap: 8px;
    }
    @include media_queries.heightSmallInclusive {
      .Text {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
