@import '../../../../../styles/shared';

.EmailForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 0 4px;

  .LoadingSpinner {
    margin: auto;
  }

  .action-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .btn-border {
      margin: 0 !important;

      @include extraSmall {
        width: 100% !important;

        button {
          width: 100% !important;
        }
      }

      &:focus-within {
        border-width: 1px !important;
        padding: 0px !important;
      }
    }
  }
}
