@import '../../../../../styles/shared';

.CommunitySelector {
  display: flex;
  max-width: 774px;
  width: 100%;
  padding: 24px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid $neutral-300;
  background-color: $white;
  cursor: pointer;
  transition:
    border,
    background-color 0.3s;

  &.active {
    border-color: $primary-500;
    background-color: $primary-50;
  }

  &:hover {
    border: 1px solid $neutral-200;
    background-color: $neutral-100;
  }
  .radio-button {
    width: fit-content;
    min-width: 24px !important;
  }

  .chain-logo-container {
    img {
      width: 48px;
      height: 48px;
    }
  }
  .content-container {
    .title-row {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    .description {
      color: $neutral-500;
      margin-top: 8px;
    }
  }

  @include extraSmall {
    flex-direction: column;
    align-items: start;

    &.withRadio {
      padding: 16px 12px;
      gap: 8px;
      flex-direction: row !important;
      align-items: center !important;

      .chain-logo-container {
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
