@import '../shared';

.AdminPanel {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: 44px;
  gap: 32px;

  .TaskGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .TaskRow {
      display: flex;
      flex-direction: row;
      gap: 44px;
      align-items: flex-end;
      max-width: 600px;

      .Downloading {
        display: flex;
        width: 250px;
        align-items: center;
        height: 100%;
      }
    }
  }

  .MultiRow {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .Analytics {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .AnalyticsSection {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .Row {
        display: flex;
        gap: 8px;
        align-items: center;
        max-width: 600px;
      }

      .AnalyticsList {
        display: flex;
        gap: 4px;
        overflow-y: scroll;
        max-height: 200px;
        max-width: 600px;
        flex-direction: column;
        border: 1px solid $neutral-300;
        border-radius: 4px;

        .CommunityName {
          width: 100%;
          cursor: pointer;
          padding: 4px;

          &:hover {
            background-color: $neutral-100;
          }
        }
      }

      .Stats {
        display: flex;
        max-width: 600px;
        flex-wrap: wrap;
        border: 1px solid $neutral-300;
        border-radius: 4px;
        gap: 8px;
        padding: 8px;

        .Stat {
          flex: 1 0 200px; /* Adjust to your preference */

          .StatValue {
            color: $neutral-500;
          }
        }
      }
    }
  }
}
