@import 'shared';

.AdminPage {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .admin-column {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
