@import 'shared';

.BountiesPage {
  flex: 1;
  padding: 24px;
  width: 100%;

  .BountyDetail {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .bounty-info-container {
      display: flex;
      flex-direction: column;

      .bounty-info-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .action-info-row {
        display: flex;
        gap: 4px;
      }
    }
  }
}
