@import '../shared';

.CommunitiesPage {
  display: flex;
  flex: 1;
  flex-direction: column;

  .header-section {
    display: flex;
    flex-direction: column;

    gap: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;

    .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .communities-count {
          color: $neutral-500;
          height: fit-content;
        }

        .CreateCommunityButton {
          padding: 0 0 0 16px;
        }
      }
    }

    .filters {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      @include extraSmall {
        gap: 12px;
      }

      .Divider {
        height: 40px;
      }
    }
  }

  .communities-list {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(auto-fit, 506px);
    justify-content: center;
    padding-top: 24px;

    @include mediumSmall {
      grid-template-columns: 1fr 1fr;
    }

    @include extraSmall {
      grid-template-columns: 1fr;
    }
  }
}
