@import '../shared';

.CommunitiesPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;

  .header-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    .description {
      .actions {
        width: 100%;
      }
    }
  }

  .communities-list {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    padding-top: 24px;
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include extraSmall {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .CommunityPoolCard {
  //   background: linear-gradient(to right, #ff9966, #ff5e62);
  //   border-radius: 12px;
  //   padding: 16px;
  //   color: white;
  //   margin-bottom: 24px;

  //   .pool-header {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     margin-bottom: 8px;
  //   }

  //   .pool-amount {
  //     font-size: 24px;
  //     font-weight: bold;
  //   }

  //   .pool-percentage {
  //     color: #4caf50;
  //   }

  //   .pool-description {
  //     font-size: 14px;
  //   }
  // }

  .trending-header {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 8px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .trending-section {
    h2 {
      margin-bottom: 8px;
    }

    .communities-count {
      color: $neutral-500;
      margin-bottom: 16px;
    }
  }
}