@import '../shared';

.CommunitiesPage {
  display: flex;
  flex: 1;
  flex-direction: column;

  .header-section {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 24px;
    position: sticky;
    top: 42px;
    z-index: 1;

    @include smallInclusive {
      top: 0;
    }

    .filter-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .communities-count.Text {
    margin-bottom: 8px;
  }

  .communities-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: left;
    padding-bottom: 24px;

    @include smallInclusive {
      grid-template-columns: repeat(auto-fit, 136px);
    }
  }
}
