@import '../shared';

.MembersPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  .member-row {
    padding: 0px;
    margin: 0px;
    align-items: center;
    display: flex;
    height: 32px;

    a {
      color: $neutral-800;
      text-decoration: none;

      .User {
        align-items: center;
        display: flex;

        .username {
          align-items: center;
          display: flex;
        }
      }
    }
  }
}
