@import '../shared';

.NewSnapshotProposalPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;

  @include extraSmall {
    width: 100%;
  }

  .date-range {
    display: flex;
    flex-direction: column;
  }
}

.NewSnapshotProposalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;

  .proposal-loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .add-voting-btn {
    align-self: flex-end;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
