@import 'client/styles/shared';
@import 'construct-ui/src/_shared/_colors';

.ProfilePage {
  width: 100%;
  margin: 0 auto;

  .heavy {
    color: black;
    font-weight: 600;
  }

  .ProfilePageContainer {
    display: flex;
    flex-direction: row;
    margin: 80px 86px;
  
    .ProfileHeader {
      margin-right: 26px;
      border: 1px solid $neutral-200;
      border-radius: 16px;
      padding: 24px;
      max-width: 400px;
      height: fit-content;
  
      .profile-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 160px;
        }
      }

      .profile-name-and-bio {
        .name {
          margin-bottom: 20px;
          justify-content: center;
        }
        .buttons {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          > :first-child {
            margin-right: 8px;
          }
        }
        .bio {
          margin-top: 16px;
        }

        .read-more {
          margin-top: 8px;
          margin-bottom: 10px;
          color: $primary-500;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  
    .ProfileActivity {
      border: 1px solid $neutral-200;
      border-radius: 16px;
      width: 100%;
  
      .activity-nav {
        display: flex;
        padding: 26px;

        .TabBar {
          align-items: center;

          .divider {
            height: 34px;
            width: 1px;
            background: $neutral-100;
            margin: 0;
          }
        }

        .activity-nav-option {
          position: relative;
          display: flex;
          min-width: 50px;
          padding: 6px 0;
          margin-right: 20px;
  
  
          .activity-count {
            position: relative;
            width: 45px;
            height: 25px;
            background-color: white;
            border-radius: 12px;
            margin-left: 12px;
            transition: background-color 0.2s ease-in;
  
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -60%);
              font-size: small;
              font-weight: 600;
            }
          }
        }
  
      }
  
      .activity-section {
        padding: 0 60px 30px 60px;

        .activity {
          position: relative;
          max-height: 170px;
          border-bottom: 1px solid #dddddd;
          padding: 24px 0;
  
          .comment-chain,
          .thread-chain {
            margin-bottom: 10px;
          }
  
          .thread-title {
            margin-bottom: 10px;
          }
  
          .thread-body {
            width: 85%;
            color: #bbbbbb;
          }

          .gray-text {
            color: $neutral-600;
          }
        }

        >:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .loading-spinner {
    position: relative;
    width: 100%;
    min-height: 350px;
    .cui-spinner.cui-spinner-active {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .ErrorPage {
    min-height: 240px;
    padding: 60px 0;
    text-align: center;
    h3 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: $breakpoint-small-max-px) {
  .ProfilePage {
    .ProfilePageContainer {
      flex-direction: column;
      margin: 40px 32px;
      
      .ProfileHeader {
        width: 100%;
        max-width: none;
        margin-bottom: 16px;

        .profile-name-and-bio { 
          .buttons {
            .Button {
              width: 100%;
            }
          }
        }
      }

      .ProfileActivity {
        .activity-nav {
          padding: 24px 24px 0 24px;
        }

        .activity-section {
          padding: 0 24px 24px 24px;
        }
      }
    }
  }
}

