@import 'client/styles/shared';
@import 'construct-ui/src/_shared/_colors';

.ProfilePage {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .heavy {
    color: black;
    font-weight: 600;
  }

  .ProfilePageContainer {
    display: flex;
    margin: 80px 86px;
  
    .ProfileHeader {
      margin-right: 26px;
      border: 1px solid $neutral-200;
      border-radius: 16px;
      padding: 24px;
      max-width: 400px;
  
      .profile-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 160px;
        }
      }

      .profile-name-and-bio {
        .name {
          margin-bottom: 20px;
          justify-content: center;
        }
        .buttons {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          > :first-child {
            margin-right: 8px;
          }
        }
        .bio {
          margin-top: 16px;
        }

        .read-more {
          margin-top: 8px;
          margin-bottom: 10px;
          color: $primary-500;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  
    .ProfileActivity {
      border: 1px solid $neutral-200;
      border-radius: 16px;
      padding: 24px;
      width: 100%;
  
      .activity-nav {
        display: flex;

        .TabBar {
          align-items: center;

          .divider {
            height: 34px;
            width: 1px;
            background: $neutral-100;
            margin: 0;
          }
        }

        .activity-nav-option {
          position: relative;
          display: flex;
          min-width: 50px;
          padding: 6px 0;
          margin-right: 20px;
  
  
          .activity-count {
            position: relative;
            width: 45px;
            height: 25px;
            background-color: white;
            border-radius: 12px;
            margin-left: 12px;
            transition: background-color 0.2s ease-in;
  
            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -60%);
              font-size: small;
              font-weight: 600;
            }
          }
        }
  
      }
  
      .activity-section {
        margin: 40px 0;
  
        .activity {
          position: relative;
          height: 130px;
          padding: 10px 25px;
          border-bottom: 1px solid #dddddd;
  
          .comment-icon {
            position: absolute;
            top: 14px;
            left: 0px;
          }
  
          .comment-chain,
          .thread-chain {
            margin-bottom: 10px;
          }
  
          .comment-date,
          .thread-date {
            position: absolute;
            top: 10px;
            right: 10px;
          }
  
          .comment-text {
            width: 85%;
            max-height: 90px;
            font-size: 16px;
          }
  
          .thread-title {
            margin-bottom: 10px;
          }
  
          .thread-body {
            width: 85%;
            color: #bbbbbb;
          }
        }
      }
    }
  }

  .loading-spinner {
    position: relative;
    width: 100%;
    min-height: 350px;
    .cui-spinner.cui-spinner-active {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .ErrorPage {
    min-height: 240px;
    padding: 60px 0;
    text-align: center;
    h3 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ProfilePage {
    width: 90%;

    .ProfileHeader {
      .profile-info {
        min-height: 260px;
        grid-template-columns: 20% 80%;
        grid-template-rows: 80% 20%;

        .profile-image {
          img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: none;
          }
        }
      }

      .social-accounts-and-edit {
        padding: 15px 15px;
      }
    }

    .ProfileActivity {
      .activity-section {
        .activity {
          .comment-text {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ProfilePage {
    .ProfileActivity {
      .activity-nav {
        .activity-nav-option {
          .drop-down.wide {
            width: 130%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ProfilePage {
    .ProfileHeader {
      .profile-info {
        height: 300px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 85% 15%;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .ProfilePage {
    .ProfileActivity {
      .activity-nav {
        display: block;

        .activity-nav-option {
          .drop-down.wide {
            width: 100%;
          }
        }

        .divider {
          display: none;
        }
      }
    }
  }
}
