@import '../shared';

.NewSnapshotProposalPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 24px;
  max-width: 456px;

  @include extraSmall {
    width: 100%;
  }

  .date-range {
    display: flex;
    flex-direction: column;
  }
}

.NewSnapshotProposalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  width: 574px;
}
