@import 'client/styles/shared';

.PrivacyPage,
.TermsPage {
  @include SinglePage();

  align-items: center;
  display: flex;
  flex-direction: column;

  .forum-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 736px;

    @include small {
      width: unset;
    }
  }

  p {
    margin: 8px 0;
  }
}
