@import '../shared';

.PrivacyPage,
.TermsPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;

  .link {
    text-decoration: underline;
    color: $primary-600;
    cursor: pointer;
  }

  .forum-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 736px;

    @include smallInclusive {
      width: 100%;
    }
  }
}
