@import '../shared';

@mixin profile-listing {
  h3 {
    margin: 32px 0 30px;
  }
  .no-items {
    color: $neutral-500;
    margin-bottom: 20px;
  }
  .QuillFormattedText,
  .MarkdownFormattedText {
    margin-top: 6px;

    &.collapsed {
      white-space: unset;
      margin-bottom: -6px;

      &.suppress-fadeout {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      margin: 6px 0;
    }

    p {
      margin: 6px 0;
    }

    > p:first-child {
      margin-top: 0;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin comment-level {
  margin-top: 24px;
  padding-bottom: 18px;
  border-bottom: 1px solid $neutral-100;
  .proposal-title {
    color: $black !important;
    font-weight: 600;
  }
  .summary {
    color: $neutral-500;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }
  .summary > .User > .username {
    color: $primary-500 !important;
  }
  .link-bold {
    font-weight: 500;
    color: $black;
  }
  .link-normal {
    color: inherit;
  }
  .proposal {
    .proposal-body {
      margin: 10px 0;
    }

    .proposal-timestamp,
    .proposal-author {
      color: $neutral-500;
    }

    .proposal-meta {
      padding-top: 2px;
      font-size: inherit;

      .username {
        color: $black !important;
      }
    }
  }
  .proposal-comment {
    padding-bottom: 6px;

    .comment-meta,
    .comment-timestamp {
      color: $neutral-500;
    }
  }
}

.ProfilePage {
  flex: 1;
  padding: 24px;

  .forum-row {
    margin-top: 14px;
    min-height: 100%;
  }

  .Tabs {
    .tab-bar {
      flex-direction: row !important;
      margin-bottom: 12px;
      border-bottom: none;
      background-color: $white;
    }

    a.tab-entry {
      padding: 12px 0 0 0;
      margin-right: 18px;
      margin-bottom: 10px;
      color: $neutral-500;

      .count {
        display: inline;
        background-color: $neutral-100;
        padding: 1px 8px 3px;
        border-radius: $border-radius-round;
        font-size: 14px;
        font-weight: 600;
      }
    }

    a.tab-entry.active {
      color: $neutral-900;
    }
  }

  @include smallInclusive {
    .info-row {
      flex-direction: column;
    }
  }
  @include smallInclusive {
    .ProfileHeader,
    .Tabs {
      padding: 0 17px 12px 17px !important;

      .tab-bar {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
      }

      .bio-actions {
        padding: 0px;
      }
    }
  }
}

.xs-display-none {
  @include mediumSmallInclusive {
    display: none;
  }
}

.ProfileBio {
  position: sticky;
  top: 83px;

  .header {
    font-size: 24px;
    font-weight: 600;
    color: $neutral-900;
    margin-top: 32px;
    margin-bottom: 6px;
  }

  .no-items {
    color: $neutral-500;
    margin: 8px 0 20px;
  }

  .address-block-right {
    display: flex;
    align-items: center;

    .address {
      color: $neutral-600;
      margin-right: 8px;
    }
  }

  .show-profile {
    align-items: center;
    opacity: 1;
    max-height: 200px;
    transition: all 0.3s;
    transition-delay: 0.3s;
  }

  .hide-profile {
    margin: 0 !important;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  .hide-address {
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  .show-address {
    height: 30px;
    opacity: 1;
    transition: all 0.3s;
    transition-delay: 0.3s;
  }

  .bio-left {
    margin-right: 20px;
  }

  .bio-right {
    margin-left: 0 !important;
    max-width: 100%;

    .User {
      max-width: 100%;
    }
  }

  .bio-actions-right {
    margin: 16px 0;
  }

  .ProfileHeader {
    margin: 24px 0;
  }
}

.ProfileBio {
  .QuillFormattedText,
  .MarkdownFormattedText {
    padding-bottom: 8px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.ProfileBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid $neutral-100;
  box-shadow: 0px 0px 1px 1px $neutral-100;
  margin-top: 24px;

  .banner-text {
    margin-right: 12px;
  }

  button {
    margin-left: 6px;
  }
}

.ProfileHeader {
  margin: 24px 0;

  .bio-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .bio-left {
    width: 94px;
  }

  .bio-right {
    flex: 1;
    margin-left: 20px;

    .User {
      font-size: 24px;
      font-weight: 600;

      .username {
        color: $neutral-900;
      }
    }

    .role-tag {
      position: relative;
      top: 0px;
    }
  }

  .bio-actions-breakpoint {
    display: none;
    @include mediumSmallInclusive {
      display: block;
      flex-basis: 100%;
      height: 0;
    }
  }

  .bio-actions {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-top: 12px;

    @include mediumSmallInclusive {
      a.btn {
        margin-right: 16px;
        border-radius: $border-radius-corners;
        padding: 5px 15px 5px 15px;
        background: $white;
        border: 1px solid $purple-400;
        color: $purple-400;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    @include mediumSmallInclusive {
      display: none;
    }
  }

  .address-block-left {
    @include mediumSmallInclusive {
      display: flex;
      align-items: center;

      .address {
        color: $neutral-600;
        margin-right: 8px;
      }
    }
    @include mediumSmallInclusive {
      display: none;
    }
  }

  .name-row {
    .name,
    .no-verification,
    .verification {
      margin-right: 18px;
    }

    .no-verification,
    .verification {
      position: relative;
      top: -2px;
    }

    .no-verification {
      display: inline-block;
      color: $neutral-500;
    }

    .verification-icon {
      position: relative;
      top: 2px;
      display: inline-block;
      background: $primary-500;
      width: 16px;
      height: 16px;
      border-radius: $border-radius-corners;
      margin-right: 6px;

      svg {
        position: relative;
        top: -1px;
        left: 2px;
      }
    }

    .verification-icon.none,
    .verification-icon.unverified {
      position: relative;
      top: 0;
      color: $white;
      background: $neutral-500;
      position: relative;
      padding-left: 4px;
      font-size: 95%;
    }

    .verification-icon.none {
      background: $neutral-500;
    }

    .verification-icon.unverified {
      background: $rorange-200;
    }
  }

  .info-row {
    @include mediumSmallInclusive {
      margin-bottom: 16px;
      display: flex;
      span,
      a {
        padding-right: 15px;
        font-size: inherit;
      }
      a {
        text-decoration: none;
        color: $neutral-500;
      }
      .space {
        flex: 1;
      }
    }

    @include mediumSmallInclusive {
      display: none;
    }
  }

  .profile-headline {
    .no-headline {
      color: $neutral-500;
    }
  }

  .username,
  span.copy-done {
    color: $neutral-500;
  }
}

.ProfileContent {
  @include profile-listing;

  .btn-wrap {
    margin: 32px 0;
  }

  a.btn {
    background-color: $white !important;
    border: 1px solid $primary-500 !important;
    background-image: none !important;
    color: $primary-500;
    border-radius: $border-radius-corners;
  }

  .infinite-scroll {
    overflow-y: hidden;
  }

  .infinite-scroll-spinner-wrap {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infinite-scroll-reached-end,
  .no-content {
    padding: 20px 0 10px 0;
    text-align: center;
    border-top: 1px solid $neutral-50;
    color: $neutral-500;
  }
}

.ProfileProposal {
  @include comment-level;
}

.ProfileCommentGroup {
  @include comment-level;
}

.OffchainProfile {
  h4 {
    margin-top: 30px;
  }

  input,
  textarea,
  button {
    margin: 10px 0;
    margin-right: 8px;
  }

  button {
    margin-top: 16px;
  }

  .placeholder {
    color: $neutral-500;
  }
}
