@import '../shared';

.SnapshotProposalsPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  .SnapshotProposalStagesBar {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .no-proposals-text.Text {
    color: $neutral-500;
  }
}
