@import '../shared';

.SnapshotProposalsPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  .header {
    padding-top: 32px;

    @include small {
      padding-top: 14px;
    }
    @include extraSmall {
      padding-top: 0px;
    }
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .SnapshotProposalStagesBar {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .no-proposals-text.Text {
    color: $neutral-500;
  }
}
