@import 'shared';

.SpecSettingsPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding: 24px;
  width: 768px;

  @include smallInclusive {
    width: 100%;
  }

  .DropdownFormField .form-group {
    margin: 0;
  }

  .cui-overlay-inline {
    display: block;
  }
}
