@import 'shared';

.TipDetail {
  display: flex;
  flex: 1;
  padding: 24px;

  .contribute {
    margin-bottom: 64px;
  }

  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .proposal-page-row {
    margin-bottom: 18px;
  }

  .tip-details {
    width: 65%;
    flex: 1 1 auto;

    .label {
      font-weight: 600;
      padding-bottom: 8px;
    }

    .tip-reason {
      width: 75%;
    }

    .amount {
      display: flex;
      align-items: center;
    }
  }

  .tip-contributions {
    width: 35%;
    flex: 1 1 auto;

    .mb-12 {
      margin-bottom: 12px;
    }

    .label {
      font-weight: 600;
    }

    .contributors {
      margin-bottom: 32px;
    }

    .contributors-row {
      display: flex;
      margin-bottom: 18px;
      overflow: hidden;

      .amount {
        flex: 0 0 30%;
        margin-right: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}
