@import 'shared';

.TipDetail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  .tip-detail-group {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .reason-header-text.Text {
      color: $neutral-500;
    }

    .reason-text.Text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-word;
    }
  }
}

.TipsPage {
  flex: 1;
  padding: 24px;
}
