@import '../shared';

.WhyCommonwealthPage {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;

  .inner-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    img {
      max-width: 480px;
      height: auto;

      @include smallInclusive {
        width: 100%;
      }
    }

    @include smallInclusive {
      width: 100%;
    }
  }
}
