@use '../../../styles/shared.scss';
@use 'user_dashboard_row.scss';
@use '../../../styles/mixins/colors.module';

.UserDashboardRowTop {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .community-info {
    display: flex;
    align-items: center;

    .icon {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .dot {
      width: 24px;
      height: 16px;
      color: colors.$neutral-500;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      padding-bottom: 8px;
    }

    .gray-text {
      color: colors.$neutral-500;
    }
  }

  .comment-thread-info {
    .noWrap {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      white-space: pre-wrap;
    }

    .User {
      display: flex;
      align-items: center;
    }

    .info-type {
      font-weight: 400;
    }
  }

  .comment-preview {
    color: colors.$neutral-600;
    flex-wrap: wrap;
  }
}
