@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';
@use '../../../styles/mixins/media_queries';

@mixin rowTopTextStyles {
  display: inline-block;

  b {
    margin-right: 4px;
  }

  span {
    color: colors.$neutral-500;
    margin-right: 4px;
  }

  a {
    color: colors.$neutral-800;
    font-weight: 600;
    margin-right: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin userDashboardRowStyles {
  border-bottom: 1px solid colors.$neutral-100;
  display: flex;
  gap: 16px;
  padding: 16px;
  width: 768px;

  @include media_queries.mediumSmallInclusive {
    width: 100%;
  }

  &:hover {
    background: colors.$neutral-50;
  }
}

.UserDashboardRow {
  @include userDashboardRowStyles;
  flex-direction: column;
  min-width: 100%;
  max-width: 0;
  color: unset !important;
  text-decoration: none;

  @include media_queries.smallInclusive {
    padding: 16px 0 16px 0;
    overflow: auto;
  }

  a {
    color: unset !important;

    &:hover,
    &:focus,
    &:active {
      color: unset !important;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: unset !important;
    text-decoration: none;
  }

  &.isLink {
    cursor: pointer;
    overflow: auto;
  }
}
