.CWModalBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 24px;
  overflow-y: auto;
  max-height: calc(84vh - 120px);

  // For content that may overflow the parent container (e.g. Dropdowns)
  &.allowOverflow {
    overflow: unset;
  }

  &.zero-gap {
    gap: 0px;
  }
}
