.CWModalBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 24px;
  overflow: inherit;
  max-height: 440px;

  // For content that may overflow the parent container (e.g. Dropdowns)
  &.allowOverflow {
    overflow: unset;
  }
}
