.CWModalBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 24px;
  overflow-y: auto;

  // For content that may overflow the parent container (e.g. Dropdowns)
  &.unset {
    overflow: unset;
  }
}
