@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';

.AdminActions {
  .danger {
    color: colors.$rorange-600 !important;

    .Icon {
      color: colors.$rorange-600 !important;
    }

    .Text {
      color: colors.$rorange-600 !important;
    }
  }
}
