@import '../../../../../../../styles/shared';

.AdminActions {
  .danger {
    color: $rorange-600 !important;

    .Icon {
      color: $rorange-600 !important;
    }

    .Text {
      color: $rorange-600 !important;
    }
  }
}
