@import '../../../../../../../styles/shared';

.GroupCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 6px;
  background: $white;
  border: 1px solid $neutral-200;

  .group-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .group-name-text {
      margin-right: auto;
    }

    .group-edit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $neutral-500;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;
      gap: 4px;

      .Icon {
        color: $neutral-500;
        font-size: 18px;
      }
      .caption {
        color: $neutral-500;
      }
    }
  }

  .gating-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    width: 100%;
  }
}
