@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';
@use '../../../../../../styles/mixins/media_queries';

.GroupCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 6px;
  background: colors.$white;
  border: 1px solid colors.$neutral-200;

  .group-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .group-name-text {
      margin-right: auto;
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .group-edit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: colors.$neutral-500;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
        gap: 4px;

        .Icon {
          color: colors.$neutral-500;
          font-size: 18px;
        }

        .caption {
          color: colors.$neutral-500;
        }
      }
    }
  }

  .gating-topics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .row {
      display: flex;
      align-items: center;
    }

    .header-row {
      font-weight: bold;
      border-bottom: 1px solid colors.$neutral-200;
      padding-bottom: 4px;
      margin-bottom: 4px;
      .topic-name-header {
        flex: 2 1 0;
        min-width: 0;
      }
      .actions-header {
        flex: 3 1 0;
        min-width: 0;
        text-align: left;
        padding-left: 16px;
      }
    }

    .topic-row {
      min-height: 40px;
      .topic-name {
        flex: 2 1 0;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 16px;
      }
      .actions-container {
        flex: 3 1 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

    .topic-row:first-of-type .actions-container {
      margin-top: 0;
    }
    .topic-row:last-of-type .actions-container {
      margin-bottom: 0;
    }

    @include media_queries.isWindowSmallToMediumInclusive {
      .row,
      .topic-row {
        flex-direction: column;
        align-items: flex-start;
        .topic-name,
        .actions-container {
          flex: none;
          width: 100%;
          margin-right: 0;
        }
        .actions-container {
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
      .topic-row:first-of-type .actions-container {
        margin-top: 0;
      }
      .topic-row:last-of-type .actions-container {
        margin-bottom: 0;
      }
      .header-row {
        flex-direction: row;
        .topic-name-header,
        .actions-header {
          width: 100%;
          flex: none;
        }
      }
    }
  }

  .allowlist-table {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;

    .table-spacing {
      padding-right: 80px;
      padding-top: 10px;
    }

    .user-info {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      color: black;

      :hover,
      :focus,
      :visited {
        text-decoration: underline;
      }
    }

    .pagination-buttons {
      padding-top: 10px;
    }
  }
}
