@use '../../../../styles/shared';
@use '../../../../styles/mixins/border_radius';
@use '../../../../styles/mixins/colors.module';

.VoteDisplay {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  width: 100%;

  .vote-direction {
    display: flex;

    .vote-check-icon.Icon {
      color: colors.$green-500;
      margin-right: 8px;
    }
  }

  .completed-vote-information {
    align-items: center;
    background: colors.$green-50;
    border-radius: border_radius.$border-radius-corners;
    display: flex;
    flex-direction: column;
    padding: 8px 4px 8px 4px;
    width: 100%;
    text-align: center;

    .direction-text {
      color: colors.$neutral-500;
    }
  }

  .time-remaining-text.Text {
    color: colors.$neutral-500;
  }
}
