@use '../../../../styles/shared';
@use '../../../../styles/mixins/media_queries';

.NewSnapshotProposal {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;

  @include media_queries.extraSmall {
    width: 100%;
  }

  .date-range {
    display: flex;
    flex-direction: column;
  }
}
