@import '../../../../../styles/shared';

.ManageConnectedToken {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;

  @include extraSmall {
    grid-template-columns: 1fr;
  }

  .connected-token {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
  }
}
