@import '../../../../../styles/shared';

.Transactions {
  .Table {
    .data-container {
      vertical-align: middle;

      .etherscanLink {
        cursor: pointer;
        color: $neutral-500;
        text-decoration: none;

        &:focus,
        &:active,
        &:hover,
        &:visited {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}
