@import '../../../../../styles/shared';

.Transactions {
  .Table {
    .header-text {
      text-align: start;
    }
    .data-container {
      vertical-align: middle;

      .numeric {
        text-align: start;
      }

      .timestamp {
        display: block;
        width: 100%;
        text-align: start;
        cursor: pointer;
      }

      .etherscanLink {
        cursor: pointer;
        color: $neutral-500;
        text-decoration: none;

        &:focus,
        &:active,
        &:hover,
        &:visited {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}
