.AboutPage {
    // shared wrapper to constrain whole page to narrow viewport
    .about-container {
        margin: 0 auto;
        max-width: 640px;
    }

    // page header
    h2.page-title {
        font-size: 24px;
        margin-bottom: 4px;
    }

    // page body
    h2 {
        margin-top: 50px;
        &:first-child {
            margin-top: 20px;
        }
    }
}
