@import 'shared';

.HomepageCommunityCards {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;

  .header-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;

    .filter-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .communities-count.Text {
    margin-bottom: 16px;
  }

  .communities-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
  }
}
