@import 'client/styles/shared';

section.ChainsCrowdfunding {
  padding-top: 5rem;
  .ChainsCrowdfundingButton {
    a.btn-outline.text-xl.rounded-lg.pb-2.pt-3.px-3 {
      color: $neutral-800;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  button.ChainsCrowsfundingTextList {
    &:hover {
      background: $neutral-25;
    }
  }

  .ChainsImage {
    margin-top: -2.3rem;

    @media (min-width: 0px) and (max-width: 1200px) {
      margin-top: 0rem;
    }
  }
}
