.InputAddToken {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    88.76deg,
    #91bfff -10.94%,
    #91ffa0 27.68%,
    #fbff91 62.07%,
    #ff9191 104.91%
  );
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.InputAddTokenText {
  font-family: Calibre;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.InputAddSuggest {
  color: #3333;
}

.selected {
  background: #e5e5e5;
}
