@import 'client/styles/shared';

.LandingPage {
    font-size: 15.5px;
    background: $offwhite-extralight;
    .landing-top {
        background: $offwhite-dark;
        background-image: linear-gradient(180deg, #444444 0%, #333333 100%);
        color: $offwhite-light;
        .container {
            padding: 30px;
            padding-top: 10px;
        }
        h1.page-title {
            font-size: 26px;
            margin-bottom: 0px;
        }
        .page-header {
            margin-bottom: 6px;
        }
        p {
            margin: 10px 0;
        }
    }
    .landing-bottom {
        .container {
            padding: 30px 30px 60px;
            @include xs-max {
                padding-top: 16px;
                padding-bottom: 32px;
            }
        }
    }
}
