@import "client/styles/shared";

.FooterNavsLinks.mb-2 {
  a.text-gray-500 {
    color: $text-color-black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      // text-decoration: underline;
    }
  }
}

.FooterLandingPage {
  &.sidebar {
    margin-left: $sidebar-width;
    @include sm-max {
      margin-left: 0px;
    }
  }
}