@import 'client/styles/shared';

.LandingPageFooter {
  display: flex;
}

.FooterNavsLinks.mb-2 {
  a.text-gray-500 {
    color: $text-color-black;
    text-decoration: none;
    cursor: pointer;
  }
}
