@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';

.ThreadSelector {
  border-radius: border_radius.$border-radius-corners;
  border: 1px solid colors.$neutral-100;

  .QueryList {
    height: 200px;

    .empty-component {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .thread-selector-item-row {
      display: flex;
      overflow: hidden;
      align-items: center;
      padding-block: 6px;
      cursor: pointer;

      &:hover {
        background-color: colors.$neutral-100;
      }

      .selected {
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: colors.$black;
          width: 18px;
        }
      }
    }
  }
}
