@import 'client/styles/shared';

.ChainStatusModule {
  .chain-deferred {
    color: $neutral-500;
  }

  display: flex;
  justify-content: center;

  // form stuff
  .form-group {
    margin-bottom: 0;

    select {
      border-color: $border-color-lightest;
      border-radius: 2px;
      padding: 5px 6px;
      width: 100%;
    }

    .chain-status-main {
      width: calc(100% - 28px);
    }
  }

  .cui-button-label {
    text-align: left;
    width: 100%;
  }

  .cui-icon svg {
    height: 12px;
    min-height: 12px;
    min-width: 12px;
    width: 12px;
  }
}
