@import 'client/styles/shared';

.CommunityLabel {
    .visible-sm {
        display: none;
        @include sm-max {
            display: block;
        }
    }
}

.CommunitySelector {
    button.cui-button {
        border: none !important;
        border-radius: 0 !important;
    }
    .title-selector .ChainIcon {
        position: relative;
        top: 2px;
    }
    .title-selector .CommunityIcon .community-icon span {
        font-size: 12px;
    }
}

.CommunitySelectList {
    left: $quick-switcher-width - 4px !important;
    @include sm-max {
        left: 0 !important;
    }
    .cui-popover-content {
        max-height: 100vh;
        overflow-y: auto;
        text-align: left;
        @include xs-max {
            margin: 0 10px;
            width: calc(100vw - 20px);
        }
    }
    .cui-menu {
        background: $background-color-light;
        border: none;
        max-width: 360px;
        width: 360px;
        padding: 20px 0;
        @include xs-max {
            max-width: 100%;
            width: 100%;
        }
        h4 {
            margin: 20px 24px 10px;
            color: #999;
            font-weight: 400;
            font-size: 16px;
        }
        h4:first-child {
            margin-top: 0;
        }
        .community-placeholder {
            margin: 0 24px;
            font-size: 16px;
            color: #999;
        }
    }
    .cui-list-item {
        padding: 4px 20px 4px 24px;
        border: none;
        user-select: none;
        &.cui-selected {
            color: #111;
        }
        .CommunityLabel {
            min-width: 200px;
        }
        .cui-list-item-content-right {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .User {
                position: relative;
                top: 2px;
                margin-left: 4px;
            }
            .star-icon {
                display: inline-block;
                position: relative;
                top: -2px;
                margin-left: 10px;
            }
        }
        .CommunityLabel .community-name-row {
            position: relative;
            top: -3px;
        }
    }
    .cui-list-item.select-list-back-home {
        margin: 15px 0;
        font-size: 16px;
    }

    // stars
    .community-star-toggle .cui-icon svg {
        stroke: lighten(#546e7b, 40%);
    }
    $star-color: #ecbc00;
    .community-star-toggle .cui-icon:hover svg {
        stroke: $star-color !important;
    }
    .cui-list-item.starred .community-star-toggle .cui-icon svg {
        stroke: $star-color !important;
        fill: $star-color !important;
    }
}
