.CommunityInfoModule {
    position: relative;
    padding: 22px 26px;
    .ChainIcon, .CommunityIcon {
        margin-top: 6px;
        margin-bottom: 14px;
    }
    .community-config {
        position: absolute;
        top: 30px;
        right: 24px;
        svg {
            stroke: #333;
        }
    }
    .community-name {
        font-weight: 500;
        margin-bottom: 8px;
    }
    .community-description {
        margin-bottom: 14px;
    }
    .community-info {
        display: flex;
        margin: 3px 0;
        .community-info-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .cui-icon {
            margin-right: 10px;
            svg {
                stroke: #111;
                position: relative;
                top: 3px;
                // icon size
                height: 14px;
                width: 14px;
                min-width: 14px;
                min-height: 14px;
            }
        }
    }
}
