@import 'client/styles/shared';

.CommunitySelectList {
  transform: none !important; // override any scrolling effects
  left: $quick-switcher-width !important;

  @include sm-max {
    overflow-y: scroll;
  }

  span {
    font-size: 18px;
    font-weight: 500;
  }

  .cui-popover-content {
    max-height: 100vh;
    overflow-y: auto;
    text-align: left;
  }

  .cui-menu {
    background: $background-color-white-hover;
    border: none;
    max-width: 360px;
    width: 360px;
    padding: 8px;

    h4 {
      margin: 16px 12px;
      color: $text-color-light;
      font-weight: 400;
      font-size: 16px;
    }

    .community-placeholder {
      margin: 0 24px;
      font-size: 16px;
      color: $text-color-light;
    }
  }

  .cui-list-item {
    padding: 4px 8px;
    margin: 0 8px;
    border-radius: 4px;
    height: 32px;
    border: none;
    user-select: none;

    &.cui-selected {
      background: $background-color-light-hover;
      color: $text-color-black;
    }

    &:hover {
      background: $background-color-light-hover;
    }

    .CommunityIcon {
      position: relative;
      top: -1px;
    }

    .cui-list-item-content-right {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .community-star-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;

        .User {
          margin-right: 8px;
        }

        .star-icon {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  .cui-list-item.select-list-back-home {
    margin-top: 16px;
    font-size: 16px;
    padding: 8px;
  }

  // stars
  .community-star-toggle .cui-icon svg {
    stroke: lighten(#546e7b, 40%);
  }

  $star-color: #ecbc00;

  .community-star-toggle .cui-icon:hover svg {
    stroke: $star-color !important;
  }

  .cui-list-item.starred .community-star-toggle .cui-icon svg {
    stroke: $star-color !important;
    fill: $star-color !important;
  }
}
