@import 'client/styles/shared';

.Sidebar {
  max-height: 100%;
  position: fixed;
  top: $layout-padding + 47;
  left: $quick-switcher-width;
  z-index: 2;
  padding-bottom: 36px;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  min-height: 100vh;
  background-color: $layout-color;
  border-right-color: $disable-grey;
  border-right-width: 1px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    /* Chrome */
    display: none;
  }

  &.custom-domain {
    left: 0;
  }

  .sidebar-content {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding-bottom: 60px;
    padding-top: 16px;
  }

  @include sm-max {
    max-height: calc(100vh - 60px); // $mobile-header-height
    overflow-y: scroll;
    padding-top: 30px;

    .SidebarHeader {
      display: none;
    }
  }

  .sidebar-fadeout {
    bottom: 0;
    display: none; // TODO
    height: 80px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 4;

    background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      $background-color-light 100%
    );
    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      $background-color-light 100%
    );
    background-image: -o-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      $background-color-light 100%
    );
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      $background-color-light 100%
    );
    background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      $background-color-light 100%
    );
  }

  .SidebarHeader {
    border-bottom: 1px solid $border-color-lightest;

    .cui-button {
      background: none !important;
      height: initial;
      padding: 0;
      width: 100%;

      > .cui-button-label {
        display: flex;
        padding: 0 19px;
        width: 100%;

        > .CommunityLabel {
          padding: 20px 0 18px;
          max-width: calc(100% - 18px);
        }

        > .CommunityLabel.CommunityLabelPlaceholder {
          font-weight: 500;
          padding-left: 5px;
          padding: 22px 0;
        }

        .cui-icon {
          margin-left: 6px;
          margin-top: 25px;
        }
      }
    }
  }

  .sidebar-spacer {
    margin-bottom: 22px;
  }

  .section-header {
    color: $text-color-light;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .cui-button {
    margin-bottom: 4px;
  }

  .cui-button.cui-rounded:active,
  .cui-button.cui-rounded.cui-active,
  .cui-button.cui-rounded:hover {
    background: linear-gradient(to left, #91ffa0, #fbff91, #ff9191);
    border-color: white;

    // @TODO: Remove this and figure out a better solution
    background: #6966ff;
    color: white;
  }

  .cui-button.website-button,
  .cui-button.github-button,
  .cui-button.telegram-button,
  .cui-button.element-button,
  .cui-button.discord-button {
    margin-right: 8px;
    padding: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .cui-button.telegram-button {
    border-color: tint(#2480cc, 70%);
    color: #2480cc;

    svg {
      color: #2480cc;
      fill: currentColor;
      left: -1px;
      position: relative;
      top: -3px;
    }

    &:hover {
      border-color: transparent;

      svg {
        color: white;
        fill: currentColor;
      }
    }

    .cui-button-label {
      flex: 1;
      text-align: left;
    }
  }

  .cui-button.element-button {
    border-color: tint(#0cbd8b, 70%);
    color: #0cbd8b;

    svg {
      color: #0cbd8b;
      fill: currentColor;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: transparent;

      svg {
        color: white;
        fill: currentColor;
      }
    }

    .cui-button-label {
      flex: 1;
      text-align: left;
    }
  }

  .cui-button.discord-button {
    border-color: tint(#677bc4, 70%);
    color: #677bc4;

    svg {
      color: #677bc4;
      fill: currentColor;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: transparent;

      svg {
        color: white;
        fill: currentColor;
      }
    }

    .cui-button-label {
      flex: 1;
      text-align: left;
    }
  }

  .cui-button.website-button {
    border-color: tint(#222222, 70%);
    color: #222222;

    svg {
      color: #222222;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: transparent;

      svg {
        color: white;
      }
    }

    .cui-button-label {
      flex: 1;
      text-align: left;
    }
  }

  .cui-button.github-button {
    border-color: tint(#222222, 70%);
    color: #222222;

    svg {
      color: #222222;
      fill: currentColor;
      position: relative;
      top: -4px;
    }

    &:hover {
      border-color: transparent;

      svg {
        color: white;
      }
    }

    .cui-button-label {
      flex: 1;
      text-align: left;
    }
  }

  .subscription-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .spacer {
    height: 100px;
  }
}

.PoweredBy {
  background-image: url('/static/img/powered-by.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  height: 60.99px;
  margin-top: 10%;
  position: absolute;
  width: 171.43px;
}

.PoweredBy:hover {
  background-image: url('/static/img/powered-by-2.svg');
}

.cui-popover.community-options-popover .cui-menu,
.cui-popover.community-options-popover .cui-menu {
  padding: 4px 0;
}

.chatAdminOverlay {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .Card {
    z-index: 100;
    position: relative;
    width: 500px;
    max-width: none;
    cursor: default;
    padding: 20px 25px;

    h4 {
      color: #666666;
      font-weight: 400;
    }

    .TextInput {
      width: 100%;
    }

    .cui-icon-x {
      position: absolute;
      color: #666666;
      top: 15px;
      left: calc(100% - 35px);
    }

    .button-bar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      button {
        margin-left: 5px;

        &.danger {
          background-color: #ff002f;
        }

        &.danger:hover {
          background-color: #cc0025;
        }
      }
    }
  }
}
