@import 'client/styles/shared';

$sidebar-padding: 16px;
$active-color: #ececec;

.CommunityLabel {
    text-align: left;
    flex: 1;
    display: flex;
    font-weight: 400;

    &.CommunityLabelPlaceholder {
        padding: 8px 0;
        .community-name {
            color: #aaa;
        }
    }

    .community-label-left {
        padding-right: 12px;
    }
    .community-label-right {
        flex: 1;
        overflow: hidden;
    }

    .community-name-row,
    .community-id {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .community-name-row {
        font-weight: 600;
        line-height: 1.25;
    }
    .community-id {
        font-size: 13px;
        color: #777;
    }
    .icon-globe, .icon-lock {
        margin-left: 2px;
        font-size: 12px;
        color: #aaa;
    }

    .ChainStatusIndicator {
        display: inline-block;
        margin-left: 8px;
        margin-right: -2px;
        position: relative;
        top: -1px;
    }
}

.Sidebar {
    .cui-list {
        // reset list styles
        overflow-x: hidden;
        max-height: 100%;
        user-select: none;
        // set up visual styles
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,0.07);
        padding: 10px 0;
        margin-bottom: 20px;
        > h4 {
            color: #555;
            opacity: 0.6;
            margin: 0;
            padding: 6px $sidebar-padding;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.15px;
            border: none;
        }
        > .cui-list-item,
        .TagSelector > .cui-list > .cui-list-item {
            color: #111;
            font-size: 15px;
            border: none;
            padding: 4px $sidebar-padding;
            > .cui-list-item-content-left > .cui-icon svg {
                height: 15px;
                width: 15px;
                min-height: 15px;
                min-width: 15px;
                position: relative;
                top: -1px;
                margin-right: -2px;
                color: #222;
            }
            &:hover {
                background: $active-color;
            }
            &.cui-selected,
            &.cui-active {
                font-weight: 400;
                background: $theme-base-color;
                color: #fff;
                .cui-icon svg {
                    color: #fff !important;
                }
            }
            .cui-tag {
                margin: -3px 0;
                position: relative;
                top: -2px;
            }
        }
    }
}
