@import 'client/styles/shared';

.MobileSidebarHeader {
    // only content styles here. layout styles are in layout.scss
    background: $background-color-light;
    border-bottom: 1px solid $background-color-border;
    .mobile-sidebar-left {
        padding: 18px 24px;
    }
    .mobile-sidebar-center {
        padding: 8px 0;
        flex: 1;
        text-align: center;
        .community-label {
            display: inline-block;
        }
        .CommunitySelector .cui-button {
            background: #fff;
            padding: 20px 14px 22px;
            .cui-icon-menu {
                display: none;
            }
        }
    }
    .mobile-sidebar-right {
        > .cui-button,
        > .cui-overlay,
        > .LoginSelector {
            display: inline-block;
        }
        > .cui-button,
        > .LoginSelector {
            margin-left: 8px;
        }
        > .cui-button .cui-icon.cui-icon-bell {
            position: relative;
            top: -3px;
        }
        > .cui-button .cui-button-label {
            display: inline-block;
            position: relative;
            top: 2px;
        }
        padding: 15px 0;
        padding-right: 16px;
    }
}

.Sidebar {
    @include sm-max {
        .SidebarHeader {
            display: none;
        }
    }
    .SidebarHeader {
        border-bottom: 1px solid $background-color-border;
        margin-bottom: 18px;
        .cui-button {
            padding: 0;
            width: 100%;
            height: initial;
            background: none !important;
            > .cui-button-label {
                padding: 0 19px;
                width: 100%;
                display: flex;
                > .CommunityLabel {
                    padding: 14px 0 15px;
                    max-width: calc(100% - 18px);
                }
                > .CommunityLabel.CommunityLabelPlaceholder {
                    padding: 22px 0;
                    padding-left: 5px;
                    font-weight: 500;
                }
                .cui-icon {
                    margin-top: 26px;
                    margin-left: 2px;
                }
            }
        }
    }
    .SidebarModule {
        margin: 0 15px 20px;
        > .cui-list {
            // reset list styles
            overflow-x: hidden;
            max-height: 100%;
            user-select: none;
            background: transparent;
            .cui-list-item {
                // small adjustments to .cui-lg list
                font-size: 18px;
                font-weight: 500;
                padding: 3px 12px 4px;
                border-radius: 4px;
                border: none;
                white-space: nowrap;
                &.section-header, &.section-callout {
                    background: initial !important;
                    cursor: initial;
                }
                &.section-header {
                    font-size: 15px;
                    color: $text-color-lighter;
                }
                &.section-callout {
                    margin-top: 8px;
                    white-space: initial;
                }
                .proposal-topic-icon {
                    position: relative;
                    top: -1px;
                }
                .cui-list-item-content-left .cui-icon svg {
                    stroke: $text-color-lighter;
                }
                &:hover {
                    background: $background-color-light-hover;
                }
                &.cui-active, &.cui-active:hover {
                    background: $primary-bg-color !important;
                    color: #fff;
                    .cui-icon svg {
                        stroke: #fff;
                    }
                    .proposal-topic-icon {
                        border-color: #fff;
                    }
                }
                .cui-icon-action {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 36px;
                    // center the icon
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .cui-icon svg {
                        opacity: 0.6;
                    }
                }
                .cui-callout {
                    font-weight: initial;
                }
            }
        }
        > .cui-list.cui-interactive {
            .cui-list-item:hover {
                background: $background-color-light-hover;
            }
            .cui-icon-action:hover {
                .cui-icon svg {
                    opacity: 1;
                }
            }
        }
    }


    .TopicsModule {
        > .cui-list {
            .cui-list.more-topics-list {
                border-top: 1px solid $background-color-light-hover;
                margin-top: 10px;
                padding: 10px 0;
                max-height: 230px;
                margin-bottom: -10px;
            }
        }

        // tag icons
        .cui-list-item {
            @include proposal-topic-inline;
        }
        .cui-list .cui-list-item-content-left {
            padding-left: 4px !important;
            padding-right: 12px !important;
        }
        .proposal-topic-icon {
            margin-right: 0;
            border-color: $background-color-placeholder;
        }
    }
}

.cui-popover.sidebar-edit-topic .cui-menu,
.cui-popover.sidebar-add-topic .cui-menu {
    padding: 4px 0;
}
