@import 'client/styles/shared';

.NotificationRow {
    display: flex;
    flex-direction: column;
    padding: 18px 22px 19px;
    line-height: 1.2;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    &:hover {
        background: #f7f8f9;
    }
    &.unread {
        background: #ffffe0;
    }
    > .User {
        width: min-content;
    }
    > .User,
    > .UserGallery {
        margin-bottom: 10px;
    }
    > .UserGallery .User {
        margin-right: 4px;
    }
    .comment-body {
        flex: 1;
    }
    .comment-body-title {
        .User .user-display-name,
        span.commented-obj {
            font-weight: 500;
        }
    }
    .comment-body-excerpt {
        margin: 7px 0 8px;
        color: #888;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        .QuillFormattedText {
            line-height: 1.2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .comment-body-created {
        color: #888;
        margin-top: 10px;
    }
}
