@import 'client/styles/shared';

.SidebarQuickSwitcher {
  border-right: 1px solid $disable-grey;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: $quick-switcher-width;
  z-index: 11;

  @include sm-max {
    display: none;
  }

  .community-nav-bar {
    padding: 0 14px;
  }

  .scrollable-community-bar {
    overflow-y: auto;
    padding: 0 14px;
  }

  .scrollable-community-bar::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }

  .sidebar-home-link.cui-button {
    height: 38px;
    margin: 15px 0 14px;
    padding: 0;
    width: 38px;

    .cui-icon {
      position: relative;
      top: -2px;
    }
  }

  .CommunitySelector {
    margin: 0 0 14px;
  }

  .create-community {
    height: 38px;
    margin: 0 0 14px;
    padding: 0;
    width: 38px;

    .cui-icon {
      position: relative;
      top: -2px;
    }
  }

  .SidebarQuickSwitcherItem {
    border-radius: 9999px;
    border: 1px solid transparent;
    height: 38px;
    margin-bottom: 14px;
    width: 38px;

    &:hover {
      border-color: #111;
    }
  }

  > .SidebarQuickSwitcherItem .ChainIcon,
  > .SidebarQuickSwitcherItem .CommunityIcon {
    cursor: pointer;
    opacity: 0.33;
  }

  .cui-overlay-inline {
    display: block;
  }

  .quick-switcher-option.active {
    .ChainIcon,
    .CommunityIcon {
      opacity: 1;
    }
  }
}

.SidebarQuickSwitcherItemTooltip.cui-popover {
  .cui-popover-content {
    padding: 11px 16px 4px;
    white-space: nowrap;
  }
}
