@import 'client/styles/shared';

.TagSelector {
    @include dragula;
    .tag-count {
        display: inline-block;
        width: 60px;
    }
    .FeaturedCheckbox {
        display: inline-block;
        margin: 0 40px;
        vertical-align: middle;
        // width: 100px;
    }
}
