@import 'client/styles/shared';

.TagSelector {
    @include dragula;
    .tag-count {
        display: inline-block;
        width: 60px;
    }
    .ToggleFeaturedTagButton {
        margin-right: 10px;
    }
}
