@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?93020716');
  src: url('../font/fontello.eot?93020716#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?93020716') format('woff2'),
       url('../font/fontello.woff?93020716') format('woff'),
       url('../font/fontello.ttf?93020716') format('truetype'),
       url('../font/fontello.svg?93020716#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93020716#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-reply:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-comment-dark:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circle:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-globe:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-thumbs-down:before { content: '\e811'; } /* '' */
.icon-globe-1:before { content: '\e812'; } /* '' */
.icon-export:before { content: '\e813'; } /* '' */
.icon-edit:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-minus-circled:before { content: '\e816'; } /* '' */
.icon-bell:before { content: '\e817'; } /* '' */
.icon-print:before { content: '\e818'; } /* '' */
.icon-attention:before { content: '\e819'; } /* '' */
.icon-info:before { content: '\e81a'; } /* '' */
.icon-question:before { content: '\e81b'; } /* '' */
.icon-location:before { content: '\e81c'; } /* '' */
.icon-cancel-circled:before { content: '\e81d'; } /* '' */
.icon-doc:before { content: '\e81e'; } /* '' */
.icon-article:before { content: '\e81f'; } /* '' */
.icon-article-alt:before { content: '\e820'; } /* '' */
.icon-rss:before { content: '\e821'; } /* '' */
.icon-clock-alt:before { content: '\e822'; } /* '' */
.icon-resize-full:before { content: '\e823'; } /* '' */
.icon-ok-circled:before { content: '\e824'; } /* '' */
.icon-zoom-in:before { content: '\e825'; } /* '' */
.icon-zoom-out:before { content: '\e826'; } /* '' */
.icon-popup:before { content: '\e827'; } /* '' */
.icon-down-dir:before { content: '\e828'; } /* '' */
.icon-left-dir:before { content: '\e829'; } /* '' */
.icon-right-dir:before { content: '\e82a'; } /* '' */
.icon-up-dir:before { content: '\e82b'; } /* '' */
.icon-down:before { content: '\e82c'; } /* '' */
.icon-up:before { content: '\e82d'; } /* '' */
.icon-cw:before { content: '\e82e'; } /* '' */
.icon-chart-bar:before { content: '\e82f'; } /* '' */
.icon-chart-pie:before { content: '\e830'; } /* '' */
.icon-facebook-circled:before { content: '\e831'; } /* '' */
.icon-search:before { content: '\e832'; } /* '' */
.icon-attention-circled:before { content: '\e833'; } /* '' */
.icon-picture:before { content: '\e834'; } /* '' */
.icon-tag:before { content: '\e835'; } /* '' */
.icon-lock-circled:before { content: '\e836'; } /* '' */
.icon-torso:before { content: '\e837'; } /* '' */
.icon-picture-1:before { content: '\e838'; } /* '' */
.icon-down-open:before { content: '\e839'; } /* '' */
.icon-network:before { content: '\e83a'; } /* '' */
.icon-up-open:before { content: '\e83b'; } /* '' */
.icon-left-open:before { content: '\e83c'; } /* '' */
.icon-resize-full-1:before { content: '\e842'; } /* '' */
.icon-calendar:before { content: '\e843'; } /* '' */
.icon-cogs:before { content: '\e844'; } /* '' */
.icon-wrench:before { content: '\e845'; } /* '' */
.icon-cog:before { content: '\e846'; } /* '' */
.icon-hourglass:before { content: '\e848'; } /* '' */
.icon-help-circled:before { content: '\e849'; } /* '' */
.icon-right-open:before { content: '\e84a'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-bell-alt-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off:before { content: '\f1f7'; } /* '' */
.icon-spinner1:before { content: '\f528'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */