@font-face {
  font-family: Silka;
  font-weight: 900;
  font-style: normal;
  src: url('silka-black-webfont.eot'),
    url('silka-black-webfont.woff2') format('woff2'),
    url('silka-black-webfont.woff') format('woff'),
    url('silka-black-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Silka;
  font-weight: 700;
  font-style: normal;
  src: url('silka-bold-webfont.eot'),
    url('silka-bold-webfont.woff2') format('woff2'),
    url('silka-bold-webfont.woff') format('woff'),
    url('silka-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Silka;
  font-weight: 600;
  font-style: normal;
  src: url('silka-semibold-webfont.eot'),
    url('silka-semibold-webfont.woff2') format('woff2'),
    url('silka-semibold-webfont.woff') format('woff'),
    url('silka-semibold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: Silka;
  font-weight: 500;
  font-style: normal;
  src: url('silka-medium-webfont.eot'),
    url('silka-medium-webfont.woff2') format('woff2'),
    url('silka-medium-webfont.woff') format('woff'),
    url('silka-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: NeueHaasUnica;
  font-weight: 500;
  font-style: normal;
  src: url('NeueHaasUnica-Medium.eot'),
    url('NeueHaasUnica-Medium.woff2') format('woff2'),
    url('NeueHaasUnica-Medium.woff') format('woff'),
    url('NeueHaasUnica-Medium.ttf') format('truetype');
}

@font-face {
  font-family: NeueHaasUnica;
  font-weight: 400;
  font-style: normal;
  src: url('NeueHaasUnica-Regular.eot'),
    url('NeueHaasUnica-Regular.woff2') format('woff2'),
    url('NeueHaasUnica-Regular.woff') format('woff'),
    url('NeueHaasUnica-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Mono';
  font-weight: 300;
  src: url('DMMono-Regular.ttf') format('truetype');
}