@import '../../../../styles/shared.scss';

.MobileNavigation {
  border-top: 1px solid $neutral-200;
  //height: 56px;
  display: flex;

  width: 100%;

  flex-direction: column;

  .MobileNavigationInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: min(30px, 3%);
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
