@import 'shared';

.CodeBlock {
  pre {
    background: $neutral-800;
    border-radius: $border-radius-corners;
    color: $white;
    font-family: $monospace-fonts;
    font-size: 13px;
    padding: 16px;
    white-space: pre-wrap;
    word-break: break-word;

    span .no-select {
      opacity: 0.8;
      user-select: none;
    }
  }

  &.clickToSelect {
    cursor: pointer;

    &:active {
      opacity: 0.9;
    }
  }

  &::selection {
    background: $yellow-300;
  }
}
