@import '../shared';

.LinkedAddresses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;

  @include mediumInclusive {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include smallInclusive {
    grid-template-columns: 1fr 1fr;
  }

  @include extraSmall {
    grid-template-columns: 1fr;
  }

  .AddressContainer {
    display: flex;
    align-items: center;
  }
}
