@import 'shared';

.PollCard.Card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 248px;

  .poll-title-text.Text {
    border-bottom: 1px solid $neutral-200;
    min-height: 32px;
    padding: 16px;
  }

  .poll-voting-section {
    border-bottom: 1px solid $neutral-200;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    width: 100%;

    .vote-options {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .cast-vote-section {
      align-items: center;
      display: flex;

      .time-remaining-text.Text {
        color: $neutral-500;
        margin-left: 16px;
      }
    }

    .voted-display {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .vote-direction {
        display: flex;

        .vote-direction-text.Text {
          margin-left: 8px;
        }
      }

      .time-remaining-text.Text {
        color: $neutral-500;
        margin-top: 4px;
      }
    }
  }

  .poll-results-section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    cursor: pointer;

    .results-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      width: 100%;

      .results-text.Text {
        color: $neutral-500;
      }
    }

    .results-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
