@import 'shared';

$default-card-width: 260px;

.poll-card.Card {
  align-items: center;
  display: flex;
  max-width: 336px;
  padding: 0;
  width: auto;

  .poll-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .poll-title-section {
      align-items: center;
      border-bottom: 1px solid #e6e5e7;
      display: flex;
      min-height: 56px;
      padding-left: 10px;
      width: 100%;
    }

    .poll-voting-section {
      align-items: flex-start;
      border-bottom: 1px solid #e6e5e7;
      display: flex;
      flex-direction: column;
      margin: 0px 8px 0px 8px;
      padding: 16px 2px 16px 2px;

      .cast-vote-section {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 20px;

        .time-remaining-text {
          color: $neutral-500;
          margin-left: 15px;
        }
      }

      .voted-display {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .vote-direction {
          display: flex;

          .vote-direction-string {
            margin-left: 5px;
          }
        }

        .time-remaining-text {
          color: $neutral-500;
          margin-top: 3px;
        }
      }
    }

    .poll-results-section {
      display: flex;
      flex-direction: column;
      padding: 16px 8px 16px 8px;
      cursor: pointer;

      .results-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .results {
          color: $neutral-500;
        }
      }

      .progress-bar-wrapper {
        margin-top: 8px;
      }
    }
  }
}
