@import '../shared';

.ProfilePreview {
  border: 1px solid $neutral-200;
  border-radius: 5px;
  .profile {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 40px;
    border-bottom: 1px solid $neutral-200;
  
    @include smallInclusive {
      flex-direction: column;
      gap: 24px;
    }
  
    .avatar {
      @include smallInclusive {
        display: flex;
        justify-content: center;
      }
  
      img {
        height: 160px;
        width: 160px;
        max-width: 160px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  
    .right-side {
      display: flex;
      flex-direction: row;
  
      @include smallInclusive {
        flex-direction: column-reverse;
        gap: 24px;
      }
  
      .content {
        .h4 {
          margin-bottom: 16px;
    
          @include smallInclusive {
            display: flex;
            justify-content: center;
          }
        }
    
        .b1 {
          margin-bottom: 16px;
        }
    
        .SocialAccounts {
          max-width: none;
          justify-content: flex-start;
          margin-bottom: 0;
    
          >:first-child {
            svg {
              margin-left: 0;
            }
          }
  
          @include smallInclusive {
            justify-content: space-between;
          }
        }
      }
  
      .action {
        .Button {
          @include smallInclusive {
            width: 100%;
          }
        }
      }
    }
  }
 
  .addresses {
    padding: 24px;

    .h5 {
      margin-bottom: 24px;
    }
  }
}