@import 'client/styles/shared';

.SnapshotProposalSelector {
  border-radius: 5px;
  border: 1px solid $neutral-100;
  height: 208px;
  overflow-y: hidden;
  width: 552px;

  .cui-control-group {
    margin-bottom: 0;
  }

  .cui-input input {
    border-bottom-color: $neutral-100;
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
    height: 40px;
  }

  .cui-list {
    border-radius: 5px;
    height: 168px;

    .cui-list-item {
      height: 56px;
      padding: 8px 16px !important;
    }
  }

  .cui-query-list-checkmark .cui-list-item-content-left {
    left: 0;
    position: unset;
  }

  .chain-entity {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-width: 0; // this ensures the title ellipsis will work

    .chain-entity-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .chain-entity-subtext {
      color: $neutral-500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .loading-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .loading-text {
      color: $neutral-600;
    }
  }
}
