@import '../shared';

.SocialAccounts {
  display: flex;
  max-width: 240px;
  justify-content: center;
  flex-wrap: wrap;

  .social-icon {
    fill: $neutral-500;
    transition: fill 0.2s ease-in-out;
    margin: 0 8px 8px 8px;

    &:hover {
      fill: $neutral-700;
    }
  }
}
