@import 'shared';

.ThreadSelector {
  border-radius: $border-radius-corners;
  border: 1px solid $neutral-100;
  margin: 16px 0;
  padding: 0;

  .linked-threads-selector-placeholder {
    padding: 112px 0;
    text-align: center;
  }

  .linked-threads-selector-placeholder-text {
    color: $neutral-600;
    height: 32px;
  }
}
