@import '../shared';

.UserSurveyPopup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .survey-svg-header {
    background-image: url('/static/img/survey_header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 156px;
  }

  .header-text {
    text-align: center;
    padding: 0 16px 0 16px;
  }

  .body-text {
    text-align: center;
    padding: 0 16px 0 16px;
  }

  .button-wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
  }

  .checkbox.Checkbox {
    justify-content: center;
    margin-bottom: 8px;

    .Text {
      color: $neutral-500;
      font-family: $font-family-neue-haas-unica;
      font-size: 12px;
      letter-spacing: 0.02em;
      line-height: 16px;
    }
  }

  .close-icon {
    position: fixed;
    right: 34px; // not on grid system due to fixed positioning
    color: $primary-300;
  }
}
