@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';

.CustomAddressOptionElement {
  display: flex;
  align-items: center;
  font-weight: 500;

  .check-icon {
    fill: colors.$green-600;
    margin-right: 8px;
  }
}
