@import 'shared';

.ChainMetadataRows {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;

  .InputRow {
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
    }
  }

  .chain-metadata-quill-editor {
    margin-bottom: 24px;
  }

  .AvatarUploadRow,
  .ToggleRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .toggle-and-label {
      display: flex;
      flex-direction: row;
    }
  }

  .tag-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .tag-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      > * {
        margin-right: 8px;
      }
    }
  }
}
