@import '../../shared';

.ManageCommunityPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  margin-right: auto;
  padding: 24px;
  width: 480px;

  @include smallInclusive {
    width: 100%;
    padding: 16px;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 32px;

    @include extraSmall {
      padding-top: 0px;
    }
  }
}
