@import '../../shared';

.UpgradeRolesForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .members-container {
    border: 1px solid $neutral-300;
    border-radius: $border-radius-corners;
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: auto;
    padding: 0 8px;
    width: 100%;

    @include visibleScrollbar(light);
  }

  .upgrade-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
