@import '../../shared';

.WebhooksForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .webhooks-container {
    display: flex;
    flex-direction: column;
    max-height: 120px;
    overflow-y: auto;

    @include visibleScrollbar(light);

    .webhook-row {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 8px;

      .webhook-info {
        align-items: center;
        display: flex;
        gap: 8px;

        .webhook-tag-text {
          background-color: $neutral-100;
          padding: 4px 8px;
        }
      }

      .buttons {
        align-items: center;
        display: flex;
        gap: 4px;
      }
    }
  }

  .no-webhooks-text.Text {
    display: inline-block;
  }
}