@import 'shared';

.WebhooksForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .no-webhooks-text.Text {
    display: inline-block;
  }

  .webhook-row {
    display: flex;
    flex-direction: column;

    .label-and-tags {
      align-items: center;
      display: flex;
    }
  }
}
