@import '../../../../styles/shared.scss';
.AccordView {
  width: 100%;
  border: 2px solid $neutral-200;
  border-radius: 6px;
  .accord-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: background-color 0.2s ease;
  }

  .accord-title {
    font-size: 14px;
    font-weight: 500;
    color: $neutral-800;
    font-family: 'NeueHaasUnica';
  }
}

.accord-content {
  padding: 16px;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid $neutral-200;
}
