@import '../../../../../../styles/shared';

.Webhooks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .header {
    .h4 {
      color: $neutral-900 !important;
    }

    .b1 {
      color: $neutral-500 !important;

      a {
        color: $primary-500 !important;

        &:visited,
        &:hover,
        &:active {
          color: $primary-500 !important;
        }
      }
    }
  }

  .discord,
  .slack,
  .telegram {
    min-width: 80px;
    text-align: center;
    text-transform: capitalize;
  }

  .btn-border {
    margin: 0 !important;

    &:focus-within {
      border-width: 1px !important;
      padding: 0px !important;
    }
  }
}
