@import '../../../../../../styles/shared';

.Webhooks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .discord,
  .slack,
  .telegram {
    min-width: 80px;
    text-align: center;
    text-transform: capitalize;
  }
}
