@import '../../../../../../../styles/shared';

.ThreadReactionButton {
  align-items: center;
  border-radius: $border-radius-corners-wider;
  border: 1px solid $neutral-200;
  color: $neutral-500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 8px 4px;
  justify-content: center;
  width: 40px;
  height: fit-content;
  outline: none;

  &.showSkeleton {
    border: 1px solid transparent;
  }

  .reactions-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    svg {
      &.Icon {
        font-size: 16px;
      }
    }

    .reactions-count {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      color: $neutral-400;

      &.has-reacted {
        color: $primary-500;
      }
    }
  }

  &.has-reacted {
    color: $primary-500;
    border-color: $primary-500;
  }

  &.disabled {
    border-color: $neutral-400;
    background-color: $neutral-200;
    pointer-events: none;

    .reactions-container {
      color: $neutral-400;

      .reactions-count {
        color: $neutral-400;
      }
    }
  }

  &:hover {
    color: $primary-600;
    border: 1px solid $primary-600;

    .reactions-container {
      .reactions-count {
        color: $primary-600;
      }
    }

  }

  &:focus {
    outline: none;
  }
}
