@import '../../../../styles/shared';

.ThreadContestTag {
  display: inline-block;

  .Tag.contest {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 8px;
    line-height: 24px;
  }
}

.contest-popover {
  .popover-title {
    color: $neutral-900;
    font-weight: 700;
  }
}
