@import '../../../styles/shared.scss';

.DirectorySettingsDrawer {
  .Drawer.directory-settings-drawer {
    @include extraSmall {
      top: 48px !important;

      .content-container {
        padding: 0 16px;
      }
    }

    .content-container {
      padding: 20px 32px;

      @include extraSmall {
        padding: 0 16px;
      }

      div.h3 {
        margin-bottom: 16px;
      }
    }
  }
}
