.DirectorySettingsModal {
  .CWModalBody {
    height: 1000px;
    max-height: calc(80vh - 120px);
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
    gap: 12px;
    overflow-y: auto;
  }

  .explore-tabs-row {
    flex-shrink: 0;
  }
}
