@import '../../../../../../styles/shared';

.CommunityPreviewCard.Card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 392px;

  .card-top {
    align-items: center;
    display: flex;
    flex-direction: row;

    .CommunityAvatar {
      margin-right: 8px;
    }
  }

  .card-subtext {
    &.b2 {
      color: $neutral-600;
    }

    &.caption {
      color: $neutral-500;
    }
  }

  .new-activity-tag.Text {
    background-color: $purple-400;
    border-radius: $border-radius-rounded-corners;
    color: $white;
    padding: 2px 8px;
  }
}
