@import '../../../../../../styles/shared';

.CommunityPreviewCard.Card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  width: 392px;
  border-radius: 12px;
  min-height: 78px;
  position: relative;
  flex-wrap: wrap;

  @include smallInclusive {
    min-height: 100px;
    max-width: 200px;
    min-width: 200px;
  }
  .CommunityAvatar {
    margin-top: 12px !important;
  }

  .card-top {
    align-items: center;
    display: flex;
    flex-direction: row;

    .CommunityAvatar {
      margin-right: 8px;
      flex-direction: row;
    }
  }

  &.isExploreMode {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid $neutral-700;
    flex-direction: column;

    .explore-label {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }

  .card-subtext {
    color: $neutral-500;
  }

  .thread-counts {
    margin-top: auto;
    padding-top: 4px;
    display: flex;
    gap: 2px;
    align-items: center;
    color: $neutral-500;
  }

  .community-name {
    display: flex;
    flex-direction: column;
  }

  .join-community {
    position: absolute;
    right: 0;

    @include smallInclusive {
      position: relative;
    }
  }
}
