@import '../../../../../../../styles/shared';

.Allowlist {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .header-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    white-space: nowrap;
    margin-top: -20px;
  }

  @media screen and (max-width: $breakpoint-extra-small-max-px) {
    .header-column {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
    }
  }

  .pagination-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.inline {
  display: flex;
  flex-direction: row;
}
