@use '../../../styles/shared.scss';
@use '../../../styles/mixins/border_radius';
@use '../../../styles/mixins/colors.module';

.AvatarUpload {
  align-items: center;
  background-color: colors.$neutral-500;
  border-radius: border_radius.$border-radius-round;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;

  &.small {
    height: 60px;
    width: 60px;
  }

  &.large {
    height: 108px;
    width: 108px;
  }

  .icon-button-container {
    background-color: colors.$white;
    border-radius: border_radius.$border-radius-round;
    position: absolute;
    right: 0;
    top: 0;

    &.small {
      height: 16px;
      width: 16px;
    }

    &.large {
      height: 24px;
      width: 24px;
    }

    &.darkMode {
      background-color: colors.$neutral-800;

      .IconButton {
        color: colors.$primary-200;

        &:hover {
          color: colors.$primary-400;
        }
      }
    }
  }

  .inner-container {
    border-radius: border_radius.$border-radius-round;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
