@import 'client/styles/shared';
@import 'client/styles/pages/supernova/shared';

.SupernovaLandingPage {
    .forum-container {
        padding-bottom: 60px;
    }
    .supernova-cover {
        position: relative;
        margin: -28px -34px 30px;
        background: #222;
        background: linear-gradient(#282828, #191919);
        height: 220px;
        width: calc(100% + 68px);
        background-size: cover;
        background-position: center;
        text-align: center;
        img.supernova-title {
            margin: 28px auto;
            max-width: 400px;
        }
        h3.supernova-title {
            margin: 0;
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: rgba(255,255,255,0.94);
            position: relative;
            top: 94px;
        }
        @include xs-max {
            margin: -16px -20px 16px;
            width: calc(100% + 40px);
        }
    }

    .supernova-lead-text {
        font-size: 18px;

        .lock-actions {
            margin-top: 25px;
        }
        a.btn.supernova-button-primary,
        a.btn.supernova-button-secondary {
            @include supernovaButton;
            display: block;
            margin: 0 0 16px;
            background: #4c83bb;
            color: #fff;
        }
        a.btn.supernova-button-secondary {
            color: #111;
            background: #eee;
        }
        @include sm-min {
            margin-left: 20px;
            a.btn.supernova-button {
                display: block;
                width: calc(100% + 15px);
                font-size: 17px;
                font-weight: 500;
            }
        }
        @include xs-max {
            margin-bottom: 40px;
        }
    }
    .supernova-lead-actions {
        flex: 1;
        @include sm-min {
            padding-left: 80px;
        }
        .section-heading {
            text-transform: uppercase;
            letter-spacing: 0.2px;
            font-weight: 500;
            font-size: 13px;
            border-bottom: 1px solid #ececec;
            padding-bottom: 4px;
            margin: 40px 0 20px;
        }
        :first-child .section-heading {
            margin-top: 19px;
        }
        .progress-section {
            .progress-bar {
                background: #eee;
                border-radius: 10px;
                height: 14px;
                width: 100%;
            }
            .progress-bar-content {
                background: #4baf6b;
                height: 100%;
                border-radius: 10px;
            }
            .progress-text {
                font-size: 15px;
                margin-top: 10px;
            }
            .progress-text-item {
                display: flex;
                .progress-text-right {
                    flex: 1;
                    text-align: right;
                }
            }
        }
        .stats-section {
            .lock-total {
                flex: 1;
                text-align: center;
                h2.lock-stat {
                    display: inline-block;
                    margin: 5px 0;
                }
                img.coin-icon {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin: -7px 0;
                    margin-right: 10px;
                    border-radius: 9999px;
                }
                a.btn {
                    display: none;
                    width: 200px;
                    font-size: 15px;
                }
            }
        }
        .info-section {
            .info-item {
                display: flex;
                .info-label {
                    flex: 1;
                }
                .info-value {
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}
