@import 'client/styles/pages/supernova/shared';

.SupernovaLockETHPage {
    .forum-container.lockETH-layout {
        @include supernovaLockPage();
        a.btn.metamask-button {
            background-color: #ec8118 !important;
            color: #fff !important;
            border-radius: 4px !important;
        }
        a.btn.mycrypto-button {
            background-color: #007895 !important;
            color: #fff !important;
            border-radius: 4px !important;
        }
        a.btn.cli-button {
            background-color: #333 !important;
            color: #fff !important;
            border-radius: 4px !important;
        }
    }
}
