@import 'client/styles/pages/supernova/shared';

.SupernovaLockATOMPage {
    .forum-container.lockATOM-layout {
        @include supernovaLockPage();
    }
    a.btn.cw-lock-button {
        width: 100% !important;
        background-color: #4c83bb !important;
        color: #fff !important;
        border-radius: 4px !important;
    }
    a.btn.cli-button {
        width: 100% !important;
        background-color: #333 !important;
        color: #fff !important;
        border-radius: 4px !important;
    }
}
