@import 'client/styles/pages/supernova/shared';

.SupernovaLockLookupPage {
    .forum-container.lookup-layout {
        @include supernovaLockPage();
        .wallets {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
    .lookup-error {
        @include error-text;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}
