@import 'client/styles/shared';

@mixin supernovaButton() {
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: #F4F4F4;
    color: black;
    padding: 7px 0;
    margin-bottom: 10px;
}

@mixin supernovaLockPage() {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 20px auto;
    font-size: 17px;
    @include xs-max {
        display: block;
        font-size: 15px;
        word-break: break-word;
    }

    a.supernova-back {
        position: absolute;
        top: 35px;
        right: 42px;
        color: #999;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    p, li {
        color: rgb(144, 144, 144);
    }
    h3, h4, h5 {
        color: #636161;
    }

    @include xs-max {
        h2.page-title {
            display: inline-block;
            width: initial;
            margin-bottom: 8px;
            margin-right: 10px;
        }
        a.supernova-back {
            display: inline-block;
            position: relative;
            top: initial;
            right: initial;
            margin-bottom: 15px;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        .form {
            display: flex;
            margin: 10px 0;
            .form-left {
                flex: 1;
                width: 50%;
                padding-right: 20px;
                .caption {
                    margin-bottom: 8px;
                }
                .form-group {
                    margin-bottom: 0px;
                }
            }
            .explanation {
                width: 50%;
                display: block;
                color: rgb(144, 144, 144);
                padding: 30px 0 0 20px;
                span {
                    margin: 10px 0;
                }
            }
            @include xs-max {
                display: block;
                .form-left {
                    padding-right: 0;
                    width: 100%;
                }
                .explanation {
                    margin-top: 10px;
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }
    .wallets {
        display: flex;
        margin-top: 20px;
        .buttons {
            padding-right: 20px;
            width: 50%;
            a.btn {
                display: inline-block;
                width: 200px;
                @include xs-max {
                    display: block;
                    width: initial;
                }
                @include supernovaButton;
            }
        }
        .wallet-disclaimer {
            padding-left: 20px;
            width: 50%;
            display: block;
            color: #aaa;
            p {
                margin: 0 0 10px 0;
            }
        }
        @include xs-max {
            display: block;
            .buttons {
                padding-right: 0;
                width: 100%;
            }
            .wallet-disclaimer {
                margin-top: 20px;
                margin-bottom: 5px;
                padding: 0;
                width: 100%;
            }
        }
    }
    .lock-error {
        @include error-text;
        margin-top: 24px;
    }
    .lock-success {
        @include success-text;
        margin-top: 24px;
    }
}
