@import '../../shared';

$size: 48px;

.DiscussionsPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .no-threads-text {
    color: $neutral-500;
    margin-left: 40px;
  }

  .RecentThreads {
    display: flex;
    flex-direction: column;
    padding: 0 0 24px;
    width: 100%;
    height: 100%;

    .listing-scroll {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 16px 0;

      .thread-count-text.Text {
        color: $neutral-500;
      }
    }
  }
}
