@import 'shared';

$size: 48px;

.NoThreadsPlaceholder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 24px;

  .no-threads-text.Text {
    color: $neutral-500;
  }

  .icon-circle {
    align-items: center;
    background: $primary-200;
    border-radius: $size / 2;
    color: $white;
    display: flex;
    height: $size;
    justify-content: center;
    width: $size;
  }

  .welcome-text-container {
    display: flex;
    flex-direction: column;

    .no-threads-text.Text {
      color: $neutral-500;
    }
  }
}

.RecentThreads {
  padding: 0 24px;

  .listing-scroll {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 16px 0;

    .thread-count-text.Text {
      color: $neutral-500;
    }
  }
}
