@import '../../shared';

.RecentThreadsHeader {
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 56px 56px 24px;

  @include medium {
    padding: 40px 40px 16px;
  }

  @include mediumSmall {
    padding: 32px 32px 16px;
  }

  @include smallInclusive {
    padding: 24px 24px 16px;
  }

  .header-row {
    display: flex;
    justify-content: space-between;

    .count-and-button {
      align-items: center;
      display: flex;
      gap: 16px;

      .thread-count-text.Text {
        color: $neutral-400;
      }
    }
  }

  .subheader-text.Text {
    color: $neutral-600;
  }

  .buttons-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
