@import '../../shared';

.RecentThreadsHeader {
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header-row {
    display: flex;
    justify-content: space-between;

    .count-and-button {
      align-items: center;
      display: flex;
      gap: 16px;

      .thread-count-text.Text {
        color: $neutral-400;
      }
    }
  }

  .subheader-text.Text {
    color: $neutral-600;
  }

  .buttons-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}