@import '../../shared';

.ThreadsFilterMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 40px;
  padding: 8px 16px;

  &:hover {
    background-color: $neutral-50;
  }

  &:active {
    background-color: $neutral-100;
  }
}

.threads-filter-menu-items {
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-height: 280px;
  max-width: 296px;
  overflow-y: auto;
}
