@import 'shared';

.ThreadSummaryRow {
  border-bottom: 1px solid $neutral-200;
  display: grid;
  grid-template-columns: 352px 1fr 1fr;
  gap: 16px;
  padding: 8px 0;

  .topic-column {
    // width: 352px;
  }
}
