@import '../../shared';

.ThreadPreview {
  cursor: pointer;
  display: flex;
  width: 100%;

  // 0 padding on top for sticky header
  padding: 16px 56px;

  @include medium {
    padding: 16px 40px;
  }

  @include mediumSmall {
    padding: 16px 32px;
  }

  @include smallInclusive {
    padding: 16px 24px;
  }

  &.isPinned {
    background: $neutral-50;

    &:hover {
      background: $neutral-100;
    }
  }

  &:hover {
    background: $neutral-100;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .top-row {
      align-items: center;
      display: flex;
      gap: 4px;
      justify-content: space-between;

      .user-and-date {
        font-family: $font-family-neue-haas-unica;
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .User {
          align-items: center;
          display: flex;

          .user-avatar {
            position: unset;
          }

          .username {
            @include caption;

            font-weight: 500;
          }
        }

        .last-updated-text.Text {
          color: $neutral-500;
        }
      }

      .top-row-icons {
        display: flex;
        gap: 8px;

        @include flame;

        @include smallInclusive {
          gap: 4px;

          @include flame($size: small);
        }
      }
    }

    .thread-preview {
      @include multiline-text-ellipsis($max-lines: 2);
      word-break: break-word;
    }

    .title-row,
    .tags-row {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding-right: 72px; // hack to be removed on completion of discussion listings
    }

    .top-tags-row {
      display: flex;
      gap: 8px;
    }

    .row-bottom {
      display: flex;
      gap: 20px;
      font-family: $font-family-neue-haas-unica;

      .Icon,
      .Text {
        color: $neutral-500;
      }

      .comments {
        align-items: center;
        display: flex;
        gap: 4px;

        .Icon {
          fill: transparent;
        }
      }

      .share {
        display: flex;
        align-items: center;
        gap: 4px;

        .Text {
          line-height: 24px;
        }
      }

      .subscribe {
        display: flex;
        align-items: center;

        .IconButton {
          fill: transparent;
        }

        .btn-txt-container {
          display: flex;
          gap: 4px;

          .Text {
            line-height: 20px;
          }
        }
      }
    }
  }
}
