@import '../../../../../styles/shared';

.thread-connectors-container {
  display: flex;
  gap: 24px;
  margin-right: 24px;

  .thread-connector {
    background-color: $neutral-200;
    height: 100%;
    left: 36px;
    position: relative;
    top: 12px;
    width: 1px;

    &.replying {
      background-color: $neutral-300;
      width: 2px;
    }
  }
}

.Comment {
  display: flex;


  &.highlighted {
    background-color: $yellow-200;
    border-radius: $border-radius-corners;

    &.highlightAnimationComplete {
      background-color: transparent;
      transition: background-color 1s ease-in-out;
    }
  }

  .comment-body {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 0px;
    gap: 16px;

    .comment-text {

      div,
      span,
      p {
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 20px !important;
        /* identical to box height, or 143% */

        letter-spacing: 0.01em !important;
      }
    }

    .comment-text,
    .comment-footer {
      padding-left: 30px;
    }

    .comment-header {
      align-items: center;
      display: flex;
      gap: 8px;

      .User {
        align-items: center;
        display: flex;
        height: 24px;

        .username {
          font-weight: 500;

          @include caption;
        }
      }

      .published-text.Text {
        color: $neutral-500;
      }

      .verification-icon {
        color: $neutral-500;
        margin-top: 2px;
      }
    }

    .comment-footer {
      display: flex;
      align-items: center;
      gap: 8px;

      .comment-option-btn {
        outline: 0;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: $border-radius-corners-wider;
        color: $neutral-600;

        &:hover {
          background-color: $neutral-200-new;
        }

        .Text {
          color: $neutral-600;
        }
      }

      .reply-button {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 4px;

        .Icon,
        .menu-buttons-text.Text {
          color: $neutral-500;
        }

        &:hover {

          .Icon,
          .menu-buttons-text.Text {
            color: $neutral-600;
          }
        }

        &:active {

          .Icon,
          .menu-buttons-text.Text {
            color: $neutral-800;
          }
        }

        &.selected {

          .Icon,
          .menu-buttons-text.Text {
            color: $neutral-800;
          }
        }
      }
    }
  }
}

.EditComment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 2.3em;

  .buttons-row {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    width: 100%;
  }
}