@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';

.Governance {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .cta-section {
    display: flex;
    gap: 12px;
    margin-top: 8px;
  }
}
