@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.NewCommunityAdminModal {
  .description {
    color: colors.$neutral-500;
  }

  .CWModalBody {
    padding-bottom: 24px;
    overflow: unset;
  }
}
