@import '../../shared';

.FeedPage {
  display: flex;
  flex: 1;
  gap: 56px;
  justify-content: space-between;
  width: auto;
  z-index: 0;
  @media (min-width: $breakpoint-medium-min-px) {
    /* CommunityPreviewCard 392px width +
       DashboardCommunitiesPreview 50px right edge */
    margin-right: 442px;
  }

  @include contentPadding;
}