@import '../../shared';

.Body {
  display: block !important;

  .FeedPage {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include contentPadding;

    .h3 {
      margin-bottom: 16px;
    }
  }
}
