@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.WVConsent {
  display: flex;

  .header {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 596px;
    margin-right: 110px;

    .Text.h4 {
      margin-top: 16px;
    }

    @include media_queries.smallInclusive {
      margin-right: unset;
    }

    .description {
      color: colors.$neutral-500;
      margin-top: -8px;
    }

    .info {
      display: inline-block;

      a {
        margin-left: 4px;
        color: colors.$primary-600;
      }
    }

    .Divider {
      margin-block: 8px;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
