@use '../../../../styles/shared.scss';
@use '../../../../styles/mixins/colors.module';
@use '../../../../styles/mixins/icons';

.Icon {
  @include icons.baseIconStyles;

  &.disabled {
    color: colors.$neutral-200;
    pointer-events: none;
  }
}

.CustomIcon {
  @include icons.baseIconStyles;

  fill: unset; // they will be brand assets should we shouldn't alter their colors
}

.blue-icon {
  color: colors.$primary-500;
  fill: colors.$primary-500;
}
