@import '../../../styles/shared';

.ContestPage {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .leaderboard-list {
    max-width: 598px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
