@import '../../../../../../styles/shared.scss';

.Popover {
  background-color: $white;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid $neutral-200;
  max-width: 320px;

  .popover-title {
    text-transform: uppercase;
    color: $neutral-400;
    margin-bottom: 12px;
  }
}
