@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

.Popover {
  background-color: colors.$white;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid colors.$neutral-200;
  max-width: 320px;

  .popover-title {
    text-transform: uppercase;
    color: colors.$neutral-400;
    margin-bottom: 12px;
  }
}
