@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

.circle-btn-border {
  cursor: pointer;
  width: fit-content;
  border-radius: 50%;

  &.primary,
  &.secondary {
    border: 2px solid colors.$transparent;
  }

  &.primary,
  &.secondary {
    padding: 2px;

    &:focus-within {
      border: 2px solid colors.$neutral-800;

      .CircleButton.secondary {
        border: 1px solid colors.$transparent;
      }
    }
  }

  .CircleButton {
    cursor: pointer;
    line-height: 0;
    width: fit-content;
    border-radius: 50%;

    &:focus {
      outline: none;
    }

    svg {
      height: 16px;
      width: 16px;
    }

    &.primary {
      padding: 8px;
      border: none;
      background-color: colors.$neutral-700;

      svg {
        color: colors.$white;
      }

      &:hover {
        background-color: colors.$neutral-800;
      }

      &:active {
        background-color: colors.$neutral-700;
      }

      &:focus {
        background-color: colors.$neutral-800;
      }

      &.disabled {
        background-color: colors.$neutral-200;
        cursor: not-allowed;

        svg {
          color: colors.$neutral-400;
        }
      }
    }

    &.secondary {
      padding: 7px;
      border: 1px solid colors.$neutral-200;
      background-color: colors.$neutral-50;

      svg {
        color: colors.$black;
      }

      &:hover {
        background-color: colors.$neutral-100;
      }

      &:active,
      &:focus {
        background-color: colors.$neutral-50;
      }

      &.disabled {
        background-color: colors.$neutral-50;
        cursor: not-allowed;

        svg {
          color: colors.$neutral-400;
        }
      }
    }
  }
}
