@import '../../../../../../styles/shared';

@mixin topicRowStyles {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: $white;
}

.ManageTopicsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .featured-topic-list {
      height: 400px;
    }

    .regular-topic-list {
      max-height: 400px;

      .topic-list-container {
        overflow-y: auto;
      }
    }

    .featured-topic-list,
    .regular-topic-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include visibleScrollbar(light);

      .header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 8px;
      }

      .topic-row {
        @include topicRowStyles;

        &:hover {
          background-color: $neutral-50;
        }

        .CWIconButton {
          margin-left: 4px;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }

  @include extraSmall {
    .actions {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }
}
