@import '../../../../../styles/shared.scss';

.PreferencesStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;

    .h4 {
      color: $neutral-600;
    }

    .h5 {
      color: $neutral-500;
    }
  }

  .action-btns {
    width: 80%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 8px;
    margin-top: 10px;
    gap: 10px;
    .primary {
      background-color: $primary-600 !important;
    }
    @include extraSmall {
      bottom: 80px;
      gap: 16px;
    }
    @include heightSmallInclusive {
      bottom: 4px;
    }
  }
}
