@use '../../../../styles/shared';
@use '../../../../styles/mixins/media_queries';

.ContestThreadBanner {
  .content-container {
    @include media_queries.extraSmall {
      flex-direction: column;
    }

    .right-side {
      display: flex;
      padding-left: 64px;
      margin-top: 8px;

      @include media_queries.extraSmall {
        padding-left: 0;
        margin-left: unset !important;
      }

      .banner-accessory-right {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 120px;
      }
    }
  }
}
