@import 'shared';

.FilterMenu {
  background-color: $white;
  border-radius: $border-radius-corners;
  box-shadow: $elevation-3;
  overflow: hidden;
  padding: 8px 16px;
  user-select: none;
}

.Button.someChecked {
  border-color: $neutral-800;

  &:hover,
  &:active {
    border-color: $neutral-800;
  }
}
