@import '../../../shared';

.PopoverMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  user-select: none;
  border-radius: $border-radius-md  !important;

  .menu-item-text.Text {
    font-size: 14px !important;
    color: $neutral-800-new;
  }

  .menu-item-icon.Icon {
    color: $neutral-800-new;
  }

  &:hover {
    background-color: $neutral-50;
  }

  &:active {
    background-color: $neutral-100;
  }

  &.disabled {
    background-color: $neutral-50;
    pointer-events: none;

    .menu-item-icon.Icon {
      color: $neutral-500;
    }

    .menu-item-text.Text {
      color: $neutral-500;
    }
  }

  &.isSecondary {
    .menu-item-icon.Icon {
      color: $neutral-500;
    }

    .menu-item-text.Text {
      font-size: 14px !important;
      color: $neutral-500;
    }
  }
}

.PopoverMenu {
  background-color: $white;
  border-radius: $border-radius-md  !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: $neutral-200-new  !important;
  box-shadow: $elevation-6  !important;
  overflow: hidden;
  padding: 8px;

  .menu-section-header-text.Text {
    color: $neutral-500;
    padding: 8px 16px;
    user-select: none;
    font-size: 14px !important;
  }

  .menu-section-divider {
    background-color: $neutral-100;
    height: 1px;
    width: 100%;
  }
}