@import '../../../shared';

@mixin baseTooltipStyles {
  align-items: center;
  background-color: $white;
  border-radius: $border-radius-corners;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  max-width: 196px;
  min-height: 8px;
}

.Tooltip {
  @include baseTooltipStyles;

  border: 2px solid $neutral-400;

  .Text {
    color: $neutral-500;
  }

  &.solidBackground {
    background-color: $primary-100;
    border-color: $primary-100;

    .Text {
      color: $neutral-800;
    }
  }

  &.singleLine {
    @include baseTooltipStyles;

    background-color: $neutral-800;
    border-color: $neutral-800;
    height: 24px;
    max-width: 400px;
    padding: 4px 8px;

    .Text {
      color: $white;
    }
  }
}
