@import '../../../shared';

.Tooltip {
  align-items: center;
  background-color: $white;
  border: 2px solid $neutral-400;
  border-radius: $border-radius-corners;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  max-width: 196px;
  min-height: 8px;

  .Text {
    color: $neutral-500;
  }

  &.hasBackground {
    background-color: #332e36;
    border: none;

    .Text {
      color: #f1f1f1;
    }
  }
}
