@import '../../../../../../styles/shared';
@import './CWSearchBar.scss';

.SearchBarThreadPreviewRow {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include everyRowStyles;

  .header-row {
    align-items: center;
    display: flex;
    gap: 8px;

    .User {
      align-items: center;
      display: flex;

      .user-avatar {
        position: unset;
      }

      .username {
        @include caption;

        font-weight: 500;
      }
    }

    .last-updated-text.Text {
      color: $neutral-500;
    }
  }

  .content-row {
    .Text {
      display: inline;
    }
  }

  .excerpt-text.Text {
    color: $neutral-600;
  }
}

.SearchQuillRenderer {
  max-height: 72px;
  overflow-y: hidden;
}
