@use '../../../../../styles/shared';
@use 'CWSearchBar.scss';
@use '../../../../../styles/mixins/colors.module';

.SearchBarCommentPreviewRow {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include CWSearchBar.everyRowStyles;

  .Text {
    display: inline;
  }

  .last-updated-text.Text {
    color: colors.$neutral-500;
  }

  .excerpt-text.Text {
    color: colors.$neutral-600;
  }
}
