@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

.GovernanceMemberCard {
  width: 250px;
  padding: 24px;
  border: 1px solid colors.$neutral-100;
  border-radius: 8px;
  background-color: colors.$white;

  .member-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  .link {
    color: colors.$primary-600;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
