.MobileOverflowButton {
  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.MobileOverflowButtonPopover {
  padding: 4px;

  margin-bottom: 8px;
  margin-top: 8px;

  button {
    outline: none;
    border: none;
  }
}
