@import '../../../../../styles/shared';

.GroupsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
