@import '../../shared';

.CommunityPreviewCard.Card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 392px;

  .card-top {
    align-items: center;
    display: flex;
    flex-direction: row;

    .CommunityAvatar {
      margin-right: 8px;
    }
  }

  .card-subtext {
    &.b2 {
      color: $neutral-600;
    }

    &.caption {
      color: $neutral-500;
    }
  }

  .new-activity-tag.Text {
    background-color: $purple-400;
    border-radius: $border-radius-rounded-corners;
    color: $white;
    padding: 2px 8px;
  }
}

.DashboardCommunitiesPreview {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: fixed;
  right: 50px;
  float: right;
  top: 70px;
  z-index: 1;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 100px;

  @include mediumSmallInclusive {
    display: none;
  }

  .community-preview-cards-collection {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}
