@import '../../shared';

.UserDashboard {
  display: flex;
  flex: 1;
  gap: 56px;
  justify-content: space-between;
  padding: 48px 80px;

  .dashboard-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dashboard-header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      margin-bottom: 32px;
    }
  }

  .Divider {
    margin-top: 8px;
    width: 768px;

    @include mediumSmallInclusive {
      width: 100%;
    }
  }
}

.dashboard-filter-items {
  background: $white;
  width: fit-content;
}
