@import '../../shared';

.UserDashboard {
  .page-header {
    padding: 24px 56px;

    @include medium {
      padding: 20px 40px;
    }

    @include mediumSmall {
      padding: 16px 32px;
    }

    @include smallInclusive {
      padding: 16px;
      padding-top: 0 !important;
    }
  }

  .content {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;

    @include mediumSmallInclusive {
      gap: 16px;
    }

    @media (min-width: $breakpoint-medium-min-px) {
      grid-template-columns: 1fr 392px;
      padding-right: 48px;
    }

    .user-dashboard-activity {
      order: 2;

      @media (min-width: $breakpoint-medium-min-px) {
        order: unset;
      }

      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;

      @include contentPadding;
      padding-top: 0 !important;

      .dashboard-header {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        margin-bottom: 16px;
        background-color: white;

        @include small {
          margin-top: 12px;
        }
      }
    }

    .Divider {
      margin-top: 8px;
      min-width: 100%;
      max-width: 0;
    }
  }
}

.dashboard-filter-items.Card {
  background: $white;
  width: 100%;
}
