@import '../../shared';

.UserDashboard {
  //display: flex;
  flex: 1;
  justify-content: space-between;
  width: auto;
  z-index: 0;
  @media (min-width: $breakpoint-medium-min-px) {
    /* CommunityPreviewCard 392px width +
       DashboardCommunitiesPreview 50px right edge */
    //margin-right: 442px;
  }

  //@include contentPadding;

  .dashboard-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;

    .dashboard-header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      margin-bottom: 16px;
    }
  }

  .Divider {
    margin-top: 8px;
    min-width: 100%;
    max-width: 0;
  }
}

.dashboard-filter-items.Card {
  background: $white;
  width: 100%;
}
