@import 'shared';

.UserDashboardRow {
  border-bottom-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;

  &:hover {
    background: $neutral-50;
    border-radius: $border-radius-corners;
  }
}
