@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.ExternalLinksModule {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 80%;
  gap: 16px;

  .telegram-link {
    color: colors.$primary-500;
    cursor: pointer;
  }

  .tiktok-link {
    color: colors.$neutral-800;
    cursor: pointer;
  }

  .twitter-link {
    color: colors.$neutral-800;
    cursor: pointer;
  }

  .element-link {
    color: colors.$green-500;
    cursor: pointer;
  }

  .discord-link {
    color: colors.$purple-300;
    cursor: pointer;
  }

  .website-link {
    color: colors.$neutral-800;
    cursor: pointer;
  }

  .github-link {
    color: colors.$neutral-800;
    cursor: pointer;
  }
}
