@import '../../../../../../styles/shared';

.AuthorAndPublishInfo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .User {
    align-items: center;
    display: flex;
    gap: 8px;

    .user-avatar {
      position: unset;
      margin-right: 0px !important;
    }

    .username {
      @include caption;

      font-weight: 500;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .collaborators {
    background-color: $white;
    border-radius: $border-radius-corners;
    box-shadow: $elevation-1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .dot-indicator.Text {
    color: $neutral-500-new;
  }

  .section-text.Text {
    color: $neutral-600;
  }

  .proposal-stage-text.Text {
    font-weight: 500;

    &.positive {
      color: $green-500;
    }

    &.negative {
      color: $rorange-500;
    }
  }

}