{
    admin off
    persist_config off
    auto_https off
    log {
       format console
    }
}

:{$PORT} {
    @ten_percent {
        expression rand() < 0.1
    }
    
    handle @ten_percent {
        reverse_proxy {$INTERNAL_DOMAIN:http://prod-web.railway.internal:8080}
    }
    
    handle {
        reverse_proxy {$FRACK_DOMAIN:https://commonwealth-frack.herokuapp.com}
    }
}
