{
	admin off
	persist_config off
	auto_https off
	log {
		format console
	}
}

:{$PORT} {
	reverse_proxy {$FRACK_DOMAIN:https://commonwealth-frack.herokuapp.com} {$INTERNAL_DOMAIN:prod-web.railway.internal:8080} {
		lb_policy weighted 90 10
	}
}
