{
    admin off
    persist_config off
    auto_https off
    log {
       format console
    }
}

:{$PORT} {
    reverse_proxy {$HEROKU_DOMAIN:https://commonwealth-frack.herokuapp.com} {$INTERNAL_DOMAIN} {
        lb_policy weighted 90 10
    }
}
