@use '../../../../../../../styles/shared';
@use '../../../../../../../styles/mixins/colors.module';

.InfoBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .caption {
    color: colors.$neutral-500;
  }
}
