@import '../../../../../../../styles/shared';

.RequirementCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  background-color: $neutral-50;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;

  .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chain-badge {
    margin-left: auto;
  }

  .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .cols-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .cols-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
  }

  .cols-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
  }
}
