@import '../../../../../../../styles/shared';

.GroupForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;

  .header-row {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .filter-section-right {
      flex: 1;
      //justify-content: space-between;
      //align-items: center;
      //display: flex;
      //gap: 16px;
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .radio-buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .requirements-radio-btn-label {
        display: flex;
        align-items: center;
        gap: 8px;

        .CWSelectList {
          .SelectList {
            padding: 4px 10px !important;
            min-height: auto;

            .cwsl__option {
              text-align: center;
              padding: 2px 16px !important;
            }
          }
        }
      }

      .requirements-radio-btn-helper-text {
        color: $neutral-500;
      }
    }
  }

  .action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;

    @include extraSmall {
      justify-content: flex-end;
    }
  }
}
