@import '../../../../styles/shared';

.InviteLinkModal {
  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  input,
  svg {
    cursor: pointer !important;
  }

  input:read-only {
    background-color: $neutral-50;
    border-color: $neutral-200;
    color: $neutral-400;

    &:hover {
      border-color: $neutral-200;
    }

    &:focus-within {
      border-color: $neutral-200 !important;
      box-shadow: none !important;
    }
  }

  .share-section {
    .Text.bold {
      margin-block: 16px;
    }

    .share-options {
      display: flex;
      justify-content: space-between;
      overflow-y: auto;

      .share-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 12px;
        transition: background-color 0.2s;

        .icon {
          width: 48px;
          height: 48px;
        }

        .Text.caption {
          color: $neutral-400;
          white-space: nowrap;
          justify-content: center;
        }

        &:hover {
          background-color: $neutral-50;
          transition: background-color 0.2s;
        }
      }
    }
  }
}
