@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.ProfileThread {
  padding: 0px 60px 0px 60px;
  border-bottom: 1px solid colors.$neutral-200;
  @include media_queries.extraSmall {
    padding: 0px 30px 0px 30px;
  }
  .Divider {
    display: none;
  }
}
