@import 'shared';

$formWidth: 480px;

.CreateProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  .h5 {
    color: $primary-500;
  }
  .form-panel {
    width: $formWidth;
  }
  .InformationSlide,
  .DescriptionSlide,
  .FundraisingSlide {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .CoverImageUpload {
    margin-top: 16px;
  }
  .InformationSlide > .cui-button,
  .FundraisingSlide > .cui-button {
    background-color: $neutral-25;
    border-radius: $border-radius-corners;
    border: 2px solid $neutral-200;
    padding: 6px 8px;
  }
  .NavigationButtons {
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cui-button {
      margin: 0 16px;
      .Text {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
    }
  }
}

// Popover styles

// ChainInfo and Account select list
.chain-info-list > .cui-popover-content,
.account-address-list > .cui-popover-content {
  width: $formWidth;
  .Text {
    padding: 8px;
    &.disabled {
      cursor: default;
    }
    &:hover {
      background-color: $neutral-50;
    }
  }
}

.fundraise-length-list .Text {
  padding: 4px;
  &:hover {
    background-color: $neutral-50;
  }
}
