@import 'shared';

$formWidth: 480px;

.CreateProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  .h5 {
    color: $primary-500;
  }
  .form-panel {
    width: $formWidth;
  }
  .InformationSlide,
  .DescriptionSlide,
  .FundraisingSlide {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .CoverImageUpload {
    margin-top: 16px;
  }
  .InformationSlide > .cui-button {
    @include inputStyles;
    padding: 6px 8px;

    &.darkMode {
      @include darkModeInputStyles;
    }
  }
  .NavigationButtons.cui-button-group {
    width: 480px;
    margin: 56px 0 28px;
    .cui-button {
      width: 50%;
      .cui-button-label {
        display: flex;
        span {
          position: relative;
          top: 2px;
          padding: 0 5px;
        }
      }
    }
  }
}

// Chain id select list
.chain-id-list > .cui-popover-content {
  width: $formWidth;
  .Text {
    padding: 8px;
    &:hover {
      background-color: $neutral-50;
    }
  }
}
