@import 'shared';

.ProjectCard {
  border-radius: 5px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
  flex-direction: column;
  width: 336px;

  // TODO: REPLACE
  .dummy-chain-wrap {
    left: 8px;
    position: relative;
    .chain-icon {
      border-radius: 100%;
    }
  }

  .ProjectHeaderPanel {
    background-color: $neutral-200;
    background-size: 100%;
    border-radius: 5px 5px 0 0;
    flex: 32;
    min-height: 184px;
    max-height: 184px;
    .user-role-banner {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px;
      &.author {
        background-color: $primary-50;
        .Text {
          color: $primary-300;
        }
      }
      &.curator {
        background-color: $pink-50;
        .banner-left {
          .Text {
            color: $pink-300;
          }
          svg > path {
            fill: $pink-300;
          }
        }
        .banner-right {
          .Text {
            color: $pink-500;
          }
        }
      }
      &.backer {
        background-color: $purple-50;
        .banner-left {
          .Text {
            color: $purple-200;
          }
          svg > path {
            fill: $purple-200;
          }
        }
        .banner-right {
          .Text {
            color: $purple-400;
          }
        }
      }
      .banner-left {
        display: flex;
        .caption {
          margin-right: 8px;
        }
      }
    }
  }

  .ProjectCompletionBar {
    flex: 1;
    height: 8px;
    background-color: $neutral-300;
    .completed-percentage {
      height: 100%;
      background-color: $green-400;
      &.failed {
        background-color: $rorange-500;
      }
    }
  }

  .ProjectInfoPanel {
    background-color: $white;
    padding: 8px 16px;
    min-height: 208px;
    max-height: 208px;
    .funding-data {
      display: flex;
      justify-content: space-between;
      .cui-tag {
        background: $neutral-50;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 4px;
        .Text,
        svg {
          color: $neutral-500;
        }
      }
      .funding-state {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .bold {
          margin-right: 4px;
        }
      }
    }
    .description {
      border-radius: 0 0 5px 5px;
      flex: 32;
      margin: 16px 0 8px;
      .h5 {
        color: $neutral-800;
        display: flex;
        .DummyChainIcon {
          margin-right: 6px;
        }
      }
      .Text {
        color: $neutral-800;
        text-overflow: ellipsis;
        white-space: break-spaces;
        overflow: hidden;
        &.caption {
          height: 80px;
        }
      }
    }
    .beneficiary-data {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
      .User {
        display: flex;
        align-items: center;
        .user-display-name {
          margin-left: 4px;
          color: $neutral-800;
          font-size: 14px;
        }
        .user-avatar-only {
          svg {
            margin: 0 1px 1px 0 !important;
          }
        }
      }
      .cui-tag {
        background: $neutral-50;
        border: none;
        border-radius: 5px;
        padding: 4px;
        .Text {
          color: $neutral-500;
        }
      }
    }
  }
}
