@use '../../../../../../styles/shared';
@use '../../../../../../styles/mixins/colors.module';

.FeeManagerBannerSkeleton {
  max-width: 600px;
  margin-bottom: 16px;
  height: 93px;
}

.FeeManagerBanner {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid colors.$primary-200;
  background: colors.$primary-25;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-bottom: 16px;

  .popover-row {
    display: flex;

    .info-stake {
      color: colors.$neutral-600;
      display: inline;

      .CWIconButton {
        vertical-align: bottom;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
  }
}
