@import 'client/styles/shared';

.CharacterLimitedTextInput {
    position: relative;

    .character-limit-remaining {
        position: absolute;
        top: 11px;
        right: 9px;
        color: #999;
        background: #fff;
        text-align: right;
        font-size: 12px;
        &.over-limit {
            color: $negative-text-color;
        }
    }
}
