@import 'client/styles/shared';

.DropdownButton {
    position: relative;
    display: inline-block;
    button {
        height: 100%;
        width: 100%;
    }
    &.disabled, {
        opacity: 0.4;
        pointer-events: none;
    }
    svg.feather-icon {
        position: relative;
        top: 2px;
        margin-left: 10px;
        margin-right: -8px;
    }
    .dropdown {
        display: none;
        position: absolute;
        left: -2px;
        top: 35px;
        min-width: 184px;
        &.open {
            display: block;
        }
        @include menu-styles;
    }
}
