@import 'client/styles/shared';

.HorizontalTabs {
  display: flex;
  border: 1px solid $border-color-lightest;
  margin-bottom: 20px;

  .tab-bar {
    width: 200px;
    border-right: 1px solid $primary-300;
    a.tab-entry {
      display: block;
      padding: 16px 16px 8px;
      border-bottom: 1px solid $primary-300;
      text-decoration: none;
      color: $neutral-800;
      cursor: pointer;
      &.active,
      &:hover,
      &:focus {
        background: $primary-400;
      }
      &.disabled {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }
  }
  .tab-content {
    flex: 1;
    padding: 24px 28px;
  }
}
