@import 'client/styles/shared';

.Tabs {
  .tab-bar {
    border-bottom: 1px solid $neutral-100;
    margin-bottom: 30px;
  }
  a.tab-entry {
    text-decoration: none;
    color: $neutral-800;
    padding: 8px 10px;
    margin-right: 4px;
    display: inline-block;
    font-weight: 500;
  }
  a.tab-entry.active {
    color: $neutral-800;
    border-bottom: 3px solid $primary-600;
    padding-bottom: 8px;
  }
  @include xs-max {
    .tab-bar {
      margin-bottom: 16px;
    }
  }
}
