@import 'client/styles/shared';
@import 'client/styles/components/widgets/user';

.UserGallery {
    .overflow-users-wrap {
        @include circledAvatar();
        position: relative;
        display: inline-block;
        margin-right: -16px;
        margin-top: -3px;
        white-space: nowrap;
        background-color: tint(#88a0de, 12%);
        line-height: 44px !important;
        .overflow-users {
            position: absolute;
            width: 100%;
            left: 0;
            top: -50%;
            text-align: center;
            color: white;
        }
    }
}
