@import 'client/styles/shared';
@import 'client/styles/components/widgets/user';

.UserGallery {
    .overflow-users-wrap {
        @include circledAvatar();
        display: inline-block;
        margin-right: -16px;
        margin-top: -3px;
        white-space: nowrap;
        background-color: $background-color-medium-accent;
        .overflow-users {
            text-align: center;
            color: white;
            position: relative;
            top: 2px;
        }
    }
}
