@import 'client/styles/shared';

@mixin bareAvatar {
    position: relative;
    display: inline-block;
    margin: -3px 0;
    margin-right: 8px;
    line-height: 0; // ensure icon doesn't get misaligned when base font size changes
    background: #fff;
    border-radius: 9999px;
    overflow: hidden;
    .avatar-image {
        background: $background-color-light;
        background-size: cover;
    }
}

@mixin circledAvatar {
    border-radius: 9999px;
    overflow: hidden;
    margin: 0;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(128,128,128,0.2);
    svg {
        margin: 2px;
    }
    .avatar-image {
        width: 100% !important;
        height: 100% !important;
        background: $background-color-light;
        background-size: cover;
    }
}

@mixin identityIcon {
    font-size: 80%;
    position: relative;
    top: -1px;
    margin-left: 4px;
    line-height: 1;
    &.green {
        color: $positive-bg-color;
    }
    &.red {
        color: $negative-bg-color;
    }
    &.gray {
        color: #aaa;
    }
}

.User {
    display: inline-block;
    white-space: nowrap;
    a {
        text-decoration: none;
        color: initial;
    }
    .user-avatar {
        @include bareAvatar();
    }
    .user-avatar-only {
        @include circledAvatar();
    }
    span.identity-icon {
        @include identityIcon();
    }
    a.user-display-name.verified {
        // color: $theme-base-color !important;
    }
    &.linkified a.user-display-name {
        cursor: pointer;
    }
    &.linkified a.user-display-name:hover {
        text-decoration: underline;
    }
    .role-tag {
        margin-left: 10px;
        margin-right: 0;
        margin-top: -5px;
        margin-bottom: -5px;
        padding: 0 6px;
        background: $background-color-light;
        border-color: $background-color-border;
    }
}

.UserPopover {
    text-align: center;

    .user-avatar,
    .user-name {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .user-avatar {
        @include circledAvatar();
        width: 36px;
        height: 36px;
        margin: 0 auto 8px;
    }
    .user-name {
        clear: both;
        a {
            text-decoration: none;
            color: #222;
        }
        a:hover {
            text-decoration: underline;
        }
        span.identity-icon {
            @include identityIcon();
        }
    }
    .user-address {
        color: #999;
    }
}

.UserBlock {
    display: flex;
    line-height: 17px;
    .user-block-left {
        padding-right: 13px;
        position: relative;
        top: 5px;
        .user-block-symbol {
            text-align: center;
            padding: 0 4px;
            line-height: 1.25;
            font-size: 10px;
            font-weight: 500;
            border-radius: 6px;
            background: #333;
            color: #fff;

            position: absolute;
            bottom: 4px;
            left: 2px;
            width: 25px;
        }
    }
    .user-block-center {
        flex: 1;
        line-height: 19px;
        .user-block-name,
        .user-block-address {
            text-align: left;
        }
        .user-block-address {
            font-size: 0.85em;
            opacity: 0.6;
        }
    }
    .user-block-right {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 60px;
        .user-block-selected {
            flex: 1;
            text-align: right;
        }
    }
    &.compact {
        .user-block-left {
            top: 4px;
        }
        .user-block-center {
            line-height: 1em;
            .user-block-name {
                font-size: 0.94em;
            }
            .user-block-address {
                font-size: 0.8em;
            }
        }
    }
}
