@import 'client/styles/shared';

@mixin bareAvatar {
  position: relative;
  display: inline-block;
  margin: -3px 0;
  margin-right: 8px;
  background: $text-color-white;
  border-radius: 9999px;
  overflow: hidden;
  .avatar-image {
    background: $background-color-light;
    background-size: cover;
  }
}

@mixin circledAvatar {
  border-radius: 9999px;
  overflow: hidden;
  margin: 0;
  background: $text-color-white;
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.1);
  svg {
    margin: 2px;
  }
  .avatar-image {
    width: 100% !important;
    height: 100% !important;
    background: $background-color-light;
    background-size: cover;
  }
}

@mixin roleIcon {
  background: $background-color-dark-accent;
  border-radius: 50%;
  color: $text-color-white;
  display: inline-block;
  font-weight: 500;
  padding: 2px 5px 2px;

  &.green {
    background: $positive-bg-color;
  }

  &.red {
    background: $negative-bg-color;
  }

  &.gray {
    background: $background-color-medium-accent;
  }

  &.long {
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    height: 24px;
    margin-top: 4px;
  }
}

.User {
  display: inline-block;
  white-space: nowrap;
  > a {
    // reset link styles
    &,
    &:link,
    &:visited {
      color: inherit;
    }
  }
  .user-avatar {
    @include bareAvatar();
  }
  .user-avatar-only {
    @include circledAvatar();
  }
  a.user-display-name {
    cursor: inherit;
    text-decoration: initial;
  }
  .id-short {
    display: inline-block;
    font-size: 75%;
    font-weight: 500;
    margin-left: 4px;
    background: $background-color-light;
    border-radius: 99px;
    padding: 4px 8px;
    text-decoration: none !important;
  }
  &.linkified a.user-display-name {
    cursor: pointer;
  }
  &.linkified a.user-display-name:hover {
    text-decoration: underline;
  }
  // role icons and identity icons
  span.identity-icon {
    @include roleIcon();
  }
  .user-display-name .identity-icon {
    margin-left: 7px !important;
  }
  .role-icon {
    @include roleIcon();
  }
  .role-tag {
    font-size: 14px;
    margin-left: 6px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
  }
}

.UserPopover {
  text-align: center !important;

  .user-avatar,
  .user-name {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
    font-weight: 500 !important;
  }
  .user-avatar {
    @include circledAvatar();
    width: 36px !important;
    height: 36px !important;
    margin: 0 auto 12px !important;
  }
  .user-name {
    clear: both;
    a {
      text-decoration: none !important;
      color: $text-color-black !important;
    }
    a:hover {
      text-decoration: underline !important;
    }
    span.identity-icon {
      @include roleIcon();
    }
  }
  .user-address,
  .user-chain {
    color: $text-color-light !important;
  }
  .role-tag {
    margin-top: 10px !important;
  }
  .role-icon {
    @include roleIcon();
    top: 3px !important;
  }
}

.UserBlock {
  display: flex;
  .user-block-left {
    padding-right: 13px;
    position: relative;
  }
  .user-block-center {
    flex: 1;
    .user-block-name,
    .user-block-address {
      text-align: left;
    }
    .user-block-address {
      font-size: 0.85em;
      opacity: 0.6;
      margin-top: -2px;
    }
  }
  .user-block-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60px;
    .user-block-selected {
      flex: 1;
      text-align: right;
      position: relative;
      top: -2px;
    }
  }
  &.compact {
    .user-block-left {
      top: 2px;
    }
    .user-block-center {
      .user-block-name {
        font-size: 0.94em;
      }
      .user-block-address {
        font-size: 0.8em;
      }
    }
  }
}
