@import '../../../../styles/shared.scss';

.MobileNavigation {
  border-top: 1px solid $neutral-200;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-inline: min(30px, 3%);
}
