@import '../../../../../../styles/shared';

.SuccessStep {
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  gap: 12px;
  will-change: opacity;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .description {
      color: $neutral-500;
    }

    .cta-btn {
      min-width: 328px;

      @include extraSmall {
        min-width: auto;
        width: 100%;
      }
    }
  }

  .img {
    width: 140px;
    height: 140px;
  }
}
