@import 'client/styles/shared';

.create-snapshot-proposal {
  @media (min-width:1024px) {
    width: 60%;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .mt-56 {
    margin-top: 56px;
  }

  .mt-120 {
    margin-top: 120px;
  }

  .mt-6 {
    margin-top: 6px;
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .mr-18 {
    margin-right: 18px;
  }

  .w-1-ch {
    min-width: 1ch;
  }

  .choice {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    .choice-input {
      flex: 1;
    }

    .close-icon {
      width: 24px;
      height: 24px;
      opacity: 0.5;
      margin-left: 24px;
    }
  }

  .primary-button {
    text-transform: uppercase;
    border-radius: 8px;
    float: right;
    color: #4723AD;
  }

  .secondary-button {
    text-transform: uppercase;
    border-radius: 8px;
    float: right;
  }

  .vote-system-title {
    font-weight: 500;
  }

  .vote-system-subtitle {
    color: #666666;
    margin-bottom: 14px;
  }

  .date-selector {
    .cui-radio {
      display: block;
      margin-bottom: 14px;
    }
  }
}