@import 'shared';

@mixin snapshotProposalCardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 336px;

  @include extraSmall {
    width: 100%;
  }
}

.SnapshotViewProposalPage {
  display: flex;
  flex-direction: column;
  padding: 24px;

  .proposal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .proposal-content {
      width: 100%;
      margin-right: 40px;
    }

    .proposal-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
  }

  .snapshot-tabs {
    margin-bottom: 8px;
  }

  .snapshot-tabs {
    @include medium {
      display: none;
    }

    @include large {
      display: none;
    }
  }
}

.proposal-tab {
  .proposal-body {
    .proposal-content {
      @include small {
        display: block;
      }
    }

    .proposal-info {
      @include mediumSmallInclusive {
        display: none;
      }
    }
  }
}

.info-tab {
  .proposal-body {
    .proposal-content {
      @include small {
        display: none;
      }
    }

    .proposal-info {
      @include small {
        display: block;
      }
    }
  }
}
