@import 'shared';

.snapshot-proposals-list {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;

  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .body {
    margin-top: 10px;
  }

  .other-details {
    margin-top: 14px;

    @include small {
      display: flex;
    }

    justify-content: space-between;
    align-items: baseline;

    .submitted-by {
      display: inline;
      color: $neutral-600;
      margin-right: 16px;
    }

    .author-address {
      display: inline;
      background-color: $neutral-50;
      padding: 4px 16px;
      border-radius: 9999px;
    }

    .closed-proposal {
      @include extraSmall {
        margin-top: 14px;
      }

      background-color: $neutral-500;
      border-radius: 9999px;
      max-width: max-content;
      padding: 4px 8px;
      color: $white;
      font-weight: 500;
      text-transform: capitalize;
    }

    .active-proposal {
      @include extraSmall {
        margin-top: 18px;
      }

      align-items: center;
      background-color: $neutral-50;
      border-radius: 9999px;
      max-width: max-content;
      margin-top: 14px;
      display: flex;
      color: $neutral-600;
      padding: 4px 16px;

      .active-text {
        background-color: $green-500;
        border-radius: 9999px;
        font-weight: 500;
        color: $green-700;
        padding: 4px 8px;
        margin-left: 8px;
      }
    }
  }
}
