@import 'client/styles/shared';

.snapshot-proposals-list {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;

  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .body {
    margin-top: 10px;
  }

  .other-details {
    margin-top: 14px;

    @media (min-width: 600px) {
      display: flex;
    }

    justify-content: space-between;
    align-items: baseline;

    .submitted-by {
      display: inline;
      color: #666666;
      margin-right: 16px;
    }

    .author-address {
      display: inline;
      background-color: #f7f4ff;
      padding: 4px 16px;
      border-radius: 9999px;
    }

    .closed-proposal {
      @media (max-width: 600px) {
        margin-top: 14px;
      }

      background-color: #999999;
      border-radius: 9999px;
      max-width: max-content;
      padding: 4px 8px;
      color: white;
      font-weight: 500;
      text-transform: capitalize;
    }

    .active-proposal {
      @media (max-width: 600px) {
        margin-top: 14px;
      }

      align-items: center;
      background-color: #f4f4f4;
      border-radius: 9999px;
      max-width: max-content;
      display: flex;
      color: #666666;
      padding: 4px 16px;

      .active-text {
        background-color: #00c0a9;
        border-radius: 9999px;
        font-weight: 500;
        color: white;
        padding: 4px 8px;
        margin-left: 8px;
      }
    }
  }
}
