@import 'client/styles/shared';

.SnapshotSpaceCard {
  @include card;
  padding: 0;
  margin-top: 40px;
  height: initial;
  .spaces-card-top {
    position: relative;
    padding: 24px 24px 22px;
    min-height: 140px;
    width: 100%;
  }
  .spaces-card-metadata {
    min-height: 60px;
    max-height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
  }
  .card-subheader {
    color: #666666;
    font-size: 14px;
    margin-left: auto;
    margin-top: 12px;
  }
  .spaces-title {
    font-size: 18px;
    font-weight: 500;
    margin: 9px 0 0px;
  }
  .space-status {
    position: absolute;
    bottom: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: $text-color-light;
    &.pass {
      color: $green-500;
    }
    &.fail {
      color: $rorange-500;
    }
  }
}

.SnapshotSpaceTextHeader {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: -20px;
}
