@import 'shared';
@import 'pages/snapshot/index.scss';

.SnapshotVotingResults.Card {
  @include snapshotProposalCardContent;

  .result-container {
    width: 100%;

    .result-choice-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
    }

    .vote-balance-for-choice {
      display: flex;

      .symbol.Text {
        color: $neutral-600;
        margin-left: 4px;
      }
    }

    .result-progress {
      width: 100%;

      &::-webkit-progress-bar {
        background-color: $neutral-100;
        border-radius: $border-radius-corners;
        height: 8px;
        width: 100%;
      }

      &::-webkit-progress-value {
        background-color: $green-400;
        border-radius: $border-radius-corners;
      }
    }
  }
}
