@import 'shared';
@import 'pages/snapshot/index.scss';

.SnapshotInfoRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  a {
    align-items: center;
    display: flex;

    .snapshot-link {
      color: $purple-400;
      margin-right: 4px;
    }
  }
}

.SnapshotInformation.Card {
  @include snapshotProposalCardContent;

  .info-rows-container {
    border-bottom: 1px solid $neutral-100;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    width: 100%;
  }

  .linked-discussions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
