@import 'shared';

.SnapshotProposalContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .snapshot-proposal-content-header {
    border-bottom: 1px solid $neutral-300;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;

    .snapshot-proposal-hash.Text {
      color: $neutral-600;
    }

    .other-details {
      display: flex;
      flex-direction: column;

      .author-row {
        display: flex;
        gap: 8px;

        .author-address {
          background-color: $neutral-50;
          border-radius: $border-radius-rounded-corners;
          padding: 4px 16px;
          width: fit-content;
        }
      }
    }

    .closed-proposal {
      background-color: $neutral-500;
      border-radius: $border-radius-rounded-corners;
      color: $white;
      font-weight: 500;
      padding: 4px 16px;
      text-transform: capitalize;
      width: fit-content;
    }

    .active-proposal {
      align-items: center;
      background-color: $neutral-50;
      border-radius: $border-radius-rounded-corners;
      color: $neutral-600;
      display: flex;
      padding: 4px 16px;
      width: fit-content;

      .active-text {
        background-color: $green-500;
        border-radius: $border-radius-rounded-corners;
        color: $green-700;
        font-weight: 500;
        margin-left: 8px;
        padding: 4px 8px;
      }
    }
  }

  .votes-title {
    margin-top: 64px;
    display: flex;
    align-items: baseline;

    .title {
      font-size: 24px;
      font-weight: 500;
      margin-right: 8px;
    }

    .vote-count {
      background-color: $neutral-600;
      color: $white;
      font-weight: 500;
      border-radius: 9999px;
      padding: 4px 8px;
    }
  }

  .votes-container {
    border: 2px solid $neutral-100;
    border-radius: 10px;
    background-color: $neutral-50;
    margin-top: 18px;

    .t-head {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $neutral-100;
      color: $neutral-600;
      font-weight: 500;
      padding: 18px 18px 14px;
    }

    .user-column {
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .vote-column {
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .power-column {
      width: 25%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }

    .vote-row {
      display: flex;
      padding: 18px 18px 14px;
      justify-content: space-between;
    }

    .view-more-button {
      text-transform: uppercase;
      width: 100%;
      padding: 18px 0 14px 0;
      color: $purple-400;
      border-top: 1px solid $neutral-100;
    }
  }
}
