.view-snapshot-proposal-page {
  display: flex;
  justify-content: space-between;

  .proposal-content {
    width: 65%;

    margin-top: 40px;

    .back-button {
      color: #999999;
      display: flex;

      .back-icon {
        margin-right: 14px;
      }

      .back-button-text {
        text-transform: uppercase;
      }
    }

    .proposal-title {
      margin-top: 24px;
      font-size: 32px;
      font-weight: 500;
    }

    .proposal-hash {
      font-weight: 600;
      color: #666666;
      margin-top: 6px;
    }

    .mt-32 {
      margin-top: 32px;
    }

    .cast-vote {
      font-size: 24px;
      font-weight: 500;
      margin-top: 64px;
    }

    .snapshot-votes {
      margin-top: 10px;

      .cui-radio {
        display: block;
        margin-bottom: 14px;
      }
    }

    .votes-title {
      margin-top: 64px;
      display: flex;
      align-items: baseline;

      .title {
        font-size: 24px;
        font-weight: 500;
        margin-right: 8px;
      }

      .vote-count {
        background-color: #666666;
        color: white;
        font-weight: 500;
        border-radius: 9999px;
        padding: 8px 12px 3px;
      }
    }
  }

  .proposal-info {
    width: 25%;
    margin-top: 88px;

    .title {
      font-size: 32px;
      font-weight: 500;
    }

    .mt-72 {
      margin-top: 72px;
    }

    .info-block {
      display: flex;
      margin-top: 16px;

      .labels {
        color: #666666;
        margin-right: 24px;
        flex-shrink: 0;

        &>* {
          margin-bottom: 10px;
        }
      }

      .values {
        overflow: hidden;

        .-mt-10 {
          margin-top: -10px;
        }

        &>* {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 10px;
        }
      }
    }
  }
}