@import '../../shared';

.NotificationRow {
  border-bottom: 1px solid $neutral-100;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 17px 22px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid $neutral-50;
  text-decoration: none !important;
  color: $black !important;

  &:hover {
    background: $neutral-50;
  }

  &.unread {
    background: $yellow-100;
  }

  > .User {
    width: min-content;
  }

  > .User,
  > .UserGallery {
    margin-bottom: 17px;
  }

  > .UserGallery .User {
    margin-right: 4px;
  }

  .comment-body {
    flex: 1;

    &:first-child {
      // chain notifications don't have a User/UserGallery
      margin-top: 8px;
    }

    .chain-event-notification-top {
      display: flex;
      justify-content: space-between;

      .cui-icon-action svg:hover {
        color: $rorange-500;
      }
    }
  }

  .comment-body-title {
    .User .user-display-name,
    span.commented-obj {
      font-weight: 500;
    }
  }

  .comment-body-excerpt {
    @include multiline-text-ellipsis(2);
    color: $neutral-500;
    margin: 7px 0 8px;

    .QuillFormattedText {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .comment-body-bottom-wrap {
    font-size: 15px;
    margin-top: 12px; // needed because .comment-body-excerpt may not be present
  }

  .comment-body-created {
    display: inline;
    color: $neutral-500;
  }

  .comment-body-mark-as-read {
    display: inline;
    color: $neutral-500;
    margin-left: 8px;
  }

  .comment-body-mark-as-read:hover {
    color: $primary-600;
  }
}
