@import 'shared';

.NotificationRow {
  border-bottom: 1px solid $neutral-50;
  color: $black !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 17px 22px;
  text-decoration: none !important;

  &:hover {
    background: $primary-400;
  }

  &.unread {
    background: $yellow-100;
  }

  > .User {
    width: min-content;
  }

  > .User,
  > .UserGallery {
    margin-bottom: 17px;
  }

  > .UserGallery .User {
    margin-right: 4px;
  }

  .comment-body {
    flex: 1;
    &:first-child {
      // chain notifications don't have a User/UserGallery
      margin-top: 8px;
    }

    .chain-event-notification-top {
      display: flex;
      justify-content: space-between;

      .cui-icon-action svg:hover {
        color: $rorange-500;
      }
    }
  }

  .comment-body-title {
    .User .user-display-name,
    span.commented-obj {
      font-weight: 500;
    }
  }

  .comment-body-excerpt {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: $neutral-500;
    display: -webkit-box;
    margin: 7px 0 8px;
    overflow: hidden;

    .QuillFormattedText {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .comment-body-bottom-wrap {
    font-size: 15px;
    margin-top: 12px; // needed because .comment-body-excerpt may not be present
  }

  .comment-body-created {
    color: $neutral-500;
    display: inline;
  }

  .comment-body-mark-as-read {
    color: $neutral-500;
    display: inline;
    margin-left: 8px;

    .cui-spinner {
      position: relative;
      top: -1px;

      .cui-spinner-icon {
        border-color: transparent;
        border-top-color: $primary-600 !important;
        border-right-color: $primary-600 !important;
      }
    }
  }

  .comment-body-mark-as-read:hover {
    color: $primary-600;
  }
}

.NotificationRowMarkAsRead {
  .cui-popover-content {
    padding: 15px 20px 10px;
  }
}
