@import '../../../../../styles/shared';

.ThreadCard {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-radius: 6px;
  padding: 16px;
  gap: 16px;
  text-decoration: none;
  color: unset !important;
  overflow: hidden;
  min-width: 100%;

  @include smallInclusive {
    padding: 12px;
  }

  &.showSkeleton {
    &:hover {
      background: unset;
    }
  }

  &.isPinned {
    background: $neutral-50;

    &:hover {
      background: $neutral-50;
      text-decoration: none;
      color: unset;
    }
  }

  &:hover {
    background: $neutral-50;
    text-decoration: none;
    color: unset;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .content-header {
      align-items: center;
      display: flex;
      gap: 4px;
      justify-content: space-between;

      .content-header-skeleton {
        width: 200px;
        max-width: 100%;
      }

      .content-header-icons-skeleton {
        width: 100px;
        max-width: 100%;
      }

      .content-header-icons {
        display: flex;
        gap: 8px;

        @include flame;

        @include smallInclusive {
          gap: 4px;

          @include flame($size: small);
        }
      }
    }

    .content-body-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .content-body {
        @include multiline-text-ellipsis($max-lines: 2);
        word-break: break-word;
        font-size: 16px !important;
        overflow: hidden;
        white-space: pre-wrap;

        @include extraSmall {
          overflow: hidden !important;
        }

        .MarkdownFormattedText {
          @include caption;
          overflow: hidden;
          --line-height: 20px;

          & > div {
            overflow: hidden;
          }

          @include extraSmall {
            p {
              line-height: calc(var(--line-height) - 2) !important;
            }
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          p,
          a,
          span,
          div {
            font-size: 16px !important;
            line-height: var(--line-height) !important;
            margin: 0 !important;
            padding: 0 !important;
            color: black !important;
          }

          strong {
            font-weight: 500;
          }

          img {
            display: none;
          }

          &.collapsed {
            div :last-child {
              color: transparent !important;
              background: linear-gradient(
                180deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(40, 39, 39, 1) 10%,
                rgb(179, 174, 180) 100%
              );
              background-clip: text;
            }
          }
        }

        .show-more-btn {
          padding-top: 4px;
          color: $primary-500 !important;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .content-body.show-image .MarkdownFormattedText img {
        display: block !important;
        width: 350px;
        height: 200px;
        object-fit: cover;
      }

      .content-title {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include extraSmall {
          padding-right: 0;
        }

        .Text {
          display: inline-block;
          font-weight: 500 !important;

          .Tag.contest {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }

    .content-top-tags {
      display: flex;
      gap: 8px;
    }

    .content-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding-right: 72px; // hack to be removed on completion of discussion listings
    }

    .content-footer {
      display: flex;
      justify-content: space-between;

      .content-footer-btn {
        outline: 0;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        padding: 4px;
        border-radius: $border-radius-corners-wider;

        &:hover {
          background-color: $neutral-200;
        }
      }

      .content-footer-menu {
        display: flex;
        gap: 16px;
      }
    }
  }
}

.RecentComments {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0 8px 72px;
  padding-left: 8px;
  border-left: 1px solid $neutral-200 !important;

  @include extraSmall {
    margin-left: 32px;
  }

  &.hideReactionButton {
    margin: 8px 0 8px 48px;
  }

  .Comment:hover {
    text-decoration: none;
    color: unset;
  }

  .comment-body {
    padding: 12px;
    border-radius: 6px;

    &:hover {
      background: $neutral-50;
      text-decoration: none;
      color: unset;
      cursor: pointer;
    }

    .comment-content {
      padding-left: 0px !important;
    }
  }
}

.ThreadDivider {
  margin-top: 0 !important;
}

.virtuoso-grid-list {
  gap: 5px !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.virtuoso-grid-item {
  border: 1px solid #f0eff0 !important;
  width: 33% !important;
  display: flex !important;
  border-radius: 6px;
  @include smallInclusive {
    width: 100% !important;
  }
  .ThreadCard .content-wrapper .content-body-wrapper .content-title .Text {
    font-size: 16px !important;
  }
  .ThreadCard .content-wrapper .content-body-wrapper .content-title {
    padding-right: 0 !important;
  }
  .ThreadCard .content-wrapper .content-body-wrapper {
    gap: 2px !important;
  }
  .ThreadCard
    .content-wrapper
    .content-body-wrapper
    .content-body
    .MarkdownFormattedText
    p {
    font-size: 14px !important;
  }
  .ThreadCard
    .content-wrapper
    .content-body-wrapper
    .content-body
    .show-more-btn {
    display: none;
  }

  .ThreadCard .content-wrapper .content-body-wrapper {
    min-height: 150px !important;
    height: 200px !important;
    overflow: hidden;
    position: relative;
  }
  .ThreadCard .content-wrapper .content-body-wrapper .content-body .card-view {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .ThreadCard
    .content-wrapper
    .content-body-wrapper
    .content-body
    .card-view
    .card-image-container {
    width: 70px;
    height: 80px;
    margin-top: 20px;
  }

  .ThreadCard {
    height: 300px !important;
  }
}
