@import '../../../../styles/shared';

.ThreadCard {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-radius: 6px;
  padding: 16px;
  gap: 16px;
  text-decoration: none;
  color: unset !important;
  overflow: hidden;
  min-width: 100%;

  @include smallInclusive {
    padding: 12px;
  }

  &.showSkeleton {
    &:hover {
      background: unset;
    }
  }

  &.isPinned {
    background: $neutral-50;

    &:hover {
      background: $neutral-50;
      text-decoration: none;
      color: unset;
    }
  }

  &:hover {
    background: $neutral-50;
    text-decoration: none;
    color: unset;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .content-header {
      align-items: center;
      display: flex;
      gap: 4px;
      justify-content: space-between;

      .content-header-skeleton {
        width: 200px;
        max-width: 100%;
      }

      .content-header-icons-skeleton {
        width: 100px;
        max-width: 100%;
      }

      .content-header-icons {
        display: flex;
        gap: 8px;

        @include flame;

        @include smallInclusive {
          gap: 4px;

          @include flame($size: small);
        }
      }
    }

    .content-body-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .content-body {
        @include multiline-text-ellipsis($max-lines: 2);
        word-break: break-word;
        font-size: 16px !important;
        overflow: hidden;
        white-space: pre-wrap;

        @include extraSmall {
          overflow: hidden !important;
        }

        .MarkdownFormattedText {
          @include caption;
          overflow: hidden;
          --line-height: 20px;

          & > div {
            overflow: hidden;
          }

          @include extraSmall {
            p {
              line-height: calc(var(--line-height) - 2) !important;
            }
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          p,
          a,
          span,
          div {
            font-size: 16px !important;
            line-height: var(--line-height) !important;
            margin: 0 !important;
            padding: 0 !important;
            color: black !important;
          }

          strong {
            font-weight: 500;
          }

          img {
            display: none;
          }

          &.collapsed {
            div :last-child {
              color: transparent !important;
              background: linear-gradient(
                180deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(40, 39, 39, 1) 10%,
                rgb(179, 174, 180) 100%
              );
              background-clip: text;
            }
          }
        }

        .show-more-btn {
          padding-top: 4px;
          color: $primary-500 !important;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .content-body.show-image .MarkdownFormattedText img {
        display: block !important;
        width: 350px;
        height: 200px;
        object-fit: cover;
      }

      .content-title {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include extraSmall {
          padding-right: 0;
        }

        .Text {
          display: inline-block;
          font-weight: 500 !important;

          .Tag.contest {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }

    .content-top-tags {
      display: flex;
      gap: 8px;
    }

    .content-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding-right: 72px; // hack to be removed on completion of discussion listings
    }

    .content-footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;

      .content-footer-btn {
        outline: 0;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        padding: 4px;
        border-radius: $border-radius-corners-wider;

        &:hover {
          background-color: $neutral-200;
        }
      }

      .content-footer-menu {
        display: flex;
        gap: 16px;
      }
    }
  }
}

.RecentComments {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0 8px 72px;
  padding-left: 8px;
  border-left: 1px solid $neutral-200 !important;

  @include extraSmall {
    margin-left: 32px;
  }

  &.hideReactionButton {
    margin: 8px 0 8px 48px;
  }

  .Comment:hover {
    text-decoration: none;
    color: unset;
  }

  .comment-body {
    padding: 12px;
    border-radius: 6px;

    &:hover {
      background: $neutral-50;
      text-decoration: none;
      color: unset;
      cursor: pointer;
    }

    .comment-content {
      padding-left: 0px !important;
    }
  }
}

.ThreadDivider {
  margin-top: 0 !important;
}

.virtuoso-grid-list {
  row-gap: 5px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  align-items: flex-start !important;
  justify-content: start !important;
}

.virtuoso-grid-item {
  border-radius: 6px;
  width: 33% !important;
  display: flex !important;
  border: 1px solid $neutral-100 !important;
  align-items: flex-start !important;

  @include mediumToLarge {
    width: 49% !important;
  }

  @include smallInclusive {
    width: 100% !important;
    max-height: 280px !important;
    min-height: 200px !important;
  }

  .ThreadCard {
    max-width: 100%;
    overflow: hidden !important;
    padding: 10px !important;
    gap: 10px !important;

    .content-wrapper {
      max-width: 100%;
      gap: 16px !important;
      font-size: 14px !important;
      overflow: hidden !important;
      max-height: 250px;
      min-height: 250px;
      .content-body-wrapper {
        min-height: 100% !important;
        overflow: hidden;
        position: relative;
        gap: 2px !important;
        .show-more-btn {
          display: none;
        }
        .content-body.show-image {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          .card-image-container {
            max-width: 100px !important;
            width: 100%;
            object-fit: cover;
            padding: 5px 0px;
            img {
              object-fit: contain;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .card-view {
            display: flex;
            .MarkdownFormattedText {
              max-width: 100%;
            }
          }
        }
        .content-body {
          .card-view {
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: row;
            padding: 5px 0px !important;
            .card-image-container {
              width: 100px !important;
              height: 100px !important;
              object-fit: cover;
              margin-top: 20px;
              img {
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
          .show-more-btn {
            display: none;
          }
          .MarkdownFormattedText {
            img {
              display: none !important;
            }
            p {
              font-size: 14px !important;
            }
          }
        }
        .content-title {
          padding-right: 0 !important;
          .Text {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  .AuthorAndPublishInfo {
    gap: 4px !important;
  }
  .User .id-short {
    display: none;
  }
  .dot-indicator {
    display: none !important;
  }
  .publish-date {
    margin: 0 !important;
  }
}
