@import '../../../../../styles/shared.scss';

.Grid {
  display: grid;
  grid-template-columns: 648px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 16px;

  &.single-child {
    grid-template-columns: 1fr;
  }

  &.menu-visible {
    @include medium {
      grid-template-columns: 1fr;
    }
  }

  @include mediumSmallInclusive {
    grid-template-columns: 1fr;
  }
}
