@import '../../../../../../styles/shared.scss';

.PageLayout {
  width: 100%;
  padding-inline: 56px;
  padding-top: 68px;
  padding-bottom: 20px;

  @include smallInclusive {
    padding-inline: 16px;
    padding-top: 0; // because of the breadcrumbs being in static position on mobile
  }

  .layout-container {
    margin: 0 auto;
    max-width: 1040px;

    @include mediumSmall {
      max-width: 792px;
    }
  }
}
