@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.PersonalInformationStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 16px;

  .h4 {
    color: colors.$neutral-600;
    .b1 {
      color: colors.$neutral-500;
    }
  }

  .username-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .random-generate-btn {
      padding: 0;
      margin: 0;
      margin-right: auto;

      button {
        padding-top: 0;
        padding-bottom: 0;
      }

      &:focus,
      &:focus-within {
        border-color: transparent !important;
      }
    }
  }
  .personal-info-footer {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .primary {
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: colors.$primary-600 !important;
    }
    .footer {
      display: block;

      a,
      a:visited,
      a:active,
      a:hover {
        color: colors.$primary-600;
      }
    }
    .button-container {
      display: flex;
      gap: 8px;
    }
  }

  .notification-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
