@import '../../../../styles/shared';

.CommunitySectionModal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;

  .description {
    color: $neutral-500;
    text-align: center;
  }

  .create-community-button {
    align-self: flex-end;
  }
}
