@import '../shared';

.CreateContractTemplateForm {
  .form {
    display: flex;
    flex-direction: column;

    .TextInput,
    .TextArea {
      margin-bottom: 20px;
    }

    .input-label {
      color: $neutral-600;
      margin-bottom: 4px;
      margin-top: 20px;
    }
  }

  .divider {
    margin: 40px 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
