@import '../shared';

.NewContractTemplatePage {
  width: 688px;
  margin: 16px auto;

  @include mediumSmallInclusive {
    width: calc(100% - 10%);
  }

  .divider {
    margin: 40px 0 20px;
  }

  .step {
    margin-top: 32px;
    color: $neutral-600;
    margin-bottom: 8px;
  }

  .CommunityInfo {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 34px;

    .label {
      color: $neutral-600;
    }
  }
}
