@import '../../../../styles/shared';

.DesktopEditorFooter {
  color: $neutral-500;

  display: flex;
  padding: 8px;

  user-select: none;

  .Item {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
  }

  .FilePickerInput {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .FilePickerButton {
    cursor: pointer;
    border: none;
    color: $neutral-500;
  }

  .SubmitButtonItem {
    margin-left: auto;
    background-color: $neutral-200;

    button {
      border: none;
      font-size: 1.2em;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 8px;
      display: inline-block;
    }
  }

  .IconAndText {
    display: flex;
    gap: 8px;

    div {
      margin: auto auto;
    }
  }
}
