@import 'client/styles/shared';

.CommunityMetadataBar {
    margin-bottom: 30px;
    padding: 15px 24px;
    border-radius: 4px;
    background: $background-color-light;

    > h2 {
        font-size: 21px;
        margin: 0;
        margin-top: 8px;
        line-height: 1.1;
    }
    > p {
        margin: 0;
        margin-top: 8px;
        margin-bottom: 2px;
        line-height: 1.2;
    }

    .cui-icon {
        margin-right: 10px;
        svg {
            stroke: $text-color-black;
            position: relative;
            top: 3px;
            // icon size
            height: 14px;
            width: 14px;
            min-width: 14px;
            min-height: 14px;
        }
    }

    /* .user-activity-header, */
    /* .forum-activity-header, */
    /* .admins-mods-header, */
    /* .subscription-button-header { */
    /*     color: $text-color-lighter; */
    /*     font-weight: 500; */
    /*     font-size: 15px; */
    /*     padding: 3px 0 6px; */
    /* } */
    /* .user-activity, .admins-mods { */
    /*     margin-bottom: 20px; */
    /*     .cui-overlay-inline { */
    /*         display: block; */
    /*     } */
    /*     .MostActiveUser { */
    /*         display: flex; */
    /*         justify-content: space-between; */
    /*     } */
    /*     .User { */
    /*         display: block; */
    /*         padding: 5px 0; */
    /*     } */
    /*     .User .user-avatar { */
    /*         position: relative; */
    /*         top: 4px; */
    /*     } */
    /*     .username, .activity-count { */
    /*         font-weight: 500; */
    /*     } */
    /*     .activity-count { */
    /*         color: $text-color-lighter; */
    /*         position: relative; */
    /*         top: 4px; */
    /*         padding: 5px 0; */
    /*     } */
    /* } */
    /* .subscription-button-header { */
    /*     margin-bottom: 3px; */
    /* } */
    /* .subscription-button-sub { */
    /*     margin-top: 10px; */
    /*     line-height: 1.15; */
    /*     font-size: 15px; */
    /*     color: $text-color-medium; */
    /* } */
}
