@import 'client/styles/shared';

$discussion-vertical-padding: 32px;
$discussion-horizontal-padding: 48px;

.DiscussionRow {
    display: block;
    padding: 0 $discussion-horizontal-padding;

    // layout
    .discussion-top {
        padding: 16px 0 14px;
        border-bottom: 1px solid #eee;
    }

    // content
    .discussion-top {
        display: flex;
        .discussion-top-left {
            flex: 1;
            .discussion-title a {
                color: #111;
                font-size: 16px;
                text-decoration: none;
                font-weight: 600;
                line-height: 1.1;
                &:hover {
                    text-decoration: underline;
                }
                .cui-icon svg {
                    position: relative;
                    margin-left: 2px;
                    top: -2px;
                    stroke: #999;
                }
            }
            .discussion-meta {
                color: $standard-light-text;
                font-size: 14px;
                $discussion-meta-padding: 18px;
                a.proposal-tag {
                    margin-right: $discussion-meta-padding;
                    @include proposal-tag-inline;
                    color: #999;
                }
                .User a {
                    display: inline-block;
                    text-decoration: none;
                    color: $standard-light-text;
                    &:hover {
                        color: darken($standard-light-text, 8%);
                        text-decoration: underline;
                    }
                }
                .discussion-link {
                    display: inline;
                    margin-right: $discussion-meta-padding;
                }
                a.discussion-created, a.discussion-replies {
                    text-decoration: none;
                    color: $standard-light-text;
                    &:hover {
                        color: darken($standard-light-text, 8%);
                        text-decoration: underline;
                    }
                }
                .ThreadCaratMenu {
                    margin-left: 12px;
                    svg {
                        cursor: pointer;
                        stroke: #bbb;
                        &:hover {
                            stroke: #888;
                        }
                    }
                }
            }
        }
        .discussion-top-right {
            display: flex;
            align-items: center;
            padding-left: 10px;
            .discussion-commenters {
                padding-left: 20px;
                text-align: right;
                .commenters-avatars .User {
                    margin-top: 5px;
                    margin-right: -12px;
                }
            }
            .ReactionButton {
                margin-left: 48px;
            }
            .discussion-last-updated {
                min-width: 80px;
                padding-left: 14px;
                text-align: right;
                font-size: 14px;
                &.older {
                    min-width: 116px;
                }
                a {
                    color: #999;
                }
            }
        }
    }
}
