@import 'client/styles/shared';

$discussion-row-color: #999;

.DiscussionRow {
    display: block;
    padding: 28px 32px;
    border-bottom: 1px solid #ececec;

    a.discussion-tag {
        display: inline-block;
        text-decoration: none;
        margin-right: 10px;
        color: $discussion-row-color;
        &:hover {
            color: darken($discussion-row-color, 8%);
            text-decoration: underline;
        }
    }
    .discussion-row {
        display: flex;
    }

    .discussion-content {
        position: relative;
        flex: 1;
        .discussion-tags {
            margin-bottom: 6px;
        }
        .discussion-title {
            margin-bottom: 4px;
            a {
                color: #111;
                font-size: 21.5px;
                text-decoration: none;
                font-weight: 600;
                line-height: 1.3;
                &:hover {
                    text-decoration: underline;
                }
            }
            a.discussion-replies {
                text-decoration: none;
                margin-left: 8px;
                color: #888;
                user-select: none;
                white-space: nowrap;
                .cui-icon {
                    position: relative;
                    top: -1px;
                    color: #888;
                    margin-left: 3px;
                }
            }
        }
    }

    // content left
    .discussion-meta {
        color: $discussion-row-color;
        font-size: 15px;
        .User a {
            display: inline-block;
            text-decoration: none;
            color: $discussion-row-color;
            &:hover {
                color: darken($discussion-row-color, 8%);
                text-decoration: underline;
            }
        }
        .discussion-last-updated {
            display: inline;
            margin-left: 10px;
        }
        a.discussion-created, a.discussion-replies {
            text-decoration: none;
            color: $discussion-row-color;
            &:hover {
                color: darken($discussion-row-color, 8%);
                text-decoration: underline;
            }
        }
    }
    .discussion-commenters {
        display: flex;
        margin: 24px 0 0;
        a {
            color: #aaa;
        }
        .commenters-avatars {
            .User {
                margin-right: -8px;
            }
        }
        .commenters-label {
            margin-left: 20px;
        }
        .commenters-label,
        .no-commenters-label {
            color: #aaa;
        }
    }
    a.discussion-link {
        display: inline-block;
        color: $primary-green;
        text-decoration: none;
        font-weight: 600;
        margin: 10px 0;
        &:hover {
            text-decoration: underline;
        }
    }
    .discussion-excerpt {
        margin-top: 18px;
    }
    .no-title {
        padding-top: 0;
        margin-top: -6px;
    }
    .no-title .discussion-title {
        display: none;
    }
}
