@import 'client/styles/shared';

.DiscussionFilterBar {
  > .cui-button {
    color: $text-color-black;
    cursor: pointer;
    margin: 0 8px 16px 0;
    max-width: 192px;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      border-color: $text-color-black;
    }
  }
}
