@import 'client/styles/shared';

.DiscussionsPage {
    padding-top: 80px;
    max-width: 640px;
    h4 {
        font-size: 14px;
        color: #a0a0a0;
        font-weight: 600;
        margin: 12px 0 14px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e7e7e7;
    }

    .cui-callout {
        .MembershipButton .cui-icon {
            position: relative;
        }
    }

    // content
    a.back-home {
        color: #888;
        font-weight: 400;
        margin-left: 14px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .LastSeenDivider {
        display: flex;
        padding: 12px 0 10px;
        span {
            color: #ea7a60;
            font-size: 14px;
            font-weight: 700;
            width: max-content;
            text-align: center;
            padding: 0 10px;
            white-space: nowrap;
        }
        hr {
            height: 1px;
            border: none;
            border-bottom: 1px solid lighten(#ea7a60, 11%);
            width: -webkit-fill-available;
        }
    }

    a.extra-items {
        display: block;
        margin: 12px 0;
        padding: 5px 0;
        border: 1px solid #eee;
        text-align: center;
        text-decoration: none;
        color: #444;
    }
    .discussion-group-wrap {
    }
}
