@import 'client/styles/shared';

.DiscussionsPage {
  .discussions-main {
    padding: 24px;
    width: 100%;

    &.empty-list {
      height: calc(100vh - 200px);
    }
  }

  // content
  .PinnedDivider {
    margin: 6px 0 8px;

    hr {
      border-bottom: 1px solid $border-color-off-white;
      border: none;
      height: 1px;
      margin-left: 4px;
      margin-right: 4px;
      width: -webkit-fill-available;
    }
  }

  .LastSeenDivider {
    display: flex;
    margin: 6px 0 8px;
    padding: 0 0 3px;

    span {
      color: $rorange-300;
      font-size: 0.94rem;
      font-weight: 500;
      margin: -6px 0;
      padding: 0 10px;
      text-align: center;
      white-space: nowrap;
      width: max-content;
    }

    hr {
      border-bottom: 1px solid lighten($rorange-300, 11%);
      height: 1px;
      width: -webkit-fill-available;
    }
  }

  .infinite-scroll-reached-end {
    color: $neutral-500;
    font-size: 0.94rem;
    margin: 20px 0;
    text-align: center;
  }

  .topic-loading-spinner-wrap,
  .infinite-scroll-spinner-wrap {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 100%;
  }

  .topic-loading-spinner-wrap {
    height: 120px;
  }
}
