@import 'client/styles/shared';

.DiscussionsPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  width: 100%;

  // content
  .PinnedDivider {
    margin: 6px 0 8px;

    hr {
      border-bottom: 1px solid $neutral-25;
      border: none;
      height: 1px;
      margin-left: 4px;
      margin-right: 4px;
      width: -webkit-fill-available;
    }
  }

  .LastSeenDivider {
    display: flex;
    margin: 6px 0 8px;
    padding: 0 0 3px;

    span {
      color: $rorange-300;
      font-size: 0.94rem;
      font-weight: 500;
      margin: -6px 0;
      padding: 0 10px;
      text-align: center;
      white-space: nowrap;
      width: max-content;
    }

    hr {
      border-bottom: 1px solid $rorange-200;
      height: 1px;
      width: -webkit-fill-available;
    }
  }
}
