.RecentListing {
  .infinite-scroll-reached-end {
    color: $neutral-500;
    font-size: 0.94rem;
    margin: 20px 0;
    text-align: center;
  }

  .topic-loading-spinner-wrap,
  .infinite-scroll-spinner-wrap {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 100%;
  }

  .topic-loading-spinner-wrap {
    height: 120px;
  }
}
