@import 'client/styles/shared';
@import 'client/styles/components/right_sidebar';

.ListingSidebar {
    margin: 10px 20px;

    .user-activity-header,
    .forum-activity-header,
    .admins-mods-header {
        color: $text-color-lighter;
        font-weight: 500;
        font-size: 15px;
        padding: 3px 0 6px;
    }
    .user-activity {
        margin-bottom: 20px;
        .MostActiveUser {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            .User .user-avatar {
                position: relative;
                top: 2px;
            }
            .username, .activity-count {
                font-weight: 500;
            }
            .activity-count {
                color: $text-color-lighter;
                position: relative;
                top: 1px;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
    .forum-activity {
        margin-bottom: 20px;
        .MostActiveThread {
            margin: 4px 0 13px;
            .active-thread a {
                color: #111;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                white-space: nowrap;
            }
            .User .user-display-name {
                color: $text-color-light;
            }
        }
    }
    .admins-mods {
        margin-bottom: 20px;
        .User {
            padding: 5px 0;
        }
        .User .user-avatar {
            position: relative;
            top: 2px;
        }
        .username, .activity-count {
            font-weight: 500;
        }
    }
}
