@import 'client/styles/shared';
@import 'client/styles/facelift';


.SummaryListing {
    display: flex;
    flex-direction: column;
    .topic {
        flex: 3;
    }
    .last-updated {
        flex: 1;
    }
    .recent-threads {
        flex: 4;
    }
    .row-header {
        color: $midi-gray;
        font-size: 18px;
        margin-bottom: 10px;
        display: flex;
        h4 {
            font-weight: 500;
        }
    }
    .row-wrap {
        display: flex;
        flex-direction: column;
    }
}

.SummaryRow {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid $disable-gray;
    max-width: 100%;
    .recent-threads {
        display: flex;
        flex-direction: column;
        .thread-summary {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a.discussion-title {
                flex: 4;
                color: $purp-blue;
                &:hover {
                    text-decoration: none;
                }
            }
            .last-updated {
                flex: 1;
                text-align: left;
                min-width: max-content;
                margin-left: 48px;
                span {
                    color: $lite-gray;
                    margin-left: 10px;
                }
            }
        }
    }
    .topic {
        padding-right: 14px;
        h3 {
            font-size: 24px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}