@use '../../../../../styles/shared';
@use '../../../../../styles/mixins/colors.module';

.CanBeDisabled {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .b2 {
    color: colors.$neutral-500;
  }
}
