@use '../../styles/shared.scss';
@use '../../styles/mixins/border_radius';
@use '../../styles/mixins/colors.module';

.ConfirmSnapshotVoteModal {
  .vote-info {
    border: 2px solid colors.$primary-300;
    border-radius: border_radius.$border-radius-corners;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    padding: 8px;

    .vote-info-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .Text {
        color: colors.$primary-500;
      }
    }
  }
}
