@use '../../styles/shared.scss';

.OffchainVotingModal {
  display: flex;
  flex-direction: column;

  .OffchainVotingModalBody {
    overflow-y: auto;
    padding-bottom: 30px;

    .download-link {
      cursor: pointer;
      padding-bottom: 20px;
    }

    .offchain-poll-voter {
      display: flex;
      align-items: center;

      .offchain-poll-voter-user {
        flex: 1;
        padding-right: 5px;
      }

      .offchain-poll-voter-choice {
        display: inline;
        flex: 2;
        font-weight: 600;
        text-align: right;
      }

      .offchain-poll-voter-weight {
        flex: 1;
        text-align: right;
        font-size: 0.8em;
        padding-left: 10px;
      }
    }
  }
}
