@use '../../../../../styles/shared';
@use 'CWSearchBar.scss';
@use '../../../../../styles/mixins/colors.module';
@use '../../../../../styles/mixins/media_queries';

.SearchBarDropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  margin-top: 0;
  max-height: 450px;
  border-radius: 6px;
  overflow: auto;
  outline: 0;
  z-index: 999;
  background-color: colors.$white;
  border: 1px solid colors.$neutral-200;
  color: colors.$neutral-900;
  box-shadow: 0 4px 30px colors.$neutral-200;

  @include media_queries.extraSmall {
    box-shadow: none;
    border: none;
    max-height: calc(100dvh - 56px);
  }

  .previews-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    .preview-section {
      display: flex;
      flex-direction: column;

      .section-header {
        align-items: center;
        display: flex;
        gap: 8px;
        margin-bottom: 8px;

        .section-header-text.Text {
          color: colors.$neutral-500;
        }
      }
    }
  }

  .no-results {
    display: flex;
    align-items: center;
    padding: 4px;
  }
}
