.MobileUserDropdown {
    padding: 20px 32px;
    min-height: calc(100vh - 60px);
    height: min-content;
    width: 100vw;
    .cui-menu {
        border: none;
        .label-wrap {
            display: flex;
            align-items: center;
            svg {
                margin-right: 25px;
                stroke-width: 1px;
                height: 28px;
                width: 28px;
            }
            span {
                position: relative;
                top: 2px;
            }
        }
    }
    .cui-menu-divider {
        margin: 12px 0 14px;
    }
    // .LoginSelectorMenu .cui-menu-divider,
    // .NewProposalMenu .cui-menu-divider {
    //     display: none;
    // }
    span {
        color: black;
        font-size: 18px;
    }
    .LoginSelectorMenu {
        .cui-icon {
            display: inline-flex;
        }
    }
}