@import 'client/styles/shared';

.MobileSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    min-height: calc(100vh - 60px);
    width: 100vw;
    * {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    }
    .cui-tabs {
        @include gradientTabs();
        .cui-tabs-item.cui-active {
            border-image: linear-gradient(to right, #79E0E8,
            #BF8E60, #D69FCC, #6086D1, #B37DBA) 1 !important;
        }
        margin-bottom: 20px;
        .cui-tabs-item {
            padding: 13px 4% 7px;
            font-size: $text-size-mobile-header;
            width: initial;
        }
    }
    > .cui-menu {
        max-width: 600px;
        // 10px to accomodate scrollbar
        width: calc(94% - 10px);
        overflow-y: scroll;
    }
    .CommunitySelectList {
        overflow-x: hidden;
        h4 {
            color: #AAAAAA;
            font-size: 16px;
            font-weight: 400;
        }
        .cui-list-item {
            margin: 0;
        }
    }
    .CurrentCommunityMenu {
        .cui-menu-divider {
            margin: 12px 0 18px;
        }
    }
    .cui-icon {
        margin-right: 25px !important;
    }
    .LoginSelectorMenu, .NewProposalMenu {
        .cui-icon svg {
            display: inline-flex;
            stroke: rgb(102, 102, 102) !important;
            height: 28px;
            width: 28px;
        }
    }
    .CommunitySelectList {
        a.home-button {
            display: flex;
            color: black;
            font-weight: 500;
            margin: 4px 10px;
            width: 100%;
            &:hover {
                text-transform: none;
            }
            img {
                margin-right: 13px;
            }
        }
    }
}

.MobileAccountMenu {
    width: 100%;
    .cui-menu {
        border: none;
        .label-wrap {
            display: flex;
            align-items: center;
            svg {
                margin-right: 25px;
                stroke-width: 1px;
                height: 28px;
                width: 28px;
            }
            span {
                position: relative;
                top: 2px;
            }
        }
    }
    .user-block-left {
        padding: 0px;
        margin-right: 25px;
    }
    .cui-menu-divider {
        margin: 12px 0 14px;
    }
    span {
        color: black;
        font-size: 18px;
    }
}
