@import 'client/styles/shared';

.MobileSidebar {
    padding: 20px 32px;
    min-height: calc(100vh - 60px);
    height: min-content;
    width: 100vw;
    .cui-tabs {
        @include gradientTabs();
        margin-bottom: 20px;
        .cui-tabs-item {
            font-size: $text-size-mobile-header;
        }
    }
    .CommunitySelectList {
        h4 {
            color: $text-color-light;
            font-size: 16px;
            font-weight: 400;
        }
        .cui-list-item {
            margin: 0;
        }
    }
}