@import 'shared';

.MobileSidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100vw;

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .cui-tabs {
    margin-bottom: 16px;
    width: 100%;

    @include gradientTabs();

    .cui-tabs-item.cui-active {
      border-image: linear-gradient(
          to right,
          #79e0e8,
          #bf8e60,
          #d69fcc,
          #6086d1,
          #b37dba
        )
        1 !important;
    }

    .cui-tabs-item {
      font-size: $text-size-mobile-header;
      width: initial;
    }
  }

  .CommunitySelectList {
    overflow-x: hidden;

    h4 {
      color: $neutral-400;
      font-size: 16px;
      font-weight: 400;
      margin: 12px 4px;
    }

    .cui-list-item {
      margin: 0;
    }
  }

  .CurrentCommunityMenu {
    width: 100%;

    .cui-menu-divider {
      margin: 12px 0 18px;
    }
  }

  .LoginSelectorMenu,
  .NewProposalMenu {
    .cui-icon svg {
      display: inline-flex;
      height: 28px;
      stroke: $neutral-600 !important;
      width: 28px;
    }
  }

  .CommunitySelectList {
    a.home-button {
      color: $black;
      display: flex;
      font-weight: 500;
      margin: 4px 10px;
      width: 100%;

      &:hover {
        text-transform: none;
      }

      img {
        margin-right: 13px;
      }
    }
  }
}

.cui-menu .MobileAccountMenu {
  border: none;
  width: 100%;

  .cui-button-label {
    .label-wrap {
      align-items: center;
      display: flex;
      flex-direction: row;

      span {
        margin-left: 16px;
      }
    }
  }

  .user-block-left {
    margin-right: 25px;
    padding: 0px;
  }

  .cui-menu-divider {
    margin: 12px 0 14px;
  }

  span {
    // color: $black;
    font-size: 18px;
  }
}
