@import 'shared';

.AaveInfoRow {
  display: grid;
  grid-template-columns: 72px auto;

  .aave-num-text.Text {
    color: $purple-400;
  }
}

.AaveProposalCardDetail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .aave-metadata-container {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;

    .aave-metadata-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;

      .ipfs-subheader-text.Text {
        color: $neutral-500;
      }
    }
  }

  .aave-voting-section {
    display: flex;
    flex-direction: column;
  }
}
