@use '../../../../../styles/shared.scss';
@use '../../../../../styles/mixins/colors.module';

.MagicWalletCreationStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  align-items: center;

  .h4 {
    color: colors.$neutral-600;

    .b1 {
      color: colors.$neutral-500;
    }
  }
  .primary {
    background-color: colors.$primary-600 !important;
  }

  .button-container {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: flex-end;
  }

  .CWModalFooter {
    display: none;
  }
}
