@use '../../../styles/shared.scss';
@use '../../../styles/mixins/colors.module';

.MobileSignIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: colors.$white;
  z-index: 70;
}
