@import '../../../../../styles/shared';

.ThreadOptions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .options-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }

  .verification-icon {
    color: $neutral-500;
    margin-top: 2px;
    margin-right: 6px;
  }
}
