@import 'shared';

.TXSigningTransactionBox {
  border-radius: $border-radius-corners;
  border: 1px solid $primary-300;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 360px;

  .status-text.Text {
    color: $rorange-500;

    &.success {
      color: $green-500;
    }
  }
}
